---
layout: front_page
title: Holusion
abstract: holographic solutions design and production
lang: en
image: img/sections/prism.jpg
---

<section class="section section-main-header">
  <div class="main-header-image-wrapper">
    {% asset 'img/sections/header.jpg'
      srcset:width="960"
      srcset:width="1920"
      class="img-fluid fit-contain"
      alt="Holusion Opal in horizontal configuration presenting an hologram"
    %}
  </div>
  <div class="main-header-spacer"></div>
  <div class="main-header-overlay section-title">
    <h1 class="main-header-overlay-text">
      Digital user experiences creator
    </h1>
    {% include lists/social_list.html style=""%}
  </div>
</section>

<section id="section-produits" >
  <div class="container-fluid">
    <h1 align="center" id="main-title-1" style="padding-top: 40px"><a href="/en/products/">Our products</a></h1>
    <div class="row">
      {% for product in site.products_items[page.lang] limit:4 %}
      {% include components/post_thumbnail.html content=product %}
      {% endfor %}
    </div>
    <div align="right">
      <a href="/en/products/">More products > </a>
    </div>
  </div>
</section>
<main class="home-page-main">
  <section id="section-gamme" class="section-main-tile">
    <div class="main-tile-image-wrapper">
      {% asset sections/prism.jpg
        srcset:width="1920"
        srcset:width="960"
        sizes="(max-width: 992px) 100vw, 50vw"
        class="img-fluid"
        alt="A Prism by holusion under the sun at Plaine Images second floor in Tourcoing, France"
      %}
    </div>
    <div class="main-tile-body">
      <h3>On the shelf or on demand</h3>
      <p>holusion has a large offering of products to buy or rent. It ranges from pocket-sized to 2 meters wide holograms.
      </p>
    </div>
  </section>

  <section id="section-interactive" class="section-main-tile">
    <div class="main-tile-image-wrapper">
      {% asset 'img/sections/iris75_vivatech.jpg'
        srcset:width="1920"
        srcset:width="960"
        sizes="(max-width: 992px) 100vw, 50vw"
        class="img-fluid"
        alt="The Iris 75 at Vivatech fair in 2018"
      %}
    </div>
    <div class="main-tile-body">
      <h3>Interactivity</h3>
      <p>holusion is offering interactive solutions with motion control, near field communication or tactile interfaces. You can change and control your holograms in real time.
      </p>
    </div>
  </section>

  <section id="section-accompagnement" class="section-main-tile">
    <div class="main-tile-image-wrapper">
      {% asset 'img/sections/design.jpg'
        srcset:width="1920"
        srcset:width="960"
        sizes="(max-width: 992px) 100vw, 50vw"
        class="img-fluid"
        alt="Design of Holusion's product : Opal"
      %}
    </div>
    <div class="main-tile-body">
      <h3> Custom support </h3>
      <p>holusion will be helping you from first contact to final set-up of your projects. We teach our clients everything there is to know for daily use of our products.
      </p>
    </div>
  </section>
  <section id="section-accessible" class="section-main-tile">
    <div class="main-tile-image-wrapper">
      {% asset 'img/sections/opal.jpg'
        srcset:width="1920"
        srcset:width="960"
        sizes="(max-width: 992px) 100vw, 50vw"
        class="img-fluid"
        alt="Holusion's Opal in Horizontal presentation for Nausicaa's new building"
      %}
    </div>
    <div class="main-tile-body">
      <h3> Accessible</h3>
      <p>
        Display your creations in minutes and tune our products to your needs
      </p>
      <div class="main-tile-link">
        <a href="https://github.com/Holusion/stargazer">Modify your content with <em>Stargazer</em></a>
      </div>
      <p>
        Upload your creations to our web services to make them publicly visible
      </p>
      <div class="main-tile-link">
        <a href="https://pixel.holusion.com">Discover our mobile web platform</a>
      </div>
    </div>
  </section>
  <section id="section-production" class="section-main-tile">
    <div class="main-tile-image-wrapper">
      {% asset "img/sections/plaine_image.jpg"
        srcset:width="1920"
        srcset:width="960"
        sizes="(max-width: 992px) 100vw, 50vw"
        class="img-fluid"
        alt="Plaine Image in tourcoing. View from the 2nd floor"
      %}
    </div>
    <div class="main-tile-body">
      <h3> Made in France</h3>
      <p>holusion is based in north of France, in Plaine Images, a cluster dedicated to high technologies and creative industries</p>
      <p>We are labelled as a <b>French tech</b> startup since 2016</p>
    </div>
  </section>
</main>

<section id="section-stories">
  <div class="container-fluid">
    <h1 align="center" id="main-title-1" style="padding-top: 20px">Discover our user stories</h1>
    <div class="row">
      {% for post in  site.categories[page.lang] offset: 0 limit: 4 %}
      {% include components/post_thumbnail.html content=post %}
      {% endfor %}
    </div>
    <div align="right">
      <a href="/en/posts/">View more > </a>
    </div>
  </div>
</section>
<section id="section-contact" style="padding-top:30px;">
  <div class="container-fluid">
    <div id="_contact-infos" class="row" itemscope itemtype="http://schema.org/Organization" >
      <meta itemprop="name" content="holusion" />
      <meta itemprop="logo" url="{{site.url}}/static/img/logo.png" />
      <div class="col-md-6 col-sm-12">
        <h3 style="padding-bottom: 10px">Come to meet us :</h3>
        {% include components/maps_api.html %}
      </div>
      <div class="col-md-6 col-sm-12">
        <h3 style="padding-bottom: 10px">Contact us :</h3>
        <div class="card">
          <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <span itemprop="telephone">+33 (0)9 72 42 44 51</span>
          </li>
          <li class="list-group-item">
            <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
              <span itemprop="streetAddress">99A Boulevard Constantin Descat</span>,
              <span itemprop="postalCode">59200</span>
              <span itemprop="addressLocality">Tourcoing</span>,
              <span itemprop="addressCountry">France</span>
            </span>
          </li>
          <li class="list-group-item">
            <a itemprop="email" data-toggle="modal" data-target="#contactform-modal" class="contact-link">contact@holusion.com</a>
          </li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</section>
