---
layout: front_page
title: A propos
---

{% include components/section_title.html title="L'entreprise" %}
<div class="img-responsive" style="width:100%;height:300px;background:url('/static/img/front/bandeau_entreprise_1.jpg') left/cover;"></div>

{% ariane %}

<section id="section-abstract" class="home-page-section">
  <div class="home-page-image">
    <img class="img-responsive" src="/static/img/products/opal_dodo.jpg">
  </div>
  <div class="home-page-text">
    <h3>Spécialiste de l'affichage digital innovant</h3>
    <p>
      Holusion conçoit, développe et commercialise des solutions d’affichages innovantes basées sur <b>la transparence</b> depuis 2014.
    </p>
    <p>
      Notre maitrise des affichages "<a href="https://fr.wikipedia.org/wiki/Fant%C3%B4me_de_Pepper" title="Pepper's Ghost" target="_blank">Pepper's Ghost</a>" nous permet de proposer des solutions sur mesure de 4cm à plusieurs metres de large.
    </p>
  </div>
</section>

<section id="section-activity-1" class="home-page-section">
  <div class="home-page-image">
    <img class="img-responsive" src="/static/img/products/prism_comenor.jpg">
  </div>
  <div class="home-page-text">
    <h3>Standard et sur-mesure</h3>
    <p>
      Envie de tourner autour de l'hologramme ou de l'intégrer dans une scénographie ? Nous proposons des <a href="/fr/products/">solutions standards</a> à 360° ou d'une seule face.
      Notre expertise dans la fabrication des produits nous permet de créer des solutions sur-mesure tel que l'hologramme à taille humaine.
    </p>
    <div class="home-page-text-link">
      <a href="/fr/posts/">Découvrir cas clients</a>
    </div>
  </div>
</section>

<section id="section-activity-2" class="home-page-section">
  <div class="home-page-image">
    <img class="img-responsive" src="/static/img/products/focus_interactif_formation.jpg">
  </div>
  <div class="home-page-text">
    <h3>Des animations interactives en temps réel</h3>
    <p>
      Nous développons chaque jour des applications interactives pour nos clients.
      Ces animations ludiques permettent d'apprendre ou de découvrir des concepts différement, d'avoir une nouvelle approche des produits en points de vente ou encore de valoriser le patrimoine culturel.
    </p>
  </div>
</section>

<section id="section-activity-2" class="home-page-section">
  <div class="home-page-image">
    <img class="img-responsive" src="/static/img/misc/conception_au_marteau.jpg">
  </div>
  <div class="home-page-text">
    <h3>Notre vision</h3>
    <p>
      Dotée d'une approche résolument <b>industrielle</b>, l'ambition d'holusion est de démocratiser les solutions holographiques, d'en faciliter l'accès tant dans leur conception que dans leur usage.
    </p>
  </div>
</section>
<section id="section-valeurs" class="container">
  <h1 align="center" style="padding: 30px 0px 20px 0px">Nos valeurs</h1>

  <div class="row" style="padding-bottom: 30px">
    <div class="col-lg-8 col-md-12">
      <h3>Privilégier l'écosystème digital français</h3>
      <p>Notre première ambition a toujours été d'ancrer nos solutions sur le territoire français. Avec ses produits <i>Made in France</i>, nous nous plaçons au coeur de la dynamique <i>French Tech</i>.
        Nos fournisseurs viennent essentiellement de la région et les projecteurs d’hologrammes sont assemblés directement au siège à Tourcoing. La proximité avec ces derniers permet notamment d'être très réactif dans la gestion de nos projets.</p>
      <h3>Valoriser le patrimoine culturel</h3>
      <p>En tant que partenaire <a href="http://www.museomix.org/" target="_blanc">Museomix</a>, nous faisons parti d'une communauté de passionnés de culture, de technologies, d’innovation qui partagent une envie d’un musée ouvert, connecté et participatif. Ainsi, nous aidons à mettre en place les 3 jours de "marathon créatif" qui ont lieu début novembre.</p>
      <h3>La philosophie open source</h3>
      <p>Holusion s'engage pour le développement de <a href="https://www.gnu.org/philosophy/floss-and-foss.fr.html">logiciels libres ou Open Source</a>. Pour cela, nous participons à l'amélioration des logiciels que nous utilisons, nous créons de nouveaux outils et nous les rendons <a href="https://github.com/Holusion">disponibles</a> pour la communauté. Nous encourageons nos collaborateurs à contribuer à cet écosystème du logiciel libre.</p>
      <p>Nous pensons que le libre accès des utilisateurs, particuliers comme entreprises, aux logiciels doit être conservé. Chaque projet mené respecte cette <a href="https://www.gnu.org/philosophy/free-sw.html">libertés essentielles</a> des utilisateurs.</p>
      <p>Une plateforme regroupant nos <a href="https://dev.holusion.com">ressources techniques</a> vous donne toutes les clés pour créer vos propres hologrammes et animations.</p>

    </div>
    <div class="col-lg-4 hidden-md hidden-sm hidden-xs" >
      <img alt="Imaginarium Plaine Images" class="img-responsive" style="object-fit: cover; " src="/static/img/products/plaineimages.jpg"/>
    </div>
  </div>
</section>
<h1 align="center" style="padding: 30px 0px 10px 0px">Ils l'ont dit</h1>

<div class="row" style="padding-bottom: 30px">
  <p><blockquote><i><h3>" C'est une meilleure façon de voir les choses parceque la 3D remplace la 2D "</h3></i><p><font size="2pt">Tek Syndicate, VivaTech 2016</font></p></blockquote></p>
  <p><blockquote><i><h3>" Chacun peut créer et développer ses applications pour des usages très variés "</h3></i><p><font size="2pt">La Plaine Images</font></p></blockquote></p>
  <p><blockquote><i><h3>" C'est une référence dans les hologrammes et la modélisation 3D "</h3></i><p><font size="2pt">La Voix du Nord</font></p></blockquote></p>
</div>

</div>
</section>

  <section id="section-equipe" class="section section-equipe" style="padding:30px 0px 50px 0px;background-color:#eeeeee;">
    <div class="container-fluid">
      <h1 align="center" style="padding-bottom: 20px">L'équipe</h1>
      <div class="content view-team" align="center">
        {% include components/team_member_portrait.html
          img="thibault"
          name="Thibault Guillaumont"
          title="Fondateur et président"
          url="https://www.linkedin.com/in/thibaultguillaumont/"
        %}
        {% include components/team_member_portrait.html
          img="seb"
          name="Sebastien Dumetz"
          title="Fondateur et directeur technique"
          url="https://www.linkedin.com/in/sebastien-dumetz-67442b86/"
        %}
        {% include components/team_member_portrait.html
          img="aline"
          name="Aline Neznal"
          title="Communication manager"
        %}
        {% include components/team_member_portrait.html
          img="yann"
          name="Yann Dubois"
          title="Developpeur"
        %}
        {% include components/team_member_portrait.html
          img="melissa"
          name="Mélissa Houyez"
          title="Infographiste 3D"
        %}
        </div>
      </div>
    </section>

  <section id="section-clients" align="center">
    <h1 align="center" style="padding-bottom: 20px"> Nos Partenaires</h1>

<div class="container">
  <div class="row" style="padding-bottom: 30px" align="center">
    <div class="col-lg-3 col-md-6">
      <img alt="Cap digital" class="img-responsive" src="/static/img/front/sponsors/cap-digital.jpg"/>
    </div>
    <div class="col-lg-3 col-md-6">
      <img alt="Picom" class="img-responsive" src="/static/img/front/sponsors/picom.jpg"/>
    </div>
    <div class="col-lg-3 col-md-6">
      <img alt="Plaine images" class="img-responsive" src="/static/img/front/sponsors/plaine-image.jpg"/>
    </div>
    <div class="col-lg-3 col-md-6">
      <img alt="Tonic incubation Lille" class="img-responsive" src="/static/img/front/sponsors/tonic.jpg"/>
    </div>
  </div>


  <div class="row" style="padding-bottom: 30px" align="center">
    <div class="col-lg-3 col-md-6">
      <img alt="BPI France" class="img-responsive" src="/static/img/front/sponsors/bpi.jpg"/>
    </div>
    <div class="col-lg-3 col-md-6">
      <img alt="LMI" class="img-responsive" src="/static/img/front/sponsors/lmi.jpg"/>
    </div>
    <div class="col-lg-3 col-md-6">
      <img alt="JEF label" class="img-responsive" src="/static/img/front/sponsors/jef.jpg"/>
    </div>
    <div class="col-lg-3 col-md-6">
      <img alt="Bizspark" class="img-responsive" src="/static/img/front/sponsors/bizspark.jpg"/>
    </div>
  </div>

</div>

  </section>
