---
layout: front_page
title: A propos
---

{% include components/section_title.html title="L'entreprise" %}
<div class="img-responsive" style="width:100%;height:300px;background:url('/static/img/front/bandeau_entreprise_1.jpg') left/cover;"></div>

{% ariane %}
<section id="lentreprise">
  <div class="container" id="content">
    <h1 align="center" style="padding-bottom: 20px">Notre expertise</h1>

    <div class="row">
      <div class="col-md-6" style="padding-top: 70px">
        <h3>Spécialiste de l'affichage digital innovant</h3>
        <p>Holusion conçoit, développe et commercialise des solutions d’affichages innovantes basées sur <b>l'hologramme</b>.
          Cette illusion d'optique est communément appelée le <a href="https://fr.wikipedia.org/wiki/Fant%C3%B4me_de_Pepper" title="Pepper's Ghost" target="_blank">Pepper's Ghost</a>.
          En effet, l'hologramme est obtenu grâce au reflet d'un écran sur une surface miroitée, inclinée et transparente. C'est cette transparence qui donne le sentiment que l'objet flotte dans l'air.</p>

      </div>
        <div class="col-md-6">
          <div align="center" class="embed-responsive embed-responsive-16by9">
            <iframe src="https://player.vimeo.com/video/98730069?color=2fafe6&title=0&byline=0&portrait=0"frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
    </div>

    <div class="row" style="padding-top: 30px">
      <div class="col-md-6" style="padding-top : 20px">
        <h3>Standard et sur-mesure</h3>
        <p>Envie de tourner autour de l'hologramme ou de l'intégrer dans une scénographie ? Nous proposons des <a href="http://holusion.com/fr/products/">solutions standards</a> à 360° ou d'une seule face.
          Notre expertise dans la fabrication des produits nous permet de créer des solutions sur-mesure tel que l'hologramme à taille humaine.
          Découvrez <a href="http://holusion.com/fr/posts/">quelques expériences</a> que nous avons déjà mises en place.</p>
          <h3>Des animations interactives en temps réel</h3>
          <p>En plus de l'expertise hardware, nous développons chaque jour des applications interactives pour nos clients.
            Ces animations ludiques permettent d'apprendre ou de découvrir des concepts différement, d'avoir une nouvelle approche des produits en points de vente ou encore de valoriser le patrimoine culturel.
          <h3>De l'industrie au conseil</h3>
          <p>Holusion a une vision <b>industrielle</b> de son activité. Son ambition est de démocratiser les solutions holographiques. Mais nous sommes aussi très porté sur le <b>conseil</b> apporté à nos clients. Nous les accompagnons de A à Z dans le projet afin qu'il réponde aux objectifs et soit une véritable réussite.</p>
      </div>

      <div class="col-md-6" style="padding-top: 40px">
        <img style="padding-top: 30px" alt="Step by step" class="img-responsive" src="/static/img/products/step.png"/>
        </div>
    </div>


<h1 align="center" style="padding: 30px 0px 10px 0px">Notre histoire</h1>

<div class="row" style="padding-bottom: 30px">
  <div class="col-lg-6 col-md-12">
    <h3>Du projet à l'entreprise</h3>
    <p>C’est en 2012 que deux ingénieurs, Thibault Guillaumont et Sebastien Dumetz, se lancent dans l'aventure Holusion.
      Diplômés de l’<a href="http://www.ec-lille.fr/fr/index.html" target="_blanc">école Centrale de Lille</a> et de l’<a href ="http://www.isen.fr/" target="_blanc">ISEN</a>,
      ils se retrouvent d’abord autour d’un projet lors du <i>Start-up Weekend</i> à la CCI.
      Après l’obtention d’une subvention, le premier projecteur d’hologrammes fait son apparition.</p>
    <p>Le projet entre d'abord en incubation chez <a href="http://www.tonic-incubation.com/">Tonic Incubation</a>. Holusion est officiellement créée le 6 mai 2014 et peut commencer son développement commercial.
      Pour cela, la startup entre en phase d'accélération à la <a href="http://www.plaine-images.fr/">Plaine Images</a>.
      Cette pépinière d'entreprises met Holusion en relation avec de nombreux acteurs de l'innovation et de la créativité digitale.</p>
    <h3>Au coeur de la French Tech</h3>
    <p>La région des Hauts-de-France valorise et aide au développement des nouvelles technologies.
      Cet écosystème fructueux se concrétise d’ailleurs avec le label <a href="http://www.lafrenchtech.com/metropole/lille-french-tech">“Lille is French Tech”</a> obtenu en 2014.</P>

  </div>

<div class="col-lg-6 col-md-12">
  <img style="padding-top: 30px" alt="Picto Focus" class="img-responsive" src="/static/img/products/made_in_france.jpg"/>
</div>
</div>

<h1 align="center" style="padding: 30px 0px 20px 0px">Nos valeurs</h1>

<div class="row" style="padding-bottom: 30px">
  <div class="col-lg-6 col-md-12">
    <h3>Privilégier l'écosystème digital français</h3>
    <p>Notre première ambition a toujours été d'ancrer nos solutions sur le territoire français. Avec ses produits <i>Made in France</i>, nous nous plaçons au coeur de la dynamique <i>French Tech</i>.
      Nos fournisseurs viennent essentiellement de la région et les projecteurs d’hologrammes sont assemblés directement au siège à Tourcoing. La proximité avec ces derniers permet notamment d'être très réactif dans la gestion de nos projets.</p>
    <h3>Valoriser le patrimoine culturel</h3>
    <p>En tant que partenaire <a href="http://www.museomix.org/" target="_blanc">Museomix</a>, nous faisons parti d'une communauté de passionnés de culture, de technologies, d’innovation qui partagent une envie d’un musée ouvert, connecté et participatif. Ainsi, nous aidons à mettre en place les 3 jours de "marathon créatif" qui ont lieu début novembre.</p>
    <h3>La philosophie open source</h3>
    <p>Holusion s'engage pour le développement de <a href="https://www.gnu.org/philosophy/floss-and-foss.fr.html">logiciels libres ou Open Source</a>. Pour cela, nous participons à l'amélioration des logiciels que nous utilisons, nous créons de nouveaux outils et nous les rendons <a href="https://github.com/Holusion">disponibles</a> pour la communauté. Nous encourageons nos collaborateurs à contribuer à cet écosystème du logiciel libre.</p>
    <p>Nous pensons que le libre accès des utilisateurs, particuliers comme entreprises, aux logiciels doit être conservé. Chaque projet mené respecte cette <a href="https://www.gnu.org/philosophy/free-sw.html">libertés essentielles</a> des utilisateurs.</p>
    <p>Une plateforme regroupant nos <a href="https://dev.holusion.com">ressources techniques</a> vous donne toutes les clés pour créer vos propres hologrammes et animations.</p>

  </div>
  <div class="col-lg-6 col-md-12">
    <img alt="Imaginarium Plaine Images" class="img-responsive" src="/static/img/products/plaineimages.jpg"/>
  </div>
</div>

<h1 align="center" style="padding: 30px 0px 10px 0px">Ils l'ont dit</h1>

<div class="row" style="padding-bottom: 30px">
  <p><blockquote><i><h3>" C'est une meilleure façon de voir les choses parceque la 3D remplace la 2D "</h3></i><p><font size="2pt">Tek Syndicate, VivaTech 2016</font></p></blockquote></p>
  <p><blockquote><i><h3>" Chacun peut créer et développer ses applications pour des usages très variés "</h3></i><p><font size="2pt">La Plaine Images</font></p></blockquote></p>
  <p><blockquote><i><h3>" C'est une référence dans les hologrammes et la modélisation 3D "</h3></i><p><font size="2pt">La Voix du Nord</font></p></blockquote></p>
</div>

</div>
</section>

  <section id="section-equipe" class="section section-equipe" style="padding:30px 0px 50px 0px;background-color:#eeeeee;">
    <div class="container">
      <div class="row">
        <h1 align="center" style="padding-bottom: 20px">L'équipe</h1>
        <div class="content view-team" align="center">
          {% include components/team_member_portrait.html
            img="/static/img/front/portraits/tguillaumont.jpg"
            name="Thibault Guillaumont"
            title="Fondateur et président"
            url="https://www.linkedin.com/in/thibaultguillaumont/"
            %}
            {% include components/team_member_portrait.html
              img="/static/img/front/portraits/sdumetz.png"
              name="Sebastien Dumetz"
              title="Fondateur et directeur technique"
              url="https://www.linkedin.com/in/sebastien-dumetz-67442b86/"
              %}
              {% include components/team_member_portrait.html
                img="/static/img/front/portraits/sduhamel.jpg"
                name="Ségolène Duhamel"
                title="Responsable communication"
                url="https://www.linkedin.com/in/s%C3%A9gol%C3%A8ne-duhamel-7160a68a/"
                %}
                {% include components/team_member_portrait.html
                  img="/static/img/front/portraits/pbonneel.jpg"
                  name="Paul Bonneel"
                  title="Responsable production"
                  url="https://www.linkedin.com/in/paul-bonneel-264a679a/"
                  %}
                </div>
              </div>
            </div>
    </section>

  <section id="section-clients" align="center">
    <h1 align="center" style="padding-bottom: 20px"> Nos Partenaires</h1>

<div class="container">
  <div class="row" style="padding-bottom: 30px" align="center">
    <div class="col-lg-3 col-md-6">
      <img alt="Cap digital" class="img-responsive" src="/static/img/front/sponsors/cap-digital.jpg"/>
    </div>
    <div class="col-lg-3 col-md-6">
      <img alt="Picom" class="img-responsive" src="/static/img/front/sponsors/picom.jpg"/>
    </div>
    <div class="col-lg-3 col-md-6">
      <img alt="Plaine images" class="img-responsive" src="/static/img/front/sponsors/plaine-image.jpg"/>
    </div>
    <div class="col-lg-3 col-md-6">
      <img alt="Tonic incubation Lille" class="img-responsive" src="/static/img/front/sponsors/tonic.jpg"/>
    </div>
  </div>


  <div class="row" style="padding-bottom: 30px" align="center">
    <div class="col-lg-3 col-md-6">
      <img alt="BPI France" class="img-responsive" src="/static/img/front/sponsors/bpi.jpg"/>
    </div>
    <div class="col-lg-3 col-md-6">
      <img alt="LMI" class="img-responsive" src="/static/img/front/sponsors/lmi.jpg"/>
    </div>
    <div class="col-lg-3 col-md-6">
      <img alt="JEF label" class="img-responsive" src="/static/img/front/sponsors/jef.jpg"/>
    </div>
    <div class="col-lg-3 col-md-6">
      <img alt="Bizspark" class="img-responsive" src="/static/img/front/sponsors/bizspark.jpg"/>
    </div>
  </div>

</div>

  </section>
