---
title: Tutoriels
rank: 1
---

<h1>Tutoriels</h1>

<p>Un tutoriel est une leçon qui vous guidera étape par étape vers un résultat concrêt</p>

<p>Vous pourrez apprendre dans ces guides les bases de l'utilisation de nos produits avec des opérations simples et compréhensibles.</p>


<div class="card-group mb-2">
  {% include components/card.html 
    title="Premiers pas"
    image="img/products/iris22_blanc.jpg"
    abstract="Création de votre premier hologramme"
    url="first-steps"
  %}
  {% include components/card.html 
    title="Monter une vidéo"
    image="/static/img/posts/blender/banner.jpg"
    abstract="assembler une vidéo pour vitrine pyramide"
    url="blender-prism"
  %}
  {% include components/card.html 
    title="Connexion à un produit"
    image="img/documentation/nano_router.jpg"
    abstract="Connectez-vous à votre produit en utilisant un nano-routeur TP Link"
    url="connect-router"
  %}
  {% include components/card.html 
    title="Transférer du contenu"
    image="img/products/iris22_blanc.jpg"
    abstract="Transférer une vidéo vers votre produit"
    url="media-transfer"
  %}
</div>