---
  title: platform
  lang: fr
---
{% include components/head_overlay_start.html image='/static/img/banners/platform.jpg' %}

<h4> Créateur d'usages </h4>
<p>
  Interactif et évolutif, nos projecteurs d'hologrammes vous donnent l'opportunité de développer vos propres applications.
</p><p>
  Simulation 3D, prototypage de produits, jeux vidéos... A vous d'élargir les champs du possible !
  </p>
<p>
  Contactez-nous pour intégrer vos logiciels
</p>


{% include components/head_overlay_end.html %}
{% include lists/section_thumbnails.html section=page.title %}
