---
layout: post
title: Pixel Kit
image: /build/img/products/kit_pixels_vignette.jpg
abstract: Holograms for everyones
rank: 2
slides:
  -
    image: /static/img/products/kit_pixels_maquette.jpg
  -
    image: /static/img/products/kit_pixels_1.jpg
  -
    image: /static/img/products/kit_pixels_2.jpg

tags: pixel
---
<div class="row" >
  <div class="col-lg-6 col-md-12 row-no-padding">
    {% include components/slideshow.html contents=page.slides height=250 %}
  </div>
  <div class="col-lg-6 col-md-12" align="center">
    <img style="padding-top: 30px" alt="Picto Pixel" class="img-responsive" src="/static/img/products/picto_pixel.png"/>
    <h1 align="center">Share your creativity</h1>
    <h3 align="center">Le holographic kit for everyones !</h3>
    <h3 align="center" style="padding-bottom: 10px">Order online : </h3>
    {% include shop/store-fab.html %}
  </div>
</div>

  <div class="row" style="padding-top: 100px">
    <div class="col-lg-6 col-md-12">
      <h2>
One kit, three holograms, three experiences</h2>
      <p>The Pixel Kit is the first holographic bundle offering you an easy and funny approach of holograms.
Thanks to an holographic playlist(<a href="https://pixel.holusion.com">pixel.holusion.com</a>), you can share the experience with your friends and see holograms like
<a href="https://www.youtube.com/watch?v=2zpec2GzkUI&list=PLUHVztX-fSBA8DBZVbAvZX5QjqgFlZmEP&index=6">Frozen</a> or
<a href="https://www.facebook.com/pg/holusion/videos/?ref=page_internal"> Stars Wars </a> for instance.
</p>
<p> For your smartphone, you can use : <a href="/fr/products/pixel">the Pixel</a> and the <a href="/fr/products/pixel">Pixel + </a>(with its qualitative solid frame) and for tablets : <a href="/fr/products/pixel">the Pixel XL</a> for even bigger holograms !</p>

      <h2>What is a Pixel?</h2>
      <p>The<a href="/fr/products/pixel"> Pixel</a> is a little pyramid displaying a 360° hologram.
        It fits in the pocket and you can bring it with you anywhere.
        This is the innovative goodie everyone would want to see </p>
      <h2>How does it work?</h2>
      <p>Every information are on the document, which is itself fold itself into a pyramid ! You can follow ou tutorial on  <a href="https://www.youtube.com/channel/UChquBpE1S5zFjUbtZWddZMQ">Holusion Youtube Channel</a>.</p>

        <h2> For businesses </h2>
<p> The Pixel kit is also an original gift for your teams and customers ! One great experience to share around you. If you wish to display your logo or brand in holograms, it's possible. You can create your own content online to customize your experience. </p>
<p>Create them with a few clicks on <a href="https://pixel.holusion.com">pixel.holusion.com</a>. </p>
<p>You can even improve your SEO by hosting the app on your own website : <a href="http://pixel.gustavbycocktail.com/">pixel.gustavbycocktail.com</a>.</p>


  </div>

    <div class="col-lg-6 col-md-12">
      {% include components/medias/youtube.html url="https://www.youtube.com/embed/DzCsZqitjhk" %}
    </div>

    <div class="col-lg-6 col-md-12">
      <div style="padding-top:40px">
        {% include components/medias/youtube.html url="https://www.youtube.com/embed/tC7NKXgiY1s" %}
      </div>
    </div>
</div>
<div class="row">
  <div class="col-md-12">
  <h1 align="center" >MAIN CHARACTERISTICS</h1>
</div>
</div>

  <div class="row" style="padding-top: 20px">
    <div class="col-lg-1 col-md-12" align="right">
      {% svg src/pictos/produits/Picto__360.svg width=50 %}
    </div>
    <div class="col-lg-3 col-md-12">
      <p><b>360° hologram</b></p>
      <p>The hologram is visible from evey faces of the pyramid</p>
    </div>
    <div class="col-lg-1 col-md-12" align="right">
      {% svg src/pictos/produits/Picto__Smartphone.svg width=50 %}
    </div>
    <div class="col-lg-3 col-md-12">
      <p><b>Smartphone sizes</b></p>
      <p>The Pixel pyramid fits smartphones from 5.5 to 6.5 inches.</p>
    </div>
    <div class="col-lg-1 col-md-12" align="right">
      {% svg src/pictos/produits/Picto__Tablette.svg size=50 %}
    </div>
    <div class="col-lg-3 col-md-12">
      <p><b>Tablet sizes</b></p>
      <p>The Pixel XL pyramid fits tablet from 10 to 13 inches.</p>
    </div>
  </div>

  <div class="row" style="padding-top: 30px">
    <div class="col-lg-1 col-md-12" align="right">
      {% svg src/pictos/produits/Picto__Stickage-logo.svg size=50 %}
    </div>
    <div class="col-lg-3 col-md-12">
      <p><b>Logo engraving</b></p>
      <p>Customize your Pixels thanks to our pro offer</p>
    </div>
    <div class="col-lg-1 col-md-12" align="right">
        {% svg src/pictos/produits/Picto__Ventouse.svg size=50 %}
    </div>
    <div class="col-lg-3 col-md-12">
      <p><b>Succion cup</b></p>
      <p>Garanteed to stay firmly on your phone !</p>
    </div>
    <div class="col-lg-1 col-md-12" align="right">
        {% svg src/pictos/produits/Picto__Blister.svg width=50 %}
    </div>
    <div class="col-lg-3 col-md-12">
      <p><b>Customized polybag</b></p>
      <p>Yes, pro is the best. Free for any order superior of 250 pcs</p>
    </div>
  </div>

  <div align="center" style="padding-top: 50px"><button class="button button-blue" style="cursor:pointer" onclick=window.location.href="https://holusion.com/fr/store">
           Store Holusion
         </button></div>

  <h2 align="center" id="main-title-1" style="padding-top: 40px">Quelques histoires sur le Pixel...</h2>
