---
layout: post
title: Pixel
image2x: /build/img/products/goodies_banner_2x.jpg
image: /build/img/products/goodies_banner.jpg
abstract: Mini pyramid for smartphones and shelves
rank: 0
tags: pixel
slides:
  -
    image: /static/img/products/pixel_rentree.jpg
  -
    image: /static/img/products/pixel_meduse.jpg
  -
    image: /static/img/products/pixel_fleur_2.jpg
  -
    image: /static/img/products/pixel_fleur.jpg
  -
    image: /static/img/products/pixel_danseurs.jpg
  -
    image: /static/img/products/pixel_minion.jpg

---
{% include scripts/snipcart.html %}

<div class="row" />
<div class="col-lg-6 col-md-12">
{% include components/post_slideshow.html contents=page.slides height=250 %}
</div>
<div class="col-lg-6 col-md-12" align="center">
  <img style="padding-top: 30px" alt="Picto Pixel" class="img-responsive" src="/static/img/products/picto_pixel.jpg"/>
  <h1 align="center">Smartphone hologram</h1>
  <h3 align="center">Order online</h3>
  {% include shop/pixel.html description="A smartphone-sized hologram to go with you everywhere" %}
 </div>
</div>



  <div class="row">
    <div class="col-lg-6 col-md-12">
      <h2 style="padding-top: 30px">Holographic goodies</h2>
      <p>
        To spice up your presentations, or just have fun at home, Holusion's <b>Pixel</b> is the perfect tool to enjoy holograms everydays.
      </p>
      <p>
        Put it on your smartphone, go to <a href="https://pixel.holusion.com">pixel.holusion.com</a> and enjoy the show.
      </p>
    </div>

    <div class="col-lg-6 col-md-12">
      <div style="padding-top: 40px">
          {% include components/medias/youtube.html url="https://www.youtube.com/embed/ChXqPq8Bynw" %}
      </div>
    </div>
  </div>
  <div class="row" style="padding-top: 70px">
    <div class="col-md-12"><h2 align="center">Choose from available options :</h2></div>
  </div>
  <div class="row" style="padding-top: 70px">
    <div class="col-lg-6 col-md-12" align="center">
      <h3 style="padding-bottom:30px">Order 1 unit or more, online</h3>
      <img alt="Schéma Pixel" class="img-responsive" src="/static/img/products/pixel_schema2.png">
    </div>
    <div class="col-lg-6 col-md-12" align="center">
      <h3 style="padding-bottom:30px">Order from 100 units</h3>
      <img alt="Schéma de Pixel" class="img-responsive" src="/static/img/products/goodies_schema.jpg"/>
    </div>
  </div>

  <h2 align="center" style="padding-top: 60px">MAIN CHARACTERISTICS</h2>


  <div class="row" style="padding-top: 70px">
    <div class="col-lg-1 col-md-12">
      {% svg src/pictos/produits/Picto__360.svg size=70 %}
    </div>
    <div class="col-lg-3 col-md-12">
      <h3>360° HOLOGRAM</h3>
      <p>With 360° perception, you can view it from any side of your phone</p>
    </div>
    <div class="col-lg-1 col-md-12">
      {% svg src/pictos/produits/Picto__Smartphone.svg size=70 %}
    </div>
    <div class="col-lg-3 col-md-12">
      <h3>SMARTPHONE SIZE</h3>
      <p>Compatible with 4" Smartphones, up to 7".</p>
    </div>
    <div class="col-lg-1 col-md-12">
      {% svg src/pictos/produits/Picto__Stickage-logo.svg size=70 %}
    </div>
    <div class="col-lg-3 col-md-12">
      <h3>YOUR LOGO</h3>
      <p>Contact us to have your company logo printed on your PIXEL (min 50 units)</p>
    </div>
  </div>
<div class="row" style="padding-top: 50px">
  <div class="row" style="padding-top: 50px">
      <div class="col-lg-1 col-md-12">
          {% svg src/pictos/produits/Picto__Ventouse.svg size=70 %}
      </div>
      <div class="col-lg-3 col-md-12">
        <h3>FIXED</h3>
        <p>Stay firmly attached to your smarphone during use</p>
      </div>
      <div class="col-lg-1 col-md-12">
          {% svg src/pictos/produits/Picto__Blister.svg size=70 %}
      </div>
      <div class="col-lg-3 col-md-12">
        <h3>BLISTER PACKAGING</h3>
        <p>With protective packaging that can be personalized to your brand</p>
      </div>
  </div>
</div>

<div align="center" style="padding-bottom:20px">
  <h2 align="center" style="padding: 50px 0px 10px 0px">How is it working ?</h2>
  <div align="center">Follow few steps to build your owm PIXEL pyramid</div>
</div>


<div class="row">
  <div class="col-md-12">
    <a href="https://pixel.holusion.com">
    <img class="img-responsive" height="200px" src="/build/img/products/pixel_landscape_2x.jpg" alt="header pixel.holusion.com">
    <h3 style="text-align:center;padding-top: 15px">pixel.holusion.com</h3>
    <h4 style="text-align:center;">
      Let you try the PIXEL at home, free of charge.
    </h4>
    </a>
  </div>
</div>


<h2 align="center" id="main-title-1" style="padding-top: 50px">Some stories about Pixel...</h2>
