Options +FollowSymLinks

ErrorDocument 404 /404.html

# Set the default handler.
DirectoryIndex index.html index.htm

RedirectMatch 301 ^/?$ /fr/

<IfModule mod_rewrite.c>
  RewriteEngine On
  #rewrite dev.holusion.com requests
  RewriteCond %{HTTP_HOST} dev.holusion.com
  RewriteCond %{REQUEST_URI} ^/fr [OR]
  RewriteCond %{REQUEST_URI} ^/en
  RewriteRule ^(.*) /dev/$1 [L]

  #rewrite http to https for pixel
  RewriteCond %{HTTPS} !=on
  # This checks to make sure the connection is not already HTTPS
  RewriteRule ^/(.*)/products/pixel https://%{SERVER_NAME}/$1/products/pixel [R,L]
</IfModule>
