---
layout:
lang: en
---
{% include utils/lang.html %}
{% capture links %}

{% endcapture %}

{% capture right_links %}
  {% include components/nav/navbar_link.html url='stingray' title="Stingray" %}
  {% include components/nav/navbar_link.html url='en' title="About us" %}
  {% include components/nav/navbar_link.html url='dev/en' title="Developpers" %}
{% endcapture %}



<!DOCTYPE html>
<html >
<head>
  <meta charset="utf-8">
  <meta name="author" content="Holusion">
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script defer="" src="/vendor/jquery/dist/jquery.min.js"></script>
  <script defer="" src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
  {% include layout/common_navbar_top.html left_links=links right_links=right_links %}
  <section id="section-jumbotron">
    <div style="width:100%;height:300px;background:url('/build/img/products/focus_vivatech_bandeau_2x.jpg') center/cover;margin-bottom:-75px;"></div>
  </section>
  <section id="section-main" >
    <div id="content" class="container page-shadow">
      <h1>Projects</h1>
      <div class="row">
        {% include components/post_thumbnail.html
          url="stingray"
           image="/stingray/img/logo.svg"
           title="stingray"
           abstract="Stingray is a new generation video player designed to interact with rich video content" %}
      </div>
    </div>
  </div>
  <footer><div id="navbar-bottom" role="navigation" class="container-fluid">
    <div class="container-fluid" id="section-bottom">
      <div class="container" id="bottom-index">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <h4 class="block-title">Holusion</h4>
            <ul>
              <li><a href="{{domain}}/{{lang}}/about">
                {{site.data.sections.about[lang]}}
              </a></li>
              <li><a href="{{domain}}/{{lang}}/products">
                {{site.data.sections.products[lang]}}
              </a></li>
              <li><a href="{{domain}}/{{lang}}/contact">
                Contact
              </a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <h4 class="block-title">Projects</h4>
            <ul>
              <li><a href="/stingray">Stingray</a></li>
            </ul>

          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <h4 class="block-title">{{site.data.sections.posts[lang]}}</h4>
            <ul>
              {% include utils/make_posts.html %}
              {% for post in posts limit: 3 %}
                {% include components/nav/bottom_li.html content=post %}
              {% endfor %}
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <h4 class="block-title">{{ site.data.strings.social-links[lang] }}</h4>
            {% include social_list.html %}
            <div class="newsletter">
              {% include components/mailchimp.html %}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          {{ site.data.strings.copyright[page.lang]}} <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">CC. Attribution ShareAlike</a>
        </div>
        <div class="col-md-6 col-sm-6 col-sm-offset-3 col-md-offset-0 col-lg-offset-0">
          <div class="container-fluid">
            <div class="row-fluid bottom-nav-center">
              <div class="col-xs-4">
                <a href="/{{page.lang}}">{{site.data.strings.holusion-com[page.lang]}}</a>
              </div>
              <div class="col-xs-4">
                <a href="/{{page.lang}}/products">{{site.data.strings.products[page.lang]}}</a>
              </div>
              <div class="col-xs-4">
                <a href="/{{page.lang}}/about">{{site.data.strings.about[page.lang]}}</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <ul class="navbar-right">

          </ul>
        </div>
      </div>
    </div>
  </div></footer>
    <!-- /.container -->

  <style>
    .page-shadow{
      background:white;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
      min-height:400px;
      min-height:60vh;
    }
  </style>
</body>
</html>
