

{% capture href %}/{{page.lang}}/{{include.url}}/{% endcapture %}
{% if include.title[page.lang] %}
  {% assign title = include.title[page.lang] %}
{% else %}
  {% assign title = include.title %}
{% endif %}

{% if page.url contains include.url or include.url == page.menu %}
  <li class="nav-item active">
    <a class="nav-link" href="{{href}}">{{title}}</a><span class="sr-only">(current)</span>
  </li>
{% else %}
  <li class="nav-item">
    <a class="nav-link" href="{{href}}">{{title}}</a>
  </li>
{% endif %}
