---
layout: front_page
---

{% include components/section_title.html title="L'entreprise" %}
<div class="img-responsive" style="width:100%;height:300px;background:url('/static/img/front/bandeau_entreprise_1.jpg') left/cover;"></div>

{% include ariane.html %}

<section id="lentreprise">
  <div class="container" id="content">

<h1 align="center" style="padding-bottom: 20px">Our expertise</h1>

<div class="row" style="padding-bottom: 20 px">
  <div class="col-md-6" style="padding-top: 30px">
    <h2>The innovative digital display specialist</h2>
    <p>Holusion designs, develops and markets <a href="/en/products">innovative display solutions</a> based on the technology of <strong>transparent screen</strong> and <strong>digital holography</strong>, commonly known as <a href="https://fr.wikipedia.org/wiki/Fant%C3%B4me_de_Pepper"target="_blank">Pepper's Ghost</a>.</p>
    <p>We propose these tools and new medias to the companies who want to interact differently with their clients, students or collaborators. This allows them to improve the promotion of their product, their brand and <a href="/en/uses">use</a>.</p>
  </div>
    <div class="col-md-6">
      <div align="center" class="embed-responsive embed-responsive-16by9">
        <iframe src="https://player.vimeo.com/video/98730069?color=2fafe6&title=0&byline=0&portrait=0"frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
</div>

<div class="row" style="padding-top: 30px">
  <div class="col-md-6" style="padding: 20px 0px 0px 50px">
    <img class="img-responsive" class="rtecenter" src="/static/img/front/accompagnement_fr.jpg" alt="accompagnement personnalisé" width="400" height="300">
  </div>
  <div class="col-md-6">
      <h2>Personalised support</h2>
      <p>You want to create an innovating project to enhance your business but you do not yet have a precise idea ? We are here to recommend you and to guide you in the choice of <a href="http://holusion.com/en/our-solutions-product">your solution</a> as well as in the creation of tailor-made products !</p>
      <p>All ready a hologram specialist ? Our <a href="http://dev.holusion.com/en/index">website of technical resources</a> will make you go even further.</p>

      <h2>Innovative positioning</h2>
      <p>Holusion has an <strong>industrial vision</strong> of his business : his ambition is to democratize holographic solutions. But Holusion developps more and more <strong>holographic smart pratctices</strong>. The company assists its clients and early adopters&nbsp;to develop an adapted and successful project.</p>
    </div>
</div>


    <h1 align="center" style="padding: 30px 0px 20px 0px">Our timeline</h1>

    <p class="rtecenter"><img alt="Holusion Timeline" class="img-responsive" src="/static/img/front/frise_historique_1.jpg" /></p>

    <div class="row" style="padding: 30px 0px 30px 0px">
      <div class="col-md-4">
        <div class="rtecenter"><strong>Mai 2012</strong></div>
        <h5 class="rtecenter">First Prototype</h5>
        <div class="rtecenter">The team launch the project in Lille, Northern France</div>
      </div>

      <div class="col-md-4">
        <div class="rtecenter"><strong>June 2013</strong></div>
        <h5 class="rtecenter">First Prize for our work on R&amp;D</h5>
        <div class="rtecenter">Holusion project is know as a leader in holographic display technology</div>
      </div>

      <div class="col-md-4">
        <div class="rtecenter"><strong>September 2013</strong></div>
        <h5 class="rtecenter">Holusion's Prism hit the market</h5>
        <div class="rtecenter">The interactive holograms get attention from many business areas</div>
      </div>
    </div>

    <div class="row" style="padding: 30px 0px 30px 0px">
      <div class="col-md-4">
        <div class="rtecenter"><strong>January 2014</strong></div>
        <h5 class="rtecenter">LMI Innovation</h5>
        <div class="rtecenter">Holusion takes its first step into the innovative startup ecosystem and gets its first funding</div>
      </div>

      <div class="col-md-4">
        <div class="rtecenter"><strong>August 2014</strong></div>
        <h5 class="rtecenter"><a href="http://www.plaine-images.fr/entreprise/holusion/">Plaine Images</a></h5>
        <div class="rtecenter">Holusion join this cluster for Digital Creativity and Innovation</div>
      </div>

      <div class="col-md-4">
        <div class="rtecenter"><strong>Early 2015</strong></div>
        <h5 class="rtecenter">Labels</h5>
        <div class="rtecenter">Cap Digital - Pictanovo - Picom</div>
      </div>
</div>
      <div class="row" style="padding: 30px 0px 30px 0px">
        <div class="col-md-4">
          <div class="rtecenter"><strong>2018</strong></div>
          <h5 class="rtecenter">Fundraising and innovation</h5>
        </div>
      </div>

    </div>
  </section>

  <section id="section-equipe" class="section section-equipe" style="padding:30px 0px 50px 0px;background-color:#eeeeee;">
  	<div class="container">
  		<div class="row">
        <h1 align="center" style="padding-bottom: 20px">The team</h1>
        <div class="content view-team" align="center">
          {% include components/team_member_portrait.html
            img="/static/img/front/portraits/tguillaumont.jpg"
            name="Thibault Guillaumont"
            title="Founder"
          %}
          {% include components/team_member_portrait.html
            img="/static/img/front/portraits/sdumetz.png"
            name="Sebastien Dumetz"
            title="Founder"
          %}
          {% include components/team_member_portrait.html
            img="/static/img/front/portraits/sduhamel.jpg"
            name="Ségolène Duhamel"
            title="Communication manager"
          %}
          {% include components/team_member_portrait.html
            img="/static/img/front/portraits/pbonneel.jpg"
            name="Paul Bonneel"
            title="Production responsable"
          %}

        </div>
      </div>
    </div>

  </section>
  <section id="section-clients">
    <div class="container">
      <h1 align="center" style="padding-bottom: 20px"> Our Partners</h1>
      <div class="row">
        {% include components/sponsor_portrait.html img="/static/img/front/sponsors/cap-digital.jpg" alt="Cap Digital Paris" url="http://capdigital.com" %}
        {% include components/sponsor_portrait.html img="/static/img/front/sponsors/picom.jpg" alt="PICOM" url="http://www.picom.fr" %}
        {% include components/sponsor_portrait.html img="/static/img/front/sponsors/plaine-image.gif" alt="Plaine Images" url="http://www.plaine-images.fr" %}
        {% include components/sponsor_portrait.html img="/static/img/front/sponsors/tonic.jpg" alt="Tonic Incubation" url="http://www.tonic-incubation.com/" %}
        {% include components/sponsor_portrait.html img="/static/img/front/sponsors/BPI.png" alt="BPI France" url="http://www.bpifrance.fr/" %}
        {% include components/sponsor_portrait.html img="/static/img/front/sponsors/LMI.png" alt="Lille Métropole Investissement Innovation" url="http://www.lmi-innovation-creation.fr/" %}
      </div>
  </div>
</section>
