---
layout: front_page
title: Home page
lang: fr
image: /build/img/home_sections/cafe_design.jpg
image2x: /build/img/home_sections/cafe_design_2x.jpg
---
<section class="section section-main-header">
  <div id="main-header-wrapper">
    <img src="/build/img/home_sections/cafe_design_2x.jpg">
  </div>

  <div class="main-header-overlay" style="">
    <div class="main-header-overlay-text">
      Créateur d'expériences digitales innovantes
    </div>
  </div>
</section>

<section id="section-produits" >
  <div class="container">
    <h1 align="center" id="main-title-1" style="padding-top: 40px">Nos produits</h1>
    <div class="row">
      {% include utils/make_products.html %}
      {% for product in products limit:4 %}
      {% include components/post_thumbnail.html content=product %}
      {% endfor %}
    </div>
    <div align="right">
      <a href="/fr/products/">Plus de produits > </a>
    </div>
  </div>
</section>

<section id="section-gamme" class="home-page-section">
  <div class="home-page-image">
    <img class="img-responsive" src="/build/img/home_sections/opal_2x.jpg">
  </div>
  <div class="home-page-text">
    <h3>En ligne ou sur mesure</h3>
    <p>holusion propose une large gamme de produits en vente ou location.
      Cette gamme, de l'holgoramme de poche à celui de 2 mètres de large permet de répondre au mieux à toutes les demandes
    </p>
  </div>
</section>

<section id="section-interactive" class="home-page-section">
  <div class="home-page-image">
    <img class="img-responsive" src="/build/img/home_sections/design_2x.jpg">
  </div>
  <div class="home-page-text">
    <h3>Interactivité</h3>
    <p>holusion se démarque en proposant des solutions interactives. Reconnaissance gestuelle, capteurs sans contacts, interfaces tactiles.
      Prenez les commandes de vos hologrammes en temps réel.
    </p>
  </div>
</section>

<section id="section-accompagnement" class="home-page-section">
  <div class="home-page-image">
    <img class="img-responsive" src="/build/img/home_sections/cafe_design.jpg">
  </div>
  <div class="home-page-text">
    <h3> Accompagnement </h3>
    <p>holusion c'est aussi un accompagnement du premier contact à la réalisation finale du projet.
      Nous formons nos clients pour qu'ils puissent utiliser nos technologies en toute sérénité
    </p>
  </div>
</section>

<section id="section-production" class="home-page-section">
  <div class="home-page-image">
    <img class="img-responsive" src="/build/img/home_sections/prism_2x.jpg">
  </div>
  <div class="home-page-text">
    <h3> Made in France</h3>
    <p>holusion siège dans les hauts de france à Tourcoing.
      Vous pouvez retrouver nos bureaux à la Plaine Images, un site dédié aux industries numériques et créatives.
    </p>
    <p>Holusion est labellisée French Tech depuis 2016</p>
  </div>
</section>

<section id="section-stories">
  <div class="container">
    <h1 align="center" id="main-title-1" style="padding-top: 20px">Plongez-vous dans nos histoires</h1>
    {% include utils/make_posts.html %}
    {% for post in  posts offset: 0 limit: 4 %}
    {% include components/post_thumbnail.html content=post %}
    {% endfor %}
    <div align="right">
      <a href="/fr/posts/">Découvrir plus d'histoires > </a>
    </div>
  </div>
</section>
<section id="section-contact" style="padding-top:30px;">
  <div class="container">
    <div id="_contact-infos" class="row" itemscope itemtype="http://schema.org/Organization" >
      <meta itemprop="name" content="holusion" />
      <meta itemprop="logo" url="{{site.url}}/static/img/logo.png" />
      <div class="col-md-6 col-sm-12">
        <h3 style="padding-bottom: 10px">Venez nous rencontrer :</h3>
        {% include components/maps_api.html %}
      </div>
      <div class="col-md-6 col-sm-12">
        <h3 style="padding-bottom: 10px">Contactez-nous :</h3>
        <div class="panel panel-default">
          <div class="panel-body">
            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
            <span itemprop="telephone">+33 (0)9 72 42 44 51</span>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
              <span itemprop="streetAddress">99A Boulevard Constantin Descat</span>,
              <span itemprop="postalCode">59200</span>
              <span itemprop="addressLocality">Tourcoing</span>,
              <span itemprop="addressCountry">France</span>
            </span>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
            <a itemprop="email" class="contact-link">contact@holusion.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
