---
layout: front_page
title: home
lang: fr
---
<section class="section section-video">
  <div id="video-wrapper">
    {% include components/medias/home_page_video.html
      name="home_video"
      image="/static/img/products/pixel_car.jpg"
      %}
  </div>

  <div class="video-overlay" style="">
    <div class="video-overlay-text">
      Créateur d'expériences digitales innovantes
    </div>
  </div>
</section>
<section id="section-promotion">
  <h1 style="padding-top: 20px" align="center" id="main-title-1" >
    Achetez votre hologramme en ligne
  </h1>
  <div class="container" align="center">
    <p>
      Holusion crée des expériences inédites autour de vos marques et produits. Les solutions d'affichages innovantes et interactives, tels que l'hologramme, vous permettent de découvrir de façon ludique des concepts, des produits et des projets.
    </p>
    <p><a href="/fr/about/">En découvrir plus sur l'entreprise > </a></p>
  </div>
  <div class="container">

    <div class="row" style="padding-top: 40px">
      <div class="col-md-6" align="center">
        <a href="/fr/products/pixel"><img alt="Pixel papillon" class="img-responsive" src="/static/img/products/pixel_papillon2.jpg"></a>
      </div>
      <div class="col-md-6" >
        <h3>Impressionnez vos proches, clients et collaborateurs</h3>
        <p>Le <a href="/fr/products/pixel">PIXEL</a> laisse apparaître des images en lévitation au dessus de votre smartphone et de votre tablette. Emmenez-le partout avec vous pour impressionner votre entourage. L'<a href="/fr/products/opal">OPAL</a> est quant à lui notre nouvel hologramme une face pour tablettes. Vous pouvez placer des objets derrière sa surface inclinée et créer votre propre univers.
        Trouvez-les en ligne directement :</p>

        <p align="center" style="padding-top: 20px"><a class="button-fab button-blue" href="{{site.url}}/fr/store/">
          {% icon icon-add-cart size=40 style="padding-top:15px" %}
        </a></p>
      </div>
    </div>
  </div>
</section>

<section id="section-produits" >
  <div class="container">
    <h1 align="center" id="main-title-1" style="padding-top: 40px">Nos produits</h1>
    <div class="row">
      {% include utils/make_products.html %}
      {% for product in products limit:4 %}
      {% include components/post_thumbnail.html content=product %}
      {% endfor %}
    </div>
    <div align="right">
      <a href="/fr/products/">Plus de produits > </a>
    </div>
  </div>
</section>

<section id="section-usages" >
  <div class="container">
    <h1 align="center" id="main-title-1" style="padding-top: 20px">Usages interactifs</h1>

 <a href="usages#apprendre"><div style="background: url('/static/img/usages/focus_interactif_formation.jpg') center/cover;width:100%;height:240px;padding-top:90px;text-align:center;margin-bottom:20px;">
      <font size="6pt"><h3 style="color:white;">APPRENDRE</h3></font>
 </div></a>

 <a href="usages#percevoir"><div style="background: url('/static/img/usages/prism_interactif_catalogue.jpg') center/cover;width:100%;height:240px;padding-top:90px;text-align:center;margin-bottom:20px;">
   <font size="6pt"><h3 style="color:white;">PERCEVOIR</h3></font>
 </div></a>

 <a href="usages#transformer"><div style="background: url('/static/img/usages/prism_interactif_transformer.jpg') center/cover;width:100%;height:240px;padding-top:90px;text-align:center;margin-bottom:20px;">
   <font size="6pt"><h3 style="color:white;">TRANSFORMER</h3></font>
 </div></a>

    <div align="right">
      <a href="/fr/usages/">Découvrir les usages > </a>
    </div>
  </div>
</section>

<section id="section-accompagnement" >
  <div class="container">
    <h1 align="center" id="main-title-1" style="padding-top: 20px">Une entreprise, un accompagnement</h1>
    <p align="center"><a href="/fr/about/"><img alt="Schéma notre accompagnement" class="img-responsive" src="/build/img/front/accompagnement_fr_2x.png" width="800" height="700" style="padding: 20px 0px 10px 0px;" /></a></p>
    <div align="right">
      <a href="/fr/about/">Découvrir l'entreprise > </a>
    </div>
  </div>
</section>

<section id="section-stories">
  <div class="container">
    <h1 align="center" id="main-title-1" style="padding-top: 20px">Plongez-vous dans nos histoires</h1>
    {% include utils/make_posts.html %}
    {% for post in  posts offset: 0 limit: 4 %}
    {% include components/post_thumbnail.html content=post %}
    {% endfor %}
    <div align="right">
      <a href="/fr/posts/">Découvrir plus d'histoires > </a>
    </div>
  </div>
</section>
<section id="section-contact" style="padding-top:30px;">
  <div class="container">
    <div id="_contact-infos" class="row" itemscope itemtype="http://schema.org/Organization" >
      <meta itemprop="name" content="holusion" />
      <meta itemprop="logo" url="{{site.url}}/static/img/logo.png" />
      <div class="col-md-6 col-sm-12">
        <h3 style="padding-bottom: 10px">Venez nous rencontrer :</h3>
        {% include components/maps_api.html %}
      </div>
      <div class="col-md-6 col-sm-12">
        <h3 style="padding-bottom: 10px">Contactez-nous :</h3>
        <div class="panel panel-default">
          <div class="panel-body">
            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
            <span itemprop="telephone">+33 (0)9 72 42 44 51</span>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
              <span itemprop="streetAddress">99A Boulevard Constantin Descat</span>,
              <span itemprop="postalCode">59200</span>
              <span itemprop="addressLocality">Tourcoing</span>,
              <span itemprop="addressCountry">France</span>
            </span>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
            <a itemprop="email" class="contact-link">contact@holusion.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
