---
title: Boutique en ligne
layout: store
pixel:
  name: pixel
  price: 4.00
  icons:
    - Picto__Smartphone
    - Picto__Ventouse
  img: /static/img/products/pixel.jpg
  description: Transformez votre smartphone en affichage holographique, qui vous accompagnera au quotidien
  url: fr/store/index.html
  properties:
    - id : 1
    - quantity: 1
    - weight: 10
    - max-quantity: 100
pixelxl:
  name: pixel XL
  price: 6.00
  icons:
    - Picto__Smartphone
    - Picto__Ventouse
  img: /static/img/products/pixelxl_schema.jpg
  description: Faites jaillir des hologrammes de votre tablette. Adapté aux modèles de 8" à 11"
  url: fr/store/index.html
  properties:
    - id : 2
    - quantity: 1
    - weight: 30
    - max-quantity: 100
pixelplus:
  name: pixel +
  price: 7.00
  icons:
    - Picto__Smartphone
    - Picto__Smartphone
  img: /static/img/products/pixel+.jpg
  description: Faites apparaitre un hologramme dans ce boitier au design épuré. Pour smartphones de 4" à 6"
  url: fr/store/index.html
  properties:
    - id : 3
    - quantity: 1
    - weight: 140
    - max-quantity: 100
---



<div class="row">
  <div class="col-md-4">
    {% include shop/product.html data=page.pixel %}
  </div>
  <div class="col-md-4">
  {% include shop/product.html data=page.pixelxl %}
  </div>
  <div class="col-md-4">
  {% include shop/product.html data=page.pixelplus %}
  </div>
</div>
