---
layout: front_page
title: About us
---

<main id="lentreprise" class="main-dark main-grid">
  <div class="section section-center">
    <h2 class="text-white my-5" style="font-size: 3rem">About us</h2>
  </div>

  <section class="section">
    <div class="media">
      {% include components/medias/youtube.html embed="BxkKS4MsrIE" %}
    </div>
    <div class="content">
      <meta itemprop="logo" url="{{site.url}}/static/img/logo_holusion_web_HD.png" />
      <img class="img-fluid" style="margin:auto; display:block;" src="/static/img/logo_holusion_web_HD_texte_blanc.png" alt="logo Holusion multi résolution blanc" sizes="432px"
          srcset="/static/img/logo_holusion_web_216px_texte_blanc.png 216w, /static/img/logo_holusion_web_432px_texte_blanc.png 432w, /static/img/logo_holusion_web_SD_texte_blanc.png 720w">
      <h3 class="text-center">The innovative digital display specialist</h3>

    </div>
  </section>
  <div class="section section-white">
    <h2>Our expertise</h2> 
  </div>

  <section class="section section-center">
    <div class="content my-4">
      <p>
      Holusion is a french Startup, based in northern France, Lille. We design, manufacture and provide innovate display solutions based on <b>holographic technologies</b>.
      This optical illusion named <a href="../posts/2020-05-25-hologramme" title="Pepper's Ghost" target="_blank">Pepper's Ghost</a> is the result of the reflection of an image trhough a semi-transparent mirror.
      </p>
      <p>Our devices give you the impression of a free floating object. The holograms are in motion, colorful and true to the real aspect of the object.

      </p>      
    </div>

  </section>

  <section class="section left pt-4">
    {% picture grid img/sections/sketch_interactivity.png
      class="img-fluid m-auto"
      alt="drawing of a Holusion Prism holographic display"
    %}
    <div class="cube-contain mx-auto" style="grid-area: image;">
      <div class="cube">
        <div class="cube-face cube-top"></div>
        <div class="cube-face cube-bottom"></div>
        <div class="cube-face cube-left"></div>
        <div class="cube-face cube-right"></div>
        <div class="cube-face cube-front"></div>
        <div class="cube-face cube-back"></div>
      </div>
    </div>      
    <div class="content m-auto">
      <h3>Standard and custom made</h3>
      <p><b>Wish to have a special project or to know how to integrate an hologram is your exhibition?</b> 
      </p>
      <p>
        We have the know-how to create a wide range of standard <a href="/en/store">products</a> fitting most of the current needs. But we are also able to design you the right display for your <a href="/en/posts/2020-06-15-Article_Renoir">life-sized hologram</a>.
        </p>

      <div class="d-flex justify-content-center mb-4">
        <a href="/en/posts"><button class="btn btn-info image-shadow my-3">More about our projects</button></a>
      </div>

      <h3>Real-time interactive holograms</h3>
      <p>We aren't only a hardware provider, we also develop everyday new content and application running on our products.</p>
      <p>This smart and playful animations are used in education, marketing, product presentation and even highlighting cultural heritage.</p>
      <h3>Industry and guidance</h3>
      <p>Holusion stands for an industrial vision of our technology. We have the goal to make holographic display more accessible and enjoyable by everyone.
      <p><b>We provide an end-to-end support to our clients</b> in order to strive to a flawless experience.</p>
    </div>
  </section>

  <div class="section left">
    <h2>Our story</h2>
  </div>

  <section class="section left section-white">
    {% picture grid img/posts/about/plaineImages.jpg
      --img class="img-fluid"
      data-noisetest="1"
      --alt Plaine Images
      --picture class="m-auto"
    %}     
    <div class="timeline content py-5">
      <span class="timeline--point rounded-circle">
        <div class="rounded-circle mx-auto"></div>
      </span>
      <h3 class="d-inline">2014: Creation</h3>
      <p>
        Holusion story start the 6th or May 2014. Its co-founders Thibault Guillaumont and Sebastien Dumetz, both gratued from engineering schools, lead the company since its foundation. The <a href="http://www.plaine-images.fr/">Plaine Images</a> cluster offers a nice starting ground for product development and business opportunities.
      </p>
      <span class="timeline--point rounded-circle">
        <div class="rounded-circle mx-auto"></div>
      </span>
      <h3 class="d-inline">2016: French Tech</h3>
      <p>
        In northern France, local authorities helps develop new startups and innovative technologies. This dynamic ecosystem is branded <a href="http://www.lafrenchtech.com">“Lille is French Tech”</a> in order to bring together the most promising innovators in the region.
      </p>
      <span class="timeline--point rounded-circle">
        <div class="rounded-circle mx-auto"></div>
      </span>
      <h3 class="d-inline">2018 : BIM & Museums</h3>
      <p>
        Holusion successively launchs two business solutions. The holographic museum, <a href="../posts/2019-02-15-holomouseio.html">Holomouseio</a> for cultural heritage, scientific and education projects, and XXL holographic models for the real-estate with the <a href="../products/iris75.html">Iris75</a>
      </p>
      <span class="timeline--point rounded-circle">
        <div class="rounded-circle mx-auto"></div>
      </span>
      <h3 class="d-inline">2020: International development</h3>
      <p>
        New holographic projects keep on arriving in France with new museums and companies, but we also start to provide holographic display and content abroad. Our products are exported to neighbouring countries as we build new international partnership such as Genoa University for architecture or Liege University for cultural heritage <a href="../posts/2019-12-01-RECON.html">digitization</a>.
      </p>
    </div>
  </section>

  <section class="section section-center">
    <h2>Our values</h2>
    <div class="content">
      <div class="section-center--header d-flex">
        {% picture img/sections/icone_french.png
          --img class="section-center--icon p-3"
          style="width:120px"
          --alt icone french
        %}
        <h3 class="my-auto">Supporting local digital excellence </h3>
      </div>
      <p>
        We are proud to provide a <b>Made In France</b> holographic solution.
        Our suppliers are mostly local actors and we take care directly of the product assembly and preparation in our workshop. This short supply chain allows us to be reactive and adaptative to our customer needs.
      </p>
      <div class="section-center--header d-flex">
        {% picture img/sections/icone_patrimoine.png
          --img class="section-center--icon p-3"
          style="width:120px"
          --alt icone heritage
        %}
        <h3 class="my-auto">Promote scientific and cultural heritage</h3>
      </div>
      <p>As a partner of <a href="http://www.museomix.org/" target="_blanc">Museomix</a> and other academic projects, we are part of a community of scientific and cultural enthusiasts striving for a more open and interactive museum. We help events and projects in this area.</p>
      <div class="section-center--header d-flex">
        {% picture img/sections/icone_open_source.png
          --img class="section-center--icon p-3"
          style="width:120px"
          --alt icone open source
        %}
        <h3 class="my-auto">Open sourced philosophy</h3>
      </div>
      <p>Holusion is commited to the <a href="https://www.gnu.org/philosophy/floss-and-foss.fr.html">free or open-source software devlopement </a>. We participate to the constant improvement of the software we use and create new tools <a href="https://github.com/Holusion">available</a> for the community. We promote this free software mindest to our coworkers and stakeholders.</p>
      <p>We believe that free software access for companies and individuals must be maintained. Every project respect this <a href="https://www.gnu.org/philosophy/free-sw.html">fundamental freedom</a> for users.</p>
      <p>A platform regrouping our <a href="/dev/en/">technical ressources</a> give you all you need for holographic content creation.</p>        
    </div>    
    </div>
  </section>

  <section class="section">
    <img alt="Imaginarium Plaine Images" class="img-fluid cover mx-auto" style="max-height: 600px; object-position: 0 15%;" src="/static/img/products/plaineimages.jpg"/>
    <div class="content">
      <h2>About Holusion</h2>
      <div class="d-flex">
        <div class="text-info pr-2" style="font-size: 4rem;">&#8223</div>
        <blockquote class="blockquote pt-4">
          <p>It's a better way to look at thing, because now, it's 3D, instead of just 2D</p>
          <footer class="blockquote-footer">Tek Syndicate, VivaTech 2016</footer>
        </blockquote>        
      </div>
      <div class="d-flex">
        <div class="text-info pr-2" style="font-size: 4rem;">&#8223</div>
        <blockquote class="blockquote pt-4">
          <p>Eveyone can create and develop new application for a wide range of use cases</p>
          <footer class="blockquote-footer">Plaine Images Cluster</footer>
        </blockquote>        
      </div>
      <div class="d-flex">
        <div class="text-info pr-2" style="font-size: 4rem;">&#8223</div>
        <blockquote class="blockquote pt-4">
          <p>A reference for holograms and 3D content</p>
          <footer class="blockquote-footer">La Voix du Nord</footer>
        </blockquote> 
      </div>
    </div>
  </section>
  <div class="section section-white">
    <h2>L'équipe</h2>
  </div>

  <section class="section section-center ">
      <div class="content view-team text-center pt-5 row g-0 d-flex justify-content-center">
        <div class="col-lg-4 col-sm-6">
          {% include components/team_member_portrait.html
            img="thibault"
            name="Thibault Guillaumont"
            title="Founder and CEO"
            url="https://www.linkedin.com/in/thibaultguillaumont/"
          %}
        </div>
        <div class="col-lg-4 col-sm-6">
          {% include components/team_member_portrait.html
            img="seb"
            name="Sebastien Dumetz"
            title="Founder and CTO"
            url="https://www.linkedin.com/in/sebastien-dumetz-67442b86/"
          %}
        </div>
        <div class="col-lg-4 col-sm-6">
          {% include components/team_member_portrait.html
            img="melissa"
            name="Mélissa Houyez"
            title="3D Artist"
          %}
        </div>
        <div class="col-lg-4 col-sm-6">
          {% include components/team_member_portrait.html
            img="maria"
            name="Maria Quiroga"
            title="Project Manager"
            url="https://www.linkedin.com/in/maria-jos%C3%A9-q-ab9aa3123/"
          %}
        </div>
        <div class="col-lg-4 col-sm-6">
          {% include components/team_member_portrait.html
            img="sarah"
            name="Sarah Menouar"
            title="Developer"
          %}
        </div>
      </div>
  </section>

  <section id="partners" class="section section-center">
      <h2>Our partners</h2>
      <div class="content">
        <div class="d-flex flex-wrap justify-content-center">
            <a href="https://www.plaine-images.fr/"><img alt="Plaine images" src="/static/img/front/sponsors/logo_plaine_images.png"/></a>
            <a href="https://www.bpifrance.fr/"><img alt="BPI France" src="/static/img/front/sponsors/logo_bpifrance.png"/></a>
            <a href="https://www.univ-lille.fr/"><img alt="Université de Lille" src="/static/img/front/sponsors/logo_Ulille.png"/></a>
            <a href="https://www.hautsdefrance-id.fr/"><img alt="HDFID" src="/static/img/front/sponsors/logo_HDFID.png"/></a>
            <a href="https://www.industrilab.fr/"><img alt="Industrilab" src="/static/img/front/sponsors/logo_industrilab.png"/></a>
            <a href="https://lilliad.univ-lille.fr/"><img alt="Lilliad Learning Center" src="/static/img/front/sponsors/logo_lilliad.png"/></a>
            <a href="https://lafrenchtech.com/fr/"><img alt="French Tech" src="/static/img/front/sponsors/logo_french_tech.png" /></a>
            <a href="https://www.laval-virtual.com/fr/accueil/"><img alt="Laval Virtual Center" src="/static/img/front/sponsors/logo_laval_virtual.png"/></a>
            <a href="https://www.uphf.fr/"><img alt="Université Polytechnique Hauts de France" src="/static/img/front/sponsors/logo_uphf.png"/></a>
            <a href="https://www.uliege.be/"><img alt="Université de Liège" src="/static/img/front/sponsors/logo_Uliege.png"/></a>
            <a href="https://architettura.unige.it/"><img alt="Université de Gènes DAD" src="/static/img/front/sponsors/logo_Ugenova.png"/></a>
            <a href="https://www.quaibranly.fr/"><img alt="Musée du Quai Branly" src="/static/img/front/sponsors/logo_quai_branly.png"/></a>
            <a href="https://www.eccl.lu/"><img alt="ECCL" src="/static/img/front/sponsors/logo_ECCL.png"/></a>
          </div>
        </div>  
      </div>
  </section>

  <section class="section section-center">
    <h2>Our customers</h2>
    <div class="content mb-0">
      <div id="clients" class="row mb-5">

        <ul class="col-lg-4">
          <h3 class="mb-4">Construction & Industry</h3>
          <li><a href="/en/posts/2017-11-13-le_31_en_hologramme">Vinci Immobilier</a></li>
          <li><a href="https://www.linkcity.com/">Linkcity</a></li>
          <li><a href="/en/posts/2018-06-04-Viva_Technology_2018">Bouygues Immobilier</a></li>
          <li><a href="https://www.adim.fr/">ADIM</a></li>
          <li><a href="/en/posts/2017-11-13-le_31_en_hologramme">Vinci Construction</a></li>
          <li><a href="/en/posts/2019-07-01-SHAKE">Nacarat</a></li>
          <li><a href="/en/posts/2021-02-18-PierreDeSeine">Pierre de Seine</a></li>
          <li><a href="https://www.saint-quentin-en-yvelines.fr/fr">Saint Quentin en Yvelines</a></li>
          <li><a href="https://www.egger.com/shop/fr_FR/">Egger</a></li>
        </ul>

        <ul class="col-lg-4">
          <h3 class="mb-4">Cultural Heritage & Museums</h3>
          <li><a href="/en/posts/2020-06-15-Article_Renoir">Maison Fournaise</a></li>
          <li><a href="/en/posts/2016-06-30-nausicaa">Nausicaa</a></li>
          <li><a href="/en/posts/2020-02-26-Musee-du-Sport">Musée National du Sport</a></li> 
          <li><a href="/en/posts/2020-07-21-Article_Alencon">Chateau d'Alençon</a></li>
          <li><a href="/en/posts/2018-11-01-CaTisseFactory">Ville de Roubaix</a></li>
          <li><a href="/en/posts/2017-10-03-ALL">Région Hauts-de-France</a></li>
          <li><a href="/en/posts/2021-02-18-PierreDeSeine">Pierre de Seine</a></li>
          <li><a href="https://www.saint-quentin-en-yvelines.fr/fr">Saint Quentin en Yvelines</a></li>
          <li><a href="https://www.belgium.be/fr/la_belgique/pouvoirs_publics/autorites_federales/parlement_federal">Parlement Féderal Wallonie Bruxelles</a></li>
        </ul>

        <ul class="col-lg-4">
          <h3 class="mb-4">Marketing</h3>
          <li><a href="https://services.global.ntt/">NTT EUROPE</a></li>
          <li>Stryker</li>
          <li><a href="/en/posts/2021-02-17-Mokka">Claro Automobiles</a></li>
          <li><a href="/en/posts/2018-03-20-CTG-iris75"></a>CTG Luxembourg</a></li>
          <li><a href="/en/posts/2020-11-16-Oxelo">Decathlon</a></li>
          <li><a href=" https://www.ag2rlamondiale.fr/">AG2R La Mondiale</a></li>
          <li>Cardiff</li>
          <li><a href="/en/posts/2017-06-23-Salon_du_bourget_Thales">Thales</a></li>
          <li><a href="https://www.agro.basf.fr/fr/">BASF</a></li>
        </ul>
      </div>

    </div>
  </section>

</main>