---
layout: front_page
title: About us
---

{% include components/section_title.html title="L'entreprise" %}
<div class="img-fluid" style="width:100%;height:300px;background:url('/static/img/front/bandeau_entreprise_1.jpg') left/cover;"></div>

{% ariane %}
<section id="lentreprise">
  <div class="container" id="content">
    <h1 align="center" style="padding-bottom: 20px">Our expertise</h1>

    <div class="row">
      <div class="col-md-6" style="padding-top: 70px">
        <h3>The innovative digital display specialist</h3>
        <p>Holusion designs, develops and markets <a href="/en/products">innovative display solutions</a> based on the technology of <strong>transparent screen</strong> and <strong>digital holography</strong>, an illusion commonly known as <a href="https://en.wikipedia.org/wiki/Pepper%27s_ghost"target="_blank">Pepper's Ghost</a>.</p>
        <p>We propose these tools and new medias to the companies who want to interact differently with their clients, students or collaborators. This allows them to improve the promotion of their product, their brand and their product's use</p>
      </div>
        <div class="col-md-6">
          {% include components/medias/youtube.html embed="X632FtYIVoM" %}
        </div>
    </div>

    <div class="row" style="padding-top: 30px">
      <div class="col-md-6" style="padding-top : 20px">
      <h3>Personalised support</h3>
      <p>You want to create an innovating project to enhance your business but you do not yet have a precise idea ? We are here to recommend you and to guide you in the choice of <a href="/en/products">your solution</a> as well as in the creation of custom products !
      Explore our <a href="/en/posts">Business Cases</a> to see some expreriences we already developped for our clients and partners.</p>
      <p>All ready a hologram specialist ? Our <a href="https://dev.holusion.com/en/">online technical resources</a> will make you go even further.</p>

      <h3>Innovative positioning</h3>
      <p>Holusion has an <strong>industrial vision</strong> of its business : its ambition is to democratize holographic solutions. But Holusion develops more and more <strong>a strong consulting dimension</strong>. The company assists its clients and influencers to develop an adapted and successful project.</p>
    </div>

      <div class="col-md-6" style="padding-top: 40px">
        <img style="padding-top: 30px" alt="Step by step" class="img-fluid" src="/static/img/products/step.png"/>
        </div>
    </div>


<h1 align="center" style="padding: 30px 0px 10px 0px">Our story</h1>

<div class="row" style="padding-bottom: 30px">
  <div class="col-lg-6 col-md-12">
    <h3>From project to company</h3>
    <p>2012, two engineering students, Thibault Guillaumont and Sebastien Dumetz, launched the Holusion adventure.
      Gratuated from <a href="http://centralelille.fr" target="_blanc">école Centrale de Lille</a> and <a href ="http://www.isen.fr/" target="_blanc">ISEN</a> schools, the met around a <i>Start-up Weekend</i> at the local Chamber of Commerce and Industry.
      After getting their first grants, their first holographic display was produced.</p>
    <p>The project was incubated at <a href="http://www.tonic-incubation.com/">Tonic Incubation</a>. Holusion is officially founded the 6th of May 2014 and begin its business devlopement.
      The startup relied on the <a href="http://www.plaine-images.fr/">Plaine Images</a> cluster in Lille for it acceleration.
      This cluster host an ecosystem of companies and research in innovation and digital creativity.</p>
    <h3>French Tech</h3>
    <p>The Hauts-de-France region promotes and support new technologies devlopment.
      This successful ecosystem is rewarded by the <a href="http://www.lafrenchtech.com/metropole/lille-french-tech">“Lille is French Tech”</a> label in 2014.</P>

  </div>

<div class="col-lg-6 col-md-12">
  <img style="padding-top: 30px" alt="Picto Focus" class="img-fluid" src="/static/img/products/made_in_france.jpg"/>
</div>
</div>

<h1 align="center" style="padding: 30px 0px 20px 0px">Our values</h1>

<div class="row" style="padding-bottom: 30px">
  <div class="col-lg-6 col-md-12">
    <h3>At the heart of French Innovation</h3>
    <p>We always wanted to anchor our activity in french territory. With ou <i>Made in France</i> label, we really belong to the <i>French Tech</i> movement.
Our suppliers mostly come from our region and the holographic display are manufactured in our workshop in Tourcoing. The promixity between all actors allows us to have a lot of flexibility.</p>

    <h3>Cultural heritage</h3>
    <p>As a partner of the <a href="http://www.museomix.org/" target="_blanc">Museomix</a> association, we are part of a community striving for culture, technologies and innovations. We share an ambition for more open, connected and participative museums. Therefore, we support them every year to make a 3 days "creative marathon" happen at the beginning of November in a new museum.</p>
    <h3>Open Source philosophy</h3>
    <p>Holusion is commited to the <a href="https://www.gnu.org/philosophy/floss-and-foss.fr.html">free or open-source software devlopement </a>. We participate to the constant improvement of the software we use and create new tools <a href="https://github.com/Holusion">available</a> for the community. We promote this free software mindest to our coworkers and stakeholders</p>
    <p>We believe that free software access for companies and individuals must be maintained. Every project respect this<a href="https://www.gnu.org/philosophy/free-sw.html"> fundamental freedom</a> for users.</p>
    <p>A platform regrouping our <a href="https://dev.holusion.com">technical ressources</a> give you all you need for holographic content creation.</p>

  </div>
  <div class="col-lg-6 col-md-12">
    <img alt="Imaginarium Plaine Images" class="img-fluid" src="/static/img/products/plaineimages.jpg"/>
  </div>
</div>

<h1 align="center" style="padding: 30px 0px 10px 0px">About Holusion</h1>

<div class="row" style="padding-bottom: 30px">
<p><blockquote><i><h3>"It's a better way to look at thing, because now, it's 3D, instead of just 2D"</h3></i><p><font size="2pt">Tek Syndicate, VivaTech 2016</font></p></blockquote></p>
  <p><blockquote><i><h3>"Eveyone can create and develop new application for a wide range of use cases"</h3></i><p><font size="2pt">Plaine Images Cluster</font></p></blockquote></p>
  <p><blockquote><i><h3>" A reference for holograms and 3D content "</h3></i><p><font size="2pt">La Voix du Nord</font></p></blockquote></p>
  <p><blockquote><i><h3>" The greatest company ever made "</h3></i><p><font size="2pt">Our grandparents</font></p></blockquote></p>
</div>

</div>
</section>

  <section id="section-equipe" class="section section-equipe" style="padding:30px 0px 50px 0px;background-color:#eeeeee;">
    <div class="container">
      <div class="row">
        <h1 align="center" style="padding-bottom: 20px">L'équipe</h1>
        <div class="content view-team" align="center">
          {% include components/team_member_portrait.html
            img="thibault"
            name="Thibault Guillaumont"
            title="Founder and CEO"
            url="https://www.linkedin.com/in/thibaultguillaumont/"
          %}
          {% include components/team_member_portrait.html
            img="seb"
            name="Sebastien Dumetz"
            title="Founder and CTO"
            url="https://www.linkedin.com/in/sebastien-dumetz-67442b86/"
          %}
          {% include components/team_member_portrait.html
            img="/aline"
            name="Aline Neznal"
            title="Communication manager"
          %}
          {% include components/team_member_portrait.html
            img="yann"
            name="Yann Dubois"
            title="Developper"
          %}
          {% include components/team_member_portrait.html
            img="melissa"
            name="Mélissa Houyez"
            title="3D Artist"
          %}
          </div>
        </div>
      </div>
    </section>

  <section id="section-clients" align="center">
    <h1 align="center" style="padding-bottom: 20px"> Our partners</h1>

<div class="container">
  <div class="row" style="padding-bottom: 30px" align="center">
    <div class="col-lg-3 col-md-6">
      <img alt="Cap digital" class="img-fluid" src="/static/img/front/sponsors/cap-digital.jpg"/>
    </div>
    <div class="col-lg-3 col-md-6">
      <img alt="Picom" class="img-fluid" src="/static/img/front/sponsors/picom.jpg"/>
    </div>
    <div class="col-lg-3 col-md-6">
      <img alt="Plaine images" class="img-fluid" src="/static/img/front/sponsors/plaine-image.jpg"/>
    </div>
    <div class="col-lg-3 col-md-6">
      <img alt="Tonic incubation Lille" class="img-fluid" src="/static/img/front/sponsors/tonic.jpg"/>
    </div>
  </div>


  <div class="row" style="padding-bottom: 30px" align="center">
    <div class="col-lg-3 col-md-6">
      <img alt="BPI France" class="img-fluid" src="/static/img/front/sponsors/bpi.jpg"/>
    </div>
    <div class="col-lg-3 col-md-6">
      <img alt="LMI" class="img-fluid" src="/static/img/front/sponsors/lmi.jpg"/>
    </div>
    <div class="col-lg-3 col-md-6">
      <img alt="JEF label" class="img-fluid" src="/static/img/front/sponsors/jef.jpg"/>
    </div>
    <div class="col-lg-3 col-md-6">
      <img alt="Bizspark" class="img-fluid" src="/static/img/front/sponsors/bizspark.jpg"/>
    </div>
  </div>

</div>
<div onmouseover="document.getElementById('daftpunk').style.opacity = '1'" onmouseout="document.getElementById('daftpunk').style.opacity = '0'"><b>About us</b></div>
<div id="daftpunk" style="opacity:0; transition:opacity 0.5s linear">
  It might not be the right time<br/>
I might not be the right one<br/>
But there's something about us I want to say<br/>
Cause there's something between us anyway<br/>
</div>
  </section>
