<section class="section section-center" id="pricing">
<div class="container jumbotron bg-white text-dark shadow my-0 py-4">
<div id="section-pricing-content" class="main-header-body container p-0">
  <div class="pricing-grid content shadow rounded bg-white row no-gutters">
    <div class="pricing-grid-brand navbar-brand text-secondary text-center text-lg-left">Découvrez nos offres</div>
    <nav role="navigation" id="pricing-grid-nav" class="pricing-grid-aside">
      <ul class="nav d-flex flex-row flex-xl-column">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#products" role="tab" aria-controls="produits">
            {% asset icons/ui/resize-24px.svg @inline %}
            Location/vente
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#models" role="tab" aria-controls="maquettes">
            {% asset icons/ui/apartment-24px.svg @inline %}
            Maquettes
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#admin" role="tab" aria-controls="administration">
            {% asset icons/ui/transfer-24px.svg @inline %}
            Administration
          </a>
        </li>
      </ul>
    </nav>
    <div class="tab-content pricing-grid-content px-lg-2">
      <div id="products" class="tab-pane fade show active">
        <div class="tab-header">
          <h2 class="text-center">Des générateurs d'hologrammes Made in France</h2>
          <div class="text-center">
            <p>Nos meilleures solutions pour la présentation de vos maquettes en hologrammes.</p>
            <p>A louer le temps d'un salon, ou à acheter pour chez vous.</p>
          </div>
        </div>
        <div class="table-responsive-md">
          <table class="table prices-table">
            <thead>
              <tr class="bg-primary text-white">
                {% for product in site.data.pricing.products %}
                  <th scope="col">{{product.name}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for product in site.data.pricing.products %}
                  <td>
                    <span>à partir de</span>
                    <h5 class="text-right text-secondary"><span class="priceTag"> {{product.price}}</span>€ HT</h5>
                  </td>
                {% endfor %}
                </tr>
                <tr>
                {% for product in site.data.pricing.products %}
                  <td>
                    <span>Vous préférez la location ?</span>
                    <h6 class="text-right text-secondary italic"><span class="priceTag"> {{product.renting}}</span>€ HT</h6>
                    <small class="d-block w-100 text-right">Location sur 3 jours</small>
                  </td>
                {% endfor %}
              </tr>

              <tr>
                {% for product in site.data.pricing.pricingproducts %}
                  <td>
                    <ul class="list-group list-group-flush">
                      {% for prop in product.properties %}
                        <li class="list-group-item">{{prop}}</li>
                      {% endfor %}
                    </ul>
                  </td>
                {% endfor %}
              </tr>
              <tr>
                {% for product in site.data.pricing.products %}
                  <td class="text-right"><a href="{{product.url}}">en savoir plus</a></td>
                {% endfor %}
              </tr>
              <tr>

              {% for product in site.data.pricing.products %}
              <td>
                <video poster="{{assets[model.img].digest_path}}" muted autoplay loop>
                  <source src="/static/video/pricing/{{product.video}}" type="video/mp4">
              {% asset {{product.img}}
                class="img-fluid"
                sizes="100w"
                alt="animation de l'offre"
              %}
              </video>

                </td>
              {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
        <div class="w-100 text-right px-2 quotation">
          Découvrez notre <a href="/fr/products/">gamme complète</a><br/>
          {% include components/contact_button.html txt="Demandez un devis"%}
        </div>
      </div>


      <div id="models" class="tab-pane fade">
        <div class="tab-header">
          <h2 class="text-center">Notre offre de maquettes numériques</h2>
          <div class="text-center">
            <p>La conversion de votre maquette en hologrammes depuis les fichiers BIM est <a href="/fr/posts/2019-07-01-SHAKE#video">notre spécialité</a>.</p>
            <p> Choisissez votre offre pour les projets de moins de 10 000m² de sdp.</p>
          </div>
        </div>
        <div class="table-responsive-md">
          <table class="table prices-table">
            <thead>
              <tr class="bg-primary text-white">
                {% for model in site.data.pricing.models %}
                  <th scope="col">{{model.name}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for model in site.data.pricing.models %}
                  <td>
                    <h5 class="text-right text-secondary"> <span class="priceTag">{{model.price}}</span> €</h5>
                    <small class="d-block w-100 text-right">par maquette</small>
                  </td>
                {% endfor %}
              </tr>
              <tr>
                {% for model in site.data.pricing.models %}
                  <td>
                    <ul class="list-group list-group-flush">
                      {% for desc in model.description %}
                        <li class="list-group-item font-italic">{{desc}}</li>
                      {% endfor %}
                    </ul>
                  </td>
                {% endfor %}
              </tr>
              <tr>
                  {% for model in site.data.pricing.models %}
                  <td>
                    <video poster="{{assets[model.img].digest_path}}" muted autoplay loop>
                      <source src="/static/video/pricing/{{model.video}}" type="video/mp4">
                  {% asset {{model.img}}
                    class="img-fluid"
                    sizes="100w"
                    alt="animation de l'offre"
                  %}
                  </video>
                  </td>
                  {% endfor %}
              </tr>
              <tr>
                {% for model in site.data.pricing.models %}
                  <td>
                    <span class="text-bold">Inclus :</span>
                    <ul class="list-group list-group-flush">
                      {% for prop in model.properties %}
                        <li class="list-group-item">{{prop}}</li>
                      {% endfor %}
                    </ul>
                  </td>
                {% endfor %}
              </tr>

              <tr>
                {% for model in site.data.pricing.models %}
                  <td class="text-right">{% include components/contact_button.html txt="contactez-nous"%}</td>
                {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div id="admin" class="tab-pane fade">
        <div class="tab-header">
          <h2 class="text-center">Notre offre de services de gestion</h2>
          <div class="text-center">
            <p>Contrôlez votre hologramme en autonomie et en toute sérénité.</p>
            <p>Avec nos solutions professionelles, profitez d'une administration en ligne en Cloud, d'une gestion à distance et d'une application tablette pour rendre votre <a href="/fr/interaction/">hologramme interactif</a></p>
          </div>
        </div>
        <div class="table-responsive-md">
          <table class="table prices-table">
            <thead>
              <tr class="bg-primary text-white">
                {% for service in site.data.pricing.services %}
                  <th scope="col">{{service.name}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              <tr>
                {% for service in site.data.pricing.services %}
                  <td>
                    <span>{{service.note}}</span>
                    <h5 class="text-right text-secondary">{{service.price}}</h5>
                    {% if service.yearly %}
                      <small class="d-inline-block w-100 text-right">engagement 12 mois</small>
                      {% endif %}
                  </td>
                {% endfor %}
              </tr>
              <tr>
                {% for service in site.data.pricing.services %}
                  <td>
                    <ul class="list-group list-group-flush">
                      {% for prop in service.properties %}
                        <li class="list-group-item">{{prop}}</li>
                      {% endfor %}
                    </ul>
                  </td>
                {% endfor %}
              </tr>
              <tr>
                {% for service in site.data.pricing.services %}
                  <td class="text-right">{% include components/contact_button.html txt="contactez-nous"%}</td>
                {% endfor %}
              </tr>
            </tbody>
          </table>


        </div>
      </div>
    </div>
    <!-- ensure href hashs are kept between refreshs -->
    <script defer src="/static/js/tabs-links.js"></script>
  </div>
</section>
