<div class="rs">
  {% include components/social_icon.html name="facebook" link="https://fr-fr.facebook.com/holusion" %}
  {% include components/social_icon.html name="twitter" link="https://twitter.com/holusion" %}
  {% include components/social_icon.html name="youtube" link="https://www.youtube.com/channel/UChquBpE1S5zFjUbtZWddZMQ" %}
  {% include components/social_icon.html name="pinterest" link="https://www.pinterest.com/holusion0358/" %}
  {% include components/social_icon.html name="linkedin" link="https://www.linkedin.com/company/holusion/" %}
</div>
