---
layout: front_page
---

{% include components/section_title.html title="Usages" %}

{% ariane %}

<div class="container">

  <h1 id="main-title-1" class="rtecenter" style="padding: 30px 0px 25px 0px">Vivre l'expérience interactive</h1>

  <p class="rtecenter" style="padding: 30px 90px 30px 90px">Créer de l'émotion autour de votre présentation, cela ne devrait pas être laissé au hasard. Nous travaillons pour que l'hologramme soit une découverte, un jeu, un apprentissage.
    Ces outils innovants peuvent être utilisés pour dévoiler le meilleur de vos produits, présenter vos innovations techniques et tisser un lien fort entre vous et vos visiteurs.</p>

</div>
<div id="apprendre" style="background: url('/static/img/usages/focus_interactif_formation.jpg') center/cover;width:100%;height:300px;padding-top:100px;text-align:center;margin:40px 0 20px 0;">
    <font size="3pt"><h1 style="color:white;">APPRENDRE</h1></font>
</div>
<div class="container">

  <p><blockquote><i><h3>"C'est une meilleure façon de voir les choses parceque la 3D remplace la 2D"</h3></i><p><font size="2pt">Tek Syndicate, VivaTech 2016</font></p></blockquote></p>


  <p align="center" style="padding: 30px 100px 40px 100px">La pédagogie numérique tire le meilleur de l'hologramme interactif. Déjà plusieurs marques et institutions l'utilisent pour présenter leurs concepts et les rouages de leur activité. Voici donc de nouveaux outils pour transmettre votre savoir-faire. Nous voulons construire avec vous une expérience ludique et un apprentissage interactif.</p>

  <div class="row">
    <div class="col-md-6 col-xs-12" align="center">
      {% svg static/img/usages/snowflake.svg width=40 %}
      <h3 align="center">Guider vos présentations</h3>
      <p align="justify">L'hologramme atténue les frontières entre le réel et le virtuel pour vous immerger dans votre découverte. Explorez des vues éclatées de vos sujets, regardez au travers avec une précision surprenante. Nos solutions sont à votre service pour que vos présentation prennent une dimension supplémentaire, qu'elles deviennent plus accessible et plus ludiques.</p>
      <p>Découvrez l'application <a href="http://holusion.github.io/stingray">STINGRAY</a>. Elle vous permet de prendre en main l'hologramme facilement, de le faire tourner ou encore de le décomposer.</p>
      <p align="justify">Découvrez :  <a href="/fr/posts/2014-09-15-modelisation_3D_medicalee">Modélisation 3D médicale</a></p>
    </div>
    <div class="col-md-6 col-xs-12" align="center">
      <div align="center" class="embed-responsive embed-responsive-16by9">
        <iframe width="360" height="115" src="https://www.youtube.com/embed/3aYApae0Adc" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 40px">
    <div class="col-md-6 col-xs-12" align="center">
      {% svg static/img/usages/legende.svg width=40 %}
      <h3 align="center">Enrichir vos contenus</h3>
      <p align="justify">Votre produit est au centre de toute chose. Valorisez-le en affichant des informations qui le concerne en temps réel. Légendes, descriptions, chiffres, tant d'éléments facilement mémorisables lorsqu'ils apparaissent en hologrammes... Informez vos clients et aidez vos utilisateurs à comprendre votre projet.</p>
    </div>
    <div class="col-md-6 col-xs-12" align="center">
      <div align="center" class="embed-responsive embed-responsive-16by9">
        <iframe width="460" height="215" src="https://www.youtube.com/embed/5FO8dMOvqPw" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

</div>
<div id="percevoir" style="background: url('/static/img/usages/prism_interactif_catalogue.jpg') center/cover;width:100%;height:300px;padding-top:100px;text-align:center;margin:40px 0 20px 0;">
  <font size="3pt"><h1 style="color:white;">PERCEVOIR</h1></font>
</div>
<div class="container">

  <p align="center" style="padding: 30px 100px 40px 100px">Et si l'affichage innovant vous faisait ressentir l'expérience produit ? Devenue une véritable vitrine interactive, l'hologramme met en avant vos produits de façon inédite. Une découverte ludique de votre catalogue et une personnalisation produits en temps réel est offerte aux clients.</p>

  <div class="row">
    <div class="col-md-6 col-xs-12" align="center">
      {% svg static/img/usages/dress.svg width=48 %}
      <h3 align="center">Créer votre showcase</h3>
      <p align="justify">Vos clients ont envie de vivre une expérience intéressante sur votre espace de vente. Affichez vos produits en hologramme à 360° afin de présenter votre catalogue de façon réaliste et complète à vos clients. Vous verrez ainsi apparaître une fidélisation plus importante de la part de vos clients. Repoussez encore les limites de l'expérience en invitant vos clients à personnaliser leurs produits favoris.</p> <p align="justify">Découvrez :  <a href="http://holusion.com/fr/histoire/smart-shopping-experience">Smart Shopping experience 2016</a></p>
    </div>
    <div class="col-md-6 col-xs-12" align="center">
      <div align="center" class="embed-responsive embed-responsive-16by9">
        <iframe width="460" height="215" src="https://www.youtube.com/embed/f0XjyiXdgGY?list=PLUHVztX-fSBAZACo6Msqf1u8hvV1R-pdV" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 50px">
    <div class="col-md-6 col-xs-12" align="center">
      {% svg static/img/usages/emotion.svg width=48 %}
      <h3 align="center">Mettre en avant</h3>
      <p align="justify">La dimension magique et inédite de l'hologramme ne laissera pas vos spectateurs indifférents. Appuyez-vous sur cet avantage pour créer des émotions autour de votre marque et de vos produits. La révélation d'un nouveau produit ou d'un projet sera d'autant plus surprenante si elle s'appuie sur l'affichage innovant.</p> <p align="justify">Découvrez :  <a href="http://holusion.com/fr/histoire/revelation-inedite-evenementiel">Révélation au Com en Or Trophy</a></p>
    </div>
    <div class="col-md-6 col-xs-12" align="center">
      <div align="center" class="embed-responsive embed-responsive-16by9">
        <iframe width="460" height="215" src="https://www.youtube.com/embed/zo5_TfDVQMU?list=PLUHVztX-fSBAZACo6Msqf1u8hvV1R-pdV" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

</div>
<div id="transformer" style="background: url('/static/img/usages/prism_interactif_transformer.jpg') center/cover;width:100%;height:300px;padding-top:100px;text-align:center;margin:40px 0 20px 0;">
  <font size="3pt"><h1 style="color:white;">TRANSFORMER</h1></font>
</div>
<div class="container">

  <p align="center" style="padding: 30px 100px 40px 100px">L'hologramme va encore plus loin. Il s'appuie sur l'avantage du digital : enregistrer virtuellement des informations pour les préserver à jamais. En d'autres termes l'hologramme est le résultat d'une transformation du réel en virtuel. Cette transformation peut aussi s'opérer sur vos idées, vos projets qui seront ainsi valorisés de façon inédite. Oserez-vous faire la différence ?</p>

  <div class="row">
    <div class="col-md-6 col-xs-12" align="center">
      {% svg static/img/usages/amphora.svg width=40 %}
      <h3 align="center">Passer du physique au numérique</h3>
      <p align="justify">La transmission du patrimoine est au coeur de nombreux débats. L'hologramme nous donne le moyen de préserver et restituer vos oeuvres dans un état de conservation parfait. Les vestiges archéologiques, le patrimoine culturel, la mémoire de personnes disparues... tant de réalités qui peuvent être transmises de façon précise et réaliste grâce à l'hologramme.

</p> <p align="justify">Découvrez : <a href="http://holusion.com/fr/histoire/archeologie-en-hologrammes">Fouille archéologique innovante</a> / <a href="http://holusion.com/fr/histoire/futur-en-seine-2016">Projet Bagdad 3D présenté à Futur en Seine 2016</a>
      </div>
      <div class="col-md-6 col-xs-12" align="center">
        <div align="center" class="embed-responsive embed-responsive-16by9">
          <iframe width="460" height="215" src="https://www.youtube.com/embed/VE-pYEgT_Cc" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div class="row" style="padding-top: 50px">
      <div class="col-md-6 col-xs-12" align="center">
        {% svg static/img/usages/idea.svg width=48 %}
        <h3 align="center">Donner de l'idée à l'image</h3>
        <p align="justify">Dès sa conception misez sur les avantages de l'hologrammes pour déployer vos idées, concepts ou jeux. Vous serez ainsi unique aux yeux de vos clients en créant vos jeux vidéo, quizz et autres applications en hologramme.</p> <p align="justify">Découvrez :  <a href="http://holusion.com/fr/histoire/lhologramme-nausicaa">Maquette d'extension de Nausicaa</a> / <a href="http://holusion.com/fr/histoire/tweetfeed-en-hologramme">Tweetfeed innovant au Museum Connections 2016</a> / <a href="http://holusion.com/fr/histoire/museohub-4">Projet Tisse-Factory à Roubaix</a></p>
      </div>
      <div class="col-md-6 col-xs-12" align="center">
        <div align="center" class="embed-responsive embed-responsive-16by9">
          <iframe width="460" height="215" src="https://www.youtube.com/embed/7Db2IJ78-kA" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
</div>
<div class="container">
    <h2 align="center" style="padding-top : 50px">Découvrez nos produits :</h2>
    {% include utils/make_products.html %}
    {% for product in products limit:4 %}
    {% include components/post_thumbnail.html content=product %}
    {% endfor %}
  </div>
</div>
