---
title: Commerce augmenté
image: /static/img/posts/commerce_digital_augmente/commerce_hologramme_interactif.jpg
abstract: Un pas vers le commerce de demain
tags: commerce
---

<div><img class="img-fluid" alt="Presentation de produit hologrammes 3D Holusion Focus" src="/static/img/posts/commerce_digital_augmente/commerce_banniere.jpg" /></div>

<h2 align="center">Des hologrammes en magasin</h2>

<div class="row">
  <div class="col-sm-6">
    <p class="rtejustify">Le commerce digital est l'ouverture des services numériques directement dans les surfaces de vente. Ce secteur est en pleine croissance, il représente un en jeu majeur pour tous les commerces face à la concurrence des acteurs "pure-player" du web.</p>

    <p class="rtejustify">Il offre une nouvelle expérience d'achat pour les clients et décuple les possibilité du point de vente. Pour cette rentrée 2015, nous proposons maintenant de rendre cette expérience encore plus unique avec des hologrammes sur <a href="/fr/store/focus">Focus</a> ou via des <a href="/fr/about/">développements innovants</a>.</p>
  </div>

  <div class="col-sm-6 rtejustify"><img class="img-fluid" alt="Holusion Focus et Prisme " src="/static/img/posts/commerce_digital_augmente/commerce_table_de_vente_hologramme.JPG" style="width: 1200px; height: 350px;" /></div>
</div>

<h3 class="rtejustify">Une expérience unique</h3>

<p class="rtejustify">L'extension de gamme et la présentation de produits en hologramme permet au client de venir découvrir, via notre interface, toutes les références du point de vente.</p>

<p class="rtejustify">L’hologramme apporte une réalité au produit et les applications permettent de réaliser l’intégralité de la commande sans quitter le dispositif en cours de route. Cette solution lui donne tout le choix du e-commerce avec toute la réalité et l'expertise d'un magasin physique.</p>

<p class="rtejustify">Les premiers systèmes seront installés dans le domaine du luxe et sur les surfaces de ventes spécialisées.</p>

<h3>Commerce innovant</h3>

<p class="rtejustify">L’interactivité des projecteurs d'hologramme apporte une dose de futurisme au parcours client. Il aura le pouvoir de personnaliser ses choix via des capteurs sans contact, d'explorer un catalogue avec une tablette tactile connectée ou encore de découvrir tous les détails de ses articles sur des vidéos interactives et pédagogiques.</p>

<div class="row" style="padding:15px">
  <div class="col-sm-4" align="center">
    <h4>Catalogue en hologramme</h4>
    {% include components/medias/youtube.html embed="f0XjyiXdgGY" %}
  </div>

  <div class="col-sm-4" align="center">
    <h4>Configurateur de produits</h4>
    {% include components/medias/youtube.html embed="GJ0FwjKNRvU" %}
  </div>

  <div class="col-sm-4" align="center">
    <h4>360°</h4>
    {% include components/medias/youtube.html embed="i-rxXHwpj1Q" %}
  </div>
</div>

<h2 align="center" style="padding: 20px 0px 20px 0px">Accompagnement à la vente performant</h2>

<p class="rtejustify">Grâce à un affichage discret, le vendeur peut accompagner son client à travers son parcours d'achat et être toujours disponible pour répondre à ses questions et l'aider dans ses choix.</p>

<p class="rtejustify">Cet affichage holographique pour l'aide à la vente est mise en place dans un premier démonstrateur lauréat du concours <a href="http://www.picom.fr/" target="_blank">New Shopping Experience 6.0 du Picom</a>. Sur cette table de vente augmentée pour les bijouteries, il sera possible pour le joaillier de présenter tous les détails de ses futures créations. Sur-mesure, réalistes, intuitive, la présentation holographique vient en complément du parcours habituel pour en augmenter l'impact.</p>

<p class="rtejustify">L’adjonction de moyens d’interactions (boutons, surfaces tactiles, technologies sans contacts, etc…) change totalement la façon de voir le produit : d’un outil événementiel, il devient un moyen de manipuler autrement les objets virtuels et de se les approprier.</p>

<p class="rtejustify">&nbsp;</p>

<div class="row">
  <div class="col-sm-6">
  {% include components/medias/youtube.html embed="zlXAr9r-5S8" %}
  </div>

  <div class="col-sm-6">
  {% include components/medias/youtube.html embed="y9yu7lesIk4" %}
  </div>
</div>

<div class="col-sm-6">&nbsp;</div>

<div><img class="img-fluid" alt="Table de vente holographique en bijouterie" src="/static/img/posts/commerce_digital_augmente/commerce_NSE.jpg" style="width: 1200px; height: 673px;" /></div>
