---
title: Bonne année 2017
image: /static/img/posts/voeux_dentsu/vignette_dentsu.jpg
abstract: L'agence Dentsu a décidé de souhaiter ses voeux d'une façon un peu particulière !
tags: pixel evenementiel
---

<img alt="Hologramme Dentsu" src="/static/img/posts/voeux_dentsu/banniere_dentsu.jpg" style="width: 100%; height: 100%;" />

<h2 class="text-center" style="padding-bottom: 20px">Dentsu s'empare de l'hologramme pour ses voeux 2017</h2>

<div class="row" style="padding-bottom:20px">
  <div class="col-md-6 col-12">
    <p class="rtejustify"><a href="http://www.dentsu.com/">Dentsu Aegis Network</a>, agence de communication, a voulu marquer les esprits en ce début 2017. Elle a donc choisi le <a href="/fr/products/pixel">Pixel</a> pour révéler un message personnalisé et dynamique. Les emojis célèbres ont souhaité la joie, l'amour, la fête mais aussi le succès et la croissance de chacun. </p>
    <h2>Le Pixel à l'honneur</h2>
      <p class="rtejustify">Le goodies holographique a pu remplir sa mission : arriver dans la poche de tous les clients et collaborateurs de Dentsu. Petit objet ludique, personnalisé et innovant, le Pixel a fait très bonne impression tout en marquant l'esprit de tous en cette nouvelle année.</p>
  <h2>D'autres l'ont fait !</h2>
    <div style="padding-bottom:20px">
      <p class="rtejustify">Plusieurs agences ont choisi cet outil innovant pour présenter leurs voeux à leurs clients. Les collaborateurs de <a href="https://yoo-ci.com/">Yoo Communication Interactive</a> et de <a href="https://www.refletsvideo.com/">Reflet Vidéo</a> ont choisi d'apparaître dans le Pixel avec un petit discours de voeux et une mise en scène dynamique et colorée.</p>
    </div>
  </div>

    <div class="col-md-6 col-12">
      {% include components/medias/youtube.html embed="Qx-RpMj6m-A" %}
    </div>
  </div>

<center>
	{% include components/medias/youtube.html embed="usndsvaMwRg" %}
</center>


