---
layout: index
title: Ca Tisse Factory
image: /static/img/posts/2018_manufacture/catissefactory_2018.jpg
abstract: "Valorisation en hologrammes du patrimoine industriel"
tags: tourisme museographie
---

<section class="section section-main-header header-fill" style="max-width: 1920px">
  {%include components/header_image.html image="/build/img/posts/2018_manufacture/catissefactory_full.jpg" image2x="/build/img/posts/2018_manufacture/catissefactory_full_2x.jpg" %}
  <div class="main-header-body">
    <div class="content shadow rounded bg-white rounded p-4">
      <h1>Ça Tisse Factory</h1>
      <p>est un dispositif interactif mobile, actuellement installé dans le musée la Manufacture. Il présente en hologramme la ville de Roubaix à travers son histoire industrielle.</p>
      <p>Cette vitrine holographique du territoire permet aux visiteurs de Roubaix de mieux comprendre le passé de la ville, ses succès et ses crises. Il invite à explorer la ville et découvrir les répercussions encore aujourd'hui et comment ces sites industriels ont été réapproprié.</p>
    </div>
  </div>
</section>


<section class="section bg-light py-4">
  <div class="container jumbotron bg-white shadow my-0">
    <h1>Un projet collaboratif</h1>

    <h2>Historique</h2>
    <p>
      Le projet a débuté en Novembre 2015 lors du <strong>Muséomix à la Manufacture</strong>. Une équipe, les Industructibles a proposé un système interactif utilisant de l’hologrammes, une carte interactive et des échantillons de matière.
      Réalisé sur 3 jours, en intégrant un Prism Holusion et un Raspberry, ce premier prototype a éveillé la curiosité du public lors des démonstration. <a href="2016-04-20-museohub.html"> Son histoire était déjà racontée ici.</a>
    </p>

    <p>
      Le dispositif était assez facile dans son usage et les membres de l’équipe se trouvait sur place afin d’accompagner dans la manipulation. Cependant il décidé de rendre le dispositif plus autonome. C’est-à-dire que l’usager peut librement parcourir le contenu sans nécessairement suivre une logique ou un mode d’emploi.
      Afin d’évaluer au mieux nos expérimentations, nous mettons en place un système de retour sur expérience. Grâce à celui-là, les usagers pourront nous apporter les faiblesses concernant le dispositif et les besoins qu’ils éprouvent face à ce dernier.
    </p>


    <h2>MuseoMix Nord</h2>

    <p>
      Le partenaire clé de ce projet est l’association <a href="http://museomix-nord.fr/">MuseoMix Nord</a> qui réunit autour de ce projet des acteurs confirmés de la muséographie et de la médiation culturelle. L’association a un rôle de facilitateur central, depuis l’organisation du MuseoMix qui a vu naître ce projet jusqu’à son implication dans le développement et la concrétisation des premier prototypes réalisés. L’association fournit pour la suite du projet des compétences en communication, muséographie et son réseau pour intégrer des artistes et des chercheurs dans le projet et rencontrer les lieux d’exposition.
    </p>

    <p>
      D'ailleurs, on ne saurait que vous encourage à découvrir au <strong>Palais des Beaux-Arts de Lille</strong> les prototypes de la prochaine édition de <a href="https://www.museomix.org/editions/2018/lille-palais-des-beaux-arts">MuseoMix Nord le 11 Novembre 2018</a>.
    </p>

    <img src="/build/img/posts/2018_manufacture/dispositif.jpg" width="100%" srcset="/build/img/posts/2018_manufacture/dispositif_2x.jpg" alt="Dispositif Ca Tisse Factory"/>

    <h2>Manufacture de Roubaix</h2>
    <p>
      c'est grace au soutien de <a href="http://www.pictanovo.com/">Pictanovo</a>, de la <a href="http://www.roubaixtourisme.com/">ville de Roubaix</a>, de la métropole de Lille et de la région Nord que ce projet a pu voir le jour. Le dispositif est actuellement à découvrir à la <a href="http://lamanufacture-roubaix.com/fr/"> Manufacture</a>, une ancienne usine textile de Roubaix qui en raconte l'épopée industrielle. Ca Tisse Factory est le premier dispositf de son genre et est encore en phase d'expérimentation. Les médiateurs sont à l'écoute des retours des utilisateurs pour perfectionner les futurs réalisations.
    </p>
  </div>
</section>

<section class="section section-main-header header-fill">
  {%include components/header_image.html image="/build/img/posts/2018_manufacture/manufacture.jpg" image2x="/build/img/posts/2018_manufacture/manufacture_2x.jpg" %}
  <div class="main-header-body full-width">
    <div class="content shadow rounded bg-white rounded p-4">


      <h1>Valoriser le renouveau de Roubaix</h1>
      <h2> Interactif et intuitif</h2>

      <p>
        Ca Tisse Factory prend la forme d’une table sur laquelle se trouve une <strong>carte de la ville de Roubaix</strong>. Des inserts en métal représentent les sites industriels notables de la ville et sont tactiles.
        Un simple contact avec le doigt déclenche des contenus audio-visuels en <strong>hologrammes</strong>, présentant l’architecture du site, son utilisation à l’époque industrielle et son utilisation contemporaine.
        Une led illumine une légende dans un encart dédié et des échantillons de matières sont en libre accès dans des trappes, permettant à l’utilisateur de voir la transformation de la laine en tissus lors de son parcours à travers la ville.
      </p>

      <p>
        Un casque audio, ou des enceintes, permettent d'entendre l’explication sur le site concernée. Un <strong>discours tourné pour chaque site sur le rôle du bâtiment</strong> à l’époque industrielle et son importance dans le tissu économique roubaisien puis sur son activité actuelle, sa reconversion et le rôle qu’il tient aujourd’hui dans la vie contemporaine de la ville. Les enregistrements sont disponibles en 3 langues, <strong>français, anglais et néerlandais</strong> grace à l'implication des guides de l'office de tourisme et des médiateurs du musée.
      </p>

      <h2>Open source</h2>

      <p>
        Le projet s’inscrit dans l’actualité numérique puisqu’il utilise l’hologramme et le <strong>système Raspberry</strong> pour dévoiler son contenu aux usagers. Son côté novateur réside dans l’approche du territoire. En effet il permet de mettre en <strong>lien différents lieux d’un territoire et créer des ponts entre ces lieux et les usagers</strong>. Au-delà d’apporter un contenu historique, pédagogique et innovant, le dispositif propose au visiteur de visualiser son <strong>parcours touristique</strong> par exemple. L’objectif de ce dispositif est d’être utilisé comme un outil par des structures de types musée, office de tourisme et agence de promotion territoriale (<i>Label Ville d’Art et d’Histoire</i>). Il permet ainsi de créer une communauté autour des richesses d’un territoire.
      </p>
    </div>
  </div>
</section>

<section class="section bg-light py-4">
  <div class="container jumbotron bg-white shadow my-0" style="text-align:center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/nVuIAEWFlEc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</section>

<section class="section section-main-header header-fill">
  {%include components/header_image.html image="/build/img/posts/2018_manufacture/condition_publique.jpg" image2x="/build/img/posts/2018_manufacture/condition_publique_2x.jpg" %}
  <div class="main-header-body full-width">
    <div class="content shadow rounded bg-white rounded p-4">


      <h2>Des sites à découvrir à Roubaix</h2>

      <p>
        9 Lieux ont été retenu avec l’Office de Tourisme de Roubaix pour être mis en valeur, selon le parcours de la laine dans les sites industriels.
      </p>
      <ol>
        <li><strong>Gare de Roubaix :</strong> arrivée des matières première
          <li><strong>Condition Publique :</strong> pesage et conditionnement de la laine</li>
          <li><strong>Peignage de la Tossée :</strong> Lavage et peignage de la laine</li>
          <li><strong>Filature Motte-Bossu :</strong> Transformation de la laine en bobines de fil</li>
          <li><strong>Teinturerie de la Justice :</strong> Teinture des bobines</li>
          <li><strong>Manufacture :</strong> Tissage et confection</li>
          <li><strong>La Redoute :</strong> Vente des confections</li>
          <li><strong>ENSAIT :</strong> Formation des ingénieurs textiles</li>
          <li><strong>CETI :</strong> Développement du futur du textile</li>
        </ol>
        <p>
          Ces sites ont été choisi avec l’Office de Tourisme de Roubaix pour leur importance dans la compréhension de l’activité industrielle roubaisienne. Tous ne sont pas de sites touristiques aujourd’hui. Certains sites, comme la Teinturerie de Justice, sont même <i>encore en activité.</i>
        </p>

        <p>
          Dans chacun de ses sites, l'hologramme présente le fonctionnement des machines iconiques du lieu. Du filage au tissage de la laine, en passant par les moyens de transport de fret du XIX et de pesée des matières premières. Le dispositf rend hommage aux ingénieurs et ouvrier textiles Roubaisiens que la ville a formée pendant des décenies qui ont assuré sa prospérité.
        </p>
      </div>
    </div>
  </section>
