---
layout: index
title: Nausicaa
image: img/posts/nausicaa/meduse_bann.jpg
abstract: Une maquette interactive pour présenter la nouvelle extension du centre océanographique
tags: museographie iris
---

<section class="section section-main-header header-fill" style="max-width: 1920px">
  {%include components/header_image.html image="img/posts/nausicaa/grand_aquarium.jpg" %}
  <div class="main-header-body">
    <div class="content shadow rounded bg-white rounded p-4">
      <h2>Nausicaa, le Monde des Abysses</h2>
      <p>Dans les abysses de l'Océan, la vie persite. Dans le noir absolu, à des pressions dépassant l'entendement, souvent dans des eaux dépourvues d'oxygènes et de nutriments, des animaux vivent jusque dans les profondeurs les plus basses</p>
      <p>Comment montrer au public le foisonnement de cette vie sous-marine, si éloignée de nous, si inacessible, qu'il presque <b>impossible</b> d'en faire l'expérience et de l'observer.</p>
      <p>A <a href="https://www.nausicaa.fr/">Nausicaa</a>, à Boulogne sur Mer, en collaboration avec le service scientifique d'océanographie et d'aquariologie, nous avons installé <b>3 bornes holographiques</b> dans le <b>Monde des Abysses de <a href="https://www.nausicaa.fr/">Nausicaa</a></b> pour en présenter ces créatures les plus étranges.</p>
    </div>
  </div>
</section>

<section class="section bg-light py-4">
  <div class="container jumbotron bg-white shadow my-0" style="text-align:center">
    {% include components/medias/youtube.html  embed="GVGnLAahsSs" %}
  </div>
</section>

<section class="section bg-light py-4">
  <div class="container jumbotron bg-white shadow my-0">

    <h2> Le monde des Abysses</h2>
    <p>
      L'extension de Nausicaa, à Boulogne-sur-Mer, est officiellement inaugurée  le 19 Mai 2018 et en fait le plus grand aquarium d'Europe avec un <b>grand bassin de 10 000m<sup>3</sup></b>.
    </p>

    <p>
      Le Monde des Abysses autour du grand bassin traite spécifiquement de la <b>vie dans les grands fonds marins</b>.<br/>
      Seules des espèces adaptées aux conditions extrêmes qui y règnent peuvent survivre. <b>Calamar vampire, méduses luminescentes ou poisson vipère</b> sont des chasseurs redoutables. Ils ont des gueules énormes, garnies de dents acérées et sont pourvus de grands yeux exorbités. Pourtant, la plupart de ces créatures effrayantes ne dépassent pas les vingt centimètres…
    </p>

    <h2>Baudroie abyssale</h2>
    <p>
      Le Baudroie est la plus belle pièce de cette collection, elle apparait dans un <a href="/fr/products/iris32"> Iris 32</a> en haute résolution.
      </p>

    <div class="row justify-content-xl-center">
      <div class="col-xl-6 ">
        <p>
          La Baudroie est un poisson d’eau profonde de la famille des Melanocetidae, qui se rencontre dans tous les océans des régions tempérées à tropicales à des profondeurs allant jusqu'à 2 000 m. Ses yeux sont petits et couverts d'une mince couche de peau. Un <b>leurre</b> se trouve à l'extrémité d'une longue épine partant du nez, qui est en fait une modification de la première épine de la nageoire dorsale. L’antenne leurre émet de la lumière grâce aux <b>bactéries luminescentes</b> présentes dans l'organisme de la baudroie. Les specimens de cette espèce peuvent atteindre jusqu'à 20 centimètres.
        </p>
        <p><i>Illustration : Hologramme de Baudroie, Nausicaa 2018</i></p>
      </div>
      <div class="col-xl-6 ">
        {%asset img/posts/nausicaa/baudroie.jpg
          srcset:width="1920"
          srcset:width="960"
          class="img-fluid"
          sizes="(min-width: 1200px) 1200px, 100vw"
          style="padding-bottom: 40px;"
          alt="Schema des dimensions de l'iris 22 pouces"
          %}
        </div>
      </div>

      <h2>Calamar Vampire</h2>
      <p>
        Le calamar vampire aparait dans un <a href="/fr/products/azur">Azur</a>, un hologramme à trois faces.
      </p>

      <div class="row justify-content-xl-center">
        <div class="col-xl-6 ">
          {%asset img/posts/nausicaa/calamar.jpg
            srcset:width="1920"
            srcset:width="960"
            class="img-fluid"
            sizes="(min-width: 1200px) 1200px, 100vw"
            style="padding-bottom: 40px;"
            alt="Schema des dimensions de l'iris 22 pouces"
            %}
          </div>
          <div class="col-xl-6 ">
            <p>
              Ce calamar à l'aspect monstreux est une espèce de petits céphalopodes vivant dans les <b>abysses</b> de tous les océans tempérés et tropicaux du monde, en réalité totalement innofensif pour l'Homme et qui ne dépasse pas les 30 cm. Le vampire des abysses est entièrement couvert d'organes produisant de la lumière, appelés <b>photophores</b>. L'animal a un grand contrôle sur ces organes, capables de produire des flashs de lumière toutes les fractions de seconde pendant plusieurs minutes pour désorienter les prédateurs. Il module également à volontée l'intensité et la taille des photophores.
            </p>
            <p><i>Illustration : Hologramme de calamar campire, Nausicaa 2018</i></p>
          </div>
        </div>

        <h2>Méduse</h2>
        <p>
          La méduse bioluminescente aparait également dans un <a href="/fr/products/azur">Azur</a>, un hologramme à trois faces.
        </p>


        <div class="row justify-content-xl-center">
          <div class="col-xl-6 ">
            {% include components/medias/youtube.html  embed="QGFh3UNvuCQ" %}
          </div>
        </div>

        <div class="row justify-content-xl-center" style="padding-top:10px">
          <div class="col-xl-6 ">
            <p>
              Cette magnifique Méduse a été apperçue durant la plongée de <b>Dive 4</b> lors de l'expedition 2016 d'exploration de la fosse des Mariannes. (Deepwater Exploration of the Marianas), le 24 Avril 2016, pendant une exploration de l'endroit appelé communément <i>"Mont Sous-marin Enigmatique"</i> à une profondeur de <b>3 700 mètres</b>.
            </p>
            <p>Les scientifiques ont identifié cette espèce comme appartenant au genre Cossota. Notez le double jeu de tentacules, courtes et longues, au début de la vidéo, on peut voir que les longues tentacules sont de même taille et étendues vers l'extérieur et que le dôme de la méduse est immobile. Cela suggère un comportement de <b>chasseur embusqué</b>. Dans le dôme, les canaux radiaux en rouge relient des points qui semblent être les gonades en jaune vif.
            </p>
            <p>
              Courtoisie pour ces images de la Office of Ocean Exploration and Research, 2016 Deepwater Exploration of the Marianas
            </p>
            <p><i>Illustration : Hologramme de méduse, Nausicaa 2018</i></p>
          </div>
          <div class="col-xl-6 ">
            {%asset img/posts/nausicaa/meduse.jpg
              srcset:width="1920"
              srcset:width="960"
              class="img-fluid"
              sizes="(min-width: 1200px) 1200px, 100vw"
              style="padding-bottom: 40px;"
              alt="Schema des dimensions de l'iris 22 pouces"
              %}
            </div>
          </div>
        </div>
      </section>
      <section class="section section-main-header header-fill">
        {%include components/header_image.html image="img/posts/nausicaa/grand_aquarium.jpg" %}
        <div class="main-header-body full-width">
          <div class="content shadow rounded bg-white rounded p-4">
            <h2>Numériser le vivant</h2>

            <p>Pour réaliser les hologrammes de ces poissons, nous ne disposions que de brèves images d'archives issus des robots d'exploration des fonds marins. Souvent aperçu de manière fugace à la lumière des projecteurs et à travers les très lourdes coques de verre qui protègent les optiques des caméras de ces submersibles</p>

            <div class="row justify-content-xl-center">
              <div class="col-xl-6 ">
                <img class="img-fluid" style="object-fit:contain" src="/static/img/usages/meduse_design.png">
              </div>
            </div>

            <p>Ces modélisations on été possible grace à l'aide des services scientifiques de Nausicaa qui ont aussi pour mission de mieux comprendre les océans par une démarche scientifique minutieuse, avec en tête <a href="https://www.futura-sciences.com/planete/personnalites/oceanographie-christine-causse-819/">Christine Causse</a>. Des connaissances en provenance d'autres laboratories à travers le Monde, des vidéos et des observations sont venus appuyer et valider la démarche de reproduction</p>

            <p>L'objectif des ces modélisation en hologrammes est de donner au public une meilleure représentation, une meilleurs compréhension, d'une zone gigantesque et plein de vie qui couvre la majeure partie de la surface de notre planète, l'Océan.</p>
          </div>
        </div>
      </section>
