---
layout: index
title: Nausicaa
image: /build/img/products/iris_nausicaa.jpg
image2x: /build/img/products/iris_nausicaa_2x.jpg
abstract: Une maquette interactive pour présenter la nouvelle extension du centre océanographique
tags: museographie iris
---

<section class="section section-main-header header-fill" style="max-width: 1920px">
  {%include components/header_image.html image="" %}
  <div class="main-header-body">
    <div class="content shadow rounded bg-white rounded p-4">
      <h1>Le Monde des abysses</h1>
      <p>Au plus profond de l'Océan, la vie. Dans le noir absolu, à des pressions dépassant l'entendement, parfois dans des eaux dépourvues d'oxygènes et de nutriments, la vie persiste jusque dans les fonds les plus abyssaux</p>
      <p>Comment montrer au public le foisonnement de cette vie sous-marine, si éloignée de nous, si inacessible, qu'elle pourrait très bien se trouver sur un autre astre et être à peine moins dure à observer</p>
      <p>En collaboration avec le service scientifique d'aquariologie, nous avons installé 3 bornes holographiques dans le Monde des Abysses pour en présenter ses créateurs les plus étranges.</p>
    </div>
  </div>
</section>

<section class="section bg-light py-4">
  <div class="container jumbotron bg-white shadow my-0" style="text-align:center">
{% include components/medias/youtube.html  embed="nVuIAEWFlEc" %}
  </div>
</section>

<section class="section section-main-header header-fill">
  {%include components/header_image.html image="img/posts/2018_manufacture/manufacture.jpg" %}
  <div class="main-header-body full-width">
    <div class="content shadow rounded bg-white rounded p-4">
<h1> Le monde des Abysses</h1>

L'extension de Nausicaa, à Boulogne-sur-Mer, est officiellement inaugurée  le 19 Mai 2018 et en fait le plus grand aquarium d'Europe avec un grand bassin de 10 000m<sup>3</sup>.
// bla bla bla
<p>Le Monde des Abysses autour du grand bassin traite spécifiquement de la vie dans les grands fonds marins.
Seules des espèces adaptées aux conditions extrêmes qui y règnent peuvent survivre. Calamar vampire, méduses luminescentes ou poisson vipère sont des chasseurs redoutables. Ils ont des gueules énormes, garnies de dents acérées et sont pourvus de grands yeux exorbités. Pourtant, la plupart de ces créatures effrayantes ne dépassent pas les vingt centimètres…</p>

<h2>Baudroie abysalle</h2>


<h2>Calamar Vampire</h2>
à Ne pas confondre avec le Colmar abysalle, choucroute des grandes profondeurs.

<h2>Méduse</h2>

<h1>Numériser le vivant</h1>

<p>Pour réaliser les hologrammes de ces poissons, nous ne disposions que de breves images d'archives issus des robots d'exploiration des fonds marins. Souvent aperçu de manière fugace à la lumière des projecteurs à travers les très lourdes coques de verre qui protègent les otpiques des caméra de ces submersibles</p>
