---
layout: index
title: Mölnlycke lance son produit en hologrammes
image: img/posts/molnlycke/mepilex.jpg
abstract: 65 Evènements à travers la France pour la promotion d'une nouvelle gamme
tags: marketing pixel
---

<section class="section section-main-header header-fill" style="max-width: 1920px">
  {%include components/header_image.html image="img/posts/molnlycke/pixel_tablet.jpg" %}
  <div class="main-header-body">
    <div class="content shadow rounded bg-white rounded p-4">
      <h1>Lancement de produits en hologrammes</h1>
      <p>Mölnlycke est un leader mondial dans la fabrication de produits médicaux et d’équipement pour les professionnels de la santé. L’entreprise suédoise fourni des solutions innovantes de pansements et équipement à usage unique pour les hôpitaux et blocs opératoires.
      </p>
      <p>
        Pour le début de l’année 2019, lancement d’une nouvelle gamme de produits « Mepilex Border Flex » est un pansement hydrocellulaire siliconé morpho-adaptable tout-en-un.
      </p>
      <p>
        Pour appuyer cet évènement, ce sont 4 000 pyramides holographiques pour smartphone Pixel et 75 pyramides pour tablettes qui sont déployées à travers la France.
      </p>
    </div>
  </div>
</section>

<section class="section bg-light py-4">
  <div class="container jumbotron bg-white shadow my-0" style="text-align:center">
    {% include components/medias/youtube.html  embed="dQw4w9WgXcQ" %}
  </div>
</section>

<section class="section section-main-header header-fill">
  {%include components/header_image.html image="img/posts/molnlycke/background_cartons.jpg" %}
  <div class="main-header-body full-width">
    <div class="content shadow rounded bg-white rounded p-4">
      <div class="row">
        <div class="col-12 col-lg-6">
            <h1>Innovation dans la communication</h1>
            <p>Le Pixel dans cette campagne permet à 4 000 utilisateurs priviligiés de visualiser en 3D le produit, en mouvement et en mettant en avant la marque de Mölnlycke et l'utilisation du produit.</p>
            <p>Le format personnalisé du Pixel permet de rappeller la marque sur tous les aspects du goodie et de s'assurer que l'objet final portera toujours la mention la plus important</p>    
        </div>
        <div class="col-12 col-lg-6">
            {%asset img/posts/molnlycke/customized_pixel.jpg
              srcset:width="1920"
              srcset:width="650"
              class="img-fluid"
              sizes="(min-width: 1200px) 1200px, 100vw"
              style="padding-bottom: 40px;"
              alt="Schema des dimensions de l'iris 22 pouces"
            %}
        </div>
      </div>
    </div>
   </div>
</section>

<section class="section bg-light py-4">
  <div class="container jumbotron bg-white shadow my-0">
    <h1>65 Evènement simultanés</h1>
      <p>
        A travers toute la France, plusieurs évènements utilisent un produit plus phare pour présenter plus en détails. Toute une gamme de solutions disponible peut réaliser ce projet, du très haut-gamme Iris 75 au plus simple, comme l'accessoire pour tablette, le Pixel XL avec un support.
      </p>
      <p>
        Les contenus sont diffusé en simultanés avec la plateforme pixel.holusion.com, un site optimisé pour les vidéos à ce format. Elles peuvent être totalement personnalisée, collecter des analytics pour comprendre la popularité de la campagne.
      </p>
  </div>
</section>
