---
layout: index
title: "Xorn : The Fallen God"
image: /static/img/posts/xorn/xorn.jpg
abstract: "Le premier jeu vidéo en hologramme"
tags: jeu prototype
---

<section class="section section-main-header header-fill">
    {% include components/header_image.html image="/build/img/posts/xorn/xorn_full.jpg" image2x="/build/img/posts/xorn/xorn_full_2x.jpg" %}
    <div class="main-header-body">
        <div class="content shadow rounded bg-white p-4">
            <h1>Xorn : The fallen god</h1>
            <p>
                est un jeu vidéo créé en 72 heures dans le cadre d'une Game Jam : la <a href="https://ldjam.com/" target="_blank">Ludum Dare 42</a> qui se déroula durant le mois d'Août 2018.
                Le thème de cette édition était "Running out of space" que l'on peut traduire par "être à court d'espace". Il a été créé par quatre personnes :
                <ul>
                    <li><b>Thibault Arloing</b> en tant que Lead Gameplay Programmer, Integrator et Sound Designer (<i>Étudiant</i>)</li>
                    <li><b>Yann Dubois</b> en tant que Lead AI Programmer, Gameplay Programmer et Integrator (<i>Holusion</i>)</li>
                    <li><b>Thibaud Colin</b> en tant que Lead Game Artist et Lead Animator (<i>Étudiant</i>)</li>
                    <li><b>Alexandre Harbuzinski</b> en tant que Lead Game Designer, UI Designer/Animator et VFX Artist (<i>Étudiant</i>)</li>
                </ul>
            </p>
            <p>
                <b>Xorn est disponible en téléchargement <a href="https://ldjam.com/events/ludum-dare/42/xorn-the-fallen-god">ici</a> ou jouable sur navigateur <a href="https://thibaultar.itch.io/xorn">ici</a>.</b>
            </p>
        </div>
    </div>
</section>

<section class="section bg-light py-4">
    <div class="container jumbotron bg-white shadow my-0" style="text-align: center">
        <h1>Xorn : The Fallen God en hologrammes</h1>
        {% include components/medias/youtube.html embed="MuNJ0LgwwR4" %}
    </div>
</section>

<section class="section section-main-header header-fill">
        {% include components/header_image.html image="/build/img/posts/xorn/xorn_jeu.jpg" image2x="/build/img/posts/xorn/xorn_jeu_2x.jpg" %}
    <div class="main-header-body full-width">
        <div class="content shadow rounded bg-white p-4">
            <h1>72 heures pour créer un jeu</h1>
            <h2>Le jeu : In Vivo</h2>

            <p>
                Créer un jeu en 72 heures avec quatre personnes qui n'ont jamais travaillé ensemble est un vrai défi. Dès les premières heures de la Game Jam, l'idée
                de créer un jeu en 3D isométrique nous est venue. En se basant sur le thème, nous avons eu l'idée d'une plateforme composée de cubes qui se perdent petit
                à petit. Le joueur a alors de moins en moins d'espace pour combattre les ennemis. Nous avons alors prototypé notre idée et avons construit toute la
                boucle de jeu autour : certains ennemis sont capables d'éviter les trous, des bonus permettent de restaurer le terrain, les ennemies apparaissent par
                vagues successives, etc...
            </p>
            <p>
                Une fois le jeu terminé, nous l'avons envoyé sur le site de la Game Jam et pendant trois semaines, les créateurs du monde entier pouvaient le tester
                et lui accorder une note en fonction de différents critères.
            </p>

            <h2>En hologrammes : In Vitro</h2>
                <p>
                    Le jeu étant terminé, mais étant toujours dans l'ambiance de la Game Jam durant l'attente des notes, nous avons poursuivi l'idée d'un portage du jeu sur
                    les <b>machines holographique d'Holusion</b>. Le moteur utilisé pour le jeu est <b>Unity</b>, moteur que l'on utilise déjà pour construire des
                    <b>systèmes interactifs</b>. De plus, les caractéristiques du jeu sont faciles à mettre en hologramme : la caméra est centrée sur la plateforme et il n'y a
                    qu'un seul niveau qui prend toute la taille de l'écran. Les quelques modifications qui ont été apportées sur la version de base sont la façon d'interagir
                    avec le jeu (ici on préfère utiliser une manette) et la suppression de quelques éléments visuels qui empêchaient l'effet holographique.
                </p>
        </div>
    </div>
</section>

<section class="section bg-light py-4">
        <div class="container jumbotron bg-white shadow my-0">
            <h1>Les objectifs ?</h1>

            <p>
                Le but du portage du projet était de voir s'il était possible de créer un jeu vidéo qui puisse être jouable en hologramme. Nous avons alors découvert
                plusieurs choses durant la création de ce prototype.
            </p>

            <h2>Les contraintes</h2>

            <p>
                Durant le portage du jeu, nous avons pu identifier quelques contraintes, ce qui a empêché l'utilisation de la version déjà mise en ligne. Parmi ces contraintes on retrouve :
                <ul>
                    <li>Le jeu doit être sur fond noir</li>
                    <li>La zone de jeu doit avoir une animation de flottement léger</li>
                    <li>L'utilisation du clavier + souris est à proscrire</li>
                    <li>La zone de jeu doit être restreinte dans les dimensions du produit</li>
                </ul>
            </p>

            <h2>Les avantages</h2>
            <p>
                Nous avons vu que la création de jeux vidéo pour hologrammes était possible et que la création de contenus interactifs pouvait être poussée assez loin.
                Ici le jeu n'est pas très innovant, mais le porter un hologramme apporte un plus, la sensation que l'île flotte vraiment devant nous. On peut alors imaginer de nombreuses applications concernant le jeu et l'hologramme.
            </p>

            <h2>La suite</h2>
            <p>
                Xorn n'ira pas plus loin pour le moment, il n'est pas prévu de continuer le jeu. Cependant, nous avons très envie de réitérer l'expérience.
                D'autant plus que de nombreuses idées peuvent être mises en place comme des jeux sérieux, des jeux hybrides en mêlant des objets physiques et virtuel ou
                tout simplement la création d'un jeu avant tout pensé pour nos dispositifs holographiques lors d'une prochaine Game Jam par exemple.
            </p>
        </div>
    </section>
