---
layout: index
title: Route du Rhum 2018
image: img/sections/Armel.jpg
abstract: Un hologramme pour tout savoir sur la vie au large
tags: evenementiel communication iris75
---

<section class="section section-main-header header-fill" style="max-width: 1920px">
  {%include components/header_image.html image="img/posts/2018_route_du_rhum/questions_a_armel.jpg" %}
  <div class="main-header-body body-right">
    <div class="content shadow rounded bg-white rounded p-4 text-justify">
      <h2 class="p-4">
        Les hologrammes débarquent à Saint Malo!
      </h2>
      <p>
        Le <b>04 Novembre 2018</b> aura lieu le départ de la <a href="https://www.routedurhum.com/fr">Route du Rhum</a>, édition anniversaire célébrant les 40 ans de la mythique victoire de <a href="https://www.routedurhum.com/fr/page/histoire">Mike Birch</a> en 1978.
      </p>
      <p>
        Mais la route du Rhum, c'est aussi un programme d'événements impressionnant, tant à départ qu'à l'arrivée. Dès le 24 Novembre, la ville de Saint Malo accueillera des milliers de visiteurs pour un programme complet <a href="https://www.routedurhum.com/fr/village/saint-malo/programme">d'animations</a>. Parmis les installations, un hologramme à taille humaine réalisé par <b>Holusion</b>: <a href="/fr/products/iris75">L'Iris 75"</a> dans sa toute nouvelle configuration <b>verticale</b>.
      </p>
    </div>
  </div>
</section>

<section id="video" class="section bg-light py-4">
  <div class="container jumbotron bg-white shadow my-0" style="text-align:center">
    <h2>L'interview en hologrammes de Armel Le Cléac'h</h2>
    {% include components/medias/youtube.html  embed="ZMxX0D-rCg0" %}
  </div>
</section>

<section class="section section-main-header header-fill py-4">
  <div class="main-header-image-wrapper">
    {% asset img/posts/2018_route_du_rhum/saint_malo.jpg
      srcset:width="1920"
      srcset:width="1920"
      srcset:width="960"
      sizes="100vw"
      class="img-fluid"
      alt="iris75 hologramme sur estrade"
      %}
    </div>
    <div class="main-header-body container jumbotron bg-white shadow my-4">
      <h2 class="p-4">Découvrez la vie en Solitaire</h2>
      <p>
        Difficile d'imaginer les conditions de vie au large sur un bateau de la catégorie <a href="https://www.routedurhum.com/fr/actualite/162">ULTIME</a>. C'est pourquoi vous pourrez poser vos questions à l'hologramme d'<a href="https://www.routedurhum.com/fr/skipper/18/armel-le-cleach">Armel Le Cléac'h</a> sur le stand de <a href="https://www.facebook.com/bpgrandouest/">Banque Populaire Grand Ouest</a>.
      </p>
      <p>
        Le principe : une tablette tactile vous permettra de poser une question parmi une liste. A laquelle l'hologramme s'empressera de répondre. Une solution innovante, interactive et ludique.
      </p>
      <p>
        Nous sommes fiers d'avoir pu participer à cette installation ambitieuse, avec ce nouveau produit aux dimensions inédites, conçu spécialement pour répondre au besoin de <a href="https://www.voile.banquepopulaire.fr/">Voile Banque Populaire</a>.
      </p>
      <p>
        Avec une hauteur totale de 2m40, <a href="/fr/products/iris75">l'Iris75</a> Vertical repouse encore les limites de la gamme holusion. Disponible en location, contactez-nous pour plus de détails.
      </p>
        </div>
      </section>
