---
layout: index
title: Holomouseio
image: img/posts/2019_holomouseio/holomouseio_public.jpg
abstract: Musée en hologrammes
tags: museographie tourisme iris32
---

<section class="section section-main-header header-fill" style="max-width: 1920px">
  {%include components/header_image.html image="img/posts/2019_holomouseio/holomouseio_public.jpg" %}
  <div class="main-header-body">
    <div class="content shadow rounded bg-white rounded p-4">
      <h2>Holomouseio</h2>
      <p>En partenariat avec l'<a href="https://culture.univ-lille.fr/">Université de Lille</a>, Holusion a développé une nouvelle manière de visiter les musées. </p>
      <p>Ce projet, nommé "Holomouseio", de <i>μουσείο / mouseio</i>, le musée en grec permet de <b>découvrir en hologrammes les trésors cachés de la faculté.</b></p>
      <p>Des numérisation issues des départements d'<b>archéologie, de paléontologie, d'art, d'anciens instruments scientifiques</b> enrichissent cette vitrine holographique</p>
      <p>
        Les visiteurs peuvent maintenant explorer des objets jusqu'ici inateignables, invisible ou indisponible.
      </p>


    </div>
  </div>
</section>


<section class="section bg-light py-4">
  <div class="container jumbotron bg-white shadow my-0" style="text-align:center">
    <h2>Découvrez le projet en vidéo</h2>
    {% include components/medias/youtube.html  embed="WobQC8t06sc" %}
  </div>
</section>

<section class="section section-main-header header-fill">
  {%include components/header_image.html image="img/posts/2019_holomouseio/holomouseio_holo.jpg" %}
  <div class="main-header-body full-width">
    <div class="content shadow rounded bg-white rounded p-4">
      <div class="row">
        <div class="col-12 col-lg-6">
          {%asset img/posts/2019_holomouseio/holomouseio.jpg
            srcset:width="1920"
            srcset:width="650"
            class="img-fluid"
            sizes="(min-width: 1200px) 1200px, 100vw"
            style="padding-bottom: 40px;"
            alt="Le dispositif holomouseio consite en un Iris32, une tablette et un meuble sur mesure"
            %}
          </div>
          <div class="col-12 col-lg-6">
            <h2>Voyage au sein d'exposition virtuelles</h2>
            <p>
              <b>Holomouseio</b> permet de découvrir des objets holographiés via un catalogue. Trois thèmes développé en 2018 ont été inauguré ici :
            </p>
            <p>
              "Le monde funéraire et religieux de l'Egypte Ancienne" valorise la collection de l'Institut de papyrologie et d'égyptologie de Lille; "Promenande dans la forêt du Carbonifère du Nord de la France" met en avant la collection de paléobotanique de Lille. E.Thesaurus "L'orfèvrerie à l'épreuve de la modélisation numérique" permet de découvrir une pièce médiévale unique, le pied de Croix de l'abbaye de Saint Bertin</p>
              <p>Le dispositif est exposé à l'Espace Culture de l'Université de Lille (Campus Cité Scientifique) du 16 Janvier au 14 Février et sera visible du 25 Février au 14 Mars à la Bibliothèque des Sciences et de l'Antiquité (Campus Pont de Bois sur Lille), du 18 au 27 Mars à l'Institut Catholique de Lille et du 1er au 18 Avril Lilliad, Learning Center innovation (Campus Cité Scientifique sur Lille).</p>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="section section-main-header header-fill py-4">
      <div class="main-header-image-wrapper">
        {% asset img/products/numerisation_lille1.jpg
          srcset:width="1920"
          srcset:width="1920"
          srcset:width="960"
          sizes="100vw"
          class="img-fluid"
          alt="Laboratoire de numérisation de l'université de Lille"
          %}
        </div>
        <div class="container jumbotron bg-white shadow my-4">
          <h2>Comment créer un musée en hologrammes</h2>
          <p>
            Holomouseio est composé de 3 parties :
            <ul>
              <li>Un <a href="/fr/products/iris32">Iris 32 </a> </li>
              <li>Une tablette pour controller les hologrammes</li>
              <li>Un meuble spécialement conçu pour utiliser le dispositif de manière ergonomique</li>
            </ul>
          </p>
          <p>
            Holomouseio permet de transformer une base de données d'objets numérisés en exposition virtuelle autour de ces hologrammes.
          </p>
          <div class="row">
            <div class="col-lg-6 col-md-12  d-flex flex-column justify-content-center">
              {%asset img/products/projet_lille1.jpg
                srcset:width="1920"
                srcset:width="650"
                class="img-fluid"
                sizes="(min-width: 1200px) 1200px, 100vw"
                style="padding-bottom: 40px;"
                alt="Laboratoire de numérisation de l'université de Lille"
                %}
              </div>
              <div class="col-lg-6 col-md-12 d-flex flex-column justify-content-center">
                <h2>Votre vitrine d'hologrammes</h2>
                <h3>Numériser</a></h3>
                  <p>Gérer une base de donnée d'objets numérisés sous de nombreux formats possibles : photo 360°, photogrammétrie, scanner, etc.</p>
                  <h3>Personnaliser</h3>
                  <p>Ecrivez les fiches descriptives des vos objets, organiser les collections en sous-catégories et créer une parcours unique pour les visiteurs</p>
                  <h3>Gérer et mettre à jour</h3>
                  <p>Ajoutez ou modifez les collections en autonomie. Profitez d'un mode SAS pour mettre à jour votre musée holographique au fil des campagnes de numérisation et de votre actualité.</p>
                  <p>
                  Plus d'informations sur cette solution : <a href="/fr/usages/museographie">Utiliser les hologrammes pour les musées</a
                    </p>
                </div>
              </div>
            </div>
          </section>

          <section class="section section-main-header header-fill">
            {%include components/header_image.html image="img/products/iris32_meuble_chat.jpg" %}
            <div class="main-header-body full-width">
              <div class="content shadow rounded bg-white rounded p-4">
                <div class="row">
                  <div class="col-12 col-lg-6">
                    <h2>Crédits</h2>
                    <p>Holomouseio a vu le jour en 2019 grâce au soutien de :</p>
                    <h3>Université de Lille</h3>
                    <ul>
                      <li>Direction culture : <b>Sophie Braun</b></li>
                      <li>Direction innovation pédagogique, <i>Photo360</i> :  <b>Bernard Mikolajczyk, Bernard Deleplanque</b></li>
                      <li>Laoratoire IRHis :  <b>Marc Gil</b></li>
                      <li>CNRS : Unité Evo-Eco-Paléo (EEP) : <b>Jessie Cuvelier</b></li>
                    </ul>
                    <h3>Palais des Beaux-Arts de Lille </h3>
                      <ul>
                        <li><b>Fleur Morfoisse</b></li>
                        </ul>
                        <
                      <p>
                        Ce dispositif est développé par l’Université de Lille et l’entreprise Holusion dans le cadre du projet AAP régional 2017-2018, « <i>Applications et dispositifs numériques culturels innovants</i> », mené par la <a href="http://www.culture.gouv.fr/Regions/Drac-Hauts-de-France">DRAC Hauts-de-France</a>.
                        Avec le soutien du Ministère de la Culture, DRAC Hauts-de-France et de la ComUE Lille Nord de France ; et la participation du CNRS, de la Ville de Lille et du Centre historique minier de Lewarde.
                      </p>

                    </div>
                    <div class="col-12 col-lg-6">
                      {%asset img/posts/2019_holomouseio/holomouseio_tablette.jpg
                        srcset:width="1920"
                        srcset:width="650"
                        class="img-fluid"
                        sizes="(min-width: 1200px) 1200px, 100vw"
                        style="padding-bottom: 40px;"
                        alt="Laboratoire de numérisation de l'université de Lille"
                        %}
                      </div>
                    </div>
                  </div>
                </div>
              </section>
