---
layout: index
title: Musées holographiques
image: img/posts/2019_holomouseio/trilobite.jpg
abstract: Numérisation et médiation innovante pour la science et la culture
tags: museographie tourisme iris32
---


<section class="section section-main-header header-fill" style="max-width: 1920px">
  {%include components/header_image.html image="img/posts/2019_holomouseio/PBA.jpg" %}
  <div class="main-header-body body-right">
    <div class="content shadow rounded bg-white rounded p-4 text-justify">
      <h2>Numérisation et restitution holographique</h2>
      <p>
        Lancée par le projet <a href="2019-02-15-holomouseio.html" target="_blank">Holomouseio</a>, avec l'Université de Lille, la médiation en hologramme est devenue une possibilité pour les musées et les espaces de médiation scientifique.
      </p>
      <p>
        La numérisation des pièces archéologiques ou scientifiques permettent de créer facilement des applications pour les expliquer, les valoriser et transmettre les connaissances au public.
      </p>

    </div>
  </div>
</section>


<section id="video" class="section bg-light py-4">
  <div class="container jumbotron bg-white shadow my-0" style="text-align:center">
    <h2>Les premiers Hommes dans les Hauts-de-France</h2>
    {% include components/medias/youtube.html  embed="YaXXDFneC9I" %}
    <p>Avec l'<a href="https://www.inrap.fr/hauts-de-france-10358" target="_blank">Inrap des Hauts-de-France</a>, découvrez la vie des Hommes de la Préhistoire à travers les artefacts qu'ils nous ont laissés.</p>
    
    <p>
      Pour ce projet d'exposition itinérante, l'Inrap a numérisé par photogrammétrie des pièces emblématiques de ses collections sur les premiers Hommes dans la région Hauts-de-France. Cette période, s'étalant sur des centaines de milliers d'années, nous laisse des traces de leurs premiers outils et sculptures, preuves d'une culture riche et fascinante chez ces peuples de chasseurs-ceuilleurs.</p>
      <p>
      <b>L'Inrap</b>, Institut National de Recherches Archéologiques Préventives, réalise des fouilles sur tous les projets d'amènagement en région avant le début des travaux. Leur mission est la détection, la conservation ou la sauvegarde par l'étude scientifique des éléments du patrimoine archéologique, mais également leur intéprétation et leur diffusion.<br/>
      </p>
      <p style="text-align:left">
        <b>Crédits et remerciements</b>
        <ul style="text-align:left">
      <li><b>Conception et écriture : </b> Estelle Bultez<br/></li>
        <li><b>Remerciements aux archéologues de l’Inrap qui ont contribué à cette exposition :</b> Pascal Depaepe, Thierry Ducrocq, David Hérisson, Jean-Luc Locht, Clément Paris, Pierre Antoine – CNRS<br/></li>
          <li><b>Partenaires : </b>Drac Hauts-de-France, département de la Somme, CNRS, Amiens métropole.<br/></li>
            <li><b>Photogrammétrie : </b>Nicolas Lissarrague - DeVisu UPHF<br/></li>
              <li><b>Réalisation : </b><a href="/fr">Holusion</a><br/></li>
    </ul>
    </p>
  </div>
</section>

<section id="video" class="section bg-light py-4">
  <div class="container jumbotron bg-white shadow my-0" style="text-align:center">
    <h2>Numérisation du Pied de Croix de Saint-Bertin</h2>
    {% include components/medias/youtube.html  embed="nUSCXB-x7eM" %}
    <p>
      <a href="https://webtv.univ-lille.fr/video/10189/ethesaurus-l8217orfevrerie-a-l8217epreuve-de-la-modelisation-3d" target="_blank"><b>E.Thesaurus</b></a> s'appuie sur le développement d'une méthodologie d’acquisition d’éléments d’orfèvreries présentant un grand niveau de détails et des éléments réfléchissants. Cette méthode se base sur une reconstruction photogrammétrique 3D à partir d’images illuminées avec une lumière polarisée croisée. Le projet comporte un volet de communication auprès des publics et des étudiants via le format holographique.<br/>
      La photogrammétrie est une technique qui consiste à effectuer des mesures dans une scène, en utilisant la parallaxe obtenue entre des images acquises selon des points de vue différents.
    </p>
    <p style="text-align:left">
      <b> Porteurs de projet et participants :</b>
      <ul style="text-align:left">
        <li><b>Marc Gil</b> (Université de Lille, IRHiS)</li>
        <li><b>Christine Aubry</b> (Université de Lille, IRHiS)</li>
        <li><b>Pierre Hallot</b> (Université de Liège, labo LNA/DIVA)</li>
        <li><b>David Strivay</b> (Université de Liège, Centre européen d’Archéométrie)</li>
        <li><b>Frédéric Tixier</b> (Université de Lorraine-Campus de Nancy, CRHUL)</li>
        <li><b>Romain Saffré</b> (Directeur du Musée de l’hôtel Sandelin, Saint-Omer)</li>
        <li><b>Sophie Dutheuillet de La Motte</b> (Conservatrice du patrimoine, Palais-des-Beaux, Lille)</li>
        <li><b>Florence Raymond</b> (Attachée de conservation, en charge des nouveaux médias et outils du numérique, Palais des Beaux-Arts, Lille)</li>
        <li><b>Christine Descatoire</b> (Conservatrice en chef, Musée de Cluny, Paris)</li>
        <li><b>Julien Maquet</b> (Conservateur du Trésor de la cathédrale de Liège)</li>
        <li><b>Thibault Guillaumont</b>, société Holusion (Plaine images, Tourcoing)</li>
      </p>
    </div>
  </section>

  <section id="video" class="section bg-light py-4">
    <div class="container jumbotron bg-white shadow my-0" style="text-align:center">
      <h2>Médiation scientifique autour des trilobites</h2>
      {% include components/medias/youtube.html  embed="6HqhTuSQ4hc" %}
      Vidéo de présentation de photogrammétrie en hologramme.


      <p>
        Découverte d'un fossile de <b>trilobite enroulé</b>, une espèce disparue d'arthropode marin, et mise en avant de ce qui le constitue. <br/>
        Un prototype réalisé par Thibault Guillaumont pour Holusion à l'occasion de la <a href="http://www.cue-lillenorddefrance.fr/?q=culture-patrimoine/culture-scientifique/culture-fete-de-la-science" target="_blank">Fête de la Science</a> à Lille en 2019.<br/>
        <b>Crédits scientifiques :</b> Laboratoire UMR 8198 Evo-Eco-Paleo (EEP) à Lille.<br/>
        <b>Catherine Crônier / Jessie Cuvelier</b><br/>
        <b>Générateur d'Hologramme :</b> <a href="/fr/products/iris32">Iris 32</a><br/>
      </p>

    </div>
  </section>

  <section id="video" class="section bg-light py-4">
    <div class="container jumbotron bg-white shadow my-0" style="text-align:center">
      <h2>L'impressionisme. Renoir au Musée Fournaise</h2>
      {% include components/medias/youtube.html  embed="84GdJEdanW0" %}
      Sur le lieu inconique où le Déjeuner des Canotiers a été peint, Renoir revient présenter sa vie d'artiste.


      <p>
        100 ans après sa disparition, <b>Renoir</b> revient à Chatou à la <a href="https://www.musee-fournaise.com/" target="_blank">Maison Fournaise</a>. <br/>
        Il est incarné par un hologramme à taille humaine et raconte ses premières réussites et ses premiers déboires dans le monde de la peinture impressioniste. <br/>
        <b>Crédits scientifiques :</b> Musée Fournaise, Anne Galloyer <br/>
        <b>Réalisation : </b> Holusion / Christophe Leray (scénographie) <br/>
        <b>Générateur d'Hologramme :</b> <a href="/fr/products/iris75">Iris 75</a> et décors sur mesure<br/>
      </p>

    </div>
  </section>
