---
layout: index
title: Pose première pierre SHAKE
image: img/posts/2019_Nacarat/bann.jpg
abstract: Le nouveau siège de la Caisse d'Epargne dévoilé en hologrammes
tags: immobilier iris75
---

<section class="section section-main-header header-fill" style="max-width: 1920px">
  {%include components/header_image.html image="img/posts/2019_Nacarat/iris75_estrade.jpg" %}
  <div class="main-header-body body-right">
    <div class="content shadow rounded bg-white rounded p-4 text-justify">
      <h2>Une révélation en hologramme</h2>
      <p>
        Nouveau projet immobilier phare de la ville de Lille, le <a href="http://shake.nacarat.com/" target="_blank">ShAKe</a>, abritera le nouveau siège la <b>Caisse d'Epargne Hauts-de-France</b>.
      </p>
      <p>
        <i>ShAKe révolutionne la façon de penser l’immobilier d’entreprise en s’appuyant sur trois tendances sociétales majeures : le décloisonnement entre vie privée et professionnelle, le passage à une logique d’usage et de partage et le développement de la notion de communauté.</i>
      </p>
      <ul>
        <li>Promoteur : <b>NACARAT</b></li>
        <li>Investisseur : <b>Caisse d'Epargne Hauts-de-France</b></li>
        <li>Architect : <b>PCA-STREAM</b></li>
        </ul>

    </div>
  </div>
</section>




<section id="Inauguration" class="section section-main-header header-fill">
  {%include components/header_image.html image="img/posts/2019_Nacarat/shake2019.jpg" %}
  <div class="main-header-body">
    <div class="content shadow rounded bg-white rounded p-4">
      <div class="row">
        <div class="col-12 col-lg-6">
          {% picture container img/posts/2019_Nacarat/shake_holo.jpg
            --img class="img-fluid"
            style="padding-bottom: 40px;"
            alt="L'hologramme du ShAke sur Iris 75 lors de la pose de 1ère pierre"
            %}
          </div>
          <div class="col-12 col-lg-6 text-justify" >
            <h2>Officialiser le lancement de la construction</h2>
            <p>
              Comment présenter toute l'<b>ambition</b> d'un projet alors que le chantier commence à peine ?
            </p>
              <p>Alors que le projet n'en est encore qu'aux fondations et que plus d'un an de travaux le sépare de sa livraison, la pose de la pierre officialise la place que le bâtiment occupera bientôt dans le paysage urbain. C'est une <b>date clé</b> dans le cycle de vie du bâtiment qui souligne l'engagement des différents acteurs du projet : politiques, investisseurs, constructeurs, clients...</p>
              <p>L'hologramme, en se basant sur les <b>sources BIM du bâtiment</b>, est alors capable non pas seulement de présenter l'architecture extérieure mais aussi ses réseaux, ses caractéristiques techniques et sa mixité programmatique. Nous avons pu à partir de ces sources donner une <b>vision esthétique et fonctionnelle du bâtiment</b>.</p>
              <p>L'Iris 75, générateur d'hologrammes Ultra HD de grande taille a permis le 27 Juin 2019 une présentation tout en détails du <b>ShAke</b> dans une condition optimale.</p>
              <p>Dans une tente très exposée à la lumière, les 4 acteurs clés du projet ont appuyé conjointement sur un déclencheur pour dévoiler la maquette en hologramme au public. <b>200 personnes étaient présentes</b> pour profiter de cette expérience.
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="video" class="section bg-light py-4">
      <div class="container jumbotron bg-white shadow my-0" style="text-align:center">
        <h2>Découvrez le projet en vidéo</h2>
        {% include components/medias/youtube.html  embed="NckRXkl4Ms0" %}
      </div>
    </section>

    <section class="section section-main-header header-fill py-4">
      <div class="main-header-image-wrapper">
        {% picture img/posts/2019_Nacarat/iris75_side.jpg
          
          
          
          sizes="100vw"
          class="img-fluid"
          alt="iris75 hologramme sur estrade"
          %}
        </div>
        <div class="main-header-body container jumbotron bg-white shadow my-4">
          <h2>Une révélation en hologramme</h2>
          <p>
            L'effet de suprise est au rendez-vous avec une touche d'<b>interactivité</b> ! Le matériel pour rendre cette révélation possible est le suivant :
            <ul>
              <li>Un <a href="/fr/products/iris75">Iris 75</a>, pour un hologramme d'une qualité exceptionnelle.</li>
              <li>Un buzzer de contrôle (mis en route grâce à notre <a href="https://holusion.com/dev" target="_blank"> API</a>), pour la surprise.</li>
              <li>Un habillage sur mesure pour s'intégrer au mieux à l'évènement.</li>
            </ul>
          </p>
          <p>
            <b>Lorque les quatre invités ont appuyé sur le bouton, la maquette holographique du ShAke s'est déclenchée, devant l'ensemble du public !</b>
          </p>
          <div class="row">
            <div class="col-lg-4 col-md-12  d-flex flex-column justify-content-center">
              {% picture container img/posts/2019_Nacarat/iris75_foule.jpg
                --img class="img-fluid"
                style="padding-bottom: 40px;"
                alt="foule en train de filmer l'hologramme de la pose de 1ère pierre de ShAke"
                %}
              </div>
              <div class="col-lg-8 col-md-12 d-flex flex-column justify-content-center">
                <h2>Le développement de la maquette holographique</h2>
                <p>La deuxième partie du succès de la présentation d'une maquette holographique est la <b>simplicité</b> avec laquelle nous pouvons convertir les maquettes numériques en hologrammes.</p>
                <p>Celle-ci se fait en 3 étapes :</p>
                <h3>1 - Récupération des données BIM</h3>

                  <h3>2 - Scénarisation</h3>

                  <h3>3- Rendus holographiques</h3>

                  <p>
                  <i>Plus d'informations sur cette solution : <a href="/fr/usages/bim">Présenter une maquette sous forme d'hologrammes</a></i>
                    </p>
                </div>
              </div>
            </div>
          </section>

          <section id="BIM" class="section bg-light py-4">
            <div class="container jumbotron bg-white shadow my-0" style="text-align:center">
              <h2>1 - Gestion de données BIM</h2>
                <p>Compatible avec tous les logiciels professionels</p>
              <p><i>Gérer une base de données de fichiers 3D intégrant tous les éléments du bâtiment</i></p>
              {% picture container img/posts/2019_Nacarat/hologramme_reseaux.jpg
                --img class="img-fluid"
                style="padding-bottom: 40px;"
                alt="Rendu architectural en haute qualité"
                %}
            </div>
          </section>

          <section id="Scénarisation" class="section bg-light py-4">
            <div class="container jumbotron bg-white shadow my-0" style="text-align:center">
              <h2>2 - Scénarisation</h2>
              <p>Pour tirer le meilleur parti de la richesse des informations disponibles</p>
              <p><i>Mise en avant de la mixité programmatique, des réseaux techniques, de tout ce qui rend un projet immobilier vraiment unique</i></p>
              {% picture container img/posts/2019_Nacarat/hologramme_quartier.jpg
                --img class="img-fluid"
                style="padding-bottom: 40px;"
                alt="Rendu architectural en haute qualité"
                %}
            </div>
          </section>

          <section id="Rendu" class="section bg-light py-4">
            <div class="container jumbotron bg-white shadow my-0" style="text-align:center">
              <h2>3 - Rendu Ultra Haute Définiton</h2>
            <p>Des images ultra haute qualité et lumineuses</p>
              <p><i>Utilisation d'un moteur graphique performant et open source pour la création d'images photo-réalistes restistuant au mieux les choix de matériaux et l'ambition architecturale.</i></p>
              {% picture container img/posts/2019_Nacarat/iris75_rendu_shake.jpg
                --img class="img-fluid"
                style="padding-bottom: 40px;"
                alt="Rendu architectural en haute qualité"
                %}
            </div>
          </section>

          <div class="main-header-body">
            <div class="content shadow rounded bg-white rounded p-4">
              <div class="row justify-content-center">
                <div class="col-12 col-lg-1 text-center" >
                  <a href="https://www.linkedin.com/in/r%C3%A9mi-foulon-6a0354118/" target="_blank">
                    <img class="img-fluid" src="/static/img/posts/2019_Nacarat/Remi_Foulon.png" alt="Remi Foulon" style="padding-bottom: 40px;"/>
                  </a>
                  </div>
                  <div class="col-12 col-lg-6 text-justify" >
                    <blockquote class="blockquote">
                      <h2>Témoignage</h2>
                    <p>
                      Nous avons sollicité Holusion pour mettre en valeur notre projet Shake à travers un hologramme, à l’occasion de la première pierre du projet. <br/>
                      Les équipes d’Holusion ont parfaitement su écouter et intégrer nos intentions dans la conception de l’hologramme. Le produit présenté lors de l’évènement a d’ailleurs eu un effet très positif du fait de son originalité et de son esthétisme !
                    </p>
                      <footer class="blockquote-footer">Rémi Foulon, Directeur de Programme Adjoint chez Nacarat</footer>
                      </blockquote >
                    </div>
                  </div>
                </div>
              </div>

          <section class="section section-main-header header-fill">
            {%include components/header_image.html image="img/posts/2019_Nacarat/nacarat_tente.jpg" %}
            <div class="main-header-body">
              <div class="content shadow rounded bg-white rounded p-4">
                <div class="row">
                      {% picture img/posts/2019_Nacarat/bottom.jpg
                        
                        --img class="img-fluid"
                        sizes="(min-width: 1200px) 1920px, 100vw"
                        style="padding-bottom: 40px;"
                        --alt  Lieu de la pose de première pierre de ShAke, sur le chantier
                        %}
                    </div>
                  </div>
                </div>
              </section>
