---
layout: index
title: "Klick500 : Innovations et hologrammes"
image: img/posts/2020_Oxelo/iris32_klick500.jpg
abstract: Une borne holographique pour une présentation produit
tags: marketing innovation Decathlon
---

<section class="section section-main-header header-fill" style="max-width: 1920px">

  {%include components/header_image.html image="img/posts/2020_Oxelo/iris32_magasin.jpg" %}
  <div class="main-header-body body-right">
    <div class="content shadow rounded bg-white rounded p-4 text-justify">
      <h2>Klick500</h2>
      <p>Au <a href="https://www.btwin-village.com/" target="_blank">B'Twin Village</a>, la nouvelle trottinette d'Oxelo, une marque de <a href="https://www.decathlon.com" target="_blank">Décathlon</a>, est présentée sous toutes ses courtures avec un dispositif holographique innovant.
      </p>
      <p>Le mapping mélange hologrammes et objet réel pour créer une expérience unique de présentation de produit. Ce projet mêle maquette en impression 3D ou produit réel avec des illustrations 3D en hologrammes. Cela montrent les avantages pour le client et l'utilisation qu'il pourra en faire.
      </p>
    </div>
  </div>
</section>

<section class="section section-main-header header-fill py-4" id="video">
    <div class="main-header-image-wrapper">
        {% picture  img/posts/2020_Oxelo/iris32_btwin.jpg
            
            
            
            sizes="100vw"
            --img class="img-fluid"
            --alt  hologramme chez decathlon
            %}
        </div>
        <div class="main-header-body container jumbotron bg-white shadow my-4">
    <h2> L'installation au B'Twin Village à Lille </h2>

    {% include components/medias/youtube.html  embed="tBymyNjl8XU" %}

<div class="text-justify pt-3">
      <h2> Un projet de design et de marketing </h2>
        <p class="pb-3">
          Pour arriver à ce résultat, un travail ambitieux d'innovation a été réalisé avec les équipes d'Oxelo pour imaginer et produit cette <b>reconstitution holographique</b>.
          </p>
          <p>Le scénario se découpe en 3 parties:
            <ul>
              <li>Une présentation technique du produit, avec une vue éclatée de ses pièces et des détails techniques.</li>
              <li>Une présentation par un de ses concepteurs sur sa manipulation et son design</li>
              <li>Une présentation de son usage, avec une simulation d'un déplacement</li>
            </ul>
      <h2> Un affichage innovant </h2>
      <p class="pb-3">
        Cette collaboration a permis d'impliquer directement les équipes d'Oxelo, allant jusqu'à leur donner un rôle majeur : apparaitre en hologrammes pour la présentation de la Klick500.  Les services d'innovation ont également contribué pour l'impression 3D de la trottinette en modèle réduit à partir des plans de fabrication.
      </p>
      <p>
        Cet hologramme a demandé un travail précis pour bien positionner le mapping holographique sur la maquette et incruster les images prises en vues réelles sur la Klick500.

        <h2> Répondre aux besoins de chaque magasin</h2>
        <p>
          Cet hologramme est un <a href="../products/iris32"> Iris32</a>. Un générateur d'hologramme robuste et mobile qui est amené à circuler à travers la France dans les différents magasins Décathlon commercialisant la trottinette Klick500.
          </p>
      </div>
    </div>
  </section>
