---
layout: index
title: Revoir Renoir
image: img/posts/2020_museedusport/Lloris.jpg
abstract: Auguste Renoir vous guide le temps d'une visite au Musée Fournaise.
tags: museographie tourisme education hologramme
---

<section class="section section-main-header header-fill" style="max-width: 1920px">
  {%include components/header_image.html image="img/posts/2020_Renoir/Renoir.png" %}
  <div class="main-header-body body-right">
    <div class="content shadow rounded bg-white rounded p-4 text-justify">
      <h2> Revoir Renoir </h2>
      <p>
      Auguste Renoir renaît à Chatou. Pour commémorer <b> le centenaire </b>de sa disparition, le Musée Fournaise de Chatou a fait renaître le célèbre peintre de ses cendres.
      </p>
      <p>
      Il sert de guide aux visiteurs le temps d'une journée, sur <b> l'Île des Impressionnistes, </b> berceau des célèbres <i> Canotiers. </i>
      </p>

    </div>
  </div>
</section>


<section id="video" class="section bg-light py-4">
  <div class="container jumbotron bg-white shadow my-0 text-center">
    <h2> Remontez le temps avec Renoir  </h2>
    {% include components/medias/youtube.html  embed="84GdJEdanW0" %}

    <p> <i>
    L’exposition a pour ambition de proposer un véritable <b>voyage dans le temps</b> aux visiteurs. Ces derniers peuvent retrouver Renoir dans toute son humanité, grâce aux technologies numériques.
    </i> </p>

<div class="text-justify">
      <h2> La technologie au service de l'histoire </h2>
      <p>
        Nous avons ainsi été contactés pour réaliser un hologramme du peintre, afin de créer une expérience immersive. Un Iris 75 taille humaine a donc été installé derrière un comptoir pour permettre au peintre d’interagir avec le public. L’hologramme est installé au Musée Fournaise à Chatou, sur l’Île des impressionnistes. Cette <b> guinguette </b> située sur les bords de Seine attirait de nombreux peintres fin XIXème, dont le célèbre Renoir. C’est d’ailleurs ici qu’il réalisera les Canotiers.
      </p>
      </div>
    </div>
  </section>



  <section class="section section-main-header header-fill py-4">
      <div class="main-header-image-wrapper">
          {% asset img/posts/2020_Renoir/FondRenoirsite.jpg
              srcset:width="1920"
              srcset:width="1920"
              srcset:width="960"
              sizes="100vw"
              class="img-fluid"
              alt="iris22 avec un ecorché d'appartement"
              %}
          </div>
          <div class="main-header-body container jumbotron bg-white shadow my-4">
              <h2 style="margin-bottom:15px"> Le récit d'une vie </h2>
              <p>
                Il raconte aux visiteurs les débuts de son art et les vives critiques qu’il a pu susciter chez certains journalistes. DEVELOPPER
              </p>
              <p>
                <i> “Figaro, Figaro, Figaro ! Albert Wolff a écrit dans le Figaro : “Essayez donc d’expliquer à M. Renoir que le torse d’une femme n’est pas un amas de chairs en décomposition avec des taches vertes violacées, qui dénotent l’état de complète putréfaction dans un cadavre.” Ce n’est plus une critique mais une condamnation.” </i>
              </p>

              {% asset img/posts/2020_bim/iris32_bim_reservation.jpg
                  srcset:width="1920"
                  srcset:width="1920"
                  srcset:width="960"
                  sizes="100vw"
                  class="img-fluid"
                  alt="iris32 présentant un module de réservation de salles"
                  %}

              <p>

                L’hologramme de Renoir a été réalisé par notre équipe, ainsi que la fabrication du dispositif. DEVELOPPER
                Nous sommes ravis d’avoir pu contribuer à la renaissance de ce peintre français auprès du grand public. Merci au Musée de la Fournaise pour sa confiance.
                  </p>

              <h2> Infos utiles </h2>
              <p>
                  Le Musée Fournaise est ouvert du mercredi au vendredi de 10h à 18h et le week-end de 10h30 à 18h, à partir de 7€.
              </p>
              </div>
          </section>
