---
layout: front_page
title: L’hologramme, comment ça marche ?
image: img/posts/2020_hologramme/Miniature.jpg
abstract: Explications sur les hologrammes
tags: Explications Hologrammes Pepper's ghost Tupac Mélenchon Star Wars
---

<main class="main-dark main-grid">

  <section class="section section-center">
    <h2 class="text-white my-5" style="font-size: 3rem">L’hologramme, comment ça marche ?</h2>
  </section>

  <section class="section">
    {% picture grid img/posts/2020_hologramme/starwars.png
      --img class="cover"
      data-noisetest="1"
      style="object-position: 70% 0"
    %}
    <div class="content py-0">
    <h3>Comment fonctionne un hologramme ?</h3>
    <p>
      Lorsque l’on parle d’hologrammes, il n’est pas rare de penser aux projections bleutées en 3-dimensions de la célèbre saga <b>Star Wars</b>. Pourtant, parmi les types d’hologrammes qui existent réellement, aucun ne permet actuellement de projeter Leïa dans le vide.
    </p>
    <h3>Magie, science-fiction, rêve ou réalité ?</h3>
    <p>
      L'hologramme embrase les imaginations et on les retrouvent dans les livres comme au grand écran : Star Wars, Iron Man, Avatar...
    </p>
    <p>
      Malheuresement pour nous, dans les films, rien n'est vrai dans ces hologrammes ! Ce sont des <b>effets spéciaux</b> ajouté bien après le tournage sur l'image.
    </p>
    </div>
  </section>
  <section class="section section-white">
    <h2>Mais alors, un hologramme, qu'est-ce que c'est ?</h2>
  </section>
  <section class="section section-center">
    <h2>L'hologramme de Denis Gabor</h2>
    <div class="content">
      <h3>Un projet scientifique de pointe</h3>
      <p>
        Un hologramme est une image contenant des informations tridimensionnelles. Cette projection est obtenue via l’<b>holographie</b>, une technique qui enregistre le volume 3D d’un objet grâce aux propriétés <i>ondulatoires</i> de la lumière (<i>c'est à dire qu'elle se comporte un peu comme une onde acoustique</i>). C'est souvent celui qui est désigné sous le nom de <b>vrai hologramme</b>.
      </p>
      <h2>Comment ça marche ?</h2>
    </div>
  </section>

  <section class="section left section-white">
    {% picture grid img/posts/2020_hologramme/holograph-record.png
      --picture class="contained"
      alt="By DrBob at the English-language Wikipedia, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=18103931"
    %}
    <div class="content m-auto">
      <p>
        L’hologramme existe grâce aux propriétés physiques de la lumière. Comme celle-ci existe à la fois comme une particule, mais aussi comme une onde, des scientifiques ont émis l'hypothèse qu'il devrait être possible d'enregistrer la lumière en stéréo, de la même manière qu'on enregistre un piste sonore. Par exemple, en projettant un faisceau lumineux à la fois sur un objet et sur une plaque photographique, les interactions entre les deux ondes vont créer une image tridimensionnelle.
      </p>      
    </div>
  </section>
  <section class="section left section-white pt-4">
    {% picture container img/posts/2020_hologramme/holography-reconstruct.png
      --picture class="contained w-75"
      alt="By DrBob at the English-language Wikipedia, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=18103931"
    %}
    <div class="content m-auto">
      <p>
        Lorsque la plaque est à nouveau illuminée par le même rayonnement original, elle restitue l'objet <i>interférent</i> à l'emplacement original par rapport à la prise de la photo holographique.
      </p>
    </div>
  </section>

  <section class="section">
    {% picture grid img/posts/2020_hologramme/gabor.jpg
      alt="Présentation de l'hologramme de Gabor"
     %}
    <h2>Qui l'a découvert ?</h2>
    <div class="content">
      <p>
        L'idée d’hologramme est née en 1947 grâce à <strong>Dennis Gabor</strong> mais c’est seulement dans les années 1960 avec l’avènement du laser que le procédé se développe. 
        Néanmoins, ces hologrammes ne sont rendus possibles que dans des cadres bien particuliers, car ils nécessitent un environnement propice aux interférences. 
        Leur utilisation n’est donc pas démocratisée et on les retrouve principalement dans des laboratoires car leur création est techniquement complexe.
       </p>
       <p>
        Comme une image holographique est extrèmement dure à falsifier, leur première application commerciale aujourd'hui est dans la lutte contre les fraudes. Ils sont utilisé pour la création d'hologrammes de sécurité, des petites images iridiscentes que vous retrouverez sur vos passeports, billets de banque, cartes bancaires et autres documents importants.
       </p>

    </div>
  </section>

  <section class="section section-white">
    <h2>Mais quel rapport avec l'hologramme ?</h2>
  </section>

  <section class="section section-center">
    <div class="content">
      <p>
        Ce moyen de communication du futur qui promet de faire flotter l'image de son interlocuteur dans l'air ? Et bien on le doit à popularité croissante de la <b>science-fiction</b> à la fin des années 70. Elle s'empare des hologrammes pour leur inventer des applications futuristes dans la télécommunication et les médias de masses qui débutent alors.
      </p>
      <p>
        Une vision séduisante qui impactera fortement l'imaginaire collectif ! Les hologrammes que nous connaissons aujourd’hui sont donc le résultat d’une analogie avec ces technologies décrites.
      </p>
      <p>
        Pour ses travaux de recherches, Denis Gabor se verra recompensé par le <a href="https://www.nobelprize.org/prizes/physics/1971/summary/" target="_blank">Prix Nobel de physique en 1971</a>.
      </p>
    </div>
  </section>

  <section class="section left">
    {% include components/medias/youtube.html  embed="84GdJEdanW0" %}
    <h2>L'hologramme du Fantôme de Pepper</h2>
    <div class="content m-auto">
      <p>
        C'est aujourd'hui la forme la plus commune de ce qu'on appelle des "hologrammes" dans la vie quotidienne. C'est le principe des hologrammes sur scène, dans les musées, dans les expositions. Dans son fonctionnement, il n'a rien en commun avec l'hologramme de Denis Gabor.
      </p>
      <p>
         Ce type d’hologramme résulte donc d'un <i>abus de language</i>, et correspond à toute image donnant l’impression de flotter dans les airs. Cette impression de flottement est rendue possible grâce au Pepper’s Ghost. L'image peut être en relief, ou en trompe-l'oeil pour donner l'impression d'une image tridimensionnelle.
      </p>
    </div>
  </section>

  <div class="section section-center">
    <h2>Comment ça marche ?</h2>
  </div>

  <section class="section">
    {% picture grid img/posts/2020_hologramme/PeppersGhost_schema.png

      alt="schema Hologramme Pepper's ghost"
    %}
        
    <div class="content m-auto">
      <p>
        Issue du monde du spectable, cette illusion d’optique consiste à utiliser une surface réfléchissante pour donner l’impression qu’un objet apparaît ou disparaît. La  vitre inclinée est invisible aux yeux du spectateur, et l’illusion réside dans le fait qu’elle ne laisse pas seulement voir en transparence, elle reflète aussi un autre objet caché.
      </p>
    </div>
  </section>

  <section class="section left section-white pt-5">

    {% picture container img/posts/2020_hologramme/Peppers_Ghost.jpg
      --picture class="contained"
      alt="Présentation de l'hologramme de Pepper" 
    %}

    <div class="content m-auto">
      <h3>Cette illusion d'optique n'est pas neuve !</h3>
      <p>
        Elle a reçu ses lettres de noblesses par John Henry Pepper au 19<exp>eme</exp> siècle pour faire apparaitre des fantômes sur les scènes de théâtre anglais de l'époque victorienne. D'où le terme de Fantôme de Pepper, ou Pepper's Ghost.
      </p>
      <p>
        Mais le principe serait bien plus ancien et présent dans les fêtes foraines depuis le 16ème siécle comme dans le tour de magie d'une jeune femme se transformant en gorille.
      </p>
      <p>
        Cette illusion se décline de plusieurs façons. On la retrouve aussi bien à grande échelle, sur scène, qu’à plus petite échelle, dans des vitrines holographiques.
      </p>
    </div>
  </section>

  <section class="section">
    {% include components/medias/youtube.html  embed="AQYExdderJM" %}
    <h2>L'hologramme de Pepper numérique</h2>
    <div class="content">
      <p>
        Aujourd’hui, hologrammes et numérique fusionnent pour créer des rendus holographiques plus réalistes et encore plus impressionnants. Ces hologrammes mixtes consistent à utiliser un écran qui, une fois reflété sur une vitre inclinée, projettent un visuel 3D en réalité augmentée. Ils peuvent être utilisées dans différents secteurs, que ce soit dans l’immobilier tout comme la médiation culturelle ou l’éducation. 
      </p>
    </div>
  </section>

  <section class="section section-white">
    <h2>En bref !</h2>
  </section>

  <section class="section section-center">
    <div class="content">
      <div class="my-4">
        <h3> Quel est le point commun entre Mélenchon et Tupac ?</h3>
        <p> Les hologrammes de Pepper sont naturellement chéris par le monde de la scène, qui est leur berceau. Tupac a ainsi pu renaître en 2012 à Coachella, grâce à l’illusion de Pepper. Mais ces hologrammes dépassent largement la scène musicale et ont fait leur apparition en politique, avec Mélenchon. Revendiqué comme “hologramme” par l’équipe politique, cela reste une illusion d’optique. </p>
       <p> Les marques sont de plus en plus enthousiastes : l’américain <b> Supreme </b> s'est offert une collaboration avec l’hologramme de Tupac pour la sortie de sa collection 2020. </p>
      </div>
      <div  class="my-4">
        <h3> Une idée née bien plus tôt...</h3>
        <p> L’histoire de cet hologramme “démocratisé” a commencé dans la seconde moitié du 19ème siècle. John Henry Pepper, directeur d’un établissement de vulgarisation scientifique, achète en 1858 une invention à Henry Dirks. C’est Pepper qui va développer cette illusion en la perfectionnant et en l’adaptant au théâtre. L’appellation “Fantôme de Pepper” vient ainsi de la première apparition de l’illusion dans la pièce “L’homme hanté ou le Pacte du fantôme” (Dickens). Le procédé se répand et le nom est resté. </p>
      </div>
      <div class="my-4">
        <h3>Quels hologrammes nous côtoient au quotidien ?</h3>
        <p> Les hologrammes les plus répandus sont ceux de nos cartes bleues, de nos cartes d’identité, de nos billets. Ce ne sont pas des hologrammes de Gabor mais des hologrammes de sécurité, destinés à empêcher toute tentative de reproduction illégale. </p>
      </div>
      <div class="my-4">
        <h3>Et les autres techniques holographiques ?</h3>
        <p> Deux autres techniques existent pour créer des illusions holographiques ! Utiliser un écran très fin et transparent, comme un <strong>tulle</strong> et projeter des images dessus au vidéo-projecteur. C'est une technique très appréciée dans le monde du théâtre.</p>
        <p>L'autre technique, c'est d'utiliser la <strong>permanence rétinienne</strong> pour faire flotter une image. Les hélices holographiques font tournoyer des bandeaux de LED tricolores à haute vitesse pour créer cette impression d'image flottante.</p>
      </div>
      <div  class="my-4">
        <h3>Les hologrammes que nous voyons dans les films vont-ils exister ?</h3>
        <p>Etant donné que le premier hologramme couleur vient seulement d’être réalisé en... 2015, il semblerait que la technologie se doit encore d’avancer avant de pouvoir démocratiser de tels hologrammes à échelle humaine.</p>
        <p>Une histoire à suivre !</p>
      </div>
    </div>
  </section>
</main>