---
layout: index
title: Un Conte moderne...
image: img/posts/2020_Renoir/Miniature.png
abstract: Un hologramme retraçant l'histoire du château d'Alençon dévoilé au grand public
tags: culture alençon education hologramme collectivités
---

<section class="section section-main-header header-fill" style="max-width: 1920px">
  {%include components/header_image.html image="img/posts/2020_Renoir/Canotiers.jpg" %}
  <div class="main-header-body body-right">
    <div class="content shadow rounded bg-white rounded p-4 text-justify">
      <h2> Un Conte moderne </h2>
      <p> La maison d’arrêt d'Alençon a été reconvertie en parc, ouvert au grand public. A l'occasion du dévoilement du nouvel espace, la ville d'Alençon a décidé de donner un outil au public pour mieux s'approprier l'histoire du château.
      </p>
      <p> Un hologramme a donc été installé dans la cour du nouveau parc, afin d'être accessible à tous.
      </p>
    </div>
  </div>
</section>


<section id="video" class="section bg-light py-4">
  <div class="container jumbotron bg-white shadow my-0 text-center">
    <h2> Révisez votre histoire </h2>
    {% include components/medias/youtube.html  embed="84GdJEdanW0" %}

<div class="text-justify pt-3">
      <h2> Un dispositif interactif </h2>
      <p class="pb-3">
        Le fruit de cette collaboration est une <b>maquette holographique</b> du château. L’hologramme retrace l’évolution du bâtiment sur plusieurs siècles, de 1170 à aujourd’hui. L’ambition était de revaloriser le château et d’expliquer les modifications qu’il a pu connaître.
        Cet hologramme est interactif. Le public peut choisir la période qu’il désire consulter grâce à une tablette connectée. Il ne reste donc pas passif et devient un véritable acteur de l’exposition.
      </div>
    </div>
  </section>

  <section class="section section-main-header header-fill py-4">
      <div class="main-header-image-wrapper">
          {% asset img/posts/2020_Renoir/FondRenoir.jpg
              srcset:width="1920"
              srcset:width="1920"
              srcset:width="960"
              sizes="100vw"
              class="img-fluid"
              alt="iris22 avec un ecorché d'appartement"
              %}
          </div>
          <div class="main-header-body container jumbotron bg-white shadow my-4">
              <h2 style="margin-bottom:15px"> Découvrez l'histoire de votre région </h2>
              <p>
                Si l'hologramme explique visuellement les évolutions avec quelques légendes,  la tablette contribue elle aussi à la transmission d'informations. Elle expose des informations textuelles utiles sur la période, pour que l’audience puisse en savoir plus.
              </p>
              <p class="pb-1">
              {% asset img/posts/2020_Renoir/Citation.png
                  srcset:width="1920"
                  srcset:width="1920"
                  srcset:width="960"
                  sizes="100vw"
                  class="img-fluid"
                  alt="iris32 présentant un module de réservation de salles"
                  %}
              </p>

                <p class="pb-3">
                  Nous remercions la direction de la vie culturelle et du tourisme d’Alençon pour sa confiance, ainsi que la ville d’Alençon, la Communauté urbaine d’Alençon, le département de l’Orne, la région Normandie, et le FEDER.
                </p>

              </div>
              </section>
