---
layout: index
title: L’hologramme, comment ça marche ?
image: img/posts/hologramme/DSC_0032.jpg
abstract: Explications sur les hologrammes
tags: Explications Hologrammes Pepper's ghost Tupac Mélenchon Star Wars
---

<section class="section section-main-header header-fill" style="max-width: 1920px">
  {%include components/header_image.html image="img/posts/hologramme/Now.jpg" %}
  <div class="main-header-body body-right">
    <div class="content shadow rounded bg-white rounded p-4 text-justify">
      <h2>L’hologramme, comment ça marche ?</h2>
      <p>
      Lorsque l’on parle d’hologrammes, il n’est pas rare de penser aux projections bleutées de la célèbre saga Star Wars. Pourtant, parmi les deux types d’hologrammes qui existent réellement, aucun ne permet de projeter Leïa dans le vide !
      </p>
      <p>
      <i>  Par exemple, cet hologramme extrait du film "Insaisissables" (Louis Leterrier, 2013) n’existe pas, et relève du domaine de la magie, ce qui est d'ailleurs le sujet même du film. </i>
      </p>
    </div>
  </div>
</section>

<section id="Gabor" class="section section-main-header header-fill">

  <div class="main-header-body">
    <div class="content shadow rounded bg-white rounded p-4">
      <div class="row">
        <div class="col-12 col-lg-6">
          {%asset img/posts/hologramme/holomouse.jpg
            class="img-fluid"
            sizes="(min-width: 1200px) 1200px, 100vw"
            style="padding-bottom: 40px;"
            alt="Présentation de l'hologramme de Gabor"
            %}
          </div>
          <div class="col-12 col-lg-6 text-justify" >
            <h2>L'hologramme de Gabor</h2>
            <p>
            </p>

            <p>
               <b>  Définition :   </b>
            Un hologramme est une image contenant des informations tridimensionnelles. Cette projection est obtenue via l’holographie, une technique qui enregistre le volume 3D d’un objet grâce aux ondes.
            </p>
            <p>
              <b>  Comment ça marche ?  </b>
              L’hologramme existe grâce aux interférences (superpositions de deux ondes proches). Il s’agit de projeter un faisceau lumineux à la fois sur un objet et sur une plaque, et les interactions entre les deux ondes vont créer une image tridimensionnelle.
            </p>            <p>
            <b>  Histoire :   </b>
             L'idée d’hologramme est née en 1947 grâce à Dennis Gabor mais c’est seulement dans les années 1960 avec l’avènement du laser que le procédé se développe. Néanmoins, ces hologrammes ne sont rendus possibles que dans des cadres bien particuliers, car ils nécessitent un environnement propice aux interférences. Leur utilisation n’est donc pas démocratisée et on les retrouve principalement dans des laboratoires. Les hologrammes que nous connaissons aujourd’hui sont donc le résultat d’une analogie.
                </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="PeppersGhost" class="section section-main-header header-fill">

      <div class="main-header-body">
        <div class="content shadow rounded bg-white rounded p-4">
          <div class="row">
              <div class="col-12 col-lg-6 text-justify" >
                <h2>L'hologramme de Pepper</h2>
                <p>
                   <b>  Définition :   </b>
                   Ce type d’hologramme résulte donc d'une analogie, et correspond à toute image tridimensionnelle donnant l’impression de flotter dans les airs. Cette impression de flottement est rendue possible grâce au Pepper’s Ghost.
                </p>
                <p>
                  <b>  Comment ça marche ?  </b>
                  Issue du monde de la scène, cette illusion d’optique consiste à utiliser une surface réfléchissante pour donner l’impression qu’un objet apparaît ou disparaît. La  vitre inclinée est invisible aux yeux du spectateur, et l’illusion réside dans le fait qu’elle ne laisse pas seulement voir en transparence, elle reflète aussi un autre objet caché.
                </p>            <p>
                <b>  Variantes :   </b>
                 Cette illusion se décline de plusieurs façons. On la retrouve aussi bien à grande échelle, sur scène, qu’à petite échelle, dans des vitrines holographiques.
                    </p>
                </div>
                <div class="col-12 col-lg-6">
                  {%asset img/posts/hologramme/PeppersGhost.jpg
                    srcset:width="1920"
                    srcset:width="650"
                    class="img-fluid"
                    sizes="(min-width: 1200px) 1200px, 100vw"
                    style="padding-bottom: 40px;"
                    alt="Présentation de l'hologramme de Pepper"
                    %}
                  </div>
              </div>
            </div>
          </div>
        </section>

  <section id="video" class="section bg-light py-4">
    <div class="container jumbotron bg-white shadow my-0" style="text-align:center">
      <h2> L'hologramme de Pepper numérique </h2>
      {% include components/medias/youtube.html  embed="AQYExdderJM" %}
      <h3> Vidéo de présentation d'un Pepper's Ghost numérique </h3>
      <p> </p>
      <p> Aujourd’hui, hologrammes et numérique fusionnent pour créer des rendus holographiques plus réalistes et encore plus impressionnants. Ces hologrammes mixtes consistent à utiliser un écran qui, une fois reflété sur une vitre inclinée, projettent un visuel 3D en réalité augmentée. Ils peuvent être utilisées dans différents secteurs, que ce soit dans l’immobilier tout comme la médiation culturelle ou l’éducation. </p>


    </div>
  </section>


  <section class="section section-main-header header-fill py-4">
      <div class="main-header-image-wrapper">
          {% asset img/posts/hologramme/Tupacldd.jpg
              srcset:width="1920"
              srcset:width="1920"
              srcset:width="960"
              sizes="100vw"
              class="img-fluid"
              alt="iris22 avec un ecorché d'appartement"
              %}
          </div>
          <div class="main-header-body container jumbotron bg-white shadow my-4 p-5">
              <h2 style="margin-bottom:15px">Le saviez-vous ?</h2>
              <div class="my-4">
                <h3> Quel est le point commun entre Mélenchon et Tupac ?</h3>
                <p> Les hologrammes de Pepper sont naturellement chéris par le monde de la scène, qui est leur berceau. Tupac a ainsi pu renaître en 2012 à Coachella, grâce à l’illusion de Pepper. Mais ces hologrammes dépassent largement la scène musicale et ont fait leur apparition en politique, avec Mélenchon. Revendiqué comme “hologramme” par l’équipe politique, cela reste une illusion d’optique. </p>
               <p> Les marques sont de plus en plus friandes : l’américain <b> Supreme </b> vient de s’offrir une collaboration avec l’hologramme de Tupac pour la sortie de sa collection 2020. </p>
             </div>
             <div  class="my-4">
                <h3> Une idée née bien plus tôt...</h3>
                <p> L’histoire de cet hologramme “démocratisé” a commencé dans la seconde moitié du 19ème siècle. John Henry Pepper, directeur d’un établissement de vulgarisation scientifique, achète en 1858 une invention à Henry Dirks. C’est Pepper qui va développer cette illusion en la perfectionnant et en l’adaptant au théâtre. L’appellation “Fantôme de Pepper” vient ainsi de la première apparition de l’illusion dans la pièce “L’homme hanté ou le Pacte du fantôme” (Dickens). Le procédé se répand et le nom est resté. </p>
              </div>
              <div class="my-4">
              <h3>Quels hologrammes nous côtoient au quotidien ?</h3>
              <p> Les hologrammes les plus répandus sont ceux de nos cartes bleues, de nos cartes d’identité, de nos billets. Ce ne sont pas des hologrammes de Gabor mais des hologrammes de sécurité, destinés à empêcher toute tentative de reproduction illégale. </p>
            </div>
            <div  class="my-4">


              <h3>Les hologrammes que nous voyons dans les films vont-ils exister ?</h3>
                  Etant donné que le premier hologramme couleur vient seulement d’être réalisé en... 2015, il semblerait que la technologie se doit encore d’avancer avant de pouvoir démocratiser de tels hologrammes à échelle humaine.
</div>
              </div>
          </section>
