---
layout: front_page
title: L’hologramme, comment ça marche ?
image: img/posts/2020_hologramme/Miniature.jpg
abstract: Explications sur les hologrammes
tags: Explications Hologrammes Pepper's ghost Tupac Mélenchon Star Wars
---

<main class="main-dark main-grid">

  <section class="section section-center">
    <h2 class="text-white my-5" style="font-size: 3rem">L’hologramme, comment ça marche ?</h2>
  </section>

  <section class="section">
    {% picture grid img/posts/2020_hologramme/starwars.png
      --img class="cover"
      data-noisetest="1"
      style="object-position: 70% 0"
      --alt capture d'écran d'une des utilisations les plus connues d'hologrammes sur grand écran dans le premier film Star Wars en 1977
    %}
    <div class="content py-0">
    <h2>Comment fonctionne un hologramme?</h2>
    <p>
      Lorsque l’on parle d’hologrammes, on pense souvent au principal moyen de communication utilisé dans <i>Star Wars</i>: ces projections bleutées qui permettent aux héros de se parler comme s’ils étaient dans la même pièce, une sorte de FaceTime du futur. Pourtant, ces hologrammes projetés dans le vide sans aucun support, n’existent que dans cette galaxie lointaine, très lointaine. 
    </p>
    <p>
      On retrouve des hologrammes dans bon nombre de films de science-fiction mais il ne s’agit malheureusement que <b>d'effets spéciaux</b> ajoutés au montage et mis au service de l’histoire. 
    </p>
    <p>
      Mais alors, comment fonctionnent nos hologrammes ? L’objectif de cet article est de retracer l’histoire de l’hologramme tel que nous le connaissons et surtout de vous expliquer son fonctionnement.
    </p>
    </div>
  </section>

  <section class="section section-center">
   
    <div class="content m-5">

      <h3>L'hologramme de Dennis Gabor</h3>
      <p>
        Tout commence en <b>1948</b> lorsque le physicien hongrois Dennis Gabor (1900-1979) annonce la <b>découverte de l’holographie</b>, une technique qui utilise les propriétés ondulatoires de la lumière pour enregistrer le volume 3D d’un objet. Cette découverte lui permettra d’ailleurs d’obtenir le <a href="https://www.nobelprize.org/prizes/physics/1971/summary/" target="_blank">Prix Nobel de physique en 1971</a>.
      </p>
    </div>
  </section>

  <section class="section left section-white">
    {% picture grid img/posts/2020_hologramme/holograph-record.png
      --picture class="contained"
      --img alt="By DrBob at the English-language Wikipedia, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=18103931"
    %}
    <div class="content m-auto">
      <h2>Comment fonctionne l'hologramme de Gabor ?</h2>
      <p>
        C'est grâce aux propriétés physiques de la lumière que les hologrammes existent. La lumière est à la fois <b>une particule et une onde</b>. Certains scientifiques ont donc émis l’hypothèse que la lumière pouvait être enregistrée en stéréo, à la manière d’une piste sonore classique. Si on projette un faisceau lumineux directement sur un objet, et un autre sur une plaque photographique, les deux ondes vont se rencontrer et interférer, créant ainsi une image tridimensionnelle. 
      </p>  
    </div>
  </section>
  <section class="section left section-white pt-4">
    {% picture container img/posts/2020_hologramme/holography-reconstruct.png
      --picture class="contained w-75"
      --img alt="By DrBob at the English-language Wikipedia, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=18103931"
    %}
    <div class="content m-auto">
      <p>
        Lorsque le faisceau lumineux original entre à nouveau en contact avec la plaque photographique, celle-ci reconstitue l’image de l’objet interférent à l’emplacement initial où la photo holographique est prise. 
      </p>
    </div>
  </section>

  <section class="section">
    {% picture grid img/posts/2020_hologramme/gabor.jpg
      --img alt="Présentation de l'hologramme de Gabor"
     %}
    <h2>Histoire et applications de l'hologramme</h2>
    <div class="content">
      <p>
        Si l’holographie est découverte par Dennis Gabor en 1948, c’est surtout dans les années 1960 que le procédé se développe, grâce à l’avènement du laser. Effectivement, la lumière monochromatique diffusée par un laser est plus cohérente que la lumière blanche qui est composée de toutes les autres couleurs. 
       </p>
       <p>
         Le laser représente une avancée importante pour l’holographie, mais le procédé est principalement utilisé dans les laboratoires car la création d’hologrammes reste complexe techniquement. 
      </p>
      <p>
        Une image holographique est très difficile à falsifier en raison du coût et de la complexité de l’holographie: il est impossible de scanner, photographier ou photocopier un hologramme. C’est pourquoi aujourd’hui, on parle beaucoup “d’hologrammes de sécurité” , ce sont ces petites images iridescentes que l’on retrouve sur les billets de banque, les passeports et les cartes bancaires par exemple.
      </p>
    </div>
  </section>

  <section class="section section-white">
    <h2>Mais quel rapport avec l'hologramme ?</h2>
  </section>

  <section class="section section-center">
    <div class="content">
      <p>
        Ces hologrammes de sécurité n’ont peut-être pas grand chose à voir avec le moyen de communication futuriste de Star Wars, mais c’est bien la science-fiction qui a permis à l’hologramme de se réinventer, dès 1977 avec la sortie du premier épisode de la saga culte de George Lucas. Cette vision séduisante d’une communication simplifiée via une image flottant dans l’air a conquis le public et permis l’évolution de l’hologramme qui est aujourd’hui devenu un support de communication innovant utilisé notamment dans l’immobilier ou la culture.  
       </p>
       <p>
        Si Dennis Gabor est le premier grand nom de l’histoire de l'holographie, c'est aussi grâce à l’inventeur Britannique John Henry Pepper (1821-1900), que l’hologramme tel que nous le connaissons existe.
       </p>
    </div>
  </section>

  <section class="section left">
    {% include components/medias/youtube.html  embed="84GdJEdanW0" %}
    <h2>L'hologramme du Fantôme de Pepper</h2>
    <div class="content m-auto">
      <p>
        Le Fantôme de Pepper est le procédé utilisé pour les hologrammes contemporains. C’est grâce à cette technique que les hologrammes visibles sur scène, dans les musées ou dans les expositions sont créés. En réalité, il s’agit moins d’un hologramme que d’une illusion d’optique. Son fonctionnement n’a donc rien à voir avec l’holographie inventée bien plus tard par Dennis Gabor.
      </p>
      <p>
        Le fantôme de Pepper correspond à une illusion d’optique donnant l’impression qu’une image flotte dans l’air. Cette image peut être en relief ou en trompe l'œil pour donner l’illusion d’une image en trois dimensions.	
      </p>
      <p>
        John Henry Pepper a parcouru le monde anglophone du XIXe siècle pour divertir le public grâce à ses inventions et ses innovations technologiques. Il est surtout connu pour le fantôme de Pepper qui était principalement utilisé dans le monde du spectacle et du théâtre Victorien.
      </p>
    </div>
  </section>

  <div class="section section-center">
    <h2>Fonctionnement du fantôme de Pepper</h2>
  </div>

  <section class="section">
    {% picture grid img/posts/2020_hologramme/PeppersGhost_schema.png

      --img alt="schema de l'optique des Hologrammes Pepper's ghost utilisés dans les produits d'holusion"
    %}
        
    <div class="content m-auto">
      <p>
        Le fantôme de Pepper utilise une surface réfléchissante et un éclairage particulier afin de donner l’impression que des objets apparaissent, disparaissent ou deviennent transparents. L’illusion réside dans le fait que le spectateur ne voit pas la vitre qui d’une part permet de voir en transparence et d’autre part, reflète l’image d’un objet positionné dans une pièce également invisible pour le spectateur. 
      </p>
    </div>
  </section>

  <section class="section left section-white pt-5">

    {% picture container img/posts/2020_hologramme/Peppers_Ghost.jpg
      --picture class="contained"
      --img alt="Présentation de l'hologramme de Pepper, gravure (source: Le Monde Illustré, wikimedia commons)" 
    %}

    <div class="content m-auto">
      <h3>Cette illusion d'optique n'est pas neuve !</h3>
      <p>
        Pepper a utilisé ce procédé pour la première fois en 1862 lors de la représentation de <i>The Haunted Man</i>, une pièce de Charles Dickens. L’illusion d’optique avait alors permis de faire apparaître un fantôme sur scène, et c’est ce qui a donné son nom à ce procédé que nous utilisons aujourd’hui dans nos hologrammes.
      </p>
      <p>
        Le principe serait même encore plus ancien ! Il aurait en effet été utilisé comme tour de magie dans les attractions de carnaval et de fêtes foraines dès le XVIe siècle. Aujourd’hui, on utilise le fantôme de Pepper non seulement sur scène, mais aussi à plus petite échelle, dans des vitrines holographiques par exemple.
      </p>
    </div>
  </section>

  <section class="section">
    {% include components/medias/youtube.html  embed="AQYExdderJM" %}
    <h2>Version numérique du fantôme de Pepper</h2>
    <div class="content">
      <p>
        Les progrès techniques ont permis d’adapter le fantôme de Pepper aux technologies numériques modernes, pour créer des hologrammes beaucoup plus détaillés et impressionnants. Pour réaliser un fantôme de Pepper numérique, on utilise un écran haute luminosité qui projette une image animée sur fond noir se réflechissant sur une vitre inclinée spécialement traitée pour augmenter la qualité de la réflexion. Ce procédé permet l’affichage d’un visuel 3D en Réalité Augmentée qu’on utilise principalement dans des secteurs comme l’immobilier, la médiation culturelle ou l’éducation.
      </p>
    </div>
  </section>

  <section class="section section-white">
    <h2>En bref !</h2>
  </section>

  <section class="section section-center">
    <div class="content">
      <div class="my-4">
        <h3>L’hologramme de Pepper, de Tupac à Jean-Luc Mélenchon</h3>
        <p>
          Le fantôme de Pepper est né dans le monde du spectacle et c’est toujours sur scène qu’il est le plus utilisé tant son aspect spectaculaire est efficace. C’est ainsi que le rappeur américain Tupac mort en 1996 a pu renaître en 2012 au festival de Coachella. Plus récemment, c’est en politique que l’illusion d’optique a été utilisée, lors d’un meeting de Jean-Luc Mélenchon en 2017. 
          </p>
       <p> 
         Les grandes marques s’intéressent également à ce support de communication, à l’image de <b>Supreme</b> qui, en 2020, a présenté sa collection grâce à un hologramme de Tupac.
       </p>
      </div>
      <div  class="my-4">
        <h3> Une idée née dans la seconde moitié du XIXe siècle</h3>
        <p> 
          L’histoire du fantôme de Pepper débute en 1858 lorsque John Henry Pepper, directeur d’un établissement de vulgarisation scientifique, achète à Henry Dirks son Aetheroscope, un dispositif qui crée une illusion d’optique. Pepper améliore le dispositif pour le déployer à une plus grande échelle, notamment pour le monde du théâtre. C’est ainsi qu’à Londres, le soir de Noël 1862, le premier fantôme de Pepper est mis en place lors de la représentation de la pièce <i>L’homme hanté</i> (<i>The Haunted Man</i>) de Charles Dickens.
         </p>
      </div>
      <div class="my-4">
        <h3>D’autres techniques holographiques…</h3>
        <p> 
          Aujourd’hui, nous côtoyons quotidiennement les <b>hologrammes de sécurité</b> que l’on retrouve sur nos cartes de crédit ou sur les billets de banque. Ce procédé limite considérablement le risque de fraude car il est très difficile de le reproduire.
        </p>
        <p>
          Il est également possible de créer un hologramme en utilisant un <b>tulle</b> qui fait office d’écran très fin sur lequel on projette des images grâce à un vidéo projecteur. C’est une technique très utilisée au théâtre notamment et plus récemment au cirque.
        </p>
        <p>
          Enfin, la technique de la <b>permanence rétinienne</b> permet également de faire flotter une image 3D dans l’air. C’est un procédé qui est utilisé sur les hélices holographiques qui font tourner des bandeaux de LED tricolores à une grande vitesse afin de créer l’illusion d’une image qui flotte.
        </p>
      </div>
      <div  class="my-4">
        <h3>Et les hologrammes de Star Wars, c’est pour quand ?</h3>
        <p>
          Le premier hologramme en couleur n’a été créé qu’en 2015 et il a toujours besoin d’un support. La technologie n’en est encore qu’à ses débuts et doit encore beaucoup évoluer. Malheureusement, nous ne pourrons donc  pas communiquer via des hologrammes à taille humaine  avant un certain temps. Mais qui sait ? Les progrès technologiques sont rapides et une innovation en matière d’holographie pourrait peut-être arriver plus vite que prévu.
        </p>
        <p>
          Affaire à suivre !
        </p>
      </div>
    </div>
  </section>
</main>