---
layout: index
title: Alençon : un conte moderne...
image: img/posts/2020_Alencon/Miniature.png
abstract: Un hologramme retraçant l'histoire du château d'Alençon dévoilé au grand public
tags: culture alençon education hologramme collectivités
---

<section class="section section-main-header header-fill" style="max-width: 1920px">
  {%include components/header_image.html image="img/posts/2020_Alencon/fond.JPG" %}
  <div class="main-header-body body-right">
    <div class="content shadow rounded bg-white rounded p-4 text-justify">
      <h2> Un Conte moderne... </h2>
      <p> Le château des Ducs d'Alençon connaît un véritable conte de fées. <a href="http://www.alencon.fr/mes-sortiesmon-temps-libre/tourisme-et-patrimoine/patrimoine/" target="_blank"> Converti en maison d'arrêt il y a maintenant deux siècles</a>, puis fermé en 2010, le château <b>retrouve aujourd'hui sa place auprès du grand public</b>.
      </p>
      <p> Pour la <b>première fois</b> depuis des siècles, le château devient accessible à tous. A l'occasion du <a href="https://france3-regions.francetvinfo.fr/normandie/orne/alencon/chateau-ducs-alencon-cour-promenade-prisonniers-va-devenir-parc-familial-1412913.html" target="_blank"> dévoilement de ce nouveau parc urbain</a>, la ville d'Alençon a décidé de mettre à disposition un <b>nouvel outil</b> aux visiteurs pour mieux s'approprier l'histoire du château.
      </p>

    </div>
  </div>
</section>

<section>
<div class="main-header-body container jumbotron bg-white shadow my-4">
  <h2> Un nouveau souffle </h2>
  <p> Inadaptée aux normes d'hygiène et de sécurité propre à un établissement pénitentiaire, le maison d'arrêt a fermé ses portes en 2010. </p>
  <p> La question de la valorisation de la prison s'est alors posée, et la municipalité a décidé, conjointement avec ses concitoyens, d'ouvrir les lieux au public. <a href="https://www.ouest-france.fr/normandie/alencon-61000/alencon-le-chateau-des-ducs-ouvre-ses-portes-cinq-nouvelles-dates-5625901" target="_blank"> Un parc et une promenade ont été aménagés </a> pour permettre aux visiteurs de s'approprier les lieux. C'est dans cette optique d'accessibilité que la direction de la vie culturelle et du tourisme nous a contactés pour <b>mettre en valeur</b> les vestiges du château.
</div>
</section>

<section id="video" class="section bg-light py-4">
  <div class="container jumbotron bg-white shadow my-0 text-center">
    <h2> Révisez votre histoire ! </h2>
    {% include components/medias/youtube.html  embed="b2bHp0kXZh8" %}

<div class="text-justify pt-3">
      <h2> Collaboration inter-régions </h2>
        <p class="pb-3">
          Derrière cette installation se cache un long travail de <b>reconstitution historique</b>, en collaboration avec T. Churin. Après la collecte des données historiques, il convenait de réaliser un rendu numérique du château, réalisé par notre infographiste Mélissa.
          </p>

      <h2> Un affichage innovant </h2>
      <p class="pb-3">
        Le fruit de cette collaboration est une <b>maquette holographique</b> du château. L’hologramme retrace l’évolution du bâtiment sur plusieurs siècles, de 1170 à aujourd’hui. L’ambition était de revaloriser le château et d’expliquer les modifications qu’il a pu connaître.

        <h2> Place au choix ! </h2>
        Cet hologramme est <a href="http://localhost:4000/fr/interaction/" target="_blank"> interactif</a>. Le public peut choisir la période qu’il désire consulter grâce à une <b>tablette connectée</b>. Il ne reste donc pas passif et devient un véritable acteur de l’exposition.
      </div>
    </div>
  </section>

  <section class="section section-main-header header-fill py-4">
      <div class="main-header-image-wrapper">
          {% asset img/posts/2020_Alencon/banner.JPG
              srcset:width="1920"
              srcset:width="1920"
              srcset:width="960"
              sizes="100vw"
              class="img-fluid"
              alt="iris22 avec un ecorché d'appartement"
              %}
          </div>
          <div class="main-header-body container jumbotron bg-white shadow my-4">
              <h2 style="margin-bottom:15px"> Aller au-delà des apparences </h2>
              <p>
                Si l'hologramme explique visuellement les évolutions avec quelques légendes, la <b>tablette</b> contribue elle aussi à la transmission d'informations. Elle expose des informations textuelles utiles sur la période, pour que les visiteurs puisse en savoir plus. </p>
                <p> Le lieu ayant servi à de <b>nombreuses utilisations bien différentes les unes des autres</b>, ces informations peuvent se rendre utiles pour les habitants. D'autant plus que le lieu est resté privé pendant presque deux siècles ! Il y a de quoi être curieux...
              </p>
              <p class="pb-1">
              {% asset img/posts/2020_Alencon/BandeauAlencon.png
                  srcset:width="1920"
                  srcset:width="1920"
                  srcset:width="960"
                  sizes="100vw"
                  class="img-fluid"
                  alt="iris32 présentant un module de réservation de salles"
                  %}
              </p>
              <p class="pb-3">
                  <h2> Crédits </h2>
                    Nous remercions la direction de la vie culturelle et du tourisme d’Alençon pour sa confiance, ainsi que la <a href="http://www.alencon.fr/" target="_blank"> ville d'Alençon </a>, la Communauté urbaine d’Alençon, le département de l’Orne, la région Normandie, et le FEDER.
                  </div>
    </section>
