---
layout: index
title: BIM et maquettes holographiques
image: img/posts/2020_bim/iris32_immobilier_terrasse.png
abstract: L'hologramme comme support de présentation de maquettes immobilières.
tags: immobilier iris32 iris22
---



<section class="section section-main-header header-fill" style="max-width: 1920px">
    {%include components/header_image.html image="img/posts/2020_bim/iris32_immobilier_terrasse.png" %}
    <div class="main-header-body body-right">
        <div class="content shadow rounded bg-white rounded p-4 text-justify">
            <h1>Applications holographiques pour le BIM</h1>
            <p>
                Depuis plusieurs années, <a href="2016-06-30-nausicaa">Holusion travaille main dans la main avec l’immobilier</a> pour représenter en hologramme les <b>maquettes de bâtiment</b>. L'hologramme est un outil numérique au <a href="/fr/interaction/">service de la présentation des projets</a>.
            </p>
            <p>

                Une borne holographique peut contenir de nombreuses maquettes très détaillées et interactives. Le passage sur un support numérique les rend facile à manipuler, à mettre à jour ou à remplacer.
            </p>
            <p>
                <a href="2019-07-01-SHAKE">Nous avons conçus ses solutions avec le soutien et les retours des grandes entreprises de l'immobilier</a> et de la construction et des experts du milieu. Nous vous proposons de découvrir ici tout ce qu'elles peuvent vous apporter.
            </p>
            <p>
                Une de nos principales forces, c'est que l’ensemble du contenu est créé en partant des <b>fichiers BIM ou 3D du projet</b>. Cela permet ainsi d’avoir une très grande précision sur la restitution et d'accelerer le processus de création de contenu 3D.
            </p>
        </div>
    </div>
</section>

<section id="video" class="section bg-light py-4">
    <div class="container jumbotron bg-white shadow my-0" style="text-align:center">
        <h2 style="margin-bottom:15px">Maquettes holographiques interactives</h2>
        <p class="font-weight-bold text-left">
            Nombreuses sont les occasions de présenter sa maquette en hologramme :
            <ul class="text-left font-weight-bold">
                <li>Pose de première pierre</li>
                <li>inauguration du bâtiment</li>
                <li>borne interactive sur les points de vente d’un promoteur</li>
                <li>et bien d'autres. </li>
            </ul>
            C'est un outil innovant qui capte l'attention et donne de la substance au modèle 3D.
        </p>
        <p>
            <b>Découvrez un tour d'horizon de tout ce que l'hologramme peut faire pour vous en vidéo:</b>
        </p>
        {% include components/medias/youtube.html  embed="UuE1XL7bZXQ" %}
        <h3>Fonctionnalités</h3>
        <p>
            Ainsi, l’hologramme permet de découvrir beaucoup de choses à propos d'un bâtiment. Il permet de montrer une vue rotative de votre bâtiment pour se rendre compte de son architecture, de son implantation dans un quartier. Il offre une <b>présentation esthétique</b>, avec des vues de jour ou de nuit pour mettre en avant son éclairage et son design. On s'y rend compte aussi de ses <b>capacités et son usage</b>, en affichant sa mixité programmatique et son agencement.
        </p>
        <p>
            <b>Le contenu holographique suit au plus près la stratégie commerciale pour l'illustrer et la soutenir</b>. Et ce jusque dans les derniers détails et finitions avec la possibilité de présenter en écorchés l’intérieur des pièces – par exemple des appartements pour particuliers – afin que le futur investisseur puisse réellement se projeter dans son bien immobilier.
        </p>
        <p>
            La connexion aux <b>fichiers techniques du BIM</b> donne aussi l'opportunité de faire des bilans techniques sur les réseaux, les propriétés environnementales et énergétique ou de mettre en avant un savoir-faire tout particulier dans la construction. C'est dans ce but que nous avons monté des <a href="https://www.prodware-innovation-design.fr/logiciel-cao/holusion" target="_blank">partenariats avec des professionels de l'édition de logiciels techniques</a> de CAO pour la construction, afin d'être au plus près possible des données fondamentales de ces projets.
        </p>
    </div>
</section>

<section class="section section-main-header header-fill py-4">
    <div class="main-header-image-wrapper">
        {% asset img/posts/2020_bim/iris22_flat.jpg
            srcset:width="1920"
            srcset:width="1920"
            srcset:width="960"
            sizes="100vw"
            class="img-fluid"
            alt="iris22 avec un ecorché d'appartement"
            %}
        </div>
        <div class="main-header-body container jumbotron bg-white shadow my-4">
            <h2 style="margin-bottom:15px">Interaction avec l’hologramme</h2>
            <p>
                L’intérêt d’une <b>maquette en hologramme</b> réside aussi dans l’interaction avec l’utilisateur, impliquant d’autant plus celui-ci dans sa découverte du bâtiment. De la prise en main de la rotation de l’hologramme au temps réel, les possibilités sont nombreuses.
            </p>
            <p>
                Le support de cette interaction est généralement une tablette tactile – dont l’utilisation est bien connue de l’utilisateur – mais peut prendre différentes formes selon le besoin. Ainsi, <b>l’application en hologramme, c'est avoir la main sur la rotation de la maquette et le zoom</b> pour aller consulter les détails intéressants pour l’investisseur, apporter un complément d’informations sous forme de texte ou encore permettre de sélectionner l’hologramme à afficher : le bâtiment de nuit, une zone particulière de celui-ci, par exemple un écorché d’un appartement.
            </p>
            {% asset img/posts/2020_bim/iris32_bim_reservation.jpg
                srcset:width="1920"
                srcset:width="1920"
                srcset:width="960"
                sizes="100vw"
                class="img-fluid"
                alt="iris32 présentant un module de réservation de salles"
                %}

            <p>
                Enfin, l’utilisation du temps réel est possible dans les <b>applications</b>. Le terme de temps réel désigne le fait qu’une information soit traitée dans un délai imparti. Ainsi, l’hologramme peut changer de contenu aussitôt qu’une action particulière prédéfinie est effectuée. Par exemple, lorsqu’un collaborateur réserve une salle de réunion du bâtiment en ligne, l’hologramme placé dans le hall peut griser cette salle et l’afficher comme réservée.
                </p>
                <p>
                     Il est aussi possible d’afficher en temps réel le débit de pièces créées dans une usine, ou encore qu’un électricien ayant fini ses installations l’indique sur le fichier BIM, l’affichant ainsi sur l’hologramme.
            </p>
            <h2>Offre pour le bâtiment</h2>
            <p>
                Que vous soyez promoteur immobilier, architecte, une collectivité ou autre, Holusion tient à votre disposition une offre pour l’immobilier. Pour toute question, entrez directement en contact avec nous, via <a href="mailto:contact@holusion.com?subject='Information offre immobilière'">contact@holusion.com</a>.
                </p>
            </div>
        </section>

        {% include pricing.html %}
