---
layout: index
title: Revoir Renoir
image: img/posts/2020_Renoir/Miniature.png
abstract: Auguste Renoir vous guide le temps d'une visite au Musée Fournaise.
tags: museographie tourisme education hologramme
---

<section class="section section-main-header header-fill" style="max-width: 1920px">
  {%include components/header_image.html image="img/posts/2020_Renoir/Canotiers.jpg" %}
  <div class="main-header-body body-right">
    <div class="content shadow rounded bg-white rounded p-4 text-justify">
      <h2> Revoir Renoir </h2>
      <p>
      <b> Auguste Renoir réapparaît à Chatou.</b> Pour commémorer <b> le centenaire </b>de sa disparition, le <a href="https://www.musee-fournaise.com/" target="_blank"> Musée Fournaise </a> de Chatou a fait renaître le célèbre peintre de ses cendres.
      </p>
      <p>
      Il est votre guide le temps d'une journée, sur <b> l'Île des Impressionnistes</b>, berceau des célèbres <a href="https://fr.wikipedia.org/wiki/Le_D%C3%A9jeuner_des_canotiers" target="_blank"> Canotiers. </a>
      </p>

    </div>
  </div>
</section>


<section id="video" class="section bg-light py-4">
  <div class="container jumbotron bg-white shadow my-0 text-center">
    <h2> Remontez le temps </h2>
    {% include components/medias/youtube.html  embed="84GdJEdanW0" %}


    <p class="pb-4"> <i>
    L’exposition a pour ambition de proposer un <b>voyage dans le temps</b> aux visiteurs. Ces derniers peuvent retrouver Renoir dans toute son humanité, grâce aux technologies numériques.
    </i> </p>

<div class="text-justify">
      <h2> La technologie au service de l'histoire </h2>
      <p class="pb-3">
        Le musée nous a contactés pour réaliser un hologramme du peintre, <b> taille réelle</b>. Cet hologramme de Renoir s'inscrit dans un parcours numérique plus large : <b> "Renoir impressionniste, l'expérience immersive"</b>. Ce parcours permet ainsi aux visiteurs d'être au plus proche de Renoir. Pour créer une atmosphère conviviale, propice aux confidences du peintre, notre <a href="https://holusion.com/fr/products/iris75" target="_blank"> Iris 75</a> a été installé derrière un comptoir.
      </p>
      <h2> Une île emblématique </h2>
      <p>
        L’hologramme est installé au Musée Fournaise à Chatou, sur l’Île des impressionnistes. Cette <b> ginguette </b> située sur les bords de Seine attirait de nombreux peintres fin XIXème, dont le célèbre Renoir. C’est d’ailleurs ici qu’il réalisera les <a href="https://fr.wikipedia.org/wiki/Le_D%C3%A9jeuner_des_canotiers" target="_blank"> Canotiers</a>, sa dernière grande oeuvre impressionniste. Elle est aujourd'hui <b>conservée aux États-Unis</b> mais une reproduction est présente à la Maison Fournaise.
        </p>
      </div>
    </div>
  </section>



  <section class="section section-main-header header-fill py-4">
      <div class="main-header-image-wrapper">
          {% asset img/posts/2020_Renoir/FondRenoir.jpg
              srcset:width="1920"
              srcset:width="1920"
              srcset:width="960"
              sizes="100vw"
              class="img-fluid"
              alt="iris22 avec un ecorché d'appartement"
              %}
          </div>
          <div class="main-header-body container jumbotron bg-white shadow my-4">
              <h2 style="margin-bottom:15px"> Le récit d'une vie </h2>
              <p>
                Il raconte aux visiteurs les <b> débuts </b>de son art et les vives critiques qu’il a pu susciter chez certains journalistes. En effet, la peinture impressionniste n'a pas toujours eu le succès que nous lui connaissons. Les peintres comme Renoir et Monet ont essuyé de <b>nombreux refus</b> avant d'accéder à la postérité. Ils se sont vus interdire l'accès à de nombreux salons. Le public a rejetté l'impressionnisme pendant près de <b> vingt ans</b>.
              </p>
              <p class="pb-1">
              {% asset img/posts/2020_Renoir/Citation.png
                  srcset:width="1920"
                  srcset:width="1920"
                  srcset:width="960"
                  sizes="100vw"
                  class="img-fluid"
                  alt="iris32 présentant un module de réservation de salles"
                  %}
              </p>

                <p class="pb-3">
                  Nous sommes ravis d’avoir pu contribuer à la renaissance du peintre français <b>auprès du grand public</b>. Merci au <a href="https://www.musee-fournaise.com/" target="_blank"> Musée Fournaise </a> pour sa confiance.
                </p>

              <h2> Partenaires </h2>
              <p> <ul>
              <li> <b> Crédits scientifiques</b> : Musée Fournaise, Anne Galloyer
              <li> <b>Réalisation</b> : Holusion / Christophe Leray (scénographie)
              <li> <b> Générateur d'Hologramme</b> : Iris 75 et décors sur mesure.
              </ul> </p>

              <p class="pt-2">
                <h2> Infos utiles </h2>
                Le Musée est ouvert du mercredi au vendredi de 10h à 18h et le week-end de 10h30 à 18h, à partir de <b>7€</b>.               L'exposition <a href="https://www.musee-fournaise.com/Decouvrir-le-musee/A-decouvrir-actuellement" target="_blank"> "Renoir impressionniste, l'expérience immersive" </a> est disponible jusqu'au <b> 27/09/2020</b>.
              </p>
              </div>
          </section>
