---
layout: index
title: "Pierre de Seine - Maquette holographique"
image: img/posts/2021_PierreDeSeine/Rouen.jpg
abstract: Présentation holographique en showroom
tags: hologramme immobilier
---

<section class="section section-main-header header-fill" style="max-width: 1920px">

  {%include components/header_image.html image="img/posts/2021_PierreDeSeine/Rouen.jpg" %}
  <div class="main-header-body body-right">
    <div class="content shadow rounded bg-white rounded p-4 text-justify">
      <h2>L'hologramme en showroom</h2>
      <p>Pour le lancement de la commercialisation d'un nouveau complexe immobilier: <i>Les portes du Chapitre</i>, <b>Pierre de Seine</b> du groupe Rouennais <b>At'ome</b> a fait confiance à Holusion. 
      
        <p> En faisant l'acquisition d'un <a href="/fr/products/iris46"> Iris 46</a> ils s'équipent d'un nouvel outil de présentation pour leurs maquettes. 
        </p>
         <p> Grâce à la <b>modélisation en 3D</b> et aux <b>effets de transparence</b>, l'hologramme permet de découvrir des facettes du bâtiment non qui seraient invisibles sur d'autres supports.
          De plus, le contenu présenté suit la stratégie commerciale, la renforce et l'illustre. 
        
         <p>L’hologramme est donc un outil innovant au service de la présentation.</p> </strong></p>
       </div>
  </div>
</section>

<section class="section section-main-header header-fill py-4">
  <div class="main-header-image-wrapper">
      {% picture  img/posts/2021_PierreDeSeine/PlaineImage1.jpg
          --img class="img-fluid"
          alt="Hologramme At'ome"
          %}
      </div>
      <div class="main-header-body container jumbotron bg-white shadow my-4">
          
            <h2 style="margin-bottom:15px"> Une présentation immobilière holographique</h2>
            <p>La maquette holographique remplace la maquette physique et expose en détails le projet : </p>
          <ul>
            <li>Vue rotative de l’extérieur du complexe avec son architecture moderne et ses grandes terrasses</li>
            <li>Visualisation des appartements de chaque étage </il>
            <li>Informations pratiques : nombre de places de parking, environnement et qualité de vie du quartier, surface totale du complexe …</li>
          </ul>  
         
          <p>L'hologramme est un outil innovant au service de la présentation du projet. Le client peut l'utiliser pour visualiser les espaces en 3D et s’imaginer concrètement à l'intérieur de son futur appartement. 
          </p>
          </p>
            <p class="pb-1">
            {% picture img/posts/2021_PierreDeSeine/Batiment.jpg
                
                
                
                sizes="100vw"
                --img class="img-fluid"
                --alt  Modèle3D
                %}
            </p>
                </div>
  </section>

  <section class="section section-main-header header-fill" style="max-width: 1920px">

    {%include components/header_image.html image="img/posts/2021_PierreDeSeine/Face.jpg" %}
    <div class="main-header-body body-right">
      <div class="content shadow rounded bg-white rounded p-4 text-justify">
    
      <h2>La création d’un nouveau produit </h2>
      <p>Afin de répondre au mieux aux attentes du groupe At'ome et Pierre De Seine, Holusion a créé un nouveau modèle de borne holographique : l’<a href="/fr/products/iris46"> Iris 46</a>.</p>
      <p>Son design élégant, son <b>encombrement minimal</b> ainsi que son écran haute définition permettent de réaliser des présentations de <b>qualité</b> dans un <b>environnement restreint</b>. 
      <p> <a href="/fr/products"> Retrouvez plus d'informations sur nos produits !</a> </p>
     
      </p>
    </div>
  </section>


  