---
layout: front_page
title: "BIM en temps réel"
image: img/posts/2021_prodware/holo_prodware.jpg
abstract: Une application pour visualiser tous les fichiers 3D de bâtiments
tags: hologramme immobilier
---

<main class="main-grid main-dark">
    <section class="section section-center">
        <h2 class="text-white my-5" style="font-size: 3rem">Maquettes holographiques</h2>
    </section>
    <section class="section">
        <div class="media">
            {% include components/medias/youtube.html  embed="EReG8PfpeHc" %}
        </div>
        
        <div class="content">
            <p>
                Vous avez certainement vu ces dernières années l'arrivée du BIM dans tous les métiers de la construction et de l'industrie. Ce <b>Building Information Model</b> qui a pour ambition de réunir toutes les informations du projet en un seul endroit: Architectures, réseaux techniques, flux, matériaux, etc.
    
                <p>La plus grande disponibilité des fichiers BIM dans le cadre de la construction et de l’<b>Industrie 4.0</b> ouvre des opportunités sur de nouveaux supports de visualisation et de promotion des projets.</p>
            </p>
            <p>   
                Nous pouvons nous appuyer aujourd'hui sur ces modèles pour réaliser un viewer universel qui affichera n’importe quelle 
                maquette BIM en hologrammes.
            </p>
            <p>
                <b>Holusion propose BIM Vision Accelerator, une solution capable de:
                    <ul>
                        <li>visualiser n'importe quel fichier BIM en hologrammes</li>
                        <li>manipuler les maquettes en temps réel</li>
                        <li>récupérer des fichiers Revit directement depuis le cloud</li></b>
            </p>
            <p class="text-secondary mt-4" style="font-size: 0.7rem">Pour avoir plus d'informations sur les hologrammes : </p>
            <a class="d-flex justify-content-center" href="2020-05-25-hologramme" target="_blank"> <button class="btn btn-info mb-4">A propos des hologrammes</button></a>
        </div>
    </section>


  <div class="section left">
    <h2>Une visionneuse holographique de fichiers BIM</h2>
  </div>

  <section class="section left pt-4 section-white">

    {% picture grid img/products/iris32_quartz.jpg
      class="img-fluid m-auto"
      alt="hologramme iris32 BIM"
    %}

    <div class="content m-auto">
        
        <p><b>BIM Vision Accelerator</b> est un logiciel de visualisation interactive de fichiers BIM, en temps réel et au
            format holographique. </p>
            
            <p>Cette application permet de télécharger et visualiser tout type de fichiers
            Revit sur un <a href="../store/iris32.html">Iris 32</a>. Il est possible de charger à la volée toutes les données directement
            depuis le <a href="https://www.autodesk.fr/bim-360/design-collaboration/revit-cloud-worksharing/">Cloud Autodesk</a> pour avoir accès à leurs toutes dernières versions.</p>

        <p>La manipulation sans contact grâce à la reconnaissance gestuelle est une solution pratique dans
            le contexte sanitaire actuel.  </p>
            <p>Les premières fonctionnalités permettent de déplacer la vue, de
            zoomer et de venir activer des éléments. L’intégration du <b>Leap Motion</b>, une technologie pionnière
            d’interface homme-machine sans contact, directement dans cette solution donne accès à une
            des solutions de <i>hand-tracking</i> les plus populaires du marché. </p>

            <p>Pour un usage plus complet, une application tablette dédiée offre un pannel d'actions possibles encore plus large et dynamique. La connexion est simple et l'interface peut être entièrement personnalisée.</p>

        <p>Grâce à la connexion aux serveurs dédiés aux fichiers BIM, il n’y a pas de limite dans le nombre
            de fichiers accessibles. Toutes les maquettes déjà en ligne peuvent être visualisées en
            hologrammes.</p>
            </div>
  </section>

  <div class="section left">
    <h2>Un projet collaboratif</h2>
</div>
 
  <section class="section section-center">
    <div class="content my-4">
        <p>La collaboration entre deux entreprises, Holusion et Prodware, a rendu ce projet possible.</p>
        <p>Holusion a développé un
            modèle particulier d’Iris 32 intégrant une puissance de calcul accrue, une carte graphique et la
            possibilité de faire tourner des applications en plus du traditionnel cœur Open Source des
            produits.</p>
        <p>Cette configuration permet une intégration fluide du BIM Vision Accelerator et d’autres applications
            3D temps réel, notamment sur Unity 3D.
            </p>
            <p>Les équipes de Prodware avec qui nous travaillons depuis 2018 maîtrisent la technologie
            holographique et ont su créer un portage intelligent de leurs logiciels et proposer une interface
            intuitive d’utilisation sur ce support.</p>
            <p>Configuration minimum:           
                <ul>
                <li>Processeur i5 ou ARM Ryzen 3</li>
                <li>RAM : 16Go</li>
                <li>SSD :  240Go</li>
                <li>GPU : GTX 1060</li>
            </ul></p>

            {% picture grid img/posts/2021_prodware/leap.jpg
                --img class="cover"
                data-noisetest="1"
                style="object-position: 70% 0;width:100%"
                --alt Dispositif hologramme controlé par tablette
                %}
        </div>
        </section>

        <div class="section left">
            <h2>BIM Vision Accelerator</h2>
        </div>

        
        <section class="section left section-white">
            {% picture grid img/posts/2021_prodware/slide_holo.jpg
                class="img-fluid m-auto"
                alt="Dessin du design de l'iris 75 holusion"
              %}
              
            <div class="content">
                <p>La principale force de cette application, c’est qu’il n’y pas besoin d’apporter un traitement spécial
                    en amont sur la maquette pour la rendre compatible sur l’hologramme. </p>
                <p>Cette application holographique est rendue possible par l’intégration à nos produits d’une solution
                    basée sur <b>Autodesk Revit et Unity Reflect</b>. Celle-ci est dédiée aux
                    entreprises de la Smart City confrontées à la présentation de projets et à l’exploitation de
                    maquettes BIM. </p>
                <p>L'outil automatise les traitements d'embellissement et fournit tous les outils nécessaires pour
                    présenter les maquettes et projets en 3D.</p>
                <p>Il est développé par l’entreprise <a href="https://www.prodware-innovation-design.fr/">Prodware</a>, spécialisée dans le développement de services digitaux
                    innovants, notamment dans le domaine de l’Industrie 4.0 et de la Smart City.</p>
                <p>Cet outil alimente le moteur 3D de l’application holographique et permet d’afficher en temps réel
                    toutes les données. Il ouvre également de nombreuses possibilités de personnalisation et d’animation
                    de ces contenus.</p>

                <p class="text-end text-secondary" style="font-size: 0.7rem">Plus d'informations sur le site de l'éditeur</p>
                <p class="text-end"><a
                        href="https://www.prodware-innovation-design.fr/logiciel-cao/autodesk/bim-vision-accelerator">
                        <button class="btn btn-info">BIM Vision Accelerator</button></a></p>
            </div>

  
            </section>

    <section class="section left">

        {% include components/medias/youtube.html  embed="4UcsEA-xfys" %}
        
        <div class="content">
            <div>
                <h2>Plus d'informations</h2>
                <p>La visualisation de vos projets en hologrammes est une solution en pleine évolution. Nous travaillons encore à son amélioration et à l'intégration de nouvelles fonctions.</p>
                <p>Il est déjà possible d’avoir accès à une présentation pour voir comment elle peut s'adapter à vos projets BIM. Contactez nous pour prendre rendez-vous et nous pourrons arranger une démo sous les plus brefs délais dans l'un de nos showrooms :</p>

                <p>Chez <b>Prodware</b> au 45 quai de la Seine, 75019 Paris.</p>  
                <p>Chez <b>Holusion</b> au 111 av Jean Lebas, 59100 Roubaix.</p>
                
                <p class="text-secondary mt-4">Il est possible de réaliser un test technique sur vos propres travaux en nous mettant à disposition un projet Revit ou au format .ifc en amont de la rencontre.</p>

            </div>
            
            <p class="text-right">
                <button class="btn btn-info mt-4" onclick="displayContactForm()">Prenez rendez-vous</button></p>
        </div>
    </section>