---
layout: index
title: "Opel - Claro automobiles"
image: img/posts/2021_opel/rennes_hologrammes.jpg
abstract: Les nouveaux Mokka en version holographique
tags: marketing innovation automobile
---

<section class="section section-main-header header-fill" style="max-width: 1920px">

  {%include components/header_image.html image="img/posts/2021_opel/rennes_hologrammes.jpg" %}
  <div class="main-header-body body-right">
    <div class="content shadow rounded bg-white rounded p-4 text-justify">
      <h2>Mokka ou Mokka-e ?</h2>
      <p>Pour la présentation de leurs nouveaux modèles <b>Mokka et Mokka-e</b>, six concessions OPEL se sont équipées d'un <b><a href="fr/products/iris75">dispositif holographique XXL</a></b> pour en faire la promotion.</p>
      <p>Affichant les caractéristiques de chaque véhicule, l'hologramme permet au visiteurs de se projeter dans ces voitures non disponibles en showroom pour le moment.</p>
    </div>
  </div>
</section>

<section class="section bg-light py-4" id="video">

        <div class="main-header-body container jumbotron bg-white shadow my-4">
    <h2> Un projet de grande ampleur </h2>
    <p class="pb-3">
      Le constructeur allemand Opel prépare pour ce début d'année 2021 une double sortie. Les nouveaux <a href="https://www.opel.fr/offres/offres-vehicules/offre-mokka.html" target="_blank"> Mokka et Mokka-e</a> sont une nouvelle version du SUV phare d'Opel ainsi que sa toute nouvelle version en tout électrique.
    </p>
    <p class="pb-3">
      Pour faire patienter les enthousiates, les <a href="https://www.groupedubreuil.com/nos-metiers-automobile/" target="_blank">concessions Opel de Claro Automobiles</a> proposent une expérience spéciale pour les découvrir en avant-première : <b>faire découvrir le véhicule sous la forme d'un hologramme à grande échelle!</b></p>
      
    <p class="pb-3">Interactifs et mis en valeur par un espace aménagé, l'hologramme crée l'effet <i>« Wahou »</i> souvent recherché ! </p>

    {% include components/medias/youtube.html  embed="cZWu85MHsu0" %}

<div class="text-justify pt-3">
     

        <h2>Six concessions équipées en simultanée</h2>
        <p><b>Disponible jusqu'à la sortie des modèles exposés, cette action est éphémère et sera visible uniquement jusqu'en mars 2021: </b></p>
            <ul>
              <li>Rennes</li>
              <li>Orvault</li>
              <li>La Roche sur Yon</li>
              <li>Cholet</li>
              <li>Angers</li>
              <li>Chartres</li>
            </ul>
      </div>
    </div>
  </section>

  <section class="section section-main-header header-fill py-4">
    <div class="main-header-image-wrapper">
        {% asset img/posts/2021_opel/opel-mokka-concession-dubreuil-hologramme.jpg
            srcset:width="1920"
            srcset:width="1920"
            srcset:width="960"
            sizes="100vw"
            class="img-fluid"
            alt="Parc d'Alençon ou l'hologramme est installé"
            %}
        </div>
        <div class="main-header-body container jumbotron bg-white shadow my-4">
            <h2 style="margin-bottom:15px"> Proposer une immersion grâce au numérique </h2>
            <p>La collaboration avec les équipes de Claro Automobiles et de l'entreprise <a href="https://gustavbycocktail.com/">Gustav by Cocktail</a> à permis la réalisation de ce projet ambitieux afin de présenter à la perfection les modèles Mokka et Mokka-e. Leur esthétique extérieure mais également les points d’intérêts des modèles tels que la motirisation, les innovations dans les équipements et les performances des technologies électriques.</p>
            <p class="pb-1">
            {% asset img/posts/2021_opel/angers_hologrammes.jpg
                srcset:width="1920"
                srcset:width="1920"
                srcset:width="960"
                sizes="100vw"
                class="img-fluid"
                alt="Le controle de l'hologramme par application tablette, un plus pour le groupe Dubreuil"
                %}
            </p>
            <p class="pb-3">
                <h2> En savoir plus </h2>
                  Nous remercions le <a href="https://www.groupedubreuil.com/" target="_blank">groupe Dubreuil</a> pour son intiative et nous invitons à découvrir les retours presses sur les installations:
                  <ul>
                    <li><a href="https://www.auto-infos.fr/Le-groupe-Dubreuil-met-en-place-un,14954">Auto Infos : Le groupe Dubreuil met en place un dispositif hologramme 3D dans ses concessions Opel </a></li>
                    <li><a href="https://www.ouest-france.fr/pays-de-la-loire/vendee/innovation-le-groupe-vendeen-dubreuil-utilise-des-hologrammes-pour-vendre-ses-voitures-7150833">Ouest France : Innovation. Le groupe vendéen Dubreuil utilise des hologrammes pour vendre ses voitures</a></li>
                    <li><a href="https://www.plaine-images.fr/les-actus/le-groupe-dubreuil-fait-appel-a-holusion-pour-presenter-la-prochaine-opel-mokka/">Plaine Images : LE GROUPE DUBREUIL FAIT APPEL À HOLUSION POUR PRÉSENTER LA PROCHAINE OPEL MOKKA</a></li>
                  </ul>
                </div>
  </section>
