---
layout: front_page
title: H'Expo en hologrammes
image: img/posts/2022_hexpo/hexpo_1.jpg
abstract: Des présentations holographiques à H'Expo
tags: Hologramme Architecture BIM maquette promotion immobilier
---

<main class="main-dark main-grid">

  <main class="main-dark main-grid">

    <section class="section section-center">
      <h2 class="text-white my-5" style="font-size: 3rem">Holusion au congrès H'Expo</h2>
    </section>
  
    <section class="section left">
  
    

      <div class="content m-auto">
        <h2>Edelis et Perraudin</h2>
        <h3> Présentation d'un projet immobilier neuf</h3>
        <p>
            Lors de la semaine du 26 au 29 septembre, le congrès <strong>H’Expo</strong> s'est déroulé à Lyon. Ce grand rendez-vous des professionnels du logement social a réuni plus de 350 exposants. Pour se démarquer certains d’entre eux ont décidé d’opter pour la technologie holographique pour la présentation de leurs projets.
        </p>

        <p>
            C’est dans ce but que <a href="https://edelis.com/">Edelis</a>, filiale de GCC a décidé de faire appel à Holusion. Nous avons ainsi travaillé avec eux sur cet ambitieux projet neuf en pierre de taille et doté de nombreux espaces verts. 
        </p>

        <p>
            Nous avons pu ainsi donner vie à la maquette holographique de ce bâtiment en collaborant avec Edelis, GCC et l'architecte <a href="http://www.perraudinarchitectes.com/">Perraudin</a>. Cette hologramme fut exposé sur le salon grâce à l’utilisation d’une borne Holusion <a href="../products/iris32">Iris 32</a>, <i>Made in France</i>.
        </p>
        <p>Grâce aux travaux autour du BIM et de la Smart City. L'hologramme est capable d'intégrer le projet dans son quartier à travers des données GIS, de faire une présentation réalistes des matériaux et de présenter les typologies d'appartements ou de bureaux.</p>
    </div>
    {% include components/medias/youtube.html  embed="2HVgmT5L1EE" %}
  </section>

  <section class="section section-white">

    <div class="content m-auto">
      <h2>I3F et Croixmariebourdon</h2>
      <h3>Transformation d'un immeuble de bureaux en habitations</h3>
        <p>
            Utiliser un hologramme sur un salon offre un bon moyen de se démarquer. En plus d’offrir une alternative plus flexible et moins onéreuse aux maquettes physiques, elle donne aussi un aspect innovant aux projets présentés de cette manière.
        </p>

        <p>
            Le projet de réaménagement de bureaux en logements dans la ville de Pantin par <a href="https://www.croixmariebourdon.fr/">Croixmariebourdon architectes associés</a> et <a href="https://www.groupe3f.fr/">Immobilière 3F</a> a pu bénéficier de ces avantages de l’affichage holographique dans le cadre de leur présence au <strong>village des architectes</strong> afin de présenter une version numérique de leur maquette de concours originale de 2019.
        </p>
        <p>
          L'utilisation du <strong>BIM</strong> sur ce projet a permis une animation complète bien au delà de la maquette originale et de présenter des comparaison entre les façades et les aménagements avant et après les travaux.
        </p>

    </div>

    {% picture grid img/posts/2022_hexpo/hexpo_2.jpg
        --picture class="m-auto contained"
        --img alt="Image ou un on peut voir un hologramme d'un batiment sur un stand"
      %}
  </section>





  <section class="section left">

    <h2>Présence holographique sur les salons</h2>
    {% picture grid img/posts/2022_hexpo/hexpo_1.jpg
    --picture class="m-auto xs mb-5 pb-5"
    --img alt="Image ou un on peut voir un hologramme d'un batiment sur un stand"
  %}

    <div class="content m-auto">
        <p>
            Les dispositifs d’affichages holographiques offrent de nombreuses possibilités quant à leur utilisation sur des salons.
        </p>

        <p>
            Les différentes tailles de <a href="../products">bornes holographiques</a> offrent différentes solutions en fonction de la taille des stands et de la place disponible sur celui-ci. 
            </p>
            <p>
              Il est aussi possible de créer de l'interactivité sur un stand grâce à des <a href="../interaction">applications interactives</a> qui permettent de présenter un projet sous diverses façons.
        </p>

        <p>
            L’affichage holographique permet de présenter des projets immobiliers sous toutes leurs coutures.
          </p>
            
        <p> 
          Il est ainsi possible de mettre en avant des écorchés de bâtiments ou alors les différents réseaux internes grâce aux fichiers BIM que nous pouvons exploiter afin de montrer toutes les spécificités qui composent le projet.
        </p>
        <a class="d-flex justify-content-center" href="../products"> <button  class="btn btn-info my-4">Notre catalogue</button></a>

     
    </div>
  </section>
<section class="section-center">
    {% include components/medias/youtube.html  embed="5L4GzScpkRw" %}
  
  </section> 



</main>