---
layout: front_page
title: Exposition sur le chantier scientifique de Notre-Dame de paris 
image: img/posts/2024_notredame/chapiteau.jpg
abstract: Chapiteau issus de la cathédrale Notre-Dame
tags: Explanations Holograms cultural mediation
---

<main class="main-dark main-grid">

  <section class="section section-center">
    <h2 class="text-white my-5" style="font-size: 3rem">Le chantier scientifique de Notre-Dame de Paris</h2>
  </section>

  <section class="section">

    {% include components/medias/youtube.html  embed="csFqKgrWuDc" %}
    <div class="content py-0 my-auto text-justify">
      <h2>Une exposition sur un chantier exceptionel</h2>
      <p>
        Suite à l'incendie du 19 avril 2019 et les travaux de reconstructions immédiatement entrepris,<a href="https://www.villaperrusson.fr/"> la cathédrale Notre-Dame de Paris</a> a fait l'objet d'une étude approfondie et inédite durant les 5 années précédant sa réouverture.
      </p>
      <p>
        A l'occasion de la clotûre de ce chantier, l'Université de la Sorbonne d'Abou Dhabi a organisé le 26 février 2024 une série de conférence et une exposition d'un mois sur le déroulé de ce chantier à travers des photos, des relevés de signes lapidaire et une mise en valeur des apports de la numérisation au sein du chantier.
      </p>
      <p>
        Au centre l'exposition, un chapiteau original du 12ème siècle était mis en valeur par un dispositif holographique inédit.
      </p>
      <p class="text-center d-flex justify-content-center">
        <a href="https://www.sorbonne.ae/fr/notre-dame-de-paris/"><button class="btn btn-info shadow m-4">Accèder au programme</button></a>
      </p>

    </div>
  </section>

  <section class="section left section-white">
    {% include components/medias/ecorpus.html  server="https://notredamedeparis.ecorpus.holusion.com" scene="PIT38_Chap" %}
    <h2>Les numérisation de la cathédrale</h2>
    <div class="content">
      
      <p>
        Pour cette exposition, ce sont les modèles 3D créé par le Groupe de Travail Décor qui sont mises en valeur. Réalisée principalement par photogrammétrie et lasergrammétrie par la plateforme Plemo3D au sein de la Sorbonne de Paris.      
      </p>
      <p>
        Profitant des échaffaudages montés dans le cadre de la reconstruction de la cathédrale Notre-Dame de Paris, ces relevés 3D ont pu être réalisées sur des parties architecturales encore innaccessibles jusqu'à présent. Ces procédés permettent la numérisation très précise d'un objet donné en modèle 3D grâce à la prise de nombreuses photos sous tous les angles de celui-ci. 
      </p><p>
        Ainsi, divers chapiteaux, bustes ou encore clefs de voutes, ont pu être dupliqués numériquement et implementé dans une base de donnée eCorpus. Ces modèles ont été rendus accessibles lors de l'exposition, dévoilant sous toutes leurs coutures ces décors monumentaux cachés du grand public grâce aux explications et travaux d'analyses des chercheurs et des historiens.
      </p>
      <p>
        Ces présentaton interactives étaient disponible sur place dans l'exposition à travers un système d'affichage holographique tactile utilisant eCorpus comme moteur de visualisation.
      </p>
  </div>

  
  </section>



  <section class="section section-center">
    <h2>Un projet de valorisation scientifique </h2>
  </section>

  <section class="section">
    {% picture grid img/posts/2024_notredame/preparation.jpg
        --picture class="m-auto xs mb-5 pb-5"
      --img alt="Travaux de préparation des modèles 3D grâce à une reproduction à l'échelle d'un fragment de chapiteau"
    %}    
    
    <div class="content">
      <p>
        A l'occasion de l'exposition Abou Dhabi, le fragment de chapiteau a été sorti de l'ombre, pour être installé aux yeux de tous dans l'atrium de la Sorbonne aux Emirats. L'installation d'un mapping holographique par Holusion a pu permettre une superposition du fragment réel avec sa reconstituion numérique, donnant une nouvelle jeunesse à ce morceau d'histoire.
      </p>
      <p>
        Celui-ci fut installé au Moyen-Âge, lors de la construction de la cathédrale, dans les tribunes de la nef. On les aperçois encore aujourd'hui en levant les yeux au dessus de piliers massifs de cette allée centrale. 
        <p>
          Lors des restaurations du monument par Viollet-le-Duc au 19ème siècle, de nombreux élements architecturaux furent démontés et remplacé par l'architecte de Napoléon III. Ce chapiteau en particulier, probablement abîmé par le temps, fut démonté à cette occasion et placé en exposition dans les jardins adjacents.
        </p>
      <p>
        Dans la seconde moitié du 20ème, la prise de conscience pour la préservation de ce patrimoine a permis sa mise à l'abri et sa protection au sein même du monument. Sa numérisation par Plemo3D fin 2023 a permi de fournir les données nécessaires pour identifier les élements manquants avec l'aide des chercheurs de la Sorbonne et de l'Université de Lille. Grâce à leurs travaux, il a été possible de réaliser une copie à l'échelle en impression 3D et lancer ce projet de mapping holographique.
        </p>
 
    </div>
  </section>

  <section class="section left section-white">
    {% picture grid img/posts/2024_notredame/oculus.jpg
      --picture class="m-auto xs mb-5 pb-5"
    --img alt="Reconstruction d'un oculus à partir des travaux de Chantal Hardy et de Plemo3D"
  %}    
    <h2>Les numérisation de la cathédrale</h2>
    <div class="content">
      
      <p>
        Lors de ces travaux de reconstruction de la cathédrale Notre-Dame de Paris ont permis aux chercheurs du LRMH de faire des avancés sur les traces de polychromies présentes sur le tympan de la Porte Rouge. Une polycrhomie est une application de couleur pigmentaires sur des oeuvres architecturales. Cette-dernière est très fragile, et se détériore avec le temps. Si il reste des traces de ces pigments, il est devenu presque impossible de discernés les anciennes couleurs du tympan.
        Les prélèvements réalisés, au nombre de 10, sont tellement infimes qu'ils deteriorent à oeine l'oeuvre originale, tout en recelant tout de même une grande source d'information sur les composés chimiques des pigments, ou encore la présence de multiples couches pigmentaires déposées sur la pierre calcaire.
        Reprenant la photogramétrie réalisée par Plémo 3D, Holusion a réalisé une reconstituion de cette polychromie en s'appuyant sur les différents pigments retrouvés. Une vidéo de présentation valorisant ces recherches inédites a ensuite été diffusée sur une borne holographique durant l'exposition.
      </p>
        Paragraphe Reconstitution:

        Durant les recherches après l'incendie de la cathédrale de Notre-Dame de Paris, des fragments lapidaires d'Oculi et d'un chapiteau dant du XIIe-XIIIe siècles ont pu être retrouvés. Ces fragments furent montés durant la construction même de la cathédrale, puis retirés peu de temps après, toujours durant la construction de cette-dernière. D'abord démontés puis cachés dans une partie de la cathédrale, c'est au XXe siècle que ces oeuvres ont pu revoir la lumière du jour.
        Ces fragments, épauffrés et lapidaires, ont été numérisés via un procédé de lasergrammetrie par Plémo 3D. A partir de ces numérisations, et aidé par des chercheurs de l'IRHiS et d'un rapport de Chantal Hardy, Holusion a proposé des reconstitutions numériques, vraissemblables et inédites de ces pièces architecturales oubliées.
        A l'occasion de l'exposition Abu Dabhi, le fragment de chapiteau a été sorti de l'ombre, pour être installé aux yeux de tous dans les locaux de la Sorbonne locale. L'installation d'un mapping holographique par Holusion a pu permettre une superposition du fragment réel avec sa reconstituion numérique, donnant une nouvelle jeunesse à ce morceau d'histoire.
      </p>
  </div>

  
  </section>

  <section class="section section-center">

    {% include components/medias/youtube.html  embed="HCEOattJ95Q" %}

  </section>
 

</main>