---
layout: front_page
title: Le rôle de la comparaison numérique dans la recherche 
image: img/posts/2024_cluny/2024Cluny_ChapiteauHologramme.jpg
abstract: Comparaison holographique de deux chapiteaux de la cathédrale Notre-Dame de Paris
tags: Explanations Holograms cultural mediation
---

<style>


</style>

<main class="main-dark main-grid">

  <section class="section section-center">
    <h2 class="text-white my-5" style="font-size: 3rem">Mapping holographique au musée de Cluny</h2>
  </section>

  <section class="section">

    {% picture grid img/posts/2024_cluny/2024Cluny_PreparationChapiteau.jpg
      --picture class="m-auto xs mb-5 pb-5"
      --img title="Photo de l'installation du chapiteau sur la borne holographique"
    --img alt="Une équipe agréée se charge de déplacer le fragment de chapiteau sur son support"
  %} 
    <div class="content py-0 my-auto text-justify">
      <h2>Faire parler les pierres</h2>

      <p>
        C'est le titre de l'exposition au <a href="https://www.musee-moyenage.fr/">Musée national du Moyen Âge des thermes et hotel de Cluny</a> à Paris qui se déroule du 19 novembre 2024 au 16 mars 2025 et mets en lumières les sculptures médiévales de Notre-Dame.
      </p>
      <p>  
        Suite à l'incendie du 15 avril 2019 et les travaux de reconstruction immédiatement entrepris, la <a href="https://www.notredamedeparis.fr/">cathédrale Notre-Dame de Paris</a> a fait l'objet d'une étude approfondie et inédite durant les 3 années précédant sa réouverture.
      </p>
      <p>
        Cette exposition fait partie du cycle d'exposition et de conférences en amont de la réouverture du monument en decembre 2024 et auquel nous avions déjà participé à la Sorbonne University Abu Dhabi dans <a href="2024-03-15-Notredame">précédente réalisation</a> basée sur ces même travaux avec l'établissement public en charge de la conservation et de la restauration de Notre-Dame de Paris.</p>
      <p>
          Cette fois-ci, c'est en collaboration avec le musée, l'<a href="https://irhis.univ-lille.fr/">Institut de Recherches Historiques du Septentrion de Lille (IRHiS)</a> de l'Université de Lille et la <a href="https://plemo3d.sorbonne-universite.fr/">plateforme PLEMO 3D</a>, au sein du centre André Chastel, Faculté des Lettres Sorbonne Université qu'Holusion a pu continuer dans sa lancée de <b>mapping holographique de chapiteau de Notre-Dame</b>.
      </p>
      <p>
        C'est en partenariat avec l'<a href="https://www.inrap.fr/">Inrap</a> que le musée de Cluny nous fait part d'une exposition exceptionnelle autour des décors sculptés médiévaux autour de la cathédrale Notre-Dame de Paris. C'est au côté de remarquables fragments polychromés du Jubé du XIIIe siècle qu'est installé une vitrine holographique <a href="http://holusion.com/fr/store/iris46">Iris46</a>, présentation de manière inédite une nouvelle lumière sur un vestige de chapiteau oublié depuis 40 ans.
      </p>

      <p class="text-center d-flex justify-content-center">
        <a href="https://www.musee-moyenage.fr/activites/programmation/faire-parler-les-pierres-visit.html"><button class="btn btn-info shadow m-4">Accèder au programme</button></a>
      </p>

    </div>
  </section>

  <section class="section left section-white">
    {% include components/medias/ecorpus.html  server="https://ecorpus.holusion.com" scene="Cluny_Chapiteau_FNI65" %}
    <h2>Des solutions numériques au service la recherche</h2>
    <div class="content">
      <p>
        Ce chapiteau a été retrouvé en <b>1982</b> lors de travaux de rénovation dans la nef de la cathédrale Notre-Dame de Paris. Ce chapiteau médiéval au décor très endommagé, déterré par des ouvriers, fut <b>catégorisé "Hors-Contexte" avant d'être placé dans la réserve</b> du musée de Cluny.      
      </p>
      <p>
        Mais, en 2019, la pose d'échaffaudage du chantier de restauration au sein de la cathédrale a permis <b>l'observation rapprochée</b> de ses décors aux chercheurs. Ainsi, un lien a pu être fait entre un chapiteau à décor de créatures ailées et le fragment de chapiteau retrouvé 40 ans plus tôt.
      </p>
      <p>
        Numérisés pour l'occasion par des techniques de photogrammétrie et lasergrammétrie par la <a href="https://plemo3d.sorbonne-universite.fr/">plateforme PLEMO 3D</a>, les deux oeuvres sculptées ont pu faire l'objet d'une <b>étude comparative par supperposition numérique</b> via le logiciel <a href="https://blender.org">Blender</a>.
      </p>
      <p>
        De part ce procédé, leurs similarités frappantes s'est imposée comme une évidence. Même taille, même décor, même maçonnerie. La comparaison soulève une question majeure :  <b>pourquoi deux chapiteaux si proches ont-ils suivis des itinéraires si différents ?</b>
      </p>
  </div>
</section>



  <section class="section section-center">
    <h2>Mettre en lumière les travaux de recherche</h2>
  </section>

  <section class="section">
    {% picture grid img/posts/2024_cluny/2024Cluny_ChapiteauHologramme_Pic1.jpg
        --picture class="m-auto xs mb-5 pb-5"
        --img title="Deux visiteurs en plein visionage du dispositif holographique lors de l'inauguration de l'exposition Faire parler les Pierres à Cluny"
      --img alt="Affichage des crédits de la vidéo de présentation du dispositif holographique au Musée de Cluny"
    %}    
    
    <div class="content">
      <p>
        Jusqu'alors oublié, le Fragment de chapiteau considéré comme Non-Identifié s'est finalement vu sortir de la réserve pour se révéler aux yeux du grand public sous les projecteurs de l'exposition. 
      </p>
      <p>
        Posé derrière une vitrine holographique, un film de présentation est joué pour, non seulement décrire les hyptohèses énoncées autour de l'histoire de ce chapiteau, mais également pour mettre en lumière les similitudes des deux décors lapidaires sculptés via l'utilisation du <b>Fantôme de Peper</b>.
      </p>
      <p>
          Tel son confrère envoyé à Abou Dabi, une nouvelle jeunesse a été offerte à ce chapiteau pour imaginer son état initial. Mais à la différence que sa reconstitution n'a pas été recréée, mais directement <b>reprise de son jumeau supposé</b>, encore à ce jour installé sur l'une des colonettes du <b>déambulatoire</b>.</p>
      </p>
      <p>
        De part son apport de fusion entre oeuvre réel et image numérique, <b>l'innovation holoraphique offre une solution moderne, non-invasive ni destructrice, qui enrichie sémantiquement l'oeuvre</b> en préservant son intégrité.
        </p>
    </div>
  </section>
  <section>{% include components/medias/youtube.html  embed="9DagaxOj6ME" %}</section>

  <section class="section section-center">

    <div class="content text-justify">
      <h3>Remerciements et crédits</h3>
      <p>  Dispositif de réalité mixte comparant deux chapiteaux de Notre-Dame, l'un mis au jour lors de travaux dans la cathédrale en 1982 et conservé au musée de Cluny, l'autre en place dans le déambulatoire.        
      </p>
      <p>
        Une vitrine holographique utilisant l'illusion d'optique du fantôme de Pepper permet de rapprocher leurs numérisations respectives.
      </p>
      <p>
        Synthèse d'images Thibault Guillaumont et Jeanne Rossat (Holusion), conception et réalisation Sébastien Dumetz (Holusion), à partir de numérisations de Grégory Chaumet (Piemo 3D / Centre André-Chastel) avec l'assistance scientifique d'Élise Baillieul (Université de Lille).
      </p>
      <p>
        Cette utilisation expérimentale de la technique holographique, mise en œuvre par la société Holusion, a été développée grâce au soutien de Sorbonne Abu Dhabi. Initiée dans le cadre de la préparation de la réouverture de la cathédrsis, elle est le fruit d'une collaboration scientifique entre Delphine Syvilay (Sorbonne Abu Dhabi), Jonathan Truillet (établissement public en charge de la conservation et de la restauration de Notre-Dame de Paris), Dany Sandron et Grégory Chaumet (Centre André-Chastel / Sorbonne Université).
      </p>
      </div>
      </section>
</main>