---
layout: front_page
title: Exposition sur le chantier scientifique de Notre-Dame de paris 
image: img/posts/2023_perrusson/perruson_exterieur.jpg
abstract: Réutilisation des numérisation réalisées durant la reconstruction pour mieux comprendre le bâtiment
tags: Explanations Holograms cultural mediation
---

<main class="main-dark main-grid">

  <section class="section section-center">
    <h2 class="text-white my-5" style="font-size: 3rem">Le chantier scientifique de Notre-Dame de Paris</h2>
  </section>

  <section class="section">

    {% include components/medias/youtube.html  embed="csFqKgrWuDc" %}
    <div class="content py-0 my-auto text-justify">
      <h2>Une exposition sur un chantier exceptionel</h2>
      <p>
        Suite à l'incendie du 19 avril 2019 et les travaux de reconstructions immédiatement entrepris,<a href="https://www.villaperrusson.fr/"> la cathédrale Notre-Dame de Paris</a> a fait l'objet d'une étude approfondie et inédite durant les 5 années précédant sa réouverture.
      </p>
      <p>
        A l'occasion de la clotûre de ce chantier, l'Université de la Sorbonne d'Abou Dhabi a organisé le 26 février 2024 une série de conférence et une exposition d'un mois sur le déroulé de ce chantier à travers des photos, des relevés de signes lapidaire et une mise en valeur des apports de la numérisation au sein du chantier.
      </p>
      <p>
        Au centre l'exposition, un chapiteau original du 12ème siècle était mis en valeur par un dispositif holographique inédit.
      </p>
      <p class="text-center d-flex justify-content-center">
        <a href="https://www.sorbonne.ae/fr/notre-dame-de-paris/"><button class="btn btn-info shadow m-4">Accèder au programme</button></a>
      </p>

    </div>
  </section>

  <section class="section left section-white">
    {% include components/medias/ecorpus.html  server="https://notredamedeparis.ecorpus.holusion.com" scene="PIT38_Chap" %}
    <h2>Les numérisation de la cathédrale au sein du chantier scientifique</h2>
    <div class="content">
      <p>
        Pour cette exposition, ce sont les modèles 3D créé par le Groupe de Travail Décor qui sont mises en valeur. Réalisée principalement par photogrammétrie et lasergrammétrie par la plateforme Plemo3D au sein de la Sorbonne de Paris.      
      </p>
      <p>
        Profitant des échaffaudages montés dans le cadre de la reconstruction de la cathédrale Notre-Dame de Paris, ces relevés 3D ont pu être réalisées sur des parties architecturales encore innaccessibles jusqu'à présent. Ces procédés permettent la numérisation très précise d'un objet donné en modèle 3D.
      </p><p>
        Ainsi, divers chapiteaux, bustes ou encore clefs de voutes, ont pu être dupliqués numériquement et implementé dans la base de donnée eCorpus. Ces modèles ont été rendus accessibles lors de l'exposition, dévoilant sous toutes leurs coutures ces objets d'ordinaires cachés du grand public grâce aux explications et travaux d'analyses des chercheurs.
      </p>


      
    </div>

  
  </section>



  <section class="section section-center">
    <h2>La borne holographique en action </h2>
  </section>

  <section class="section">
    {% picture grid img/posts/2023_perrusson/perrusson_hologramme_3.png
        --picture class="m-auto xs mb-5 pb-5"
      --img alt="Une personne en train de faire une présentation avec la borne holographique à ses côtés"
    %}    
    <div class="content">
      <p>
        Grâce à <a href="https://holusion.com/fr/interaction/">l'application interactive</a>, les visiteurs peuvent s'attarder sur les détails de la restauration et les spécificités du bâtiment d'origine. L'hologramme permet de découvrir la villa sous un nouveau jour, en mettant en valeur les aspects architecturaux et historiques de ce lieu emblématique.
      </p>  

      <p>
        L'hologramme de la villa Perrusson a été dévoilé au public le 2 Avril 2023 lors d'une cérémonie d'ouverture visant à présenter les nouveaux éléments intégrés à la villa dont la présentation holographique fait partie. L'installation de cette borne holographique a permis de donner une nouvelle dimension à la visite de ce lieu historique. Holusion a ainsi participé à l'histoire de ce monument et lui a offert une présentation innovante et créative par le biais de la technologie holographique.
      </p>
    </div>
  </section>

  <section class="section section-center">

    {% include components/medias/youtube.html  embed="HCEOattJ95Q" %}

  </section>
 

</main>