---
layout: front_page
title: Exposition sur le chantier scientifique de Notre-Dame de paris 
image: img/posts/2024_notredame/chapiteau.jpg
abstract: Chapiteau issus de la cathédrale Notre-Dame
tags: Explanations Holograms cultural mediation
---

<main class="main-dark main-grid">

  <section class="section section-center">
    <h2 class="text-white my-5" style="font-size: 3rem">Le chantier scientifique de Notre-Dame de Paris</h2>
  </section>

  <section class="section">

    {% include components/medias/youtube.html  embed="csFqKgrWuDc" %}
    <div class="content py-0 my-auto text-justify">
      <h2>Une exposition sur un chantier exceptionnel</h2>

      <p>
        Suite à l'incendie du 15 avril 2019 et les travaux de reconstruction immédiatement entrepris, la <a href="https://www.notredamedeparis.fr/">cathédrale Notre-Dame de Paris</a> a fait l'objet d'une étude approfondie et inédite durant les 3 années précédant sa réouverture.
      </p>

      <p>
        A l'occasion de la clôture de ce chantier, l'Université de la Sorbonne d'Abou Dabi a organisé le <b>26 février 2024 une série de conférences et une exposition</b> en partenariat avec l'<a href="https://rebatirnotredamedeparis.fr/">établissement public en charge de la conservation et de la restauration de Notre-Dame de Paris</a>. Ces évènement s'inscrivent dans le cadre des manifestations culturelles qui précèdent la réouverture de la cathédrale en décembre 2024.</p>
        <p>
          On  pouvait suivre le déroulé des travaux de sécurisation et de recherche à travers des photos de l'<a href="https://www.magnumphotos.com/">agence Magnum</a>, des relevés de signes lapidaires et une mise en valeur des apports de la numérisation au sein du chantier.
      </p>

      <p>
        Au centre de l'exposition, un chapiteau original du 13ème siècle était mis en valeur par un dispositif holographique inédit.
      </p>

      <p class="text-center d-flex justify-content-center">
        <a href="https://www.sorbonne.ae/fr/notre-dame-de-paris/"><button class="btn btn-info shadow m-4">Accèder au programme</button></a>
      </p>

    </div>
  </section>

  <section class="section left section-white">
    {% include components/medias/ecorpus.html  server="https://notredamedeparis.ecorpus.holusion.com" scene="PIT38_Chap" %}
    <h2>Les numérisations de la cathédrale</h2>
    <div class="content">
      <p>
        Pour cette exposition, ce sont les modèles 3D créés par le Groupe de Travail Décor qui sont mises en valeur. Réalisés principalement par photogrammétrie et lasergrammétrie par la <a href="https://plemo3d.sorbonne-universite.fr/">plateforme PLEMO 3D</a>, au sein du centre André Chastel, Faculté des Lettres Sorbonne Université.      
      </p>
      <p>
        <b>Profitant des échaffaudages montés dans le cadre de la reconstruction de la cathédrale Notre-Dame de Paris</b>, ces relevés 3D ont pu être réalisés sur des parties architecturales encore innaccessibles jusqu'à présent. Ces procédés permettent la numérisation très précise d'un objet donné en modèle 3D grâce à la prise de nombreuses photos sous tous les angles de celui-ci.
      </p>
      <p>
        Ainsi, divers <b>chapiteaux, bustes ou encore clefs de voutes</b>, ont pu être dupliqués numériquement et implementés dans une base de donnée <a href="https://ecorpus.eu">eCorpus</a>. Ces modèles ont été rendus accessibles lors de l'exposition, dévoilant sous toutes leurs coutures ces décors monumentaux cachés du grand public grâce aux explications et travaux d'analyses des chercheurs et des historiens.
      </p>
      <p>
        Ces présentatons interactives étaient disponibles sur place dans l'exposition à travers un système d'affichage holographique tactile utilisant <b>eCorpus comme moteur de visualisation</b>.
      </p>
  </div>
</section>



  <section class="section section-center">
    <h2>Un projet de valorisation scientifique </h2>
  </section>

  <section class="section">
    {% picture grid img/posts/2024_notredame/preparation.jpg
        --picture class="m-auto xs mb-5 pb-5"
        --img title="Préparation à la reconstitution 3D du chapiteau à l'aide d'une historienne de l'Université de Lille"
      --img alt="Travaux de préparation des modèles 3D grâce à une reproduction à l'échelle d'un fragment de chapiteau"
    %}    
    
    <div class="content">
      <p>
        A l'occasion de l'exposition Abou Dabi, le fragment de chapiteau a été sorti de l'ombre, pour être installé aux yeux de tous dans l'atrium de la <a href="https://www.sorbonne.ae/fr/">Sorbonne aux Emirats</a>. L'installation d'un mapping holographique par Holusion a pu permettre une superposition du fragment réel avec sa reconstitution numérique, donnant une nouvelle jeunesse à ce morceau d'histoire.
      </p>
      <p>
        Ce fragment provient d'un <a href="https://agenda.inha.fr/events/plus-de-mille-chapiteaux-le-decor-monumental-interieur-de-notre-dame-de-paris?nc=eyJpbmRleCI6MSwidG90YWwiOjI2fQ%3D%3D">chapiteau installé au Moyen-Âge, lors de la construction de la cathédrale</a>, dans les tribunes de la nef. Il faisait parti d'un ensemble de colonettes tout le long de la nef qu'on aperçoit encore aujourd'hui en levant les yeux au dessus de piliers massifs de cette allée centrale.
      </p>
      <p>
          Lors des restaurations du monument par Viollet-le-Duc au 19ème siècle, de nombreux élements architecturaux furent démontés et remplacés par l'architecte de Napoléon III. Ce chapiteau en particulier, probablement abîmé par le temps, fut démonté à cette occasion et placé en exposition dans les jardins adjacents.
      </p>
      <p>
        Dans la seconde moitié du 20ème siècle, la prise de conscience pour la préservation de ce patrimoine a permis sa mise à l'abri et sa protection au sein même du monument. Sa numérisation par PLEMO 3D fin 2023 a permis de fournir les données nécessaires pour identifier les élements manquants avec l'aide des chercheurs de la Sorbonne de Paris et de l'Université de Lille. Grâce à leurs travaux, il a été possible de réaliser une copie à l'échelle en impression 3D et lancer ce projet de mapping holographique.
        </p>
    </div>
  </section>

  <section class="section left section-white align-middle">
    {% picture grid img/posts/2024_notredame/tympan.webp
      --picture class="m-auto xs mb-5 pb-5 "
      --img title="Hypothèse de reconstitution des polychromies du tympan de la porte rouge à partir des analyses de Stéphanie Duchêne"
      --img alt="Tympan de la porte rouge avec hypothèses de colorations"
  %}    
    <h2>Rendre visibles les travaux d'analyse scientifique</h2>
    <div class="content">
      <p>
       Durant les travaux de la cathédrale Notre-Dame de Paris, les chercheurs du LRMH de faire des avancés sur les <a href="https://www.lrmh.fr/LRMH/doc/SYRACUSE/256998/paris-4e-75-paris-cathedrale-notre-dame-facade-exterieure-nord-porte-rouge-caracterisation-des-vesti?_lg=fr-FR">traces de polychromies présentes sur le tympan de la Porte Rouge</a>. Une polychromie est une application de couleur pigmentaires sur des oeuvres architecturales. Cette-dernière est très fragile, et se détériore avec le temps. Si il reste des traces de ces pigments, il est devenu presque impossible de discerner les anciennes couleurs du tympan.
      </p>
       <p>
        Les prélèvements réalisés, au nombre d'une dizaine, sont tellement infimes qu'ils deteriorent à oeine l'oeuvre originale, tout en recelant tout de même une grande source d'informations sur les composés chimiques des pigments, ou encore la présence de multiples couches pigmentaires déposées sur la pierre calcaire.
        Reprenant la photogramétrie réalisée par PLEMO 3D, Holusion a réalisé une reconstituion de cette polychromie en s'appuyant sur les différents pigments retrouvés. Une vidéo de présentation valorisant ces recherches inédites a ensuite été diffusée sur une borne holographique durant l'exposition et a pu être utilisé pour illustrer une publication scientifique.
      </p>
  </div>

  
  </section>

  
  <section class="section section-center">
    <h2>Un travail de restauration 3D</h2>
  </section>

  <section class="section">
    {% picture grid img/posts/2024_notredame/oculus.jpg
        --picture class="m-auto xs mb-5 pb-5"
        --img alt="Oculus reconstitué en 3D lors de l'exposition à la Sorbonne Abou Dhabi"
        --img title="Reconstruction d'un oculus à partir des travaux de Chantal Hardy et de PLEMO 3D"
    %}    
    
    <div class="content">
      <p>
        Durant les numérisations des réserves, des fragments d'anciens oculi furent numérisés Ces ouvertures en pierre furent installées durant la construction même de la cathédrale, puis retirées peu de temps après, toujours durant la construction de cette-dernière, pour agrandir les ouvertures des fenêtres.
        </p>
        <p>
        Ces fragments, épauffrés et lapidaires, ont été numérisés via un procédé de lasergrammetrie par PLEMO 3D. A partir de ces numérisations, et aidé par des chercheurs de PLEMO 3D, de l'IRHiS et d'un <a href="https://www.persee.fr/doc/bulmo_0007-473x_1991_num_149_2_3243?q=">rapport de Chantal Hardy</a>, Holusion a proposé des reconstitutions numériques, vraissemblables et inédites de ces pièces architecturales oubliées.
        </p>
        <p>        
          A l'occasion de l'exposition Abou Dabi, trois modèles d'oculi, provenant de la nef et du choeur et ont pu être présentés en montrant en supperposition l'anastylose de l'élèment et les scans des fragments qui les composent.
      </p>
 
    </div>
  </section>

  <section class="section section-center text-center">
    <h2>L'inauguration de l'exposition et les conférences</h2>

    {% include components/medias/youtube.html  embed="HCEOattJ95Q" %}
  </section>
  <section class="section section-center">

    <div class="content text-justify">
      <h3>Remerciements et crédits</h3>
      <p>
        <ul>
          <li><b>Delphine Syvilay :</b> Sorbonne University Abu Dhabi</li>
          <li><b>Jonathan Truillet :</b> Etablissement Public Rebâtir Notre-Dame de Paris</li>
          <li><b>Dany Sandron :</b> Faculté des Lettres de Sorbonne Université </li>
          <li><b>Grégory Chaumet :</b> Faculté des Lettres de Sorbonne Université </li>
          <li><b>Stéphanie Duchêne :</b> LRMH </li>
          <li><b>Elise Baillieul :</b>  Faculté des Humanités, Université de Lille </li>
          <li><b>Marc Gil :</b>  Faculté des Humanités, Université de Lille </li>
        </ul>
      </p>
    </div>
  </section>
 

</main>