---
layout: front_page
title: Les reconstitutions numériques de Notre-Dame-en-Vaux
image: img/posts/2025_chalons/2025chalons_exposition.jpg
abstract: Découverte des collections numériques et des dispositifs holographiques à Chalons-en-Champagne
tags: Explanations Holograms cultural mediation
---

<style>


</style>

<main class="main-dark main-grid">

  <section class="section section-center">
    <h2 class="text-white my-5" style="font-size: 3rem">Une collection lapidaire trouve un second souffle grâce au
      numérique</h2>
  </section>

  <section class="section">

    {% picture grid img/posts/2025_chalons/2025chalons_eCorpus.jpg
    --picture class="m-auto xs mb-5 pb-5"
    --img title="Photo d'une tablette affichant la scène eCorpus de la statue-colonne des Noces de Cana"
    --img alt="La tablette présentant une scène eCorpus sert de cartel numérique a une oeuvre lapidaire"
    %}
    <div class="content py-0 my-auto text-justify">
      <h2>Le renouveau d'un musée d'oeuvres lapidaires médievales</h2>

      <p>
        Erigé au <b>XIIe siècle</b>, le cloître de Notre-Dame-en-Vaux arborait de somptueuses sculptures représentants
        des
        personnages importants ainsi que des scènes majeures de la Bible. <b>Finement sculptées, ces statue-colonnes
          sont
          les véritables témoins de la transition de l'époque entre le style roman et le style gothique</b>.
      </p>
      <p>
        Trop coûteux dans son entretien, il fut <b>détruit par les chanoînes au XVIIIe siècle</b>. Si certaines statues
        se
        retrouvent dans divers marchés au pierres pour être revendues, la plupart sont fragmentées et réutilisées dans
        les fondations des bâtiments de la ville de Châlons-en-Champagne. C'est au XXe siècle que les fragments seront
        mis-au-jour pour <b>Sylvia et Léon Pressouyre</b>, qui passeront des années à repertorier plus de 800 fragments
        afin de
        réassembler ce cloître désormais perdu.
      </p>
      <p>
        De nos jours, ce cloître lacunaire se trouve désormais sous la forme d'un musée, placé juste à côté de son
        emplacement d'origine. Profitant des avancées technologiques et de la fermeture temporaire du musée, l'équipe
        des <a href="https://musees.chalonsenchampagne.fr/musees">Musées de Chalons-en-Champagne</a>, sous la direction
        de <i>Clémentine Lemire</i>, a décidé d'aller encore plus loin
        dans le travail de reconstitution du cloître des Pressouyre, pour tenter de faire revivre ce monument
        numériquement.
      </p>
      <p>
        Pour sa <b>réouverture ce 05 Avril 2025</b>, le <a
          href="https://www.chalons-tourisme.com/mon-sejour/patrimoine-visites-et-culture/musee-du-cloitre-de-notre-dame-en-vaux-chalons-en-champagne-fr-3091605/">musée
          du Cloître de Notre-Dame-en-Vaux</a> a collaborer avec <a href="https://www.inha.fr/">l'INHA</a>,
        <a href="https://mercurioimaging.com/">Mercurio Imaging</a> et <a href="https://holusion.com/fr/">Holusion</a> dans la but
        de donner un nouveau souffle à sa collection lapidaire. Le nouveau parcours du
        musée présente ainsi <b>une table tactile, trois bornes holographiques, un puzzle 3D d'une arche imprimé en 3D,
        ains qu'un mapping projetant des hyptohèses de polychromies sur un montage lapidaire</b>.
      </p>
      <p>
        Numérisées numériquement par <a href="https://www.digitage.fr/">Digitage</a>, <b>les statues-colones se retrouvent pourvues de jumeaux numériques, stockés
        dans des bases de données eCorpus</b>. Si la volonté était d'abord d'assurer la pérenité des oeuvres, ces scans 3D
        ont notamment permis la reconstitution numérique des oeuvres. L'<b>anastylose numérique</b> complète du cloître tel
        qu'il était avant sa destruction n'est plus qu'à portée de main...
      </p>

      <p class="text-center d-flex justify-content-center">
        <a
          href="https://musees.chalonsenchampagne.fr/musees/actualites/reouverture-du-musee-du-cloitre-de-notre-dame-en-vaux"><button
            class="btn btn-info shadow m-4">En apprendre plus sur la réouverture</button></a>
      </p>

    </div>
  </section>

  <section class="section left section-white">
    {% include components/medias/ecorpus.html server="https://ecorpus.holusion.com" scene="NoceDeCana_HD_Base" %}
    <h2>Nouveau parcours, nouvelle médiation</h2>
    <div class="content">
      <p>
        Quoi de plus logique que d’organiser un nouveau parcours de médiation afin de mettre à jour le <i>Musée du Cloître
        de Notre-Dame-en-Vaux</i> ? A cette modernisation vient s’ajouter <b>une dizaine de tablette tactile dressées sur
        pieds, placées à des points stratégiques dans la visite</b>. Chaque tablette présente ses propres scènes eCorpus,
        exposant des jumeaux numériques de statues-colonnes qu’elles viennent enrichir sémantiquement, agissant comme de
        véritables <b>cartels numériques</b>.

      </p>
      <p>
        Ce dispositif invite le visiteur à découvrir les sculptures devant lui d'un nouvel oeil. <b>En toute
        autonomie</b>, il peut découvrir des points d'intérêts, lire des articles rédigés par l'équipe du musée et découvrir
        en image d'autres iconographies comtemporaines. Cet aspect permet de donner encore plus d'information qu'un
        cartel classique, parfait pour les visiteurs plus indépendants, ou pour <b>servir de support aux guides du musée</b>.
      </p>
      <p>
        Ce sont une dizaine de statue-colonnes qui ont été choisies pour être valorisées par ces cartels numériques.
        Oeuvres capitales, elles sont les premières à avoir bénéficiée d'une <b>hypothèse de reconstitution</b>, à partir de la
        <b>collaboration étroite entre l'équipe du Musée, d'un Conseil scientifique et d'Holusion</b>. Ces reconstructions 3D
        hypothétiques, colorés en bleu pour bien les différencier de l'original, marque une avancée dans la recherche et
        dans la médiation muséale.
      </p>
      <p>
        Cette collection est disponible sur le site Internet de <a href="https://ecorpus.eu/fr/">eCorpus</a>. Vous pouvez dés à présent la consulter
        gratuitement pour apprécier le travail fournis pour la <b>valorisation de ces chef d'oeuvres médiévaux</b>.
      </p>
      <p class="text-center d-flex justify-content-center">
        <a href="https://ecorpus.eu/fr/collections/"><button class="btn btn-info shadow m-4">Découvrir la collection
            eCorpus</button></a>
      </p>
    </div>
  </section>



  <section class="section section-center">
    <h2>Permettre aux visiteurs de se glisser dans la peau de Léon Pressouyre</h2>
  </section>

  <section class="section">
    {% picture grid img/posts/2025_chalons/2025chalons_tabletactile.jpg
    --picture class="m-auto xs mb-5 pb-5"
    --img title="Photo d'une table tactile"
    --img alt="Photo d'une table tactile installée dans la coursive du Musée du cloître de Notre-Dame-en-Vaux"
    %}

    <div class="content">
      <p>
        Installé dans la coursive du Musée du cloître de Notre-Dame-en-Vaux, une <b>table tactile</b> permet aux visiteurs de
        voyager dans le temps, lors <b>des fouilles s'étant tenues de 1963 à 1976</b>. Développé via un partenariat entre des
        chercheurs de l'<i>INHA</i> et <i>Holusion</i>, deux applications sont à dispositions pour accèder aux notes de fouilles des
        Pressouyre.
      </p>
      <p>
        La première représente <b>une base de données retraçant les fouilles ayant eu lieu dans le cloître de
        Châlons-en-Champagne</b>, alors appelé Châlons-sur-Marne, il y a 60 ans. Le dispositif permet de pouvoir consulter
        librement les différentes notes de Léon Pressouyre, placées sur un plan du cloître selon les emplacements
        authentiques des fragments retrouvés. La large résolution de l’écran offre une vision globale de tous ces
        emplacements avec une lisibilité accrue, permettant à plusieurs personnes de lire les informations affichées en
        même temps. Les fonctionnalités tactiles permettent quant à elles une exploration intuitive des applications.
      </p>
      <p>
        C’est à partir de ces données qu’à été développée la deuxième application présente sur la table tactile: une
        <b>application de puzzle intéractif en 3D</b>. Son interface épuré et ludique a été conçue pour plaire au public plus
        jeune du musée, leur permettant de se glisser dans la peau des Pressouyre afin de reconstituer par eux-mêmes une
        statue-colonne en y assemblant des fragments lapidaires. <b>Véritable icône du cloître: c’est la statue-colonne des
        Noces de Cana qui a été choisie pour inaugurer cette démarche</b>.</p>
      </p>
      <p>
        Une des difficultés de cette application s’est notamment portée sur la fragmentation de cette œuvre. Figés dans
        de la <b>métaline</b> (sorte de mortier à base de plâtre utilisé dans la restauration d'oeuvre lapidaire), seule la partie extérieure des fragments est visible: la numérisation précise de ces-derniers
        s’est donc révélée impossible. Une mission de reconstitution de ces fragments était donc de rigueur pour
        permettre la bonne réalisation de ce projet. Reprenant les numérisations de <i>Digitage</i>, et s’appuyant sur des
        <b>photographies d’archives</b>, les pièces composant la sculpture aux quintuples colonnes ont pu être recréées,
        arborant les hypothèses de reconstitutions dans une couleur bleutée, contrastant avec le gris de la pierre
        d’origine.
      </p>
      Dans une volonté de valoriser chaque fragment ainsi recréé, il est possible pour l’utilisateur de les consulter
      pour en savoir plus sur leur numéro d’inventaire, ainsi que l’emplacement et l’année de leur découverte.
      <p>

      </p>
    </div>
  </section>

  <section class="section left section-white">
    {% include components/medias/ecorpus.html server="https://ecorpus.holusion.com" scene="AllegorieFeminine" %}
    <h2>Film holographique et valorisation d'oeuvres ex-situ</h2>
    <div class="content">
      <p>
        Durant la destruction du cloître, toutes les sculptures n’ont pas partagé le même sort. Si la plupart ont été
        détruites, réduites en fragments, et utilisées dans les fondations du cloître, certaines ont eu plus de chance,
        et ont été <b>vendues sur des marchés aux pierres</b>. Ces œuvres ont suivi des itinéraires très différents les unes des
        autres. On recense notamment <b>deux figures féminines, à Anvers, une tête au bonnet côtelé au sein du Louvre,
        ainsi qu’un apôtre à Cleveland</b>.

      </p>
      <p>
        Ne pouvant pas quitter leurs nouveaux foyers respectifs, il semblait tout de même important de les replacer à
        leur endroit d’origine <b>pour compléter l’anastylose du cloître de Notre-Dame-en-Vaux</b>. Pour ce faire, des missions
        de numérisation sont en cours afin de réaliser des jumeaux numériques des œuvres.
      </p>
      <p>
        La solution de les représenter dans eCorpus sous forme de cartel numérique a vite été écartée, les œuvres
        n’étant pas présentes physiquement dans le musée. Désormais muni de trois Iris46, ainsi que d’un Iris22, le
        Musée du Cloître de Notre-Dame-en-Vaux <b>affichera les hologrammes des statues-colonnes absentes, comme si elles
        n’avaient jamais quitté l’enceinte de la Collégiale</b>. Affichées à taille réelle, les sculptures sont valorisées
        par un court film relatant l’histoire des sujets, leurs attributs iconographiques, etc… Ce processus permet
        également de gommer numériquement des ajouts de chapiteaux ultérieurs sur les statues-colonnes des dames
        d’Anvers, permettant de les apprécier dans un style plus proche du cloître d'antan.

      </p>
      <p>
        Présente dans la coursive du cloître, en face de la table tactile, une des vitrines holographiques présente
        également une animation présentant la reconstitution du Sacrifice d’Isaac.
      </p>
    </div>
  </section>

  <section>{% include components/medias/youtube.html embed="HSG0zuBQM54" %}</section>

  <section class="section section-center">

    <div class="content text-justify">
      <h3>Conclusion</h3>
      <p> Au cours d’une longue période d’investissement, en étroite collaboration avec <i>l’INHA</i> et l’équipe des Musées de
        Châlons-en-Champagne, le Musée du Cloître de Notre-Dame-en-Vaux a pu <b>célébrer sa réouverture en s’inscrivant
        dans l’ère du numérique et de l’innovation</b>.

      </p>
      <p>
        Les différents dispositifs de médiation apportent un <b>nouveau regard sur les sculptures exhibées et démontrent
        une véritable synergie entre le numérique et les œuvres associées</b>. La médiation s’innove, les écrans valorisent
        en restant discret et la scénographie est respectée. Les visiteurs peuvent désormais choisir de réaliser leur
        visite en toute autonomie sans craindre de ne pas comprendre la visite grâce aux supports numériques.
        Le musée a fait le choix du ludique pour s’ouvrir au grand public, afin de mettre en lumière le travail
        indéniable des Pressouyre, <b>l’inscrivant dans une démarche moderne, précurseur d’une transition numérique au sein
        des instituts de recherches culturelles</b>.

      </p>
    </div>
  </section>

  <section class="section section-center">

    <div class="content text-justify">
      <h3>Remerciements et crédits</h3>
      <p> Dispositifs multiples composés de bornes holographiques présentant des statue-colonne à l'échelle 1, des
        cartels numériques présentant des reconstitutions numériques des statue-colonnes, ainsi qu'une table tactile
        présentant une application de base de données et de puzzle 3D.
      </p>
      <p>
        Les différents procédés permettent une hypothèse d'anastylose.
      </p>
      <p>
        Synthèse d'images Thibault Guillaumont et Jeanne Rossat (Holusion), conception et réalisation Sébastien Dumetz
        (Holusion), à partir de numérisations de la société Digitage avec l'assistance
        scientifique d'Élise Baillieul et de Marc Gil (Université de Lille).
      </p>
      <p>
        Cette reconstitution numérique, présenté sous forme holographique, mise en œuvre par la société Holusion, a été
        développée à la demande du Musée du cloître de Notre-Dame-en-Vaux. Initiée dans le cadre de la préparation de la
        réouverture du musée, elle est le fruit d'une collaboration scientifique entre Clementine Lemire, Enora Gault,
        Aude Foviaux, Caroline Guerlet (Musées de Châlons-en-Champagne), d'Élise Baillieul et de Marc Gil (Université de
        Lille), de Jacques Wersinger (Institut catholique
        de Paris), d'Isabelle Périchaud et Jean-Christophe Carius (INHA), de Damien Berné (Musée de Cluny - Musée
        national du Moyen-Âge)
      </p>
    </div>
  </section>
</main>