---
layout: front_page
title: Calais, l'aventure industrielle
image: img/posts/2022_dentelle/couverture.jpg
abstract: Le plan-relief de Calais en 1900 s'anime d'hologrammes à la Cité de la Dentelle et de la Mode
tags: Explanations Holograms cultural mediation dentelle
---

<style>


</style>

<main class="main-dark main-grid">

  <section class="section section-center">
    <h2 class="text-white my-5" style="font-size: 3rem">Plan-relief augmenté</h2>
  </section>

  <section class="section">

    {% picture grid img/posts/2022_dentelle/couverture.jpg
      --picture class="m-auto xs mb-5 pb-5"
      --img title="Vue d'ensemble du plan-relief de Calais exposé à la Cité de la Dentelle et de la Mode"
      --img alt="Plan-relief de Calais au début du XXe siècle, exposé sous vitrine"
    %}
    <div class="content py-0 my-auto text-justify">
      <h2>Un plan-relief centenaire prend vie</h2>

      <p>
        Au printemps 2026, les visiteurs de la <a href="https://www.citedeladentelle.fr/">Cité de la Dentelle et de la Mode</a> à Calais peuvent voir s'animer le plan-relief représentant la ville au début du <b>XX<sup>e</sup> siècle</b>. Réalisé à l'occasion de l'<b>Exposition Universelle de 1904</b> par un industriel, propriétaire de l'usine Hénon, il présente la ville portuaire en plein essor industriel.
      </p>
      <p>
        La médiation sur ce plan-relief de <b>25 m²</b> est une question épineuse&nbsp;: protégé sous verre pour des raisons de conservation, il n'est pas possible d'y pointer des points d'intérêt sans risquer de l'endommager. C'est là que l'hologramme a un rôle à jouer&nbsp;! Par un système d'illusion d'optique basé sur le <b>fantôme de Pepper</b>, nous avons été en mesure de faire apparaître les informations clés à la compréhension de la ville à leur emplacement exact sur le plan.
      </p>
      <p>
        Combinant <b>animations 2D et 3D</b>, ce dispositif de réalité augmentée fait suite aux expérimentations menées dès 2021 et présentées dans un <a href="2022-04-25-dentelle">précédent article</a> consacré au projet.
      </p>

      <p class="text-center d-flex justify-content-center">
        <a href="https://www.nordlittoral.fr/282092/article/2026-04-08/calais-la-cite-de-la-dentelle-innove-avec-un-dispositif-holographique-immersif"><button class="btn btn-info shadow m-4">Voir l'article de Nord Littoral</button></a>
      </p>

    </div>
  </section>

  <section class="section left section-white">
    {% picture grid img/posts/2026_calais/calais_LucienLouise.jpg
      --picture class="m-auto xs mb-5 pb-5"
      --img title="Vue d'ensemble du plan-relief de Calais exposé à la Cité de la Dentelle et de la Mode"
      --img alt="Plan-relief de Calais au début du XXe siècle, exposé sous vitrine"
    %}
    <h2>La grande Histoire rencontre la petite</h2>
    <div class="content">
      <p>
        Véritable témoin de la <b>transition démographique de Calais</b> lors de l'industrialisation textile au XX<sup>e</sup> siècle, ce plan-relief peut se révéler bien silencieux pour des visiteurs non aguerris. Pour lui donner voix et personnalité, le dispositif fait intervenir <b>deux personnages</b>&nbsp;: <b>Lucien</b> et <b>Louise</b>.
      </p>
      <p>
        <b>Lucien</b> est représentant d'une maison de textile. Il arrive pour la première fois à Calais et sera séduit par la ville et ses promesses économiques au point de s'y installer. Il fonde une famille avec <b>Louise</b>, une employée des usines textiles. Ensemble, ils assistent aux événements clés de la transformation de leur ville.
      </p>
      <p>
        Le parcours met en lumière <b>quatre points d'intérêt</b> du plan-relief&nbsp;: l'ancienne gare centrale, le monument des Six Bourgeois, l'usine Henri Hénon et l'hôtel de ville de Calais. Chacun fait l'objet d'une mise en scène spécifique où les bâtiments apparaissent à leur emplacement puis se déploient en grand format, permettant des zooms sur certains détails d'architecture.
      </p>
      <p>
        En plus d'ajouter un côté <b>ludique et divertissant</b>, cette petite histoire constitue une véritable visite guidée animée du plan-relief. Grâce au dispositif holographique, il est même possible d'afficher des points d'intérêts n'étant pas représenté sur le support d'origine, ou s'étant vu déplacé à différents endroits au fil du temps, comme c'est le cas avec le monument des Six Bourgeois.
      </p>
    </div>
  </section>

  
  <section>
     {% include components/medias/ecorpus.html server="https://ecorpus.fr-scv.fr" scene="Hotel de ville" %}
   
  </section>

  <section class="section section-center">
    <h2>Médiation et conception</h2>
  </section>

  <section class="section">
    {% picture grid img/posts/2022_dentelle/gare2025.jpg
      --picture class="m-auto xs mb-5 pb-5"
      --img title="Schéma explicatif du dispositif de mapping holographique"
      --img alt="Principe optique du mapping holographique sur le plan-relief"
    %}
    
    <div class="content">
      <p>
        Datant de 1904, le plan-relief exposé est d'autant plus précieux qu'il est <b>délicat</b>. Protégé sous vitre, il n'est pas possible de pointer des points d'intérêt directement sur la maquette. Impossible d'imaginer une scénographie qui risquerait de porter atteinte à l'œuvre elle-même.
      </p>
      <p>
        C'est grâce à l'<b>hologramme</b> que la solution a été trouvée. Le dispositif repose sur un principe optique original: face à une grande vitre montée sur une structure métallique, le visiteur voit apparaître, uniquement s'il est bien positionné, des hologrammes en trois dimensions. Comme le précise Delphine Nicola, responsable du service des publics: <i>"Ce n'est pas une projection, c'est vraiment une illusion d'optique."</i> Sur le côté, rien n'est visible; de face, un univers narratif prend vie, mêlant personnages animés, modélisations et documents d'archives.
      </p>
      <p>
        Conçu sur mesure pour s'intégrer à la scénographie existante du musée, le dispositif a été pensé pour être <b>immersif et inclusif</b>: une bande-son transporte le visiteur dans l'ambiance de l'époque, et un bouton interactif permet de déclencher la narration à volonté. L'espace a également été pensé pour être facilement accessible aux personnes à mobilité réduite.
      </p>
    </div>
  </section>

  <section class="section left section-white">
    {% include components/medias/youtube.html  embed="7nS2y8Q9d9I" %}
    <div class="content m-auto">
      <h2>Un projet mené de bout en bout</h2>
      <p>
        Ce projet est l'aboutissement d'un travail de <b>plusieurs années</b> de collaboration entre Holusion et la Cité de la Dentelle et de la Mode. Après un premier prototype présenté lors des <b>Journées du Patrimoine 2021</b> autour de la gare centrale, le dispositif a été enrichi pour couvrir désormais <b>quatre sites emblématiques</b> de la ville.
      </p>
      <p>
        La réalisation a mobilisé un <b>savoir-faire pluridisciplinaire</b>: modélisation 3D des bâtiments, photogrammétrie d'œuvres, numérisation d'archives, animation des personnages Lucien et Louise, conception sonore, et développement du système interactif. Chaque étape a été pensée pour offrir une expérience fluide et intuitive, où le visiteur reste acteur de sa découverte.
      </p>
      <p>
        Comme le résume Anne-Claire Laronde, directrice des musées de Calais: <i>"On ne voulait pas rajouter du numérique pour mettre du numérique."</i> L'objectif était avant tout de <b>raconter des histoires</b>, donner de l'émotion, et aller au-delà d'une simple notice architecturale.
      </p>
    </div>
  </section>

  <section class="section section-center">
    <div class="content text-justify">
      <h3>Remerciements et crédits</h3>
      <p>
        Dispositif holographique de médiation immersive autour du plan-relief de Calais en 1900, mêlant mapping holographique, narration sonore et interactivité. Quatre points d'intérêt sont mis en scène à travers les personnages de Lucien et Louise.
      </p>
      <p>
        Synthèse d'images, conception et réalisation par Holusion, en collaboration avec la <b>CITÉ DE LA DENTELLE ET DE LA MODE</b> de Calais et la Ville de Calais.
      </p>
      <p>
        Remerciements à Anne-Claire Laronde (directrice des musées de Calais), Delphine Nicola (responsable du service des publics) et à l'ensemble des équipes de la Cité de la Dentelle et de la Mode pour leur confiance et leur accompagnement tout au long du projet.
      </p>
      <p>
        <b>Pour aller plus loin:</b>
        <ul>
          <li><a href="https://www.nordlittoral.fr/282092/article/2026-04-08/calais-la-cite-de-la-dentelle-innove-avec-un-dispositif-holographique-immersif">Nord Littoral — Calais: la Cité de la dentelle innove avec un dispositif holographique immersif (08/04/2026)</a></li>
          <li><a href="https://www.calais.fr/annuaires/agendas/detail/le-plan-relief-de-calais-en-1900-sanime-dhologrammes">Ville de Calais — Le plan-relief de Calais en 1900 s'anime d'hologrammes</a></li>
        </ul>
      </p>
    </div>
  </section>
</main>
