/*--Timeline section--*/

.timeline{
    border-left: 2px solid $dark-blue;
    @include media-breakpoint-down(lg){
        border: none;
    }
    .timeline--point{
        background-color: $dark-blue;
        position: relative;
        display: inline-block;
        height: 75px; 
        width: 75px; 
        left:-55px; 
        vertical-align: middle;
    }
}

/*--Partners section--*/

#partners{
    img{
        max-width: 150px;
        padding: 1rem;
    }
}

/*--Clients section--*/

#clients{
    ul {
        list-style-type: none;
    }
}