.ariane{
  padding-top:10px;
  padding-bottom:10px;
  a:last-of-type, a:last-of-type:hover{
    cursor:default;
    color:$deep-blue;
    text-decoration: none !important;
  }
  a:not(:last-of-type), a:not(:last-of-type):hover{
    color:$blue;
    text-decoration: none;
  }
  a:not(:last-of-type)::after {
    content:" /";
    color:$black;
  }
}
