@import "variables";

.btn {
  vertical-align: middle;
  padding: 0.5em 1em;
  border-radius:50px;
}
.btn svg, svg.icon, .icon svg{ //Ensure svgs are also aligned
  vertical-align: middle;
  path:not([fill]) { //Paths should follow currentColor unless fill is set
    fill: currentColor;
  }
}
#feedback {
  position: fixed;
  bottom:10%;
  right:25px;
  z-index: 999;
}
#feedback svg{
  fill:$white;
}
.button{
  // scss-lint:disable ColorVariable
  cursor:pointer;
  font-size: 19px;
  padding: 7px 14px 7px 14px;
  border: 1px solid $cyan;
  background: linear-gradient(#00B6E8, #008DDA);
  border-radius: 0px;
  color: $white;
  transition: none !important;
  line-height: 24px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 2px;
}

.button-fab{
  display: inline-block;
  border-radius:50%;
  border: none;
  padding:0;
  font-size: 24px;
  height:56px;
  width:56px;
  overflow:hidden;

  will-change: box-shadow;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  text-align: center;
  vertical-align: middle;
}

.button:hover{
  // scss-lint:disable ColorVariable
  background: linear-gradient(#00B6E8, #008DDA);
  opacity:0.8;
  color: #FFFFFF;
  text-decoration:none;
}
.button-fab:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.button.button-blue{
  background-color:$blue;
}
.button.button-white{
  line-height:20px;
  font-size:20px;
  text-align: center;
  background:white;
  color: #00A1DC;
}