$light-blue:#2fafe6;
$blue:#00A1DC;
$deep-blue:#005380;
$dark-blue:#113a52;

$black:#053241;
$grey:#707070;
$light-grey:#eeeeee;
$transparent-grey:rgba(255,255,255,.3);
$white:white;
$orange: rgb(255, 153, 102);

$break-small:768px;
$break-md: 992px;
$break-lg: 1200px;
