@import "colors";
.contact-link {
  cursor:pointer;
}
#section-contactform{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:none;
  padding-top:100px;
  align-items: center;
  justify-content: center;
  z-index:2
}
#section-contactform.active{
  display:flex;
}
#section-contactform #contactform-overlay{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:rgba(0,0,0,0.4);
  z-index:3;
}
#section-contactform form{
  z-index:4;
  background:$white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
  padding: 40px;
  border-radius:2px;
}

#section-contactform #contactform-close{
  position:relative;
  float:right;
  align-self:right;
  top:-20px;
  right:-20px;
  cursor: pointer;
}
#logger {
  position: fixed;
  left: 0;
  top: 50px;
  right: 0;
  text-align: center;
  word-wrap: break-word;
}
#logger:empty{
  display:none;
}
