@import "variables";
.contact-link {
  cursor:pointer;
}

#logger {
  position: fixed;
  left: 0;
  top: 50px;
  right: 0;
  text-align: center;
  word-wrap: break-word;
}
#logger:empty{
  display:none;
}
