@import "variables";
@import "/node_modules/cookieconsent/build/cookieconsent.min.css";

.cc-banner, .cc-revoke{
  background: $blue;
  color: #fff;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
  box-sizing: border-box;
}



.cc-compliance{
  padding-left: 15px;
}
.cc-btn{
  font-size: 32px;
  line-height: 21px;
  vertical-align: middle;
  font-weight: bold;
}
.cc-btn.cc-deny{
  color:$dark-blue;
}
.cc-btn:hover{
  color: $white!important;
  text-decoration: none !important;
}
