@import "variables";

.main-dark{
    color: $light;
    background: rgb(16,48,64);
    background: -moz-radial-gradient(circle, $dark 0, $black 60%, $black 100%);
    background: -webkit-radial-gradient(circle, $dark 0, $black 60%, $black 100%);
    background: radial-gradient(circle, $dark 0, $black 60%, $black 100%);
    background-attachment: fixed;

    a{
        color:$cyan;
        &:hover{
            color: lighten($cyan, 10);
        }
    }
    
    h4{
        color: $orange;
    }

    .dark-form{
        .form-control:not(button){
            color: $light !important;
            background-color: $dark-grey !important;
            height: auto;
            padding: .5rem 1rem;
            border: 1px solid $grey-600;
            border-radius: 0;
        }
    }

    pre{
        padding: 15px;
        border: $grey-600 solid 1px;
        background-color: black;
        color: $light;
    }

    .card{
        background: none !important;
    }

    .modal-dialog{
        color: $dark;
    }
}

.image-shadow{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* -- rounded form -- */

.btn {
    padding: 0.7rem 1.8rem;
    border-radius:50px;
}

.form-control {
    height: auto;
    &.border-rounded{
        border-radius:1.5rem;
    }
}  

/* -- button with slide over effect -- */

.btn-info{
    color: white;
    font-size: 1.1rem;
    background-color: $cyan;
    &:hover{
        color: white;
        background-color: $orange;
        border-color: $orange;
    }
}

.blockquote{
    color : $blue;
    padding : 1rem;
    background-color: #f7f7f9;
    margin:0;
}

.blockquote-footer{
    margin-top: 0;  
}
