@import "variables";
.faq{
  #content{
    padding-top:15px;
  }
  .panel-body, .panel-heading, .panel-default{
    transition:all 0.5s;
    border-radius:0px;
  }
  .fold >.panel-body{
    height:0px;
    padding:0;
    opacity:0;
    overflow:hidden;
  }
  .fold>.panel-heading{
    overflow:hidden;
  }
  .panel-heading:after{
    content:"";
    position:relative;
    text-align:center;
    float:right;
    right:0px;
    top:-22.5px;
    color:$light-blue;
    font-weight: bold;
    line-height:30px;
    font-size:40px;
  }
  .panel-heading:after{
    content:"-";
  }
  .fold>.panel-heading:after{
    content:"+";
  }

  .panel-heading{
    background: $white !important;
    height:40px;
    overflow:hidden;
    cursor: pointer;
  }
  .panel-title{
    padding-right:40px;
  }
  .panel-title{
    color:$black;
    font-size:1.2em;
    padding-left:12px;
  }
  .panel-title:hover{
    color:$light-blue;
  }
  .panel-body{
    color:$black;
  }
}
