
// Uses fon-display for font-face swap strategy : https://developers.google.com/web/updates/2016/02/font-display
@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-variant:normal;
  font-display: optional; /* font-swapping for page body will be distractive for users. Either swap immediately after page load or never */
  src:  local('Open Sans Regular'), local('OpenSans-Regular'), url('/static/fonts/opensans-regular-webfont.woff2') format('woff2'),  url('/static/fonts/opensans-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  font-display: swap; /* uses swap to ultimately have titles nearly/always displayed with the right font */
  src: local('Open Sans Light'), local('OpenSans-Light'), url('/static/fonts/opensans-light-webfont.woff2') format('woff2'), url('/static/fonts/opensans-light-webfont.woff') format('woff');
}

@font-face {
  font-family: "CgBernhardt";
  src: local('CgBernhardtMd'), url("/static/fonts/CgBernhardtMd_corrected.woff") format('woff');
}

@font-face {
  font-family: "Marianne";
  src: local('Marianne'), url("/static/fonts/Marianne-Medium.woff") format('woff');
}

@font-face {
  font-family: "Marianne";
  src: local('Marianne'), url("/static/fonts/Marianne-Bold.woff") format('woff');
  font-weight: bold;
}