@import "variables";

.home-page-main{
  background: rgb(16,48,64);
  background: -moz-radial-gradient(circle, rgba(16,48,64,1) 0%, rgba(11,11,11,1) 60%, rgba(11,11,11,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(16,48,64,1) 0%, rgba(11,11,11,1) 60%, rgba(11,11,11,1) 100%);
  background: radial-gradient(circle, rgba(16,48,64,1) 0%, rgba(11,11,11,1) 60%, rgba(11,11,11,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#103040",endColorstr="#0b0b0b",GradientType=1);
}
.home-page-section{
  height: 100vh;
}
.home-page-header{
  position: relative;
  .home-page-header-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    .home-page-header-body--content{
      h1{
        color: $dark-blue; 
        @media screen and (max-width: $break-md){
          font-size: 2em;
          color: $cyan;
        }
        @media screen and (min-width: $break-lg){
          font-size: 2.4em;
        }
      }
      @media screen and (min-width: $break-md){
        width: 38%;
      }
    }
    @media screen and (min-width: $break-md){
      position: absolute;
      top: 25%;
      color: $primary;
    }
  }
  .home-page-header-cta{
    @media screen and (min-width: $break-md){
      position: absolute;
      bottom: 100px;
      width:100%;
    }
  }
}
