.section-main-header{
  position: relative;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.main-header-image-wrapper{
  position:absolute;
  z-index: -1;
  top: 0;
  left:0;
  width:100%;
  bottom:0;
  padding: 40px 0;
  clip: rect(0, auto, auto, 0);
  /*clip being deprecated, clip-path will take over it when it's disabled in the future */
  clip-path: inset(0px 0px 0px 0px);
}
.main-header-image-wrapper img{
  position:fixed;
  z-index: -1;
  margin: auto;
  top: 50px;
  left: 0;
  right: 0;
  max-height: 60vh;
  max-height: 60vmin;
  object-fit: contain;
  pointer-events: none;
}
.main-header-spacer{
  z-index: 0;
  flex-grow: 0;
  height:60vh;
  height:60vmin;
  width:100%;
}
.main-header-overlay{
  z-index: 0;
  flex-grow: 0;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  background-color: $deep-blue;
  color: $light;
}
.main-header-overlay .rs{
  align-self: flex-end;
}
.main-header-overlay .rs>a{
  display:inline-block;
  background:$deep-blue;
}

.main-header-overlay-text{
  font-size: 4rem;
  color: $white;
}

@include media-breakpoint-down(md){
  .main-header-overlay, .main-header-overlay-text{
    font-size: 2.5rem;
    max-width:100%;
  }
  .main-header-image-wrapper{
    max-width:100%;
  }
}


.home-page-section{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: stretch;
}

.home-page-image {
  flex-grow: 1;
  width: 50%;
  padding: 0 38px;
  max-height: 60vh;
  overflow: hidden;
  display:flex;
}

.home-page-image img{
  object-fit: cover;
  width:100%;
  height:auto;
}

.home-page-text{
  flex-grow: 1;
  font-size: 1.2rem;
  padding: 20px 8%;
  width:50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-page-text h3{
  color: $light-blue;
  font-size: 2.5rem;
  text-align: left;
  text-transform: uppercase;
  margin: 20px 0 25px 0;
  font-weight: normal;
}
.home-page-text .home-page-text-link {

}
@include media-breakpoint-up(xl){
  .home-page-text{
    font-size: 1.5rem;
    padding: 20px;
  }
  .home-page-text h3 {
    font-size: 3rem;
  }
  .home-page-image{
    padding:0;
  }
}

@include media-breakpoint-down(md){
  .home-page-image, .home-page-text {
    width:100%;
  }
  .home-page-text{
    width: 80%;
    margin: auto;
  }
  .home-page-image{
    padding: 0;
  }
}

@include media-breakpoint-down(sm){
  .home-page-text{
    width: 100%;
    padding: 0 20px;
    min-height:30vh;
  }
}

/* alternate right and left */
.home-page-section:nth-of-type(2n){
  flex-direction: row-reverse;
  .home-page-image{
    padding-left: 0px;
  }
}
.home-page-section:nth-of-type(2n+1){

  .home-page-image{
    padding-right: 0px;
  }
}
