@import "variables";

.home-page-header{
  position: relative;
  .home-page-header-body{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    .home-page-header-body--title{
      h1{
        color: $dark-blue; 
        @media screen and (max-width: $break-md){
          font-size: 2em;
          color: $cyan;
        }
        @media screen and (min-width: $break-lg){
          font-size: 2.4em;
        }
      }
      @media screen and (min-width: $break-md){
        width: 45%;
      }
      @media screen and (min-width: $break-lg){
        width: 40%;
      }
    }
    @media screen and (min-width: $break-md){
      position: absolute;
      top: 25%;
      color: $primary;
    } 
  }
  .home-page-header-body--content{
      p{
        @media screen and (min-width: $break-md) {
        margin-top: -70px;
        width: 75%;
        }
      } 
    }
  .home-page-header-cta{
    @media screen and (min-width: $break-md){
      position: absolute;
      bottom: 20%;
      width:100%;
    }
    .btn{
      font-size: 1.2rem;
      padding: 0.9rem 1.7rem;
      @media screen and (min-width: $break-lg){
        font-size: 1.4rem;
        padding: 0.9rem 2.6rem;
      }
    }
  }
}

.home-page-section{
  position:relative;

  .home-page-section-image{
    img{
      @media screen and (max-width: $break-md) {
        margin-top: 50px;
        width: 100% !important;
    }
  }
    
  }
  .home-page-section-body{
    position:absolute;
    top:0;
    @media screen and (max-width: $break-md) {
      position: relative;
    }
    .content{
      width: 50%;
      padding: 25px;
      @media screen and (max-width: $break-md){
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        .btn{
          margin: auto;
        }
      }
      a{
        display: flex;
        justify-content: start;
        @media screen and (max-width: $break-md){
          justify-content: center;
        }
      }
    }
  }
}
