@import "colors";
// scss-lint:disable ColorVariable
.magnify{
  transition: all 0.5s ease-out;
  cursor:pointer;
}
.magnify:hover{
  transform:scale(1.05);
}
#magnifier .close-icon {
  position: absolute;
  z-index: 1003;
  top: 0;
  right: 0;
  line-height: 25px;
  width: 25px;
  cursor: pointer;
  text-align: center;
  font: Arial,sans-serif;
  background: rgba(255,255,255,.3);
  color: $white;
}
#magnifier{
  position: relative;
  text-align: left;
  vertical-align: middle;
  display: inline-block;
  overflow: auto;
  padding: 25px 25px 0 25px;
  border-bottom: 25px solid transparent;
  min-width: 30%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top:5%;
  max-height: 95%;
  z-index: 1001;
  background-color: $white;
  cursor: auto;
  white-space: normal;
}
#magnifier>img{
  z-index:1002;
}
.overlay{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  background: rgba(0,0,0,.8);
}
