@import "colors";
@import "fonts";
@import "titles";
@import "tables";
@import "thumbnails";
@import "navbars";
@import "buttons";
@import "magnify";
@import "headers";
@import "cookieconsent";
@import "social";
@import "ariane";
@import "video";
@import "slideshow";
@import "contact_form";
@import "snipcart";
@import "store";
html{
  height:100%;
}
body{
  position:absolute;
  font-family: 'open_sansregular', sans-serif;
  color: $black;
  padding-top: 50px;
  min-height:100%;
  width:100%;
}
#content{
  min-height:60vh;

}
/* make the whole content padding-less on small devices */
@media screen and (max-width: $break-md){
  #content, #content .container, #content .container-fluid{
    padding-left: 0;
    padding-right: 0;
  }
  .row-no-padding.col-md-12,
  .row-no-padding.col-sm-12,
  .row-no-padding.col-xs-12 {
    padding-left: 0;
    padding-right: 0;
  }
}

#content.container p, .rtejustify {
  text-align: justify;
}
.rtecenter{
  text-align:center;
}
a{
  color:$blue;
}
