@import "variables";


#navbar-top{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  a#home-logo{
    padding: 25px 170px 20px 0px;
    background-image:url("/static/img/logo.png");
    background-repeat:no-repeat;
    background-position:10px 10px;
    background-size: 150px auto;
    @media screen and (max-width: $break-md){
      padding-right: 45px;
    }
  }

  .navbar-nav > li {
    a{
      text-transform: lowercase;
      transition: all 0.5s ease-in-out;
    }
  }
} /* end #navbar-top */

#sidebar{
  ul li{
    font-size: 80%;
  }
}

#navbar-bottom{
  margin-top:50px;
  padding: 0;
  .bottom-nav-row{
    display:flex;
    flex-wrap: wrap;
  }
  .bottom-nav-row>*{
    min-width:150px;
    flex-grow:1;
  }
  .bottom-nav-center{
    flex-grow:2;
    display:flex;
    flex-wrap: wrap;
  }
  .bottom-nav-center div{
    min-width: 150px;
    flex-grow:1;
    text-align:center;
    border-right:1px solid $light-blue;
    border-left:1px solid $light-blue;
  }
  .bottom-nav-center div:first-child,   .bottom-nav-center div:last-child{
    border: 0;
  }
  .navbar-right{
    float:right;
  }
  .bottom-nav-center a, .dropup>a {
    color:$white;
    transition: all 200ms;
  }
  .bottom-nav-center a:hover, .dropup>a:hover {
    color:$light-blue;
  }
}
#navbar-bottom #contact-bottom{
  background: $light-blue;
}
#navbar-bottom #contact-bottom{
  color:white;
  padding: 10px 0;
  font-size:25px;
  vertical-align:middle;
  text-align:center;
  font-family: open_sanslight, sans-serif;

}
#navbar-bottom #contact-bottom a, #navbar-bottom #contact-bottom a:active{
  font-weight:bold;
  text-decoration:none;
  color:white;
}
#bottom-index{
  padding-bottom:20px;
  padding-top:20px;
}
#section-bottom{
  background-color: $dark-blue;
  color:$white;
  ul{
    list-style: none;
    padding-left:0;
  }
  a{
    color:$white;
  }
  a:hover{
    color:$white;
    text-decoration: underline;
  }
}
#section-bottom h4{
  color:$light-blue;
}
.navbar-default .navbar-brand {
  font-size: 2em;
  font-weight:800;
}


.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
  background:$light-blue !important;
  color:$white !important;
}
.flag {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
#mc_embed_signup{
  #mc_submit{
    cursor:pointer;
    :hover{
      color:#2fafe6;
    }
  }
}
