@import "variables";


#navbar-top{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  a#home-logo{
    display:block;
    padding: 0px; /* logo image is pre-padded */
    margin: 0;
    overflow: hidden;
    height: 50px;
    width: 50px*3.18; /* 3.18 is the image's aspect-ratio */
    svg{
      object-fit:cover;
      height:100%;
    }
  }

  .navbar-nav > li {
    a{
      text-transform: lowercase;
      transition: all 0.5s ease-in-out;
    }
  }


  @include media-breakpoint-down(md){
    a#home-logo{
      width: 40px;
    }
    &>.container {
      max-width: 1200px;
      padding: 0;
    }
  }
  /* collapsed navbar */
  @include media-breakpoint-down(sm){
    a#home-logo{
      width: 50px*3.18; /* 3.18 is the image's aspect-ratio */
    }
  }
} /* end #navbar-top */

#sidebar{
  ul li{
    font-size: 80%;
  }
}

#navbar-bottom{
  .bottom-nav-center div{
    min-width: 150px;
    border-right:1px solid $light-blue;
    border-left:1px solid $light-blue;
  }
  .bottom-nav-center div:first-child,   .bottom-nav-center div:last-child{
    border: 0;
  }
  .bottom-nav-center a, .dropup>a {
    color:$white;
    transition: all 200ms;
  }
  .bottom-nav-center a:hover, .dropup>a:hover {
    color:$light-blue;
  }
}

footer #contact-bottom{
  color:white;
  padding: 10px 0;
  font-size:25px;
  vertical-align:middle;
  text-align:center;
}
#navbar-bottom .navbar-nav>li>a {
  color: $light;
}
#bottom-index{
  padding-bottom:20px;
  padding-top:20px;
}
#section-bottom{
  color:$white;
  ul{
    list-style: none;
    padding-left:0;
    >li>a{
      color:$white;
      &:hover{
        color:$white;
        text-decoration: underline;
      }
    }
  }
}

#section-bottom h4{
  color:$light-blue;
}

.navbar-default .navbar-brand {
  font-size: 2em;
  font-weight:800;
}


.flag {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.content-bar-toggle:before{
  padding-top: 6px;
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M7.41 18.59L8.83 20 12 16.83 15.17 20l1.41-1.41L12 14l-4.59 4.59zm9.18-13.18L15.17 4 12 7.17 8.83 4 7.41 5.41 12 10l4.59-4.59z"/></svg>');
}
.content-bar-toggle.collapsed:before{
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 5.83L15.17 9l1.41-1.41L12 3 7.41 7.59 8.83 9 12 5.83zm0 12.34L8.83 15l-1.41 1.41L12 21l4.59-4.59L15.17 15 12 18.17z"/></svg>');
}
.content-bar{
  border-right: 1px solid rgba(5,50,65,0.125);
  .content-bar--link {
    background: none;
    padding: .75rem 0 .75rem .25rem;
    a{
      color: $deep-blue;
      padding: .5rem 0;
    }
    &:hover {
      /*background: rgba($black, .1); /*Ugly*/
    }
    &.current {
      z-index: 2;
      & > a {
        color: $blue !important;
      }
    }
  }
  .content-bar-group--sub{
    .content-bar--link {
      a{
        color: $grey-600;
      }
      padding-left: .75rem !important; /* do not overwrite in nested lists */
      font-size: .8rem;
      .content-bar-group--sub .content-bar--link{
        /* nested content */
        padding: .3rem;
        border: 0;
      }
    }
  }
}
