@import "variables";

#section-pricing-grid {
  #section-pricing-content.main-header-body{
    @include media-breakpoint-down(md){
      max-width: calc(100% - 1rem);
      margin-top: .5rem;
    }
    @include media-breakpoint-down(xs){
      max-width: 100%;
      margin-top: 0;
    }
  }
}

.priceTag {
  font-size : 175%;
}

.pricing-grid {
  display: grid;
  $title_height: 80px;
  $grid_gap: 0px;
  grid-template-columns: auto 1fr;
  grid-template-rows: $title_height;
  grid-auto-rows: auto;
  grid-gap: $grid_gap;
  grid-template-areas:
    "brand brand"
    "aside aside"
    "content content";
  @include media-breakpoint-up(lg){
    grid-template-areas:
    "brand aside"
    "content content"
    "content content";
  }
  @include media-breakpoint-up(xl){
    grid-template-areas:
    "brand content"
    "aside content"
    "aside content";
  }
  //main Layout
  .pricing-grid-brand{
    grid-area: brand;
    padding: .5rem;
  }
  .pricing-grid-aside{
    grid-area: aside;
    background: $light;
  }
  .pricing-grid-content{
    grid-area: content;
    min-height: 800px;
    max-width: 100%;
    margin-bottom: 10px;
  }
  .tab-pane{
    .tab-header{
      @include media-breakpoint-up(xl){
        min-height: $title_height + $grid_gap;
      }
      padding: .5rem;
    }
    .table.prices-table {
      min-width:600px;
      table-layout: fixed;
      td, thead th{
        border: 0;
        &:not(:last-of-type){
          border-right: 2px solid $light;
        }
      li{
        padding-left :0px;
      }
      }
      .merged-colspan{
        background: $info;
        padding:8px;
        border-top: 2px solid $white;
        border-bottom: 2px solid $white;
        &>*{
          background: $white;
        }
      }
    }
  }

  video {
  width: 100%    !important;
  height: auto   !important;
}

  .quotation button {
    margin-top : 20px;
  }

  .nav{
    .nav-item{
      padding: 0;
      flex-grow: 1;

      .nav-link{
        padding: .5rem;
        text-align: left;
        vertical-align: middle;
        height: $title_height;
        svg{
          @include media-breakpoint-up(xl){
            width: 50px;
            height:50px;
          }
          fill: currentColor;
        }
        &.active{
          color: $light;
          background: $primary;
        }
      }
    }
  }
}

//new pricing section

.section-pricing{

  .content{
    border-left : 2px solid black;
    margin-left: 2.5rem;
    padding: 0 !important;
    @include media-breakpoint-down(lg){
      margin-left: 0;
      border: none;
    }
 
    >h2{
      padding: 2rem;
      margin: 0;
    }
  }
  .pricing-card{
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 0;
    @include media-breakpoint-down(md){
      flex-direction: row;
    }
    @include media-breakpoint-down(sm){
      flex-direction: column;
    }
    h2{
      font-family: "Open Sans";
    }   
    img{
      border-radius: 0;
      object-fit: cover;
      height: 100%;
    }
    .card-content{
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .card-body, .card-content{
      flex:1 0 auto;
      padding: 2rem 4rem;
      height: 100%;
      @include media-breakpoint-down(xs){
        padding: 2rem 2rem;
      }
    }
    .price{
      margin-top: auto;
    }
  }
  .pricing-header{
    position: relative;
    left: -75px;
    @include media-breakpoint-down(lg){
      left:0px
    }
    .pricing-icon{
      width: 150px;
      @include media-breakpoint-down(xs){
        display: none;
      }
    }    
  }
}