
.products-navbar{
    position: sticky;
    color: $light;
    padding: 1rem;
    top: 55px;
    max-width: 1200px;
    margin: auto ;

    background: rgba(10, 10, 10, 0.8);
    backdrop-filter: saturate(180%) blur(20px);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);

    ul{
        display: flex;
        margin: 0;
    }
    li{
        padding: 0.5rem;
        list-style: none;

        a{
            color: $light;
        }
    }
}