@import "variables";
.product-property-group {
  min-width: 18rem;
  max-width: 25rem;
}
.product-property{
  .product-property-icon{
    margin: 0;
    padding: 0 8px 0 0;
    height: 48px;
    display: block;
    color: $primary;
    svg{
      border: 2px solid $primary;
      border-radius: 6px;
      display: inline-block;
      fill: currentColor;
    }
  }
  .product-property-header {

  }
}
