@import "variables";

.snipcart {
  .snipcart-modal__container {
    top: 57px;
    background: $light;
  }
  .snipcart-modal {
    background: transparent;
  }
  .snipcart-cart__content{
    background: transparent;
  }
  .snipcart-cart-header {
    background: $white;
  }
} /*End of snipcart selector */
