.rs {
  display:inline-block;
  padding: 1px;
  border-radius: 2px;
  display: flex;
}

.rs >*{
  margin:1px;
}
.rs div{
  background-repeat: no-repeat;
  background-size: 24px 48px;
  background-position: 0px 0px;
  transition: 200ms;
  transition-timing-function: ease-out;
  width:24px;
  height:24px;
  display:inline-block;
  float:left;
}
.rs div, .rs div.invert:hover{
  background-position: 0px 0px;
}
.rs div:hover, .rs div.invert{
  background-position: 0px -24px;
}

.rs div.facebook{
  background-image: url("/static/img/icons/sprite-facebook.png");
}
.rs div.twitter{
  background-image: url("/static/img/icons/sprite-twitter.png");
}
.rs div.youtube{
  background-image: url("/static/img/icons/sprite-youtube.png");
}
.rs div.pinterest{
  background-image: url("/static/img/icons/sprite-pinterest.png");
}
.rs div.linkedin{
  background-image: url("/static/img/icons/sprite-linkedin.png");
}
