@import "variables";

#open-cart{
  display:flex;
  flex-direction: row-reverse;
}
.cart-icon-line{
  grid-area: title; 
  margin-top: 3.5rem;
  z-index: 1;
  @include media-breakpoint-down(sm){
    grid-area: content;
    margin-top: 0;
  }
}

.store-layout{
  .product-price{
    color: $secondary;
    font-size: 2rem;
    font-weight:bold;
    &.price-vat{
      color: $dark;
      font-size: 1rem;
    }
  }
}

/* snbipcart overrides */
.snipcart{
  .snipcart-modal__container {
    padding-top: 60px;
  }
}

.logo-made-in-france{
  height: 7rem !important;
  position: relative;
  top: 100%;
  left: 100%;
  margin-left: -8rem;
  margin-top: -2.5rem;
}