@import "variables";
$anim_duration:  225ms;
.view-team{
  display:flex;
  flex-wrap: wrap;
  justify-content:space-around;
}
.view-team .team-portrait:not(:first-child){
  padding-left: 15px;
}
.view-team .views-field-field-image img, .view-team .views-field-field-image .field-content{
  max-width: 256px;
  display: inline-block;
  border-radius: 50%;
  height: 256px;
  transition: opacity $anim_duration ease-in-out;
  background: $deep-blue center/cover no-repeat;
}

.view-team .views-field-field-image {
  margin-bottom: 20px;
  margin-top: 10px;
  text-align: center;
  padding: 0;
  position: relative;
  display: inline-block;
}
.view-team .views-field-field-image img {
  opacity:0;
  object-fit: none;
}
.view-team .views-field-field-image:hover img{
  opacity:1;
}
.view-team .views-field-field-image .circle-border{
  border: 1px solid #ccc;
  background: none repeat scroll 0 0 transparent;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 99%;
  height: 99%;
  border-radius: 50%;
  z-index: -1;
  -webkit-transition: all $anim_duration cubic-bezier(0.5, -0.7, 0.67, 0.7);
  -moz-transition: all $anim_duration cubic-bezier(0.5, -0.7, 0.67, 0.7);
  -o-transition: all $anim_duration cubic-bezier(0.5, -0.7, 0.67, 0.7);
  transition: all $anim_duration cubic-bezier(0.5, -0.7, 0.67, 0.7);
}
.view-team .views-field-field-image:hover .circle-border{
  border-color: $blue;
  transform: scale(1.1);
  z-index: 9999;
}
