@import "variables";
h1,h2,h3,h4,h5,h6{
	font-family: open_sanslight;
	color: $light-blue;
  font-weight: bold;
  line-height: 1.2em;
}
h2{
	font-size:25px;
	font-family: open_sanslight, sans-serif;
}

h3, h3 a {
  color: $black;
  font-weight:bold;
	font-size:20px;
}
h4{
	color: $black;
	font-size:15px;
}

h5{
	font-weight: 700;
	padding:10px 0 5px 0;
}

h6{
	color: $orange;
	font-weight: 700;
}

h1{
  font-family: open_sanslight, sans-serif;
  font-size:30px;
  font-weight:400;
	padding: 6px 0px 12px 0px;
}

/* h1 titles should have a preceeding separator when directly following text. They should also have enlarged top padding*/
#content p+h1{
  padding-top:52px;
}
/* to make anchors work despite of the static navbar. When using anchors, add a padding and negative margin to compensate.*/
h1:target, h2:target{
  padding-top: 52px;
  margin-top: -52px;
}
h3:target{
	padding-top: 70px;
	margin-top: -70px;
}
#content h1>a, #content h2>a{
  visibility: hidden;
  transition:0.3s;
  font-size: 0.7em;
  margin-left:-25px;
}
#content h1:hover>a, #content h2:hover>a{
  visibility:visible;
}
/* Main header on home page */
.header-main {
  background-image: url("/static/img/header.jpg");
  background-size: 100% auto !important;
  padding:200px 0px 0px 0px;
}
.header{
  background-color:$grey-100;
  background-repeat:no-repeat;
  background-size: 100% auto;
}

/* Titles on blue background that targets page sections*/
section.title, .section-title {
  background: url("/static/img/banners/section.jpg") center/cover no-repeat;
	h1, a, a:hover{
    color:$white;
  }
}


#section-header{
  /*padding-top:52px;*/
}
