@import "variables";
h1,h2,h3,h4,h5,h6{
	font-family: "Open Sans", sans-serif;
	color: $light-blue;
  font-weight: 300; /*light*/
  line-height: 1.2em;
}

h1{
  font-family: "CgBernhardt", sans-serif;
  font-size:2em;
	padding: 6px 0px 12px 0px;
}

h2{
  font-family: "CgBernhardt", sans-serif;
	font-size:2rem;
  margin-bottom: 1em;
}

h3, h3 a {
  margin-bottom: 1em;
}

h4{
  color: $blue;
	font-size:20px;
  font-weight: bold;
}

h5{
	font-weight: 700;
	padding:10px 0 5px 0;
}

h6{
	color: $orange;
	font-weight: 700;
}


