// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-conten


//COLORS
//Built-in colors
$grey-600:#707070;
$grey-100:#eeeeee;
$transparent-grey:rgba(255,255,255,.3);

// Main colors
$cyan: #00a5e8;
$blue:#00517d;
$dark-blue:#103040;
// Custom colors
$black: #053241;
$light-blue: #2fafe6;
$orange: #ff9966;

// THEMING
$primary:       $blue;
$secondary:     $orange;
$info:          $cyan;
//$warning:       $yellow;
//$danger:        $red;
$light:         $grey-100;
$dark:          $dark-blue;


// BREAKPOINTS
$break-sm:768px;
$break-md: 992px;
$break-lg: 1200px;

//BODY styles
$body-color:                $black;

// NAVBAR styles
$navbar-light-active-color: $cyan;
$navbar-light-hover-color:  darken($cyan, 10);
$navbar-light-color: $dark;
$navbar-padding-y: 0.1rem;

// FONTS
$font-family-sans-serif: 'open_sansregular', sans-serif;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:            $font-family-sans-serif !default;
// LINKS
$link-hover-decoration:     none;

// CAROUSEL
$carousel-control-color:       $dark;
$carousel-indicator-active-bg: $light;
$carousel-control-opacity: .6;


@import "../node_modules/bootstrap/scss/functions";
// Keep this to the end as it sets most defaults
@import "../node_modules/bootstrap/scss/variables";
