.section-main-header{
  position:relative;
}
#main-header-wrapper{
  width:100%;
  height:100%;
  max-height:800px;
  max-height:80vh;
  overflow:hidden;
  display:flex;
}
#main-header-wrapper img{
  object-fit: cover;
  object-position: right 40%;
  min-width: 100%
}
.main-header-overlay{
  position: absolute;
  bottom: 50%;
  left: 20px;
  margin-bottom: -40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width:40%;
}
.main-header-overlay-text{
  background:rgba(255,255,255,0.8);
  max-width:800px;
  color:$deep-blue;
  font-size: 25px;
  padding:15px;
  margin-bottom: 15px;
  text-align:left;
}

.video-overlay-icon{
  opacity:0.6;
  animation: fadeIn .2s ease-in-out;
}
@media screen and (max-width: $break-sm){
  .video-overlay-text{
    font-size: 100%;
    padding:8px;
    margin-bottom: 0;
    width:100%;
  }
  .video-overlay-icon{
    display:none;
  }
}
.video-overlay-icon:hover{
  opacity:0.9;
}
.video-overlay-icon .hover-circle{
  fill-opacity:0;
  cursor:pointer;
  animation: fadeIn .5s ease-in 1 forwards;
}
