.section-main-header{
  display:flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}
.main-header-image-wrapper{
  min-width:30vh;
  max-width: 50%;
  max-height:800px;
  max-height:60vh;
  height:auto;
  flex-grow: 0;
  padding: 40px 40px 0 0;
}
.main-header-image-wrapper img{
  object-fit: contain;
}
.main-header-overlay{
  flex-grow: 1;
  min-width:300px;
  max-width: 50%;
  display: flex;
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
}
.main-header-overlay .rs{
  align-self: flex-end;
}
.main-header-overlay .rs>a{
  display:inline-block;
  background:$deep-blue;
}

.main-header-overlay-text{
  font-size: 4rem;
  color:$deep-blue;
}

@media screen and (max-width: $break-md){
  .main-header-overlay, .main-header-overlay-text{
    font-size: 2.5rem;
    max-width:100%;
  }
  .main-header-image-wrapper{
    max-width:100%;
  }
}
