---
layout: index
title: Ca Tisse Factory
image: /static/img/posts/2018_manufacture/catissefactory_2018.jpg
abstract: "Valorisation of industrial heritage as holograms"
tags: tourism museography
---

<section class="section section-main-header header-fill" style="max-width: 1920px">
  {%include components/header_image.html image="img/posts/2018_manufacture/catissefactory_full.jpg" %}
  <div class="main-header-body body-right">
    <div class="content shadow rounded bg-white rounded p-4">
      <h2>Ça Tisse Factory</h2>
      <p>is a movable interactif device, installed in the <a href="http://lamanufacture-roubaix.com/en/" target="_blank">Musée de la Manufacture</a>. It is a hologram the city of Roubaix through its industrial history.</p>
      <p>This holographic display is a good way for the visitors of Roubaix to well understand the past of the city, its successes and its crises. It invites to explore the city and to discover the contemporary repercussions and how thoses industrial sites have been reappropriated.</p>
    </div>
  </div>
</section>


<section id="video" class="section bg-light py-4">
  <div class="container jumbotron bg-white shadow my-0" style="text-align:center">
{% include components/medias/youtube.html  embed="nVuIAEWFlEc" %}
  </div>
</section>

<section class="section section-main-header header-fill">
  {%include components/header_image.html image="img/posts/2018_manufacture/manufacture.jpg" %}
  <div class="main-header-body">
    <div class="content shadow rounded bg-white rounded p-4 text-justify">


      <h2>Valorize the renewal of Roubaix</h2>
      <h3>Interactive and intuitive</h3>

      <p>
        Ca Tisse Factory is shaped as a table on which lie a <strong>city of Roubaix map</strong>. Metallic inserts represents the notable industrial sites of the city and are tactile.
        A contact with the finger turn on audiovisual contents as <strong>holograms</strong>, presenting the architecture of the site, its purpose back to industrial period and its contemporary utility.
        A led illuminate a legend in a dedicated insert and some samples of materials are free to touch in little hatches. It allows the visitor to see the transformation of wool into fabric as it goes through the city.
      </p>

      <p>
        A headphone or speaker plays explanations about the appropriated industrial site. A <strong> speech about each site is devolved to the role of the building</strong> back to the industrial period, to its importance in the economy of Roubaix and its actual activity, its reconversion and the role it has nowadays in the city life. The recordings are available in three different languages, <strong>French, English and Dutch</strong> thanks to the involvement of the tourism office guides and the museum mediators.
      </p>

      <h3>Open source</h3>

      <p>
        The project take part of the digital actuality because it uses the hologram technology and the <strong>Raspberry system</strong> in order to bring its content to the users. Its innovative aspect resides in the territorial approach. It permits indeed to <strong>connect differents places of a territory and create bridges betweend these places and their users.</strong>. Beyond the historical, pedagogic and innovating content, the display allows the visitor to visualize its <strong>touristic tour</strong> for example. The aim of this display is to be used as a tool by structures such as museums, tourism offices or territorial promotion agencies (<i>Label Ville d’Art et d’Histoire</i>). So it permits to create a community around the richness of a territory.
      </p>
    </div>
  </div>
</section>

<section class="section bg-light py-4">
  <div class="container jumbotron bg-white shadow my-0 text-justify">
    <h2>A collaborative project</h2>

    <h2>Historical</h2>
    <p>
      The project has began in November 2015 with the <strong>Muséomix in the Manufacture</strong>, an event of gamification of mediation. A team has proposed an interactive system using holograms, an interactive map and materials samples.<br/>
      Made in 3 days, integrating an <a href="/en/products/prism" target="_blank">Holusion Prism</a> and a Raspberry Pi, this first prototype has attracted a lot of attention during its presentation at <a href="2016-04-20-museohub.html">MuseoHub</a>.
    </p>

    <p>
      The display was quite easy to use and the members of the staff was there for accompanying the manipulation. However we decided to make the display more autonomous.<br/>
      The user can view the content as he wants without any particular logic or notice.<br/>
      In order to evaluate our experimentations, we implement a system of feedback. Thanks to it, users can show us what they consider as weakness about the display, and the improvements they feel we should add to it.
    </p>


    <h2>MuseoMix Nord</h2>

    <p>
      The key partner of this project is the association <a href="http://museomix-nord.fr/">MuseoMix Nord</a> which unites around this project actors of museography and cultural mediation. The association has a role of central facilitator, from the organization of the event which has permitted the project to birth, to its involvement in the development and the first prototypes realisation. The association provide for the rest of the project competences in communication, museography and its contacts in order to integrate to the project artists and researchers.
    </p>


    {% asset "img/posts/2018_manufacture/dispositif.jpg"
      srcset:width="1920"
      srcset:width="960"
      class="img-fluid"
      alt="Dispositif Ca Tisse Factory au musée de la manufacture de roubaix"
    %}

    <h2>Manufacture de Roubaix</h2>
    <p>
      Thanks to the support of <a href="http://www.pictanovo.com/">Pictanovo</a>, the  <a href="http://www.roubaixtourisme.com/">city of Roubaix</a>, the metropolis of Lille and the Région Nord, we were able to create this project. The display is actually discoverable in the <a href="http://lamanufacture-roubaix.com/en/"> Manufacture</a>, an old textile factory of Roubaix which presents the industrial epopee. Ca Tisse Factory is the first display of that kind and is still in an experimental phase. The mediators are listening to every kind of feedback to improve their futures projects.
    </p>
  </div>
</section>

<section class="section section-main-header header-fill text-justify">
  {%include components/header_image.html image="img/posts/2018_manufacture/condition_publique.jpg" %}
  <div class="main-header-body">
    <div class="content shadow rounded bg-white rounded p-4">


      <h2>Some sites interesting in Roubaix</h2>

      <p>
        9 places have been kept with the tourism office because of their value, with a logic of how the wool is transformed in industrial sites.
      </p>
      <ol>
        <li><strong>Roubaix train station:</strong> arrival of raw materials
          <li><strong>Condition Publique :</strong> wool weighing and packaging</li>
          <li><strong>Peignage de la Tossée :</strong> wool washing and combing</li>
          <li><strong>Filature Motte-Bossu :</strong> wool transformation in coils of wire</li>
          <li><strong>Teinturerie de la Justice :</strong> Dyeing of coils</li>
          <li><strong>Manufacture :</strong> Weaving and confection</li>
          <li><strong>La Redoute :</strong> Sale of confections</li>
          <li><strong>ENSAIT :</strong> Training of textile engineers</li>
          <li><strong>CETI :</strong> Development of the future of textiles</li>
        </ol>
        <p>
          These sites have been chosen with the tourism office of Roubaix for their importance in understanding the industrial activity of Roubaix. They are not all touristic sites. Some of them, for example the Teinturerie de la Justice are even still in activity.
          </p>

        <p>
          For all these sites,the hologram presents an iconic machine or tool. From the spinning to the wool weaving, passing by means of transport of freight of XIXth century and the weighing of raw materials. The display pays tribute to the engineers and textil workers of Roubaix, trained by the city during decades, that ensured its prosperity.
        </p>
      </div>
    </div>
  </section>
