---
layout: index
title: Holomouseio
image: img/posts/2019_holomouseio/holomouseio_public.jpg
abstract: Holographic Museum
tags: museographie tourisme iris32
---

<section class="section section-main-header header-fill" style="max-width: 1920px">
  {%include components/header_image.html image="img/posts/2019_holomouseio/holomouseio_public.jpg" alt="Holomouseio museum with holograms" %}
  <div class="main-header-body body-right">
    <div class="content shadow rounded bg-white rounded p-4">
      <h2>An holographic Museum : The Holomouseio Project</h2>
      <p>Thanks to a partnership with the <a href="https://culture.univ-lille.fr/">Lille's University</a>, Holusion developed a new way to visit museum. </p>
      <p>This project named "Holomouseio", from <i>μουσείο / mouseio</i>, museum in greek, grant to the public the opportunity to  <b>discover in holograms the hidden treasures of the University</b>.</p>
      <p>This interactive showcase contains digitalized artworks and artefacts from the departments of <b>archeology, paleontology, art and old scientific instruments.</b></p>
      <p>
        <b>Unobtainable, invisible or unavailable</b> objects are now within reach for anyone.
      </p>
    </div>
  </div>
</section>


<section class="section bg-light py-4">
  <div class="container jumbotron bg-white shadow my-0" style="text-align:center">
    <h2>Video of the project (French)</h2>
    {% include components/medias/youtube.html  embed="WobQC8t06sc" %}
  </div>
</section>

<section class="section section-main-header header-fill">
  {%include components/header_image.html image="img/posts/2019_holomouseio/holomouseio_holo.jpg" %}
  <div class="main-header-body">
    <div class="content shadow rounded bg-white rounded p-4">
      <div class="row">
        <div class="col-12 col-lg-6">
          {%asset img/posts/2019_holomouseio/holomouseio.jpg
            srcset:width="1920"
            srcset:width="650"
            class="img-fluid"
            sizes="(min-width: 1200px) 1200px, 100vw"
            style="padding-bottom: 40px;"
            alt="An Iris32, an iPad tablet and custom made furniture"
            %}
          </div>
          <div class="col-12 col-lg-6">
            <h2>Travel through digital collections</h2>
            <p>
              <b>Holomouseio</b> allows you to discover a collection of objects in an holographic way. The visitor can browse the collection thanks to an interactive tablet. Three themes are developed here :
            </p>
            <p>
              <b>"The funeral and religious world of Ancient Egypt"</b> promotes the collection of the Institute of Papyrology and Egyptology of the University of Lille.
            </p>
            <p>
              <b>"Walking through the Carboniferous forest of Northern France"</b>  highlights the paleobotany collection of the University of Lille.
            </p>
            <p><b>E.Thesaurus "Silverware at the test of numerical modelling"</b> allows you to discover an unique medieval piece, the foot of the <a href="http://www.patrimoines-saint-omer.fr/Les-musees-et-oeuvres/Musee-de-l-hotel-Sandelin/Parcours-Art-medieval/Salle-d-art-medieval/Pied-de-croix-de-Saint-Bertin" target="_blank"> Cross of the Abbey of Saint Bertin</a>.</p>
            <p>The device is on display at the Espace Culture of the University of Lille  (<i>Campus Cité Scientifique</i>) from 16 January to 14 February and will be visible from 25 February to 14 March at the Bibliothèque des Sciences et de l'Antiquité (<i>Campus Pont de Bois sur Lille</i>), from the 18 to 27 March 2019 at the Catholic Institute of Lille and from 1 to 18 April in Lilliad, Learning Center innovation (<i>Campus Cité Scientifique sur Lille</i>).</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section-main-header header-fill py-4">
    <div class="main-header-image-wrapper">
      {% asset img/products/numerisation_lille1.jpg
        srcset:width="1920"
        srcset:width="1920"
        srcset:width="960"
        sizes="100vw"
        class="img-fluid"
        alt="Digitisation laboratory of the University of Lille"
        %}
      </div>
      <div class="main-header-body container jumbotron bg-white shadow my-4">
        <h2>How to create an holographic museum ?</h2>
        <p>
          Holomouseio is made of three parts :
          <ul>
            <li>An <a href="/en/products/iris32">Iris 32 </a> </li>
            <li>A tablet for controlling the holograms</li>
            <li>A piece of furniture specially designed to use the device ergonomically</li>
          </ul>
        </p>
        <p>
          <b>Holomouseio allows to transform a database of digitized objects into a virtual exhibition around these holograms.</b>
        </p>
        <div class="row">
          <div class="col-lg-6 col-md-12  d-flex flex-column justify-content-center">
            {%asset img/products/projet_lille1.jpg
              srcset:width="1920"
              srcset:width="650"
              class="img-fluid"
              sizes="(min-width: 1200px) 1200px, 100vw"
              style="padding-bottom: 40px;"
              alt="Holomouseio hologram in museum"
              %}
            </div>
            <div class="col-lg-6 col-md-12 d-flex flex-column justify-content-center">
              <h2>Your holographic showcase in three steps</h2>
              <h3>1 - Digitization</h3>
              <p>Manage a database of digitized objects in many possible formats: 360° photo, photogrammetry, scanner, etc.</p>
              <h3>2 -Customization</h3>
              <p>Write the description of your objects, organize the collections into sub-categories and create an unique itinerary for visitors</p>
              <h3>3- Content management and maintenance</h3>
              <p>Add or modify collections independently. Take advantage of a SAS mode to update your holographic museum as you digitize and update your exhibition.</p>
              <p>
                More information on this solution : <a href="/fr/usages/museographie">Using holograms for museums</a>
                </p>
              </div>
            </div>
          </div>
        </section>

        <section class="section section-main-header header-fill">
          {%include components/header_image.html image="img/products/iris32_meuble_chat.jpg" %}
          <div class="main-header-body">
            <div class="content shadow rounded bg-white rounded p-4">
              <div class="row">
                <div class="col-12 col-lg-6">
                  <h2>Credits</h2>
                  <p>Holomouseio was created in 2019 with the support of :</p>
                  <h3>University of Lille</h3>
                  <ul>
                    <li>Direction culture : <b>Sophie Braun</b>, Scientific Heritage Officer,</li>
                    <li>Direction pedagogical innovation, <i>Photo3D</i>:  <b>Bernard Mikolajczyk</b>, Multimedia engineer, <b>Bernard Deleplanque</b>,Multimedia engineer</li>
                    <li>Egyptology, UMR 8164 HALMA: <b>Didier Devauchelle</b>, Professor, <b>Ghislaine Widmer</b>, Professor, <b>Thomas Gamelin</b>, Egyptologist</li>
                    <li>IRHis Laboratory:  <b>Marc Gil</b></li>
                    <li>CNRS : Unité Evo-Eco-Paléo (EEP) : <b>Jessie Cuvelier</b></li>
                  </ul>
                  <h3>Palais des Beaux-Arts de Lille </h3>
                  <ul>
                    <li><b>Fleur Morfoisse</b>,  Egyptologist, Chief Curator, Antiques / Decorative Arts</li>
                    <li><b>Karine Dautel</b>,  Conservation Assistant for the Antiquities / Decorative Arts / Middle Ages - Renaissance collections</li>
                    <li><b>Philippe Nys</b>, Museographic agent</li>
                  </ul>
                  <h3>ComUE Lille Nord de France</h3>
                  <ul>
                    <li><b>Antoine Matrion</b>, Scientific Heritage Officer</li>
                  </ul>
                  <h3>Holusion</h3>
                  <ul>
                    <li><b>Thibault Guillaumont</b>, Co-founder</li>
                    <li><b>Yann Dubois</b>, IT and technical project manager</li>
                  </ul>
                  <p>
                    This system is being developed by the University of Lille and Holusion as part of the 2017-2018 regional AAP project, « <i>Applications et dispositifs numériques culturels innovants</i> », led by the <a href="http://www.culture.gouv.fr/Regions/Drac-Hauts-de-France">DRAC Hauts-de-France</a>.
                    With the support of the Ministry of Culture, DRAC Hauts-de-France and the ComUE Lille Nord de France ; and the participation of the CNRS, the City of Lille and the Historic Mining Centre of Lewarde.
                  </p>

                </div>
                <div class="col-12 col-lg-6">
                  {%asset img/posts/2019_holomouseio/holomouseio_tablette.jpg
                    srcset:width="1920"
                    srcset:width="650"
                    class="img-fluid"
                    sizes="(min-width: 1200px) 1200px, 100vw"
                    style="padding-bottom: 40px;"
                    alt="Holomoseio hologram for museum with interactivity"
                    %}
                  </div>
                </div>
              </div>
            </div>
          </section>
