---
layout: index
title: Inauguration of the ShAke building
image: img/posts/2019_Nacarat/bann.jpg
abstract: The new headquarter of the Caisse d'Epargne CEHDF disclosed in holograms
tags: real-estate iris75
---

<section class="section section-main-header header-fill" style="max-width: 1920px">
  {%include components/header_image.html image="img/posts/2019_Nacarat/iris75_estrade.jpg" %}
  <div class="main-header-body body-right">
    <div class="content shadow rounded bg-white rounded p-4 text-justify">
      <h2>An holographic unveiling</h2>
      <p>
        New flagship real estate project for the city of Lille, the <a href="http://shake.nacarat.com/" target="_blank">ShAKe</a>, will be the next headquarter of the <b>Caisse d'Epargne Hauts-de-France</b> banking group.
      </p>
      <p>
        <i>ShAKe is revolutionizing the way of thinking about commercial real estate by relying on three major societal trends: the decompartmentalization between private and professional life, the transition to a logic of use and sharing and the development of the notion of community.</i>
      </p>
      <ul>
        <li>Promoter : <b>NACARAT</b></li>
        <li>Investor : <b>Caisse d'Epargne Hauts-de-France</b></li>
        <li>Architect : <b>PCA-STREAM</b></li>
      </ul>

    </div>
  </div>
</section>


<section id="Inauguration" class="section section-main-header header-fill">
  {%include components/header_image.html image="img/posts/2019_Nacarat/shake2019.jpg" %}
  <div class="main-header-body">
    <div class="content shadow rounded bg-white rounded p-4">
      <div class="row">
        <div class="col-12 col-lg-6">
          {% picture container img/posts/2019_Nacarat/shake_holo.jpg
            --img class="img-fluid"
            style="padding-bottom: 40px;"
            alt="Hologram on Iris 75 during the inauguration"
            %}
          </div>

          <div class="col-12 col-lg-6 text-justify">
            <h2>Formalize the start of the construction</h2>
            <p>
              How to present the full <b>ambition</b> of a project when the work is just beginning?
            </p>
            <p>While the project is still in its infancy and more than a year of work separates it from its delivery, the laying of the foundation stone formalizes the place that the building will soon occupy in the urban landscape. This is a <b>key date</b> in the building's life cycle and underlines the commitment of the various project stakeholders: politicians, investors, builders, customers...</p>
            <p>The hologram, based on the building's <b>BIM sources</b>, is then able to present not only the external architecture but also its networks, technical characteristics and programmatic mix. From these sources, we were able to give an <b>aesthetic and functional vision</b> of the building.</p>
            <p>The Iris 75, generator of large Ultra HD holograms, allowed on June the 27th 2019 a detailed presentation of the <b>ShAke</b> in optimal condition.</p>
              <p> In a large tent very exposed to light, the 4 guest stars of the project jointly pressed a trigger button to unveil the hologram model to the public. <b>200 people were present</b> to benefit from this experience. plop</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="video" class="section bg-light py-4">
      <div class="container jumbotron bg-white shadow my-0" style="text-align:center">
        <h2>More about this project in videos</h2>
        {% include components/medias/youtube.html  embed="NckRXkl4Ms0" %}
      </div>
    </section>

    <section class="section section-main-header header-fill py-4">
      <div class="main-header-image-wrapper">
        {% picture img/posts/2019_Nacarat/iris75_side.jpg
          
          
          
          sizes="100vw"
          class="img-fluid"
          alt="iris75 hologram on stand"
          %}
        </div>
        <div class="main-header-body container jumbotron bg-white shadow my-4">
          <h2>A holographic revealing</h2>
          <p>
            The surprise effect is  brought by a touch of <b>interactivity</b> ! The material to make this revelation possible is as follows:
            <ul>
              <li>An <a href="/en/products/iris75">Iris 75</a>, for a hologram of exceptional quality.</li>
              <li>A control buzzer (started thanks to our <a href="https://holusion.com/dev" target="_blank"> API</a>), for the surprise.</li>
              <li>A tailor-made casing to fit in with the event as well as possible.</li>
            </ul>
          </p>
          <p>
            <b>When the four guests pressed the button, the holographic model of the ShAke was activated, in front of the entire audience!</b>
          </p>

          <div class="row">
            <div class="col-lg-4 col-md-12  d-flex flex-column justify-content-center">
              {% picture container img/posts/2019_Nacarat/iris75_foule.jpg
                --img class="img-fluid"
                style="padding-bottom: 40px;"
                alt="crowd recording an hologram"
                %}
              </div>
              <div class="col-lg-8 col-md-12 d-flex flex-column justify-content-center">

                <p>This is done in 3 steps:</p>
                <h3>1 - BIM data recovery</h3>

                <h3>2 - Script writing</h3>

                <h3>3- Holographic rendering</h3>

                <p>
                  <i>More information on this solution: <a href="/en/usages/bim">Presenting a building model in the form of holograms</a></i>
                </p>
              </div>
            </div>
          </div>
        </section>

        <section id="BIM" class="section bg-light py-4">
          <div class="container jumbotron bg-white shadow my-0" style="text-align:center">
            <h2>1 - BIM data</h2>
            <p>Compatible avec tous les logiciels professionels</p>
            <p><i>Manage a database of 3D files integrating all the elements of the building</i></p>
            {% picture container img/posts/2019_Nacarat/hologramme_reseaux.jpg
              class="img-fluid"
              style="padding-bottom: 40px;"
              alt="High quality architectural rendering"
              %}
            </div>
          </section>

          <section id="Scénarisation" class="section bg-light py-4">
            <div class="container jumbotron bg-white shadow my-0" style="text-align:center">
              <h2>2 -  Script writing</h2>
              <p>To make the most of the available information</p>
              <p><i>Emphasis on the programmatic mix, technical networks, everything that makes a real estate project truly unique</i></p>
              {% picture container img/posts/2019_Nacarat/hologramme_quartier.jpg
                class="img-fluid"
                style="padding-bottom: 40px;"
                alt="High quality architectural rendering"
                %}
              </div>
            </section>

            <section id="Rendu" class="section bg-light py-4">
              <div class="container jumbotron bg-white shadow my-0" style="text-align:center">
                <h2>3 - High quality architectural rendering</h2>
                <p>Ultra high quality and bright images</p>
                <p><i>Use of a powerful and open source graphic engine for the creation of photo-realistic images that best highlight material choices and architectural ambition.</i></p>
                {% picture container img/posts/2019_Nacarat/iris75_rendu_shake.jpg
                  --img class="img-fluid"
                  style="padding-bottom: 40px;"
                  alt="High quality architectural rendering"
                %}
                </div>
              </section>

              <div class="main-header-body">
                <div class="content shadow rounded bg-white rounded p-4">
                  <div class="row justify-content-center">
                    <div class="col-12 col-lg-1 text-center" >
                      <a href="https://www.linkedin.com/in/r%C3%A9mi-foulon-6a0354118/" target="_blank">
                        {% picture img/posts/2019_Nacarat/Remi_Foulon.png
                          
                          
                          --img class="img-fluid
                          sizes="(min-width: 300px) 200px, 100vw"
                          style="padding-bottom: 40px;"
                          alt="Remi Foulon"
                          %}
                        </a>
                      </div>
                      <div class="col-12 col-lg-6 text-justify" >
                        <blockquote class="blockquote">
                          <h2>Testymonial</h2>
                          <p>
                            We asked Holusion to highlight our Shake project through a hologram, on the occasion of the laying of the foundation stone of the project. <br/>
                            Holusion's teams were perfectly able to listen and integrate our intentions into the design of the hologram. The product presented at the event had a very positive effect because of its originality and aesthetics!
                          </p>
                          <footer class="blockquote-footer">Rémi Foulon, Deputy Program Director at Nacarat</footer>
                        </blockquote >
                      </div>
                    </div>
                  </div>
                </div>

                <section class="section section-main-header header-fill">
                  {%include components/header_image.html image="img/posts/2019_Nacarat/nacarat_tente.jpg" %}
                  <div class="main-header-body">
                    <div class="content shadow rounded bg-white rounded p-4">
                      <div class="row">
                        {% picture img/posts/2019_Nacarat/bottom_en.jpg
                          
                          --img class="img-fluid"
                          sizes="(min-width: 1200px) 1920px, 100vw"
                          style="padding-bottom: 40px;"
                          --alt  location of the event
                          %}
                        </div>
                      </div>
                    </div>
                  </section>
