---
layout: index
title: Holographic museums
image: img/posts/2019_holomouseio/trilobite_en.jpg
abstract: Digitalization for education and cultural heritage
tags: museography tourism iris32
---

<section class="section section-main-header header-fill" style="max-width: 1920px">
  {%include components/header_image.html image="img/posts/2019_holomouseio/PBA.jpg" %}
  <div class="main-header-body body-right">
    <div class="content shadow rounded bg-white rounded p-4 text-justify">
      <h2>Digitalization for education and cultural heritage</h2>
      <p>
      Launched by the <a href="2019-02-15-holomouseio.html" target="_blank">Holomouseio</a> project, with the University of Lille, holographic mediation is a real opportunity for museums and scientific education spaces.
      </p>
      <p>
        The digitalization of archaeological or scientific artefacts makes it easy to create applications to explain them, enhance their value and transmit knowledge to the public.
      </p>

    </div>
  </div>
</section>

<section id="video" class="section bg-light py-4">
  <div class="container jumbotron bg-white shadow my-0" style="text-align:center">
    <h2>Digitalization of “Le Pied de Croix de Saint-Bertin"</h2>
    {% include components/medias/youtube.html  embed="nUSCXB-x7eM" %}
    <p>
      <a href="https://webtv.univ-lille.fr/video/10189/ethesaurus-l8217orfevrerie-a-l8217epreuve-de-la-modelisation-3d" target="_blank"><b>E.Thesaurus</b></a> is based on the development of a methodology for the acquisition of goldsmith's items with a high level of detail and reflective elements. This method is based on a 3D photogrammetric reconstruction from images illuminated with cross-polarized light. The project includes a communication component aimed at the public and students via the holographic format.<br/>
      Photogrammetry is a technique that consists of making measurements in a scene, using the parallax obtained between images acquired from different points of view.
    </p>
    <p style="text-align:left">
      <b> Project leader and participants:</b>
      <ul style="text-align:left">
        <li><b>Marc Gil</b> (University of Lille, IRHiS)</li>
        <li><b>Christine Aubry</b> (University of Lille, IRHiS)</li>
        <li><b>Pierre Hallot</b> (University of Liège, labo LNA/DIVA)</li>
        <li><b>David Strivay</b> (University of Liège, Centre européen d’Archéométrie)</li>
        <li><b>Frédéric Tixier</b> (University of Lorraine-Campus de Nancy, CRHUL)</li>
        <li><b>Romain Saffré</b> ("Musée de l’hôtel Sandeli"n, Saint-Omer)</li>
        <li><b>Sophie Dutheuillet de La Motte</b> (Conservator, Palais-des-Beaux, Lille)</li>
        <li><b>Florence Raymond</b> (Conservator, new medias and digital tools, Palais des Beaux-Arts, Lille)</li>
        <li><b>Christine Descatoire</b> (Conservator, Musée de Cluny, Paris)</li>
        <li><b>Julien Maquet</b> (Conservator of the "Trésor de la cathédrale de Liège")</li>
        <li><b>Thibault Guillaumont</b>, Holusion (Plaine images, Tourcoing)</li>
      </p>
    </div>
  </section>

  <section id="video" class="section bg-light py-4">
    <div class="container jumbotron bg-white shadow my-0" style="text-align:center">
      <h2>Scientific mediation around trilobites</h2>
      {% include components/medias/youtube.html  embed="6HqhTuSQ4hc" %}
      Hologram photogrammetry presentation video.


      <p>
        Discovery of a fossil of <b> rolled trilobite </b>, an extinct species of marine arthropod, and highlighting what constitutes it.<br/>
        A prototype made by Thibault Guillaumont for Holusion on the occasion of the <a href="http://www.cue-lillenorddefrance.fr/?q=culture-patrimoine/culture-scientifique/culture-fete-de-la-science" target="_blank">"Fête de la Science"</a> in Lille in 2019.<br/>
        <b>Scientific Credits:</b> Laboratory UMR 8198 Evo-Eco-Paleo (EEP) in Lille.<br/>
        <b>Catherine Crônier / Jessie Cuvelier</b><br/>
        <b>Holographic display:</b> <a href="/en/products/iris32">Iris 32</a><br/>
      </p>

    </div>
  </section>

  <section id="video" class="section bg-light py-4">
    <div class="container jumbotron bg-white shadow my-0" style="text-align:center">
      <h2>The Impressionism movement. Renoir in "Musée Fournaise"</h2>
      {% include components/medias/youtube.html  embed="84GdJEdanW0" %}
      On the inconic place where the "Déjeuner des Canotiers" was painted, Renoir returns to present his life as an artist.


      <p>
        100 years after his disappearance, <b>Renoir</b> returns to Chatou at the <a href="https://www.musee-fournaise.com/" target="_blank">Maison Fournaise</a>.<br/>
         He is embodied by a hologram on a human scale and recounts his first successes and his first setbacks in the world of Impressionist painting. <br/>
        <b>Scientific Credits:</b> Musée Fournaise, Anne Galloyer<br/>
        <b>Production: </b> Holusion / Christophe Leray (scenography) <br/>
        <b>Holographic display:</b> <a href="/fr/products/iris75">Iris 75</a> and customized set<br/>
      </p>

    </div>
  </section>
