---
layout: front_page
title: How do holographic projections work ?
image: img/posts/2020_hologramme/Miniature.jpg
abstract: What, How, When and Where.
tags: Explications Holograms Pepper's ghost Tupac Star Wars
---

<main class="main-dark main-grid">

  <section class="section section-center">
    <h2 class="text-white my-5" style="font-size: 3rem">How do holographic projections work ?</h2>
  </section>

  <section class="section">
    {% picture grid img/posts/2020_hologramme/starwars.png
      --img class="cover"
      data-noisetest="1"
      style="object-position: 70% 0"
      --alt capture d'écran d'une des utilisations les plus connues d'hologrammes sur grand écran dans le premier film Star Wars en 1977
    %}
    <div class="content py-0">
    <h2>Holograms, a science-fiction thing ?</h2>
    <p>
      When someone mentions holograms, we are all thinking about the communication device in <i>Star Wars</i>: these blueish projections allowing the heroes to speak to each other like they were in the same room, a kind of FaceTime from the future. Yet, these free-floating and supportless holograms only exist in another galaxy, far far away
    </p>
    <p>
      Holograms are a main staple in science fiction movies but sadly it’s all <b>special effects</b> and post-production editing for the purpose of storytelling and they only exist in the final cut of the movie. 
    </p>
    <p>
      But how do our holograms work? The aim of this article is to give you some insight about this technology and explain to you how it works. 
    </p>
    </div>
  </section>

  <section class="section section-center">
   
    <div class="content m-5">

      <h3>Dennis Gabor's hologram</h3>
      <p>
        Everything started in 1948 when the Hungarian physicist Dennis Gabor (1900-1979) announced his last breakthrough: holography. The scientific principle is to use the wave properties of light to record a 3D image of a subject. This discovery will earn him the <a href="https://www.nobelprize.org/prizes/physics/1971/summary/" target="_blank">1971 Nobel Prize in Physics</a>.
      </p>
    </div>
  </section>

  <section class="section left section-white">
    {% picture grid img/posts/2020_hologramme/holograph-record.png
      --picture class="contained"
      --img alt="By DrBob at the English-language Wikipedia, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=18103931"
    %}
    <div class="content m-auto">
      <h2>How does Gabor's hologram work ?</h2>
      <p>
        It’s the unique, yet counter-intuitive, properties of light that make holography possible. Light is <b>both a wave and a particle</b>. Which means, some physicists thought, it should be possible to record light in stereo, just as you could record sounds, another wave function. Dennis Gabor theorized that if you use two identical beams of light, one illuminating an object and the other one directly illuminating a photographic plate, the two light waves should interfere with each other and record a tridimensional image.
      </p>  
    </div>
  </section>
  <section class="section left section-white pt-4">
    {% picture container img/posts/2020_hologramme/holography-reconstruct.png
      --picture class="contained w-75"
      --img alt="By DrBob at the English-language Wikipedia, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=18103931"
    %}
    <div class="content m-auto">
      <p>
        Then, to reconstruct the original image, shining the exact same initial beam on the photographic plate should reveal the interfering object right where it was standing when the photography was taken.
      </p>
    </div>
  </section>

  <section class="section">
    {% picture grid img/posts/2020_hologramme/gabor.jpg
      --img alt="Présentation de l'hologramme de Gabor"
     %}
    <h2>History and applications of holograms</h2>
    <div class="content">
      <p>
        If holography was discovered by Dennis Gabor in 1948, it’s only during the 60s that it was allowed to thrive! The development of lasers at this time was crucial for the production of holograms. Indeed, no other technology before guaranteed to have enough precision on the light beam generation and being able to generate the exact same light any time you need. Laser is a coherent monochromatic light source composed of a single color of a single frequency, whereas white light is a compound of several colors dispersed on a frequency spectrum.
       </p>
       <p>
        But as much as lasers were an important breakthrough, holograms are mostly used in laboratories because their production is both complex and expensive.
      </p>
      <p>
        The bright side is that holographic images are very hard to forge or counterfeit. It’s almost impossible to copy, scan or reproduce an hologram. This is why today you can read about “security holograms”, these are little iridescent images on your banknotes, passport and credit card that make them immune to forgery and identity theft.
      </p>
    </div>
  </section>

  <section class="section section-white">
    <h2>What is the link with those <i>Star Wars</i> holograms ? </h2>
  </section>

  <section class="section section-center">
    <div class="content">
      <p>
        These security holograms may not have a lot in common with the futuristic communication device from Star Wars, but it’s really thanks to the science-fiction genre that hologram awareness spread to the public with the first opus of George Lucas space opera saga in 1977. This new easy and seducing way to communicate through free-floating holographic images made a strong impression on the audience at the time and opened new fields of innovation in the communication industry. Today, hologram is an innovative communication tool for real-estate and cultural events.

       </p>
       <p>
        If Dennis Gabor is the first great man of the holographic adventure, the hologram as we know it today is mostly the work of another inventor, the British engineer John Henry Pepper (1821-1900).
       </p>
    </div>
  </section>

  <section class="section left">
    {% include components/medias/youtube.html  embed="84GdJEdanW0" %}
    <h2>Pepper's ghost hologram</h2>
    <div class="content m-auto">
      <p>
        Nowadays the Pepper’s Ghost is the most common method to generate holograms and when you see them in theater, museum or exhibition, they were almost certainly produced thanks to this device.
      </p>
      <p>
        In fact, Pepper's Ghost is only a smart optical illusion, and it has nothing to do with the holograms of Dennis Gabor, which appeared much later. They only share the same name as they both share the same properties in the audience's imagination. The Pepper’s Ghost gives the impression of a 3D free-floating image using relief or <i>trompe-l’oeil</i> forced perspective.
      </p>
      <p>
        John Henry Pepper traveled the Victorian era world to entertain its audiences with technological innovations. He was mostly famous for his theater works thanks to his spectacular ghost apparitions.
      </p>
    </div>
  </section>

  <div class="section section-center">
    <h2>Functioning of Pepper's ghost hologram ?</h2>
  </div>

  <section class="section">
    {% picture grid img/posts/2020_hologramme/PeppersGhost_schema.png

      --img alt="schema de l'optique des Hologrammes Pepper's ghost utilisés dans les produits d'holusion"
    %}
        
    <div class="content m-auto">
      <p>
        A Pepper’s Ghost uses a semi-reflective glass panel and a controlled lighting to give the impression of ethereal objects appearing and disappearing on the stage. The illusion works because the audience cannot see that the glass is in fact only showing the reflection of a hidden subject.
      </p>
    </div>
  </section>

  <section class="section left section-white pt-5">

    {% picture container img/posts/2020_hologramme/Peppers_Ghost.jpg
      --picture class="contained"
      --img alt="Présentation de l'hologramme de Pepper, gravure (source: Le Monde Illustré, wikimedia commons)" 
    %}

    <div class="content m-auto">
      <h3>This isn't a new illusion !</h3>
      <p>
        Pepper used this technique for the first time in 1862 for <i>The Haunted Man</i>, a play from Charles Dickens. The optical illusion had then made it possible to make a ghost appear on stage, and it is what gave its name to this process which we use today in our holograms.
      </p>
      <p>
        The principle itself could be much older! It would have been used as a magic trick in traveling shows and carnivals as early as the 16th century.
        Today’s Pepper's ghost is used not only on stage, but also on a smaller scale, in holographic showcases for example.        
      </p>
    </div>
  </section>

  <section class="section">
    {% include components/medias/youtube.html  embed="AQYExdderJM" %}
    <h2>Digital version of Pepper’s Ghost</h2>
    <div class="content">
      <p>
        Technical progress in display technologies made it possible to adapt the Pepper’s Ghost to recent digital devices and modernize the concept. Nowadays, we can produce high luminosity and quality holograms using modern Pepper’s Ghosts. To create a digital Pepper’s Ghost, we use a high-luminosity high-contrast screen displaying a bright animation on a black background and a special see-through mirror to reflect it. This method is very popular for real-estate presentation, cultural heritage promotion and educational purposes.
      </p>
    </div>
  </section>

  <section class="section section-white">
    <h2>Holograms in a nutshell</h2>
  </section>

  <section class="section section-center">
    <div class="content">
      <div class="my-4">
        <h3>Pepper’s Ghost, from Tupac to Jean-Luc Melenchon</h3>
        <p>
          The Pepper’s Ghost was born for show business and it’s still its primary application as a spectacular and efficient tool on stage. This is how the American rapper Tupac who passed away in 1996 was able to be reborn on stage for the Coachella Music Festival of 2012. More recently, politicians grew very fond of this technology. Jean-Luc Melenchon used it in France for a political meeting in 2017 and again in 2022. So did Narendra Modi in India and Recep Tayyip Erdoğan in Turkey.
          Brands and marketing are very interested in hologram as Supreme who used it to launch its 2020 collection thanks to a Tupac hologram.          
          </p>
      </div>
      <div  class="my-4">
        <h3> An idea from late 19th century</h3>
        <p> 
          The Pepper’s Ghost story starts in 1858 when John Henry Pepper, then director of a scientific popularization company, bought Henry Dirks his Aetheroscope, a device that creates optical illusions. Pepper would quickly improve this device to create larger illusions, mostly to be used on stage in theaters. This is how in London, on Christmas Eve 1862, the first Pepper’s Ghost appeared during the play of <i>The Haunted Man</i> by Charles Dickens.
         </p>
      </div>
      <div class="my-4">
        <h3>Other ways to display holograms…</h3>
        <p> 
          Nowaday, we are in daily contact with <b>security holograms</b>, protecting our credit cards and banknotes from forgery. The high-end technology behind these holograms makes them impossible to counterfeit and reduces the risk of fraud.
        </p>
        <p>
          It’s possible to create a hologram by video-projecting a 3D image on an almost invisible mesh screen. This screen is so thin, the audience cannot see it and only see the image on it. This is particularly popular in theater and circus to display large holograms on stage.
        </p>
        <p>
          Finally, <b>retinal pertinence</b> allows free floating images in the air. This is the method used by holographic fans that are spinning tricolor led bars very fast to create this illusion.
        </p>
      </div>
      <div  class="my-4">
        <h3>Ok, that’s nice, but when will we get Star Wars holograms ?</h3>
        <p>
          The first hologram in colors was only created in 2015 and it still needs the support of a photographic plate. This technology still needs a lot of evolution to reach something like in the science-fiction movies. Sadly, you will not be able to have a holographic video-conference anywhere soon. But who knows what the future will be made of ? Technological progress can be surprisingly fast and breakthroughs in holograms might come sooner than later!
        </p>
        <p>
           To be followed!          
       </p>
      </div>
    </div>
  </section>
</main>