---
layout: index
title: Renoir Reborn
image: img/posts/2020_Renoir/Miniature.jpg
abstract: Let Renoir be your guide for one day.
tags: tourism education hologramm Renoir impressionism holographic projection
---

<section class="section section-main-header header-fill" style="max-width: 1920px">
  {%include components/header_image.html image="img/posts/2020_Renoir/Canotiers.jpg" %}
  <div class="main-header-body body-right">
    <div class="content shadow rounded bg-white rounded p-4 text-justify">
      <h2> Renoir Reborn </h2>
      <p>
      <b> Auguste Renoir is reborn at Chatou.</b> In commemoration of the <b> centenary </b> of his death, the <a href="https://www.musee-fournaise.com/" target="_blank"> Musée Fournaise </a> of Chatou has decided to bring the famous Frenchman back from the grave.
      </p>
      <p>
      Let him be your guide for a journey on the <b> Impressionnists Island </b> on the Seine River, near Paris. This island is the birthplace of the famous painting <a href="https://fr.wikipedia.org/wiki/Le_D%C3%A9jeuner_des_canotiers" target="_blank"> Les Canotiers. </a>
      </p>

    </div>
  </div>
</section>


<section id="video" class="section bg-light py-4">
  <div class="container jumbotron bg-white shadow my-0 text-center">
    <h2> Go Back in Time </h2>
    {% include components/medias/youtube.html  embed="84GdJEdanW0" %}


    <p class="pb-4">
    <i> The french exhibition has the ambition to display a real <b> journey trough art history</b>. The visitors can meet Renoir in all of his humanity, thanks to digital technologies. </i>
    </p>

<div class="text-justify">
      <h2> Technology serves History </h2>
      <p class="pb-3">
        The museum came to contact us as they needed an holographic projection of the painter,<b> life-sized</b>. This Renoir hologram is set in a wider digital path, which is : <b> "Renoir impressionnist, the immersive experience"</b>. This journey enables the audience to be closer than ever to Renoir. In order to create such a cosy atmosphere, suitable for Renoir's confidences, our <a href="https://holusion.com/fr/products/iris75" target="_blank"> Iris 75</a> has been installed behind a bar counter.
      </p>
      <h2> A symbolic Island </h2>
      <p>
        The hologram is set at the Musée Fournaise in Chatou, on the Impressionnists Island. This <b> "ginguette" </b> located on the Seine River attracted many painters at the end of the 19th century, and among them : Renoir. For that matter, it is on this island that he will paint the famous <a href="https://fr.wikipedia.org/wiki/Le_D%C3%A9jeuner_des_canotiers" target="_blank"> Canotiers</a>, his great impressionnist oeuvre. It is now displayed in the <b>United States of America </b> but a reproduction can be found at the Musée Fournaise.
        </p>
      </div>
    </div>
  </section>



  <section class="section section-main-header header-fill py-4">
      <div class="main-header-image-wrapper">
          {% picture  img/posts/2020_Renoir/FondRenoir.jpg
              
              
              
              sizes="100vw"
              --img class="img-fluid
              alt="iris22 avec un ecorché d'appartement"
              %}
          </div>
          <div class="main-header-body container jumbotron bg-white shadow my-4">
              <h2 style="margin-bottom:15px"> The Tale of a Man's life </h2>
              <p>
                He tells the audience the many stories of his <b> débuts </b> as a painter, and the many criticisms he encountered. Indeed, Impressionnism didn't always have the success we know today. Painters like Renoir and Monet had to face <b> many closed doors</b> before achieving posterity. They were banned from many <b> salons</b>. Impressionnism has been rejected from the public for nearly <b> twenty years</b>.
              </p>
              <p class="pb-1">
              {% picture img/posts/2020_Renoir/CitationEN.png
                  
                  
                  
                  sizes="100vw"
                  --img class="img-fluid"
                  --alt  iris32 présentant un module de réservation de salles
                  %}
              </p>

                <p class="pb-3">
                  We are grateful for the opportunity the Musée Fournaise gave us, and we are thrilled to have contributed to the <b> recognition</b> of such a great french painter. Many thanks to the <a href="https://www.musee-fournaise.com/" target="_blank"> Musée Fournaise </a> for their trust.
                </p>

              <h2> Partnerships </h2>
              <p> <ul>
              <li> <b> Scientific credits </b> : Musée Fournaise, Anne Galloyer
              <li> <b> Production </b> : Holusion / Christophe Leray (scenography)
              <li> <b> Holographic Display </b> : Iris 75 and tailor-made scenery.
              </ul> </p>

              <p class="pt-2">
                <h2> Useful Tips </h2>
                The museum is opened from <b>Wednesays to Thursdays</b>, from 10am to 6pm. It is also open during the weekend, from 10h30am to 6pm. The average price is <b> 7€</b>. The exhibition <a href="https://www.musee-fournaise.com/Decouvrir-le-musee/A-decouvrir-actuellement" target="_blank"> "Renoir impressionnist, the immersive experience" </a> is available until <b> 09/27/2020</b>.
              </div>
          </section>
