---
layout: index
title: How does holographic projections work ?
image: img/posts/2020_hologramme/Miniature.jpg
abstract: What, How, When and Where.
tags: Explications Hologramms Pepper's ghost Tupac Star Wars
---

<section class="section section-main-header header-fill" style="max-width: 1920px">
  {%include components/header_image.html image="img/posts/2020_hologramme/Now.jpg" %}
  <div class="main-header-body body-right">
    <div class="content shadow rounded bg-white rounded p-4 text-justify">
      <h2>How does holographic projections work?</h2>
      <p>
      Whenever we talk about hologram, we immediatly think of the bluish projections from the Star Wars Saga. However, amongst the two type of holograms that truly exist, none of them projects Leia in the air.
      </p>
      <p>
      <i>  For instance, this hologram displayed in "Now You Seen Me" (Louis Leterrier, 2013) doesn't exist, and belong in the magical field, witch is the exact subject of the movie. </i>
      </p>
    </div>
  </div>
</section>

<section id="Gabor" class="section section-main-header header-fill">

  <div class="main-header-body">
    <div class="content shadow rounded bg-white rounded p-4">
      <div class="row">
        <div class="col-12 col-lg-6">
          {% picture container img/posts/2020_hologramme/holomouse.jpg
            --img class="img-fluid"
            style="padding-bottom: 40px;"
            alt="Présentation de l'hologramme de Gabor"
            %}
          </div>
          <div class="col-12 col-lg-6 text-justify" >
            <h2>Gabor's Hologram</h2>
            <p>
            </p>

            <p>
               <b>  Definition :   </b>
            An hologramm is a image containing tridimensional informations. This projection is made possible by holography, a technique that registers the 3D volume of an object through wavelengths. It is often the one we call "real holograms".
            </p>
            <p>
              <b>  How does it work ?  </b>
              The hologramm exists thanks to interferences (two close waves overlapping). It consists in projecting a beam of light on both and object and a panel, and the interactions between the two items' waves will create a tridimensional image.
            </p>            <p>
            <b>  History :   </b>
             The idea of hologram is born in 1947 by Dennis Gabor but it is only in the sixties with the laser era that the technique is developped. Nonetheless, these holograms are made possible in a very precise context, as they need a suitable environment for the interferences. Thus, their utilisation is very limited and we mostly find them in laboratories. Holograms as we know them today are a result of an analogy.
                </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="PeppersGhost" class="section section-main-header header-fill">

      <div class="main-header-body">
        <div class="content shadow rounded bg-white rounded p-4">
          <div class="row">
              <div class="col-12 col-lg-6 text-justify" >
                <h2>Pepper's ghost</h2>
                <p>
                </p>

                <p>
                   <b>  Definition :   </b>
                   This hologram is therefore an analogy, and corresponds to any tridimensional image giving the impression that it is floating in the air. This floating effect is the result of the Pepper's Ghost.
                </p>
                <p>
                  <b>  How does it work ? </b>
                  Stem from the scene world, this optical illusion consists in putting a reflective panel in order to give the impression that the object is appareating and disapareating. The inclined panel is invisible to the eyes of the spectators, and the illusion lies in the fact that the panel does not only show transparency, it also reflects the hidden object.
                </p>            <p>
                <b>  Other versions of the illusion :   </b>
                 This illusion comes in different forms. It ranges from quite huge in the scene world, to human scaling with holographic displays.
                    </p>
                </div>
                <div class="col-12 col-lg-6">
                  {% picture container img/posts/2020_hologramme/PeppersGhost.jpg
                    --img class="img-fluid
                    style="padding-bottom: 40px;"
                    alt="Présentation de l'hologramme de Pepper"
                    %}
                  </div>
              </div>
            </div>
          </div>
        </section>

  <section id="video" class="section bg-light py-4">
    <div class="container jumbotron bg-white shadow my-0" style="text-align:center">
      <h2> The digital Pepper's Ghost </h2>
      {% include components/medias/youtube.html  embed="AQYExdderJM" %}
      <h3> Presentation video of a digital Pepper's Ghost </h3>
      <p> </p>
      <p> Now, holograms and digital format are merging to create holographic images realer than ever, and more impressive. These holograms lie in the use of a digital screen, which, once reflected on an inclined panel, project a 3D image in augmented reality. They can be used in many sectors, wether it is in construction, cultural heritage mediation, or even education. </p>


    </div>
  </section>


  <section class="section section-main-header header-fill py-4">
      <div class="main-header-image-wrapper">
          {% picture img/posts/2020_hologramme/Tupacldd.jpg
            --img class="img-fluid"
            sizes="100vw"
            --alt  Tupac at Coachella
          %}
          </div>
          <div class="main-header-body container jumbotron bg-white shadow my-4 p-5">
              <h2 style="margin-bottom:15px"> Did you know ?</h2>
              <div class="my-4">
                <h3> What is the link between Tupac and the political frenchman Mélenchon ?</h3>
                <p> Pepper's hologramms are naturally cherished by the scene arts, as it is their birthplace. For instance, Tupac was reborn from the ashes in 2012 at the Coachella music festival, thanks to Peppers's Ghost. Nevertheless, these holograms are going beyond the musical field and made an appearance in politics in France, through Mélenchon. Claimed by the political team as an "hologram", it remains an optical illusion.  </p>
               <p> Brands are growing fonder and fonder of the effect : the american brand <b> Supreme </b> just offered itself a partnership with the Tupac hologramm for its 2020 clothes's collection. </p>
             </div>
             <div  class="my-4">
                <h3> An idea not that revolutionary ...</h3>
                <p> The history of this popular hologram began in the second half of the 19th century. John Henry Pepper bought in 1858 an invention from Henry Dirks. It is Pepper who  developped this illusion by perfecting it and adapting it to theaters. The coining of “Pepper's Ghost" thus came from the first appearance of the illusion in the Dickens' play "The Haunted Man or the Ghost's Bargain". The effect spread and the name stayed. </p>
              </div>
              <div class="my-4">
              <h3> Do holograms live among us ? </h3>
              <p> The most common holograms are the ones on our credit cards, bank notes, and ID cards. They are not Gabor's holograms but they are security holograms, and their purpose is to prevent any temptation of illegal reproduction. </p>
            </div>
            <div  class="my-4">


              <h3> What about the holograms we see in movies ? Will they exist someday ?</h3>
                  Given the fact that the first coloured hologram was only realised in... 2015, it seems that there is still a long way to go before one could developp such technology.
</div>
              </div>
          </section>
