---
layout: index
title: "Alençon : a modern tale..."
image: img/posts/2020_Alencon/miniature.jpg
abstract: The story of Alencon now unveiled to the public
tags: culture alençon education hologramme collectivités
---

<section class="section section-main-header header-fill" style="max-width: 1920px">

  {%include components/header_image.html image="img/posts/2020_Alencon/fond_alencon.jpg" %}
  <div class="main-header-body body-right">
    <div class="content shadow rounded bg-white rounded p-4 text-justify">
      <h2> A modern tale... </h2>
      <p> The Castle of the Dukes is experiencing a real fairy tale. <a href="http://www.alencon.fr/mes-sortiesmon-temps-libre/tourisme-et-patrimoine/patrimoine/" target="_blank"> It was first converted in a prison</a> and stayed as such for nearly two centuries. In 2010, the prison closed and the Castle is finally going to be <b> opened to a wider audience</b>.
      </p>
      <p> For the <b>first time</b> in centuries, the Castle is becoming public. For the <a href="https://france3-regions.francetvinfo.fr/normandie/orne/alencon/chateau-ducs-alencon-cour-promenade-prisonniers-va-devenir-parc-familial-1412913.html" target="_blank"> unveiling of this new urban park </a>, the city of Alençon decided to give the citizens a <b>new tool</b> to better understand the Castle.
      </p>

    </div>
  </div>
</section>

<section>
<div class="main-header-body container jumbotron bg-white shadow my-4">
  <h2> A Castle reborn </h2>
  <p> As it did not meet the requirements in terms of hygiene and security, the courthouse had to close in 2010. </p>
  <p> Thus, the fate of the Castle was uncertain and the municipality eventually decided to open the place to the public.
   <a href="https://www.ouest-france.fr/normandie/alencon-61000/alencon-le-chateau-des-ducs-ouvre-ses-portes-cinq-nouvelles-dates-5625901" target="_blank"> An urban park and a boardwalk were arranged </a> to allow the visitors to better assimilate the place. With this in mind, the direction of the cultural life and tourism contacted us to <b>enhance</b> the ruins of the castle.
</div>
</section>

<section id="video" class="section bg-light py-4">
  <div class="container jumbotron bg-white shadow my-0 text-center">
    <h2> Review your history courses !</h2>

    {% include components/medias/youtube.html  embed="_CGQlKlKL0s" %}

<div class="text-justify pt-3">
      <h2> Regional collaborations </h2>
        <p class="pb-3">
          The backstage of such an installation is a long work of <b>historical reconstitution</b>, in collaboration with T. Churin. After a data collection of many historical key points, a digital rendering of the castle was created by our infographist Melissa.
          </p>

      <h2> A new form of digital display </h2>
      <p class="pb-3">
        The result of this collaboration is an <b>holographic model</b> of the castle. The hologram follows the evolution of the Castle over the centuries, from 1170 to our present time. The objective of this project was to promote the Castle history and the different uses it had in the past.

        <h2> You're the judge ! </h2>
        This hologram is <a href="/en/interaction/" target="_blank"> interactive </a>. The public can choose the historical era he wishes thanks to a <b>connected iPad</b>. Thus, the audience doesn't stay put, and they become a part of the exhibition.
      </div>
    </div>
  </section>

  <section class="section section-main-header header-fill py-4">
      <div class="main-header-image-wrapper">
          {% asset img/posts/2020_Alencon/banner_alencon.jpg
              srcset:width="1920"
              srcset:width="1920"
              srcset:width="960"
              sizes="100vw"
              class="img-fluid"
              alt="iris22 avec un ecorché d'appartement"
              %}
          </div>
          <div class="main-header-body container jumbotron bg-white shadow my-4">
              <h2 style="margin-bottom:15px"> Beyond appearances</h2>
              <p>
                If the holographic display already explains the evolution of the castle with a few legends, the <b> iPad </b> also contributes to the transmission of knowledge.  It shows textual informations so that the audience can learn a bit more. </p>
                <p> As the place was used for <b> many different uses </b>, these informations can be really useful for the visitors. Especially since the castle remained private for nearly two centuries ! Something worth a peek...
              </p>
              <p class="pb-1">
              {% asset img/posts/2020_Alencon/BandeauAlencon.png
                  srcset:width="1920"
                  srcset:width="1920"
                  srcset:width="960"
                  sizes="100vw"
                  class="img-fluid"
                  alt="iris32 présentant un module de réservation de salles"
                  %}
              </p>
              <p class="pb-3">
                  <h2> Crédits </h2>
                    We thank the Direction of the Cultural Life and Tourism of Alençon for its trust, along with the  <a href="http://www.alencon.fr/" target="_blank"> city of Alençon </a>, the Urban Community of Alençon, the Orne department, the Normandy Region and the FEDER.
                  </div>
    </section>
