---
layout: index
title: "Klick500 : Innovation and holograms"
image: img/posts/2020_Oxelo/iris32_klick500.jpg
abstract: An holographic display for product presentation
tags: marketing innovation Decathlon
---

<section class="section section-main-header header-fill" style="max-width: 1920px">

  {%include components/header_image.html image="img/posts/2020_Oxelo/iris32_magasin.jpg" %}
  <div class="main-header-body body-right">
    <div class="content shadow rounded bg-white rounded p-4 text-justify">
      <h2>Klick500</h2>
      <p>At the <a href="https://www.btwin-village.com/" target="_blank">B'Twin Village</a> store, the new scooter from Oxelo, a <a href="https://www.decathlon.com" target="_blank">Décathlon</a> brand, is presented in details on a new innovative holographic showcase.
      </p>
      <p>The holographic mapping is a kind of augmented reality. It provides a brand new experience for product presentation by mixing 3D printed models or real products with 3D images or real footages.  You can use this technology to demonstrates the product's strenghts and enable the customer to project himself in its daily use.
      </p>
    </div>
  </div>
</section>

<section class="section section-main-header header-fill py-4">
    <div class="main-header-image-wrapper">
        {% asset img/posts/2020_Oxelo/iris32_btwin.jpg
            srcset:width="1920"
            srcset:width="1920"
            srcset:width="960"
            sizes="100vw"
            class="img-fluid"
            alt="hologram at decathlon"
            %}
        </div>
        <div class="main-header-body container jumbotron bg-white shadow my-4" id="video">
    <h2> Installation at the B'Twin Village in Lille, northern France</h2>

    {% include components/medias/youtube.html  embed="tBymyNjl8XU" %}

<div class="text-justify pt-3">
      <h2> A design and marketing project</h2>
        <p class="pb-3">
          To achieve this result, an ambitious work of innovation was carried out with the Oxelo teams to imagine and produce this <b>holographic reconstruction</b>.
          </p>
          <p>The scenerio unfold in 3 parts:
            <ul>
              <li>A technical presentation of the product, with an exploded view of its parts and technical details.</li>
              <li>A presentation by one of its designers on its handling and design</li>
              <li>A presentation of its use, with a ride simulation</li>
            </ul>

      <h2> An innovative showcase </h2>
      <p class="pb-3">
      This collaboration made it possible to directly involve the Oxelo teams, who appear in holograms for the presentation of the Klick500. The innovation services were involved as well for the 3D printing of the scooter as a scale model thanks to the product CAD.
      </p>
      <p>
        This hologram required precise work to correctly position the holographic mapping on the mock-up and inlay the images taken in real life on the Klick500.

        <h2> Build to be shown around </h2>
        <p>
          This holographic display is a <a href="../products/iris32"> Iris32</a>. A sturdy and mobile hologram generator that is brought to circulate throughout France in the various Décathlon shops selling the Klick500 scooter.
          </p>
      </div>
    </div>
  </section>
