---
layout: index
title: BIM et maquettes holographiques
image: img/posts/2020_bim/iris32_immobilier_terrasse.png
abstract: L'hologramme comme support de présentation de maquettes immobilières.
tags: immobilier iris32 iris22
---



<section class="section section-main-header header-fill" style="max-width: 1920px">
    {%include components/header_image.html image="img/posts/2020_bim/iris32_immobilier_terrasse.png" %}
    <div class="main-header-body body-right">
        <div class="content shadow rounded bg-white rounded p-4 text-justify">
            <h1>Holographic application for BIM and building models</h1>
            <p>
                For several years, Holusion has been working hand in hand with the real estate industry to holographically present <b>models of buildings</b>.The hologram is a digital tool for the presentation of projects.
            </p>
            <p>

                A holographic display can contain many very detailed and interactive models. Switching to a digital medium makes them easy to handle, update or replace.
            </p>
            <p>
                We have designed this solutions with the support and feedback of major real estate and construction companies and experts in the field. We invite you to discover all that they can bring you here.
            </p>
            <p>
                One of our main strengths is that all content is created from the <b> BIM or 3D files of the project</b>. This allows us to have a very high accuracy on the restitution and to accelerate the process of 3D content creation.
            </p>
        </div>
    </div>
</section>

<section id="video" class="section bg-light py-4">
    <div class="container jumbotron bg-white shadow my-0" style="text-align:center">
        <h2 style="margin-bottom:15px">Interactive holographic models for Real-Estate</h2>
        <p class="font-weight-bold text-left">
            There are many opportunities to present a hologram model:
            <ul class="text-left font-weight-bold">
                <li>Laying the foundation stone</li>
                <li>Building grand opening</li>
                <li>Interactive display on the developer's point of sale</li>
                <li>And many others</li>
            </ul>
            It is an innovative tool that captures attention and gives substance to the 3D model.
        </p>
        <p>
            <b>Discover an overview of everything the hologram can do for you on video:</b>
        </p>
        {% include components/medias/youtube.html  embed="UuE1XL7bZXQ" %}
        <h3>Features</h3>
        <p>
          So, the hologram can tell you a lot about a building. It allows you to show a rotating view of your building to see its architecture, its location in a neighborhood. It offers an aesthetic presentation, with day or night views to highlight its lighting and design. You can also see its capacities and its use, by displaying its programmatic mix and its layout.
        <p>
            <b>The holographic content follows the business strategy as closely as possible to illustrate and support it</b>. This is done right down to the last detail and finishing touches, with the possibility of flaying the interior of the rooms - for example apartments for private individuals - so that the future investor can really project himself into his property.
        </p>
        <p>
          The connection to the <b> technical files of the BIM</b> also gives the opportunity to make technical assessments on networks, environmental and energy properties or to highlight a particular know-how in construction.
        </p>
    </div>
</section>

<section class="section section-main-header header-fill py-4">
    <div class="main-header-image-wrapper">
        {% asset img/posts/2020_bim/iris22_flat.jpg
            srcset:width="1920"
            srcset:width="1920"
            srcset:width="960"
            sizes="100vw"
            class="img-fluid"
            alt="iris22 with an appartement flaying"
            %}
        </div>
        <div class="main-header-body container jumbotron bg-white shadow my-4">
            <h2 style="margin-bottom:15px">Interaction with the hologram</h2>
            <p>
                The interest of a <b>holographic model</b> also lies in the interaction with the user, involving him/her even more in the discovery of the building. From the handling of the hologram rotation to real time, the possibilities are numerous.
            </p>
            <p>
              The support for this interaction is usually a <b>touch screen tablet</b> - the use of which is well known to the user - but can take different forms depending on the need. For example, the application can control the rotation of the model and <b>zoom in</b> to view details of interest to the investor, provide additional information in text form, or even allow the user to select the hologram to be displayed: the building at night, a particular area of it, for example an apartment.
            </p>
            {% asset img/posts/2020_bim/iris32_bim_reservation.jpg
                srcset:width="1920"
                srcset:width="1920"
                srcset:width="960"
                sizes="100vw"
                class="img-fluid"
                alt="iris32 présentant un module de réservation de salles"
                %}

            <p>
              Finally, the use of real time is possible in <b>applications</b>. The term real time refers to the fact that information is processed within a given time. Thus, the hologram can change content as soon as a particular predefined action is performed. For example, when an employee books a meeting room in the building online, the hologram placed in the lobby may greet the room and display it as reserved.
                </p>
                <p>
                  It is also possible to display in real time the flow of parts crafted in a factory, or for an electrician who has finished his installations to indicate this on the BIM file, thus displaying it on the hologram.
            </p>
            <h2>Our service for real-estate and construction companies</h2>
            <p>
                Whether you are a property developer, an architect, a local authority or other, Holusion has a real estate offer for you. If you have any questions, please contact us directly, via <a href="mailto:contact@holusion.com?subject='Information offre immobilière'">contact@holusion.com</a>.
                </p>
            </div>
        </section>

        {% include pricing_en.html %}
