---
layout: index
title: "Pierre de Seine - Maquette holographique"
image: img/posts/2021_PierreDeSeine/Rouen.jpg
abstract: Holographic showroom presentation
tags: Real estate hologram
---

<section class="section section-main-header header-fill" style="max-width: 1920px">

  {%include components/header_image.html image="img/posts/2021_PierreDeSeine/Rouen.jpg" %}
  <div class="main-header-body body-right">
    <div class="content shadow rounded bg-white rounded p-4 text-justify">
      <h2>Hologram in showroom</h2>
      <p>For the marketing launch of a new complex <i>Les portes du chapitre</i>, <b>Pierre de Seine</b> of the Rouen-based group  <b>At'ome</b> trusted Holusion. 
      
        <p> By acquiring an holographic showcase : <a href="/fr/products/iris46"> l'Iris 46</a> they have a new presentation tool for their models. 
         </p><p> Thanks to <b>3D modeling</b> and <b>transparence effect</b>, the hologram makes it possible to discover facets of the building that cannot be seen on other media.
          Moreover, shows contents follow, reinforce and illustrate the business strategy. 
        
          <p>Hologram is an inovating tool for real estate presentation. </p> </strong></p>
       </div>
  </div>
</section>

<section class="section section-main-header header-fill py-4">
  <div class="main-header-image-wrapper">
      {% asset img/posts/2021_PierreDeSeine/PlaineImage1.jpg
          srcset:width="1920"
          srcset:width="1920"
          srcset:width="960"
          sizes="100vw"
          class="img-fluid"
          alt="Hologramme At'ome"
          %}
      </div>
      <div class="main-header-body container jumbotron bg-white shadow my-4">
          
            <h2 style="margin-bottom:15px"> Holographic real estate presentation</h2>
            <p>The holographic model replaces the physical model and shoxs project caracteristics : </p>
          <ul>
            <li>Rotating view of the exterior of the complex with its modern architecture and large terraces</li>
            <li>Visualisation of the flats on each floor </il>
            <li>Practical information: number of parking spaces, neighbourhood environment, total area of the complex, etc.</li>
          </ul>  
         
          <p>Le client peut, grâce à lui, visualiser les espaces en 3D et s’imaginer concrètement à l'intérieur de son futur appartement. 
          </p>
          </p>
            <p class="pb-1">
            {% asset img/posts/2021_PierreDeSeine/Batiment.jpg
                srcset:width="1920"
                srcset:width="1920"
                srcset:width="960"
                sizes="100vw"
                class="img-fluid"
                alt="Modèle3D"
                %}
            </p>
                </div>
  </section>

  <section class="section section-main-header header-fill" style="max-width: 1920px">

    {%include components/header_image.html image="img/posts/2021_PierreDeSeine/Face.jpg" %}
    <div class="main-header-body body-right">
      <div class="content shadow rounded bg-white rounded p-4 text-justify">
    
      <h2>La création d’un nouveau produit </h2>
      <p>Afin de répondre au mieux aux attentes du groupe At'ome et Pierre De Seine, Holusion a créé un nouveau modèle de borne holographique : l’<a href="/fr/products/iris46"> Iris 46</a>.</p>
      <p>Son design élégant, son <b>encombrement minimal</b> ainsi que son écran haute définition permettent de réaliser des présentations de <b>qualité</b> dans un <b>environnement restreint</b>. 
      <p> <a href="/fr/products"> Retrouvez plus d'informations sur nos produits !</a> </p>
     
      </p>
    </div>
  </section>


  