---
layout: index
title: "Opel - Claro automobiles"
image: img/posts/2021_opel/rennes_hologrammes.jpg
abstract: The new Mokka as an hologram
tags: marketing innovation automobile
---

<section class="section section-main-header header-fill" style="max-width: 1920px">

  {%include components/header_image.html image="img/posts/2021_opel/rennes_hologrammes.jpg" %}
  <div class="main-header-body body-right">
    <div class="content shadow rounded bg-white rounded p-4 text-justify">
      <h2>Mokka or Mokka-e?</h2>
      <p>To introduce their new models, the <b>Mokka and Mokka-e</b>, six OPEL dealerships have invested in an interactive <b><a href="/en/products/iris75">XXL holographic display</a> </b> for its promotion.</p>
      <p>The visitors have the opportunity to discover the new vehicles <b>even before you could see them in the showroom.</b></p>
      <p>Using an hologram in this situation is still unusal. The technology is now opening a lot of marketing opportunities for car dealerships. It is a powerful tool for a detailed presentation in a very <b></b>innovative and futuristic way.</b></p>
      <p>Special offers on this kind of installation allows for attractive <a href="/fr/#pricing">pricing</a> to rent the material.</p>
    </div>
  </div>
</section>

<section class="section bg-light py-4" id="video">

        <div class="main-header-body container jumbotron bg-white shadow my-4">
    <h2>Dream big</h2>
    <p class="pb-3">
      The german car constructor <b>Opel</b> is preparing a double release for the beginning of 2021. The new<a href="https://www.opel.fr/offres/offres-vehicules/offre-mokka.html" target="_blank"> Mokka and Mokka-e</a>. They are the new versions of the brand famous SUV. One is using a classic motorization and the other one is an all-electric vehicle.</p>
    <p class="pb-3">
      To keep the enthusiasts waiting, the Opel dealerships of the <a href="https://www.groupedubreuil.com/nos-metiers-automobile/" target="_blank">Dubreuil Group</a> offer a special experience to discover them in preview: <b>Discover the new vehicle as a large-scale hologram !</b>
      
    <p class="pb-3">Interactive and enhanced by an arranged space, the hologram creates the often sought-after <i>"Wahou effect"</i> ! </p>

    {% include components/medias/youtube.html  embed="cZWu85MHsu0" %}

<div class="text-justify pt-3">
     

        <h2>Six Opel car dealership equiped at the same time:</h2>
        <p><b>Available until the release of the exhibited models, this action is ephemeral and will only be visible until March 2021 in France:</b></p>
            <ul>
              <li>Rennes : <a href="https://www.opel-rennes.fr/" target="_blank">Claro Automobile of Saint-Grégoire</a></li>
              <li>Nantes : <a href="https://www.opel-nantes.fr/" target="_blank"> Claro Automobile of Orvault</a></li></li>
              <li>La Roche sur Yon : <a href="https://www.opel-larochesuryon.fr/" target="_blank">Claro Automobile of La Roche sur Yon</a></li></li>
              <li>Cholet : <a href="https://www.opel-cholet.fr/" target="_blank">Claro Automobile of Cholet</a></li></li>
              <li>Angers : <a href="https://www.opel-angers.fr/" target="_blank">Claro Automobile of Angers</a></li></li>
              <li>Chartres : <a href="https://www.opel-chartres.fr/" target="_blank">Claro Automobile of Chartres</a></li></li>
            </ul>
      </div>
    </div>
  </section>

  <section class="section section-main-header header-fill py-4">
    <div class="main-header-image-wrapper">
        {% asset img/posts/2021_opel/opel-mokka-concession-dubreuil-hologramme.jpg
            srcset:width="1920"
            srcset:width="1920"
            srcset:width="960"
            sizes="100vw"
            class="img-fluid"
            alt="XXL hologram in France"
            %}
        </div>
        <div class="main-header-body container jumbotron bg-white shadow my-4">
            <h2 style="margin-bottom:15px">Offering immersion thanks to digital technology </h2>
            <p>The project was born thanks to the collaboration of the teams of Claro Automobiles, <a href="/">Holusion</a> and the company specialised in the creation of 3D applications  <a href="https://gustavbycocktail.com/">Gustav by Cocktail</a>. A collective work that led to the realisation of this ambitious project in order to present the Mokka and Mokka-e models to perfection.</p>
            <p>The hologram is a model named <a href="/en/products/iris75">Iris75</a>, Holusion's Made in France holographic display, which has the best performance in our range of product with ultra-high luminosity and 4k resolution.</p>
            <p>The hologram shows their exterior aesthetics but also the points of interest of the models such as motorisation, innovations in equipment and the performance of electrical technologies.</p>
            <p class="pb-1">
            {% asset img/posts/2021_opel/angers_hologrammes.jpg
                srcset:width="1920"
                srcset:width="1920"
                srcset:width="960"
                sizes="100vw"
                class="img-fluid"
                alt="Hologram control by tablet application, a plus for the Dubreuil group"
                %}
            </p>
                </div>
  </section>

  <section id="section-gamme" class="section-tile">
    <div class="tile-image-wrapper">
      {% asset "img/posts/2021_opel/application_opel_claro.jpg"
        srcset:width="1920"
        srcset:width="960"
        class="img-fluid"
        style="object-fit:scale-down"
        sizes="(max-width: 992px) 100vw, 50vw"
        alt="Application holusion for Claro Automobiles for the new Opel Mokka and Mokka-e"
        %}
    </div>
    <div class="tile-body tile-body--main">
      <h2>An automatically generated tablet application</h2>
      <p><b>The iPad App</b> to control the hologram is the product of our platform <a href="https://content.holusion.com/">content.holusion.com</a> which allow to create tailor-maid application to control Holusion holographic display, whitout even having to write a single line of code.</p>
      <p>Additional options, such as a <b> 4G</b> connection, allow you to retrieve customer data and potential leads.</p>
      <p>This application generator, available in the form of a subscription (<i>SaaS</i>) makes it possible to transform any iPad into a remote control for a hologram <a href="/">Holusion</a> in a totally secure way.</p>
      <p>A collection of pre-existing templates, free integration of your graphic assets and the ability to intuitively create links between your content.  These three strong points of this service offer you the possibility to tell the stories of your choice through the holographic medium.</p>
    </div>
  </section>


  <section class="section section-main-header header-fill py-4">
    <div class="main-header-image-wrapper">
        {% asset img/posts/2021_opel/mokka-e.png
            srcset:width="1920"
            srcset:width="1920"
            srcset:width="960"
            sizes="100vw"
            class="img-fluid"
            alt="The hologram of the new opel Mokka"
            %}
        </div>
        <div class="main-header-body container jumbotron bg-white shadow my-4">

  <h2> More about this project </h2>
  We are thanking the<a href="https://www.groupedubreuil.com/" target="_blank">Dubreuil Group</a> for its initative and its trust and we propose to discover some articles in the french press:
  <ul>
    <li><a href="https://www.auto-infos.fr/Le-groupe-Dubreuil-met-en-place-un,14954">Auto Infos : Le groupe Dubreuil met en place un dispositif hologramme 3D dans ses concessions Opel </a></li>
    <li><a href="https://www.ouest-france.fr/pays-de-la-loire/vendee/innovation-le-groupe-vendeen-dubreuil-utilise-des-hologrammes-pour-vendre-ses-voitures-7150833">Ouest France : Innovation. Le groupe vendéen Dubreuil utilise des hologrammes pour vendre ses voitures</a></li>
    <li><a href="https://www.plaine-images.fr/les-actus/le-groupe-dubreuil-fait-appel-a-holusion-pour-presenter-la-prochaine-opel-mokka/">Plaine Images : LE GROUPE DUBREUIL FAIT APPEL À HOLUSION POUR PRÉSENTER LA PROCHAINE OPEL MOKKA</a></li>
  </ul>
</div>
</section>