---
layout: index
title: "Pierre de Seine - Maquette holographique"
image: img/posts/2021_PierreDeSeine/Rouen.jpg
abstract: Holographic showroom presentation
tags: Real estate hologram
---

<section class="section section-main-header header-fill" style="max-width: 1920px">

  {%include components/header_image.html image="img/posts/2021_PierreDeSeine/Rouen.jpg" %}
  <div class="main-header-body body-right">
    <div class="content shadow rounded bg-white rounded p-4 text-justify">
      <h2>Hologram in showroom</h2>
      <p>For the marketing launch of a new real-estate complex <i>Les portes du chapitre</i>, <b>Pierre de Seine</b> of the Rouen-based group  <b>At'ome</b> trusted Holusion. 
      
        <p> By acquiring the holographic showcase <a href="/en/products/iris46"> Iris 46</a> they have a new presentation tool for their models. 
         </p><p> Thanks to <b>3D modeling</b> and <b>transparency effect</b>, the hologram makes it possible to discover building's facets that cannot be seen on other media.
          Moreover, the contents shown follow, reinforce and illustrate the business strategy. 
        
          <p>The holograms are an innovating tool for real <b>estate presentation</b>. </p> </strong></p>
       </div>
  </div>
</section>

<section class="section section-main-header header-fill py-4">
  <div class="main-header-image-wrapper">
      {% picture  img/posts/2021_PierreDeSeine/PlaineImage1.jpg
          
          
          
          sizes="100vw"
          --img class="img-fluid
          alt="Hologram At'ome"
          %}
      </div>
      <div class="main-header-body container jumbotron bg-white shadow my-4">
          
            <h2 style="margin-bottom:15px"> Holographic real estate presentation</h2>
            <p>The holographic model replaces the physical model and shows project caracteristics : </p>
          <ul>
            <li>Rotating view of the building exterior with its modern architecture and large terraces</li>
            <li>Visualisation of each floor flats</il>
            <li>Practical information: number of parking spaces, neighbourhood environment, total area of the complex, etc.</li>
          </ul>  
         
          <p>Thus, the client can see the spaces in 3D and imagine himself inside his future flat. 
          </p>
          </p>
            <p class="pb-1">
            {% picture img/posts/2021_PierreDeSeine/Batiment.jpg
                
                
                
                sizes="100vw"
                --img class="img-fluid"
                --alt  Modèle3D
                %}
            </p>
                </div>
  </section>

  <section class="section section-main-header header-fill" style="max-width: 1920px">

    {%include components/header_image.html image="img/posts/2021_PierreDeSeine/Face.jpg" %}
    <div class="main-header-body body-right">
      <div class="content shadow rounded bg-white rounded p-4 text-justify">
    
      <h2>New product fabrication</h2>
      <p>In order to best meet the At'ome and Pierre De Seine group expectations's, Holusion create a new holographic showcase model: the <a href="/en/products/iris46"> Iris 46</a>.</p>
      <p>Its <b>sleek</b> design, <b>minimal space requirement</b> as well as its high-definition screen allow <b>quality</b> presentations in a <b>limited environment</b>. 
        <p> <a href="/en/products"> More information about our products!
      </p>
    </div>
  </section>


  