---
layout: front_page
title: "BIM en temps réel"
image: img/posts/2021_prodware/holo_prodware.jpg
abstract: An application 
tags: hologram proptech real-estate
---


<main class="main-grid main-dark">
    <section class="section section-center">
        <h2 class="text-white my-5" style="font-size: 3rem">Holographic models</h2>
    </section>
    <section class="section">
        <div class="media">
            {% include components/medias/youtube.html  embed="EReG8PfpeHc" %}
        </div>       
        <div class="content">
            <p>
                This last years, the <b>Building Information Modeling</b> is slowly revolutioning the construction industry. The BIM strive to gather in a single place all data relevant to a projetct: architecture, ventilation, structures, electricity...
                </p>
                <p>The overall disponibility of 3D models and digital twins for construction and <b>Industry 4.0</b> opens new opportunities for innovative visualization and promoting your projects.</p> 
            </p>
            <p>  
                Based on our current experience in holographic models presentation, we are now able to provide an universal viewer able to display any BIM model in holograms.
            <p>
                <b>BIM Vision Accelerator, a solution for:
                    <ul>
                        <li>display any BIM model in hologram</li>
                        <li>real-time 3D manipulation</li>
                        <li>retrieve any model directly for Autodesk Cloud</li>
                    </ul></b>
            </p>
            <p class="text-secondary mt-4" style="font-size: 0.7rem">What is a hologram ? More info: </p>
            <a class="d-flex justify-content-center" href="2020-05-25-hologramme" target="_blank"> <button class="btn btn-info mb-4">About holograms</button></a>
        </div>
    </section>


  <div class="section left">
    <h2>A BIM model viewer</h2>
  </div>

  <section class="section left pt-4 section-white">

    {% picture grid img/products/iris32_quartz.jpg
      class="img-fluid m-auto"
      alt="hologramme iris32 BIM"
    %}

    <div class="content m-auto">
        
        <p><b>BIM Vision Accelerator</b> is an interactive software for real-time vizualisation of any BIM file directly to an holographic format. </p>
            <p>This application is able to download and dispaly any Revit file on an <a href="../products/iris32.html">Iris 32</a> holographic display.
                </p>
                <p>It directly gets its data from <a href="https://www.autodesk.fr/bim-360/design-collaboration/revit-cloud-worksharing/">Autodesk Cloud</a> to get the latest update on the projects.
                </p>
            <p>Contactless manipulation thanks to hand-tracking technologies is a convenient solution in the current sanitary context.</p>
            <p>The very first features allow the user to move around the object, zoom, change the currently displayed model and activate elements. By integrating the <b>Leap Motion</b> device it provides one of the most popular Human-Machine Interface for hand-tracking.</p>
            <p>Thanks to continuous connexion to the BIM cloud servers, there is no limit in the number of 3D models the holographic display can handle. Any model already online can be download to the device.</p>
            </div>
  </section>

  <div class="section left">
    <h2>A collaborative project</h2>
  </div>

  <section class="section section-center">
    <div class="content my-4">
        <p>The application exists thanks to the collaboration of Holusion and Prodware.</p>
        <p>Holusion have developped a customized holographic display with increased capabilities for 3D rendering and compute power.</p>
        <p>This special configuration allows to run smoothly BIM Vision Accelerator and other 3D real-time applications such as Unity3D apps.</p>
        <p>The Prodware team is working on holographic display since 2018 and were able to provide smart adapation of their software to the holographic platform.</p>
            <p>Minimum configuration:           
                <ul>
                <li>i5 or ARM Ryzen 3 processor</li>
                <li>RAM: 16Go</li>
                <li>SSD:  240Go</li>
                <li>GPU: GTX 1060</li>
            </ul></p>

            {% picture grid img/posts/2021_prodware/leap.jpg
                --img class="cover"
                data-noisetest="1"
                style="object-position: 70% 0;width:100%"
                --alt holographic device with remote control
                %}
        </div>
        </section>

        <div class="section left">
            <h2>BIM Vision Accelerator</h2>
        </div>

        
        <section class="section left section-white">
            {% picture grid img/posts/2021_prodware/slide_holo.jpg
                class="img-fluid m-auto"
                alt="Dessin du design de l'iris 75 holusion"
              %}
              
            <div class="content">
                <p>The main strenght of this application is that there is no need to unnecessarily reprocess the 3D models before sending them to the holographic display.</p>
                <p>This is thanks to the integration of the <b>Autodesk Revit and Unity Reflect</b> software. </p>
                <p>The tools automatically process the 3D data and incorporate embellishement features such as textures, lights and shadows.</p>
                <p>BIM Vision Accelerator is developped by <a href="https://www.prodware-innovation-design.fr/">Prodware</a>, a company specialized in the integration of digital services for Industry 4.0 and Smart City.</p>

                <p class="text-end text-secondary" style="font-size: 0.7rem">About the editor</p>
                <p class="text-end"><a
                        href="https://www.prodware-innovation-design.fr/logiciel-cao/autodesk/bim-vision-accelerator">
                        <button class="btn btn-info">BIM Vision Accelerator</button></a></p>
            </div>

  
            </section>
            <section class="section left section-white">
                <h2>More informations:</h2>
                </section>
    <section class="section left">

        {% include components/medias/youtube.html  embed="4UcsEA-xfys" %}
        
        <div class="content">
            <div>
                <h2>More informations</h2>
                <p>Holograpic vizualization for building models is going throug an ongoing developement. We work hard on developping new features and improving our product</p>
                <p>It is already possible to have access to a fully functional demonstration of its potential and adapt it to your projects. Feel free to contact us to schedule an appointement with our team and share about it in our offices in France:</p>

                <p>At <b>Prodware</b>, 45 quai de la Seine, 75019 Paris.</p>  
                <p>At <b>Holusion</b>, 99A boulevard Descat, 59200 Tourcoing.</p>
                
                <p class="text-secondary mt-4">We can work on a prototype using you own set of data. Send us your BIM files and we will work it out!</p>

            </div>
            
            <p class="text-right">
                <button class="btn btn-info mt-4" onclick="displayContactForm()">Contact us</button></p>
        </div>
    </section>