---
layout: front_page
title: H'Expo and hologramms
image: img/posts/2022_hexpo/hexpo_1.jpg
abstract: Holographic presentation at H'expo
tags: Immobilier Hologrammes h'expo salon
---

<main class="main-dark main-grid">

  <section class="section section-center">
    <h2 class="text-white my-5" style="font-size: 3rem">Holusion au congrès H'Expo</h2>
  </section>

  <section class="section left">

  

    <div class="content m-auto">
      <h2>Edelis and Perraudin</h2>
      <h3> Presentation of a new real estate project</h3>
      <p>
        During the week of September 26-29, the <strong>H'Expo</strong> congress was held in Lyon. This major meeting of social housing professionals brought together more than 350 exhibitors. To stand out some of them decided to opt for holographic technology to present their projects.
      </p>

      <p>
        It is for this purpose that <a href="https://edelis.com/">Edelis</a>, subsidiary of GCC decided to call Holusion. We worked with them on this ambitious new stone project with many green spaces.
      </p>

      <p>
        We were able to bring the holographic model of this building to life by collaborating with Edelis, GCC and the architect <a href="http://www.perraudinarchitectes.com/">Perraudin</a>. This hologram was exposed on the show thanks to the use of a <a href="../products/iris32">Iris 32</a> Holusion terminal , <i>Made in France</i>.
      </p>

      <p>
        Thanks to the work around BIM and Smart City. The hologram is able to integrate the project in its neighborhood through GIS data, to make a realistic presentation of materials and to present the typologies of apartments or offices.
      </p>
    
    </div>
    {% include components/medias/youtube.html  embed="2HVgmT5L1EE" %}
  </section>

  <section class="section section-white">

    <div class="content m-auto">
      <h2>I3F and Croixmariebourdon</h2>
      <h3>Conversion of an office building into housing</h3>
      <p>
        Using a hologram at a trade show is a good way to stand out. In addition to offering a more flexible and less expensive alternative to physical models, it also gives an innovative aspect to the projects presented in this way.
      </p>

      <p>
        The project of redevelopment of offices into housing in the city of Pantin by <a href="https://www.croixmariebourdon.fr/">Croixmariebourdon architectes associés</a> et <a href="https://www.groupe3f.fr/">Immobilière 3F</a> was able to take advantage of these holographic display benefits as part of their presence at the <strong>Architect's Village</strong> to showcase a digital version of their original 2019 competition model.
      </p>
      
      <p>
        The use of <strong>BIM</strong> on this project allowed for a full animation well beyond the original model and to present comparisons between the facades and fixtures before and after the works.
      </p>

    </div>

    {% picture grid img/posts/2022_hexpo/hexpo_2.jpg
      --picture class="m-auto contained"
      --img alt="Image ou un on peut voir un hologramme d'un batiment sur un stand"
    %}
  </section>


  <section class="section left">

  <h2>Présence holographique sur les salons</h2>
    {% picture grid img/posts/2022_hexpo/hexpo_1.jpg
    --picture class="m-auto xs mb-5 pb-5"
    --img alt="Image ou un on peut voir un hologramme d'un batiment sur un stand"
    %}

    <div class="content m-auto">
      <p>
        Holographic displays offer many possibilities for their use at exhibitions.
      </p>

      <p>
          The different sizes of <a href="../products">holographic displays</a> offer different solutions depending on the size of the stands and the space available on it. 
          </p>
          <p>
            It's also possible to create interactivity at a booth with <a href="../interaction">interactive apps</a> that allow you to present a project in various ways.
      </p>

      <p>
        The holographic display makes it possible to present real estate projects from every angle.
        </p>
          
      <p> 
        It is thus possible to put forward sketches of buildings or the various internal networks thanks to the BIM files which we can exploit in order to show all the specificities which compose the project.
      </p>
      <a class="d-flex justify-content-center" href="../products"> <button  class="btn btn-info my-4">Our catalog</button></a>

   
    </div>
  </section>
  
  <section class="section-center">
    {% include components/medias/youtube.html  embed="5L4GzScpkRw" %}

  </section> 

</main>