---
layout: front_page
title: The Role of Digital Comparison in Research
image: img/posts/2024_cluny/2024Cluny_ChapiteauHologramme.jpg
abstract: Holographic Comparison of Two Capitals from Notre-Dame de Paris Cathedral
tags: Explanations Holograms cultural mediation
---

<style>
  

</style>

<main class="main-dark main-grid">

  <section class="section section-center">
    <h2 class="text-white my-5" style="font-size: 3rem">Holographic mapping at the Paris Museum of the Middle Ages'</h2>
  </section>

  <section class="section">

    {% picture grid img/posts/2024_cluny/2024Cluny_PreparationChapiteau.jpg
      --picture class="m-auto xs mb-5 pb-5"
      --img title="Installation of the holographic device in the museum"
    --img alt="The museum crew installing the capital into the holographic device"
  %} 
    <div class="content py-0 my-auto text-justify">
      <h2>Faire parler les pierres</h2>

      <p>
        Make the stones talk.  This is the title of the exhibition at the <a href="https://www.musee-moyenage.fr/en/">Musée National du Moyen Âge - Thermes et Hôtel de Cluny</a> in Paris, running from November 19, 2024, to March 16, 2025, highlighting the medieval sculptures of Notre-Dame.
      </p>
      <p>
        Following the fire on April 15, 2019, and the reconstruction work that began immediately after, the <a href="https://www.notredamedeparis.fr/">Notre-Dame de Paris Cathedral</a> underwent an unprecedented and in-depth study during the three years leading up to its reopening.
      </p>
      <p>
        This exhibition is part of a series of exhibitions and conferences leading up to the monument's reopening in December 2024. We had already contributed to this initiative at Sorbonne University Abu Dhabi through a <a href="2024-03-15-Notredame">previous project</a> based on the same research with the public institution responsible for the conservation and restoration of Notre-Dame de Paris.
      </p>
      <p>
        This time, in collaboration with the museum, the <a href="https://irhis.univ-lille.fr/">Institut de Recherches Historiques du Septentrion de Lille (IRHiS)</a> at the University of Lille, and the <a href="https://plemo3d.sorbonne-universite.fr/">PLEMO 3D platform</a> within the André Chastel Center at the Faculty of Letters, Sorbonne University, Holusion continued its work on the <b>holographic mapping of a Notre-Dame capital</b>.
        <p>
          In partnership with <a href="https://www.inrap.fr/">Inrap</a>, the Cluny Museum presents an exceptional exhibition centered on medieval sculptural decorations from Notre-Dame Cathedral. Alongside remarkable polychrome fragments from the 13th-century choir screen, the exhibition features an <a href="http://holusion.com/fr/store/iris46">Iris46 holographic display</a> showcasing, for the first time, a new perspective on a forgotten capital fragment that had been overlooked for 40 years.
        </p>

    </div>
  </section>

  <section class="section left section-white">
    {% include components/medias/ecorpus.html  server="https://ecorpus.holusion.com" scene="Cluny_Chapiteau_FNI65" %}
    <h2>Digital Solutions in the Service of Research</h2>
    <div class="content">
    <p>
       This capital was discovered in <b>1982</b> during renovation work in the nave of Notre-Dame de Paris Cathedral. This medieval capital, with its highly damaged decorations, was unearthed by workers and <b>categorized as "Out of Context" before being placed in the reserves</b> of the Cluny Museum.
    </p>
    <p>
      However, in 2019, the scaffolding erected for the cathedral's restoration allowed researchers to <b>closely observe</b> its decorations. As a result, a connection was made between a capital featuring winged creatures and the capital fragment discovered 40 years earlier.
    </p>
    <p>
      Digitized for the occasion using photogrammetry and lasergrammetry techniques by the <a href="https://plemo3d.sorbonne-universite.fr/">PLEMO 3D platform</a>, the two sculpted pieces were analyzed through a <b>comparative study using digital overlay</b> via the <a href="https://blender.org">Blender</a> software.
    </p>
    <p>
      Through this process, their striking similarities became evident: the same size, the same design, and the same masonry. This comparison raises a significant question: <b>why did two such similar capitals follow such different paths?</b>
    </p>
  </div>
</section>



  <section class="section section-center">
    <h2>Highlighting research works</h2>
  </section>

  <section class="section">
    {% picture grid img/posts/2024_cluny/2024Cluny_ChapiteauHologramme_Pic1.jpg
        --picture class="m-auto xs mb-5 pb-5"
        --img title="Visitors discovering the holographic installation during the exhibition opening"
      --img alt="Credits of the installation displayed on the holographic display"
    %}    
    
    <div class="content">
      <p>
        Previously forgotten, the capital fragment, once considered Unidentified, has finally been brought out of storage to be revealed to the public under the spotlight of the exhibition.
      </p>
      <p>
        Placed behind a holographic display, a presentation film is shown to not only describe the hypotheses surrounding the history of this capital but also to highlight the similarities between the two sculpted stone decorations using the <b>Pepper's Ghost</b> technique.
      </p>
      <p>
        Like its counterpart sent to Abu Dhabi, this capital has been given a new lease on life to imagine its original state. However, unlike its counterpart, its reconstruction was not recreated but directly <b>derived from its supposed twin</b>, which is still installed today on one of the small columns of the <b>ambulatory</b>.
      </p>
      <p>
        By merging real archeological discoveries and digital imagery, <b>holographic innovation provides a modern, non-invasive, and non-destructive solution that semantically enriches the artwork</b> while preserving its integrity.
      </p>
    </div>
  </section>
  <section>{% include components/medias/youtube.html  embed="9DagaxOj6ME" %}</section>
  
  

 

</main>