---
layout: front_page
title: Exhibition on the Scientific Restoration Project of Notre-Dame de Paris
image: img/posts/2024_notredame/chapiteau.jpg
abstract: Capital from the Notre-Dame de Paris cathedral
tags: Explanations Holograms cultural mediation
---

<main class="main-dark main-grid">

  <section class="section section-center">
    <h2 class="text-white my-5" style="font-size: 3rem"> Scientific project of Notre-Dame de Paris</h2>
  </section>

  <section class="section">

    {% include components/medias/youtube.html embed="csFqKgrWuDc" %}
    <div class="content py-0 my-auto text-justify">
      <h2>An exhibition on an exceptional restoration project</h2>

      <p>
        Following the fire on April 15, 2019, and the immediate reconstruction efforts, the <a href="https://www.notredamedeparis.fr/">Notre-Dame Cathedral of Paris</a> underwent an in-depth and unprecedented study during the three years leading up to its reopening.
      </p>

      <p>
        On the occasion of the completion of this project, the Sorbonne University in Abu Dhabi organized <b>a series of conferences and an exhibition on February 26, 2024</b>, in partnership with the <a href="https://rebatirnotredamedeparis.fr/">public institution responsible for the conservation and restoration of Notre-Dame de Paris</a>. These events are part of the cultural activities leading up to the cathedral's reopening in December 2024.
      </p>

      <p>
        The progress of the security and research work could be followed through photos by the <a href="https://www.magnumphotos.com/">Magnum agency</a>, stone mason's marks, and showcasing the contributions of digitization to the project.
      </p>

      <p>
        At the center of the exhibition, an original 13th-century capital was highlighted by an innovative holographic display.
      </p>

      <p class="text-center d-flex justify-content-center">
        <a href="https://www.sorbonne.ae/fr/notre-dame-de-paris/"><button class="btn btn-info shadow m-4">Access the Program</button></a>
      </p>

    </div>
  </section>

  <section class="section left section-white">
    {% include components/medias/ecorpus.html  server="https://notredamedeparis.ecorpus.holusion.com" scene="PIT38_Chap" %}
    <h2>Digitizations of the cathedral</h2>
    <div class="content">
      <p>
        For this exhibition, the 3D models created by the Décor Working Group are showcased. These models were primarily made using photogrammetry and lasergrammetry by the <a href="https://plemo3d.sorbonne-universite.fr/">PLEMO 3D platform</a> within the André Chastel Center, Faculty of Letters, Sorbonne University.
      </p>
      <p>
        <b>Taking advantage of the scaffolding erected for the reconstruction of Notre-Dame de Paris Cathedral</b>, these 3D surveys were carried out on architectural parts that had previously been inaccessible. These methods allow for the highly precise digitization of an object into a 3D model by taking numerous photos from all angles.
      </p>
      <p>
        Thus, various <b>capitals, busts, and keystones</b> were digitally duplicated and implemented into an <a href="https://ecorpus.eu">eCorpus</a> database. These models were made accessible during the exhibition, revealing these monumental decorations in detail to the public through the explanations and analytical work of researchers and historians.
      </p>
      <p>
        These interactive presentations were available on-site during the exhibition through a tactile holographic display system using <b>eCorpus as the visualization engine</b>.
      </p>
  </div>
</section>
  <section class="section section-center">
    <h2>A project for scientific enhancement</h2>
</section>

<section class="section">
    {% picture grid img/posts/2024_notredame/preparation.jpg
        --picture class="m-auto xs mb-5 pb-5"
        --img title="Preparation for the 3D reconstruction of the capital with a historian from the University of Lille"
      --img alt="Preparation work for 3D models using a scale reproduction of a capital fragment"
    %}

    <div class="content">
      <p>
        For the Abu Dhabi exhibition, the capital fragment was brought out of the shadows to be installed in plain view in the atrium of the <a href="https://www.sorbonne.ae/en/">Sorbonne University Abu Dhabi</a>. The installation of a holographic mapping by Holusion allowed the superposition of the real fragment with its digital reconstruction, giving new life to this piece of history.
      </p>
      <p>
        This fragment comes from a <a href="https://agenda.inha.fr/events/plus-de-mille-chapiteaux-le-decor-monumental-interieur-de-notre-dame-de-paris?nc=eyJpbmRleCI6MSwidG90YWwiOjI2fQ%3D%3D">capital installed in the Middle Ages, during the construction of the cathedral</a>, in the galleries of the nave. It was part of a series of small columns along the nave, still visible today by looking up above the massive pillars of this central aisle.
      </p>
      <p>
        During the restorations of the monument by Viollet-le-Duc in the 19th century, many architectural elements were dismantled and replaced by the architect of Napoleon III. This particular capital, probably damaged by time, was dismantled at that time and placed on display in the adjacent gardens.
      </p>
      <p>
        In the second half of the 20th century, the awareness for the preservation of this heritage allowed its safeguarding and protection within the monument itself. Its digitization by PLEMO 3D at the end of 2023 provided the necessary data to identify the missing elements with the help of researchers from Sorbonne University Paris and the University of Lille. Thanks to their work, it was possible to create a scale replica using 3D printing and launch this holographic mapping project.
      </p>
    </div>
</section>

<section class="section left section-white align-middle">
  {% picture grid img/posts/2024_notredame/tympan.webp
    --picture class="m-auto xs mb-5 pb-5 "
    --img title="Hypothesis of the reconstruction of the polychromies of the tympanum of the Red Door based on the analyses of Stéphanie Duchêne"
    --img alt="Tympanum of the Red Door with color hypotheses"
%}    
  <h2>Making scientific analysis work visible</h2>
  <div class="content">
    <p>
     During the works on Notre-Dame Cathedral in Paris, researchers from LRMH made advances on the <a href="https://www.lrmh.fr/LRMH/doc/SYRACUSE/256998/paris-4e-75-paris-cathedrale-notre-dame-facade-exterieure-nord-porte-rouge-caracterisation-des-vesti?_lg=fr-FR">traces of polychromies present on the tympanum of the Red Door</a>. Polychromy refers to the application of pigment colors on architectural works. It is very fragile and deteriorates over time. While traces of these pigments remain, it has become almost impossible to discern the original colors of the tympanum.
    </p>
     <p>
      The samples taken, about a dozen, are so tiny that they barely damage the original work, while still providing a wealth of information about the chemical composition of the pigments and the presence of multiple pigment layers applied to the limestone.
      Utilizing the photogrammetry conducted by PLEMO 3D, Holusion created a reconstruction of this polychromy based on the different pigments found. A presentation video showcasing these unprecedented findings was then displayed on a holographic kiosk during the exhibition and used to illustrate a scientific publication.
    </p>
</div>
</section>

  
<section class="section section-center">
  <h2>A 3D Restoration Project</h2>
</section>

<section class="section">
  {% picture grid img/posts/2024_notredame/oculus.jpg
      --picture class="m-auto xs mb-5 pb-5"
      --img alt="3D-reconstructed oculus at the Sorbonne Abu Dhabi exhibition"
      --img title="Reconstruction of an oculus based on the work of Chantal Hardy and PLEMO 3D"
  %}    
  
  <div class="content">
      <p>
          During the digitization of the reserves, fragments of ancient oculi were scanned. These stone openings were installed during the construction of the cathedral itself, then removed shortly thereafter, still during its construction, to enlarge the window openings.
      </p>
      <p>
          These fragmented and lapidary pieces were digitized using a laser scanning process by PLEMO 3D. From these digitizations, and with the assistance of researchers from PLEMO 3D, IRHiS, and a <a href="https://www.persee.fr/doc/bulmo_0007-473x_1991_num_149_2_3243?q=">report by Chantal Hardy</a>, Holusion proposed digital reconstructions, both plausible and unprecedented, of these forgotten architectural elements.
      </p>
      <p>        
          On the occasion of the Abu Dhabi exhibition, three models of oculi, originating from the nave and the choir, were presented, showing an overlay of the reassembled element and the scans of the fragments that compose them.
      </p>
  </div>
</section>

<section class="section section-center text-center">
  <h2>The exhibition inauguration and conferences</h2>
  {% include components/medias/youtube.html  embed="HCEOattJ95Q" %}
</section>

<section class="section section-center">
  <div class="content text-justify">
      <h3>Acknowledgments and Credits</h3>
      <ul>
          <li><b>Delphine Syvilay:</b> Sorbonne University Abu Dhabi</li>
          <li><b>Jonathan Truillet:</b> Etablissement Public Rebâtir Notre-Dame de Paris</li>
          <li><b>Dany Sandron:</b> Faculté des Lettres de Sorbonne Université </li>
          <li><b>Grégory Chaumet:</b> Faculté des Lettres de Sorbonne Université </li>
          <li><b>Stéphanie Duchêne:</b> LRMH </li>
          <li><b>Elise Baillieul:</b> Faculté des Humanités, Université de Lille </li>
          <li><b>Marc Gil:</b> Faculté des Humanités, Université de Lille </li>
      </ul>
  </div>
</section>
 

</main>