---
layout: front_page
title: Digital Reconstructions of Notre-Dame-en-Vaux
image: img/posts/2025_chalons/2025chalons_exposition.jpg
abstract: Discovering digital collections and holographic devices in Châlons-en-Champagne
tags: Explanations Holograms cultural mediation
---

<style>


</style>

<main class="main-dark main-grid">

  <section class="section section-center">
    <h2 class="text-white my-5" style="font-size: 3rem">A Lapidary Collection Finds a Second Life Through Digital Technology</h2>
  </section>

  <section class="section">

    {% picture grid img/posts/2025_chalons/2025chalons_eCorpus.jpg
    --picture class="m-auto xs mb-5 pb-5"
    --img title="Photo of a tablet displaying the eCorpus scene of the Wedding at Cana column-statue"
    --img alt="The tablet presenting an eCorpus scene serves as a digital label for a lapidary work"
    %}
    <div class="content py-0 my-auto text-justify">
      <h2>The Revival of a Museum of Medieval Lapidary Works</h2>

      <p>
        Built in the <b>12th century</b>, the cloister of Notre-Dame-en-Vaux featured sumptuous sculptures representing 
        important figures and major biblical scenes. <b>Finely carved, these column-statues are true witnesses of the 
        period's transition between Romanesque and Gothic styles</b>.
      </p>
      <p>
        Too costly to maintain, it was <b>destroyed by the canons in the 18th century</b>. While some statues 
        ended up in various stone markets to be resold, most were fragmented and reused in the foundations 
        of buildings in the city of Châlons-en-Champagne. It was in the 20th century that the fragments were 
        unearthed by <b>Sylvia and Léon Pressouyre</b>, who spent years cataloging over 800 fragments 
        to reassemble this now-lost cloister.
      </p>
      <p>
        Today, this incomplete cloister exists as a museum, located right next to its original site. 
        Taking advantage of technological advances and the museum's temporary closure, the team at the 
        <a href="https://musees.chalonsenchampagne.fr/musees">Châlons-en-Champagne Museums</a> decided to go even 
        further in the reconstruction work started by the Pressouyres, attempting to bring this monument 
        back to life digitally.
      </p>
      <p>
        For its <b>reopening on April 5, 2025</b>, the <a
          href="https://www.chalons-tourisme.com/mon-sejour/patrimoine-visites-et-culture/musee-du-cloitre-de-notre-dame-en-vaux-chalons-en-champagne-fr-3091605/">Notre-Dame-en-Vaux 
          Cloister Museum</a> collaborated with <a href="https://www.inha.fr/">INHA</a>,
        <a href="https://mercurioimaging.com/">Mercurio Imaging</a>, and <a href="https://holusion.com/">Holusion</a> 
        to highlight its lapidary collection. The museum's new tour features <b>a touch table, three holographic 
        terminals, a 3D-printed puzzle of an arch, and a mapping projection showing polychromy hypotheses 
        on a lapidary assembly</b>.
      </p>
      <p>
        All exhibited works and items in storage were 3D scanned. <b>The column-statues are now equipped 
        with digital twins, stored in eCorpus databases</b>. In addition to ensuring the long-term 
        preservation of the works, these 3D scans have enabled digital reconstruction. A complete 
        <b>digital anastylosis</b> of the cloister as it stood before its destruction is now within reach.
      </p>

      <p class="text-center d-flex justify-content-center">
        <a
          href="https://musees.chalonsenchampagne.fr/musees/infos-pratiques/musee-municipal-du-cloitre-de-notre-dame-en-vaux"><button
            class="btn btn-info shadow m-4">Learn more about the reopening</button></a>
      </p>

    </div>
  </section>

  <section class="section left section-white">
    {% include components/medias/ecorpus.html server="https://ecorpus.holusion.com" scene="NoceDeCana_HD_Base" %}
    <h2>New Tour, New Mediation</h2>
    <div class="content">
      <p>
        What could be more logical than organizing a new mediation path to update the <i>Notre-Dame-en-Vaux 
        Cloister Museum</i>? This modernization includes <b>about ten touch tablets mounted on stands, 
        placed at strategic points throughout the visit</b>. Each tablet presents its own eCorpus scenes, 
        displaying digital twins of column-statues and enriching them semantically, acting as true 
        <b>digital labels</b>.
      </p>
      <p>
        This setup invites visitors to see the sculptures before them with fresh eyes. <b>Independently</b>, 
        they can explore points of interest, read articles written by the museum staff, and view images 
        of other contemporary iconographies. This provides more information than a traditional label, 
        making it perfect for independent visitors or as a <b>support tool for museum guides</b>.
      </p>
      <p>
        Ten column-statues were selected to be enhanced by these digital labels. As capital works, 
        they are the first to benefit from a <b>reconstruction hypothesis</b>, resulting from a 
        <b>close collaboration between the Museum team, a Scientific Council, and Holusion</b>. 
        These hypothetical 3D reconstructions, colored to distinguish them from the original, 
        mark an advancement in research and museum mediation.
      </p>
      <p>
        This collection is available on the <a href="https://ecorpus.eu/en/">eCorpus</a> website. 
        You can consult it for free now to appreciate the work done for the <b>valorization of these 
        medieval masterpieces</b>.
      </p>
      <p class="text-center d-flex justify-content-center">
        <a href="https://ecorpus.eu/en/collections/"><button class="btn btn-info shadow m-4">Discover the eCorpus 
            collection</button></a>
      </p>
    </div>
  </section>



  <section class="section section-center">
    <h2>Allowing Visitors to Step into an Archaeologist's Shoes</h2>
  </section>

  <section class="section">
    {% picture grid img/posts/2025_chalons/2025chalons_tabletactile.jpg
    --picture class="m-auto xs mb-5 pb-5"
    --img title="Photo of a touch table"
    --img alt="Photo of a touch table installed in the gallery of the Notre-Dame-en-Vaux Cloister Museum"
    %}

    <div class="content">
      <p>
        Installed in the gallery of the Notre-Dame-en-Vaux Cloister Museum, a <b>touch table</b> allows visitors to 
        travel back in time to <b>the excavations held from 1963 to 1976</b>. Developed through a partnership 
        between <i>INHA</i> researchers and <i>Holusion</i>, two applications are available to access 
        the Pressouyres' excavation notes.
      </p>
      <p>
        The first represents <b>a database tracing the excavations in the Châlons-en-Champagne cloister</b> 
        (then called <i>Châlons-sur-Marne</i>) 60 years ago. The device allows users to freely consult 
        Léon Pressouyre's various notes, placed on a map of the cloister according to the authentic locations 
        of the found fragments. The screen's high resolution offers a global view of all these locations 
        with increased readability, allowing several people to read the displayed information simultaneously. 
        The touch features provide an intuitive exploration of the applications.
      </p>
      <p>
        From this data, a second application on the touch table was developed: an 
        <b>interactive 3D puzzle application</b>. Its clean and playful interface is designed to appeal 
        to the museum's younger audience, allowing them to step into the Pressouyres' shoes to 
        reconstruct a column-statue themselves by assembling lapidary fragments. <b>A true icon of the 
        cloister, the Wedding at Cana column-statue was chosen to inaugurate this approach</b>.
      </p>
      <p>
        One of the difficulties of this application was the fragmentation of this work. Embedded in 
        <b>metaline</b> (a type of plaster-based mortar used in lapidary restoration), only the outer 
        part of the fragments is visible, making precise scanning of the fragments impossible. A 
        reconstruction mission for these fragments was necessary to complete the project. Using initial 
        scans and <b>archival photographs</b>, the pieces making up the quintuple-column sculpture 
        were recreated, showing the reconstruction hypotheses in a blue tint to contrast with the 
        original gray stone.
      </p>
      <p>
        In an effort to value each recreated fragment, users can consult them to learn about their 
        inventory number, as well as the location and year of their discovery.
      </p>
    </div>
  </section>

  <section class="section left section-white">
    {% include components/medias/ecorpus.html server="https://ecorpus.holusion.com" scene="AllegorieFeminine" %}
    <h2>Holographic Film and Valorization of Ex-Situ Works</h2>
    <div class="content">
      <p>
        During the destruction of the cloister, not all sculptures shared the same fate. While most were 
        destroyed, reduced to fragments, and used in foundations, some were more fortunate and were 
        <b>sold on stone markets</b>. These works followed very different paths. Notably, there are 
        <b>two female figures in Antwerp, a head with a ribbed cap in the Louvre, and an apostle in Cleveland</b>.
      </p>
      <p>
        Since they cannot leave their respective new homes, it was still important to place them back 
        in their original location <b>to complete the anastylosis of the Notre-Dame-en-Vaux cloister</b>. 
        To do this, scanning missions are underway to create digital twins of the works.
      </p>
      <p>
        The solution of representing them in eCorpus as digital labels was quickly dismissed since the 
        works are not physically present in the museum. Now equipped with four <a href="../store/iris46">Iris 46</a> units, 
        the Notre-Dame-en-Vaux Cloister Museum <b>will display holograms of the absent column-statues, as if 
        they had never left the Collegiate Church</b>. Displayed at life-size, the sculptures are 
        enhanced by a short film recounting the history of the subjects and their iconographic attributes. 
        This process also allows for the digital removal of later additions of capitals on the Antwerp 
        statues, allowing them to be appreciated in a style closer to the cloister of old.
      </p>
      <p>
        Located in the cloister gallery, opposite the touch table, one of the holographic showcases 
        also presents an animation showing the reconstruction of the Sacrifice of Isaac.
      </p>
    </div>
  </section>

  <section>{% include components/medias/youtube.html embed="HSG0zuBQM54" %}</section>

  <section class="section section-center">

    <div class="content text-justify">
      <h3>Conclusion</h3>
      <p> Following a long period of investment, in close collaboration with <i>INHA</i> and the 
        Châlons-en-Champagne Museums team, the Notre-Dame-en-Vaux Cloister Museum was able to 
        <b>celebrate its reopening by stepping into the era of digital technology and innovation</b>.
      </p>
      <p>
        The various mediation devices provide a <b>new perspective on the exhibited sculptures and 
        demonstrate true synergy between digital tools and the associated works</b>. Both self-guided 
        and guided mediation are reinforced; the screens enhance the experience while remaining discreet, 
        and the scenography is respected. Visitors can now choose to conduct their visit independently 
        without fear of misunderstanding, thanks to digital supports. The museum chose a playful 
        approach to open up to the general public, highlighting the undeniable work of the Pressouyres 
        and <b>positioning it within a modern approach, a precursor to the digital transition within 
        cultural research institutes</b>.
      </p>
    </div>
  </section>

  <section class="section section-center">

    <div class="content text-justify">
      <h3>Acknowledgements and Credits</h3>
      <p> Multiple devices including holographic terminals presenting life-size column-statues, 
        digital labels presenting digital reconstructions of column-statues, and a touch table 
        featuring a database and 3D puzzle application.
      </p>
      <p>
        The various processes allow for a hypothesis of anastylosis.
      </p>
      <p>
        Image synthesis by Thibault Guillaumont and Jeanne Rossat (Holusion), design and production 
        by Sébastien Dumetz (Holusion), based on scans by Digitage with scientific assistance from 
        Élise Baillieul and Marc Gil (University of Lille).
      </p>
      <p>
        This digital reconstruction, presented in holographic form and implemented by Holusion, 
        was developed at the request of the Notre-Dame-en-Vaux Cloister Museum. Initiated as part of 
        the museum's reopening preparations, it is the result of scientific collaboration between 
        Clementine Lemire, Enora Gault, Aude Foviaux, Caroline Guerlet (Châlons-en-Champagne Museums), 
        Élise Baillieul and Marc Gil (University of Lille), Jacques Wersinger (Catholic Institute of Paris), 
        Isabelle Périchaud and Jean-Christophe Carius (INHA), and Damien Berné (Musée de Cluny - National 
        Museum of the Middle Ages).
      </p>
    </div>
  </section>
</main>