---
layout: index
title: Maquettes holographiques interactives
bimViews:
  - image: img/quartz/plomberie.jpg
    title: "transparency view of a building's plumbing, made from BIM files"
    caption: Plumbing
  - image: img/quartz/elec.jpg
    title: "transparency view of a building's electric network, made from BIM files"
    caption: Electric network
  - image: img/quartz/vent.jpg
    title: "transparency view of a building's ventilation system, made from BIM files"
    caption: Ventilation
---


<section class="section section-main-header header-fill">
  {%include components/header_image.html image="img/products/iris32_quartz.jpg" %}
  <div class="main-header-body">
    <div class="content shadow rounded bg-white rounded p-4">
      <h2 id="main-title-1">Holographic model</h2>
      <p>
        In the information era, your presentations need a strong foundation of digital content. Infographics must be accurate, precise and interactive. On top of that, holusion will allow you to display your building's models in a unique way.
      </p>
      <ul>
        <li> Inaugurations </li>
        <li> Business fairs</li>
        <li> Presenting in front of commissions</li>
      </ul>

        <p>Use your future construction's <a href="https://en.wikipedia.org/wiki/Building_information_modeling">BIM</a> files to create a complete preview. The beautiful and innovative visuals will allow you to convince your audience.</p>
      </div>
  </div>
</section>
<section class="section bg-light py-4">
  <div class="container jumbotron bg-white shadow my-0">
    <h2>Experience a new view</h2>
    <p> <strong>Our objective :</strong> Show your project in all its glory. Put forward its strong points, explore technical networks and show your team's knowledge. Our solution will display your proposals up to <a href="/en/products/iris75">2m wide</a>.
    </p>
    <p>
      Those images can then be reused on any of our <a href="/en/products">products</a>, but also on all your usual means of communication.
    </p>
    {% include components/medias/youtube.html  embed="nshgR8Q_6lA" %}
  </div>
</section>

<section class="section row no-gutters bg-white">
  <div class="container">
    {% include components/slideshow.html contents=page.bimViews name="bim-views-slideshow" classes="carousel-fade" interval="1500" %}
  </div>
</section>

<section class="section section-main-header header-fill">
  {%include components/header_image.html image="img/products/iris42_nausicaa.jpg" %}
  <div class="main-header-body full-width">
    <div class="content shadow rounded bg-white rounded p-4">
      <div class="d-flex justify-content-center align-items-center flex-wrap">
        <div style="min-width:300px;">
          {%include components/animated_svg.html src="/src/pictos/schema_BIM.svg"  %}
        </div>
        <div style="min-width:300px">
          <h2 id="main-title-1">Monetize your models</h2>
          <p>
            Our solutions can use all usual file formats as inputs. eg. <b>Revit</b>, <b>fbx</b>, <b>3ds</b> or <b>obj</b>.
          </p>
          <p>
            Powered by cloud computing technologies, we can provide high quality results as an unmatched speed.
          </p>
          <p>
            Contents will then be distributed to all communication channels
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section bg-light py-4">
  <div class="container jumbotron bg-white shadow my-0">
    <h2>3 levels of detail</h2>
    <div class="row" style="text-align:center">
      <div class="col-md-4">
        <img src="/static/img/usages/picto_360.jpg" />
        <div>
          <strong>Orbital View</strong>
          <p>Easy and accessible solution to simply show a building's external aspect</p>
        </div>
      </div>
      <div class="col-md-4">
        <img src="/static/img/usages/picto_layer.jpg" />
        <div>
          <strong>Mutli-layers Presentation</strong>
          <p>Display technical infrastructure and networks</p>
        </div>
      </div>
      <div class="col-md-4">
        <img src="/static/img/usages/picto_3d.jpg"/>
        <div>
          <strong>Realtime 3D</strong>
          <p>Take control over your presentation with absolute freedom</p>
        </div>
        </div>
    </div>
    <p><strong>Choose how detailed your presentation is</strong> and control your budget with our various offers. Prices are calculated using floor area and expected resolution, from 1080p full HD to 4k or 8k.</p>
    <p>Using the very accessible <b>orbital view</b> rendering with our interactive tool <a href="http://holusion.github.io/stingray/">Stingray</a>, it's now possible to control a building's rotation in real time.
    </p>
    <p>Use <b>multi-layers presentations</b> to show technical data about your product. Using transparency, your technological achievements will be visible by everyone.
    </p>
    <p>For complex 3D environment or when you need fluid interactions, realtime 3D will give you absolute freedom to navigate in a 3D environment and explore every aspect of your project while keeping the same visual quality.
    </p>
  </div>
</section>

<section class="section section-main-header header-fill">
  {%include components/header_image.html image="img/sections/tranche_1.jpg" %}
  <div class="main-header-body full-width">
    <div class="content shadow rounded bg-white rounded p-4">
      <div class="d-flex justify-content-center align-items-center flex-wrap">
        <div style="min-width:300px;text-align : center">
          <h2 id="main-title-2">They trust us</h2>
          <div class="row">
            {% include components/medias/hover_image.html src="/static/img/logo/logo_projet_BYC.jpg" hover="/static/img/logo/logo_BYC.jpg" alt="logo Bouygues Construction" %}
            {% include components/medias/hover_image.html src="/static/img/logo/logo_projet_BYIM.jpg" hover="/static/img/logo/logo_BYIM.jpg" alt="logo Bouygues Immobilier" %}
            {% include components/medias/hover_image.html src="/static/img/logo/logo_projet_VINCI_IMMO.jpg" hover="/static/img/logo/logo_VINCI_IMMO.jpg" alt="logo Vinci Immobilier" %}
            {% include components/medias/hover_image.html src="/static/img/logo/logo_projet_SQY.jpg" hover="/static/img/logo/logo_SQY.jpg" alt="logo Agglomération de Saint Quentin en Yvelines" %}
            {% include components/medias/hover_image.html src="/static/img/logo/logo_projet_RBX.jpg" hover="/static/img/logo/logo_RBX.jpg" alt="logo Ville de Roubaix" %}
            {% include components/medias/hover_image.html src="/static/img/logo/logo_projet_BRS.jpg" hover="/static/img/logo/logo_BRS.jpg" alt="logo Ville de Bruges, France" %}
          </div>
          <div class="row">
            {% include components/medias/hover_image.html src="/static/img/logo/logo_projet_ALES.jpg" hover="/static/img/logo/logo_ALES.jpg" alt="logo des mines d'Ales" %}
            {% include components/medias/hover_image.html src="/static/img/logo/logo_projet_EUROTUNNEL.jpg" hover="/static/img/logo/logo_EUROTUNNEL.jpg" alt="logo d'Eurotunnel" %}
            {% include components/medias/hover_image.html src="/static/img/logo/logo_projet_SNCF.jpg" hover="/static/img/logo/logo_SNCF.jpg" alt="logo SNCF" %}
            {% include components/medias/hover_image.html src="/static/img/logo/logo_projet_NAUSICAA.jpg" hover="/static/img/logo/logo_NAUSICAA.jpg" alt="logo Nausicaa" %}
            {% include components/medias/hover_image.html src="/static/img/logo/logo_projet_HDF.jpg" hover="/static/img/logo/logo_HDF.jpg" alt="logo de la région Hauts de France" %}
            {% include components/medias/hover_image.html src="/static/img/logo/logo_projet_ENGIE.jpg" hover="/static/img/logo/logo_ENGIE.jpg" alt="logo Engie Axima" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
