---
layout: index
title: Modernize museum with holograms
---

<section class="section section-main-header header-fill">
  {%include components/header_image.html image="img/sections/table_manufactureroubaix.jpg" %}
  <div class="main-header-body">
    <div class="content shadow rounded bg-white rounded p-4">
      <h1 id="main-title-1">Modernize Museum</h1>
      <p>During these last <b>10</b> years, your public is inscreasingly adopting <b>digital</b> behaviours.
        Always looking after new <b>experiences</b> to tell and to share on online social media, your average visitor strive for interactive and dynamic exhibitions. </p>
        <p>Interact</p> with your visitors is becoming a new top priority</p>
        <p>With our <b>innovative solutions</b>, you can provide a very user friendly way to enhance your museum or gallery and match new digital behaviours.</p>
      </div>
    </div>
  </section>

  <section class="section bg-light py-4">
    <div class="container jumbotron bg-white shadow my-0">
      <h2>Innovate to attract new visitors</h2>
      <p> <strong>Our goal:</strong> Dynamize visitor experience</p>
      <p>Museum must use <b>innovation</b> in a smart way <i>enhance and improve</i>. Which means, using innovation to build around the existing collections and adding a <b>digital layer</b> to propose a new way to discover an artwork. Holographic display of reconstitutions of objects, unavailable pieces or foreign collections allows you also to widen the range of knowledge and experiences your visitors can reach.</p>
      <p>Get the opportunity to make people <b>rediscover</b> your museum and propose something new to see thanks to digitalization.</p>

    </div>
  </section>

  <section class="section section-main-header header-fill">
    {%include components/header_image.html image="img/products/numerisation_lille1.jpg" %}
    <div class="main-header-body">
      <div class="content shadow rounded bg-white rounded p-4">
        <div align="center">
          <div style="min-width :200px">
            <img src="/static/img/usages/picto_infini.jpg" />
          </div>
        </div>
        <h1 id="main-title-1">You museum is unique. So are our solutions</h1>
        <p><b>Interactive holographic solution includes :</b> </p>
        <ul>
          <li> An holographic display </li>
          <li> Content strategy </li>
          <li> Artwork digitalization</li>
          <li> 3D Modeling</li>
          <li> Holographic transformation </li>
          <li> Software development</li>
        </ul>

        <p> Holusion is at your side <b>all along</b> the setup of your project and life of the solution in the museum</p>
      </div>
    </div>
  </section>



  <section class="section section-main-header header-fill">
    {%include components/header_image.html image="img/products/projet_lille1.jpg" %}
    <div class="main-header-body">
      <div class="content shadow rounded bg-white rounded p-4">
        <h1 id="main-title-1">Convey passion</h1>
        <p>Interactivy and holograms allow us to convey <b>cuture and knowledge</b> in a smart, playful and easy way. Did you know that smart digital signage is memorized <b>twice</b> as easily compared to classic solution ? </p>
          <p> New visitors will enjoy <b>instant reactivity</b> and will <b>love</b> to come back and share around them their experience in your museum </p>
          <p>You and us have a commun goal : <b>Democratization of culture</b>. Thanks to our collobation, we want to make you museum a richer and more accessible experience.</p>
          </div>
        </div>
      </section>


      <section class="section section-main-header header-fill">
        <div class="content shadow rounded bg-white rounded p-4">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <div style="min-width:300px">
              <h2 id="main-title-2">Ils nous ont fait confiance</h2>
              <div class="row">
                {% include components/medias/hover_image.html src="/static/img/logo/logo_statuette_lille1.jpg" hover="/static/img/logo/logo_lille1.jpg" alt="logo lille 1" %}
                {% include components/medias/hover_image.html src="/static/img/logo/logo_projet_museomix.jpg" hover="/static/img/logo/logo_museomix.jpg" alt="logo museomix" %}
                {% include components/medias/hover_image.html src="/static/img/logo/logo_projet_catho.jpg" hover="/static/img/logo/logo-catho.jpg" alt="logo universite catholique lille" %}
                {% include components/medias/hover_image.html src="/static/img/logo/logo_projet_louvre_lens.jpg" hover="/static/img/logo/logo_all.jpg" alt="logo louvre lens" %}
                {% include components/medias/hover_image.html src="/static/img/logo/logo_projet_cnrs.jpg" hover="/static/img/logo/logo_cnrs.jpg" alt="logo cnrs" %}
                {% include components/medias/hover_image.html src="/static/img/logo/logo_projet_nausicaaa.jpg" hover="/static/img/logo/logo_NAUSICAA.jpg" alt="nausicaa" %}
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
