---
layout: index
title: Holographic visioconference
---

<section class="section section-main-header header-fill">
  {%include components/header_image.html image="img/sections/iris75_vivatech.jpg" %}
  <div class="main-header-body">
    <div class="content shadow rounded bg-white rounded p-4">
      <h1 id="main-title-1">Next generation telepresence</h1>
      <p>Use holographic displays to broadcast your message from a distance, replay a presentation or make someone digitally come back from the past.</p>
      <p>
        In live events or pre-recorded, our products will always add a great visual effect to your presentation and leave your audience with a lasting impression.
      </p>
      </div>
  </div>
</section>

<section class="section section-main-header header-fill">
  {%include components/header_image.html image="img/telepresence/tournage_fond_noir.jpg" %}
  <div class="main-header-body">
    <div class="content shadow rounded bg-white rounded p-4">
      <h1 id="main-title-1">Control your production</h1>
      <p>Realisation of a <a href="/en/products/iris75">human-sized</a> holographic experience uses only standard film-making material. A simple black fabric with well-thought lighting will create a perfect hologram with little to no post-production.</p>
      <p>
        Use our display's transparency to give depth to your scenography or coordinate multiple simultaneous interventions using our experience in large scale reliable interventions.
      </p>
      </div>
  </div>
</section>
