---
title: Sur mesure
image: /static/img/misc/conception_au_marteau.jpg
abstract: Un hologramme à votre mesure
rank: 100
header: Hologramme sur mesure
picto: /static/img/products/picto_ecran_transparent.png
tags: sur-mesure
price: "-"
properties:
  display:
    brightness: jusqu'à 2500cd/m²
    full_display_area: de 2cm à 2m
    resolution: "HD, 4K, 8k"
---

<section id="tailles" class="section section-main-header header-fill">
  {%include components/header_image.html image="img/products/iris85_MDS.jpg" alt="Présentation d'un Iris 85\" au musée du sport de Nice" %}
  <div class="main-header-body container">
    <div class="content shadow rounded bg-white rounded p-md-4">
      <h2>S'adapter aux besoins uniques</h2>
      <p>
        Nous proposons d'adapter nos produit à vos contraintes : 
        Espace limité, décor, mise en scène ; nous proposons des solutions pour intégrer totalement l'hologramme à votre environnement.
      </p>
      <p></p>
    </div>
  </div>
</section>

<section id="scenographie" class="section bg-light py-4">
  <div class="container jumbotron bg-white shadow my-0" style="text-align:center">
    <h2>Une expertise scénographique reconnue</h2>
    {% include components/medias/youtube.html  embed="84GdJEdanW0" %}

    <p>
      <b>L'exemple de l'île des impressionnistes à Chatou : </b>
      Représentation d'un personnage historique dans un environnement reconstitué pour souligner l'histoire qui liait l'artiste au lieux d'exposition.
    </p>
    <p>
      La théatralisation du dispositif rends l'ensemble plus captivant pour le visiteur.
    </p>
  </div>
</section>

<section id="experience" class="section section-main-header header-fill">
  {%include components/header_image.html image="img/products/iris32_museum.jpg" alt="Un Iris 32\" dans une coursive de la plaine image, présentant le projet universitaire Holomouseio" %}
  <div class="main-header-body body-right">
    <div class="content shadow rounded bg-white rounded p-md-4">
      <h2>Une expérience digitale cohérente</h2>
      <p>
        L'intégration d'applications interactives se fait pour le bénéfice de l'utilisateur afin de s'assurer d'une bonne accessibilité
        des dispositifs pour le public visé.
      </p>

      <p>
        Nous travaillons selon les besoins avec un éventail varié de technologies : Ecrans et tablettes tactiles, capteurs infrarouges ou de reconnaissance gestuelle...
      </p>
    </div>
  </div>
</section>

