---
layout: front_page
abstract: Affichages holographiques commercialisés en vente directe ou en location
scripts:
  - /static/js/observer.js
---

<main class="main-grid main-dark">
  <section class="section center">
    <h2 class="text-white my-5" style="font-size: 3rem">Nos Produits</h2>
  </section>
  <section class="section">
    {% picture grid img/posts/2021_PierreDeSeine/Rouen.jpg
      --img class="cover"
      data-noisetest="1"
      style="object-position: 70% 0"
      --alt Hologramme At'Rouen
    %}
    <div class="content">
      <h2>Affichage digital innovant</h2>
      <p>
        De quelques centimètres à plusieurs mètres, des solutions portables aux installations scéniques, nous proposons une large gamme de solutions techniques et de services. 
      </p>
      <p>
        <b>Tous nos produits sont disponibles à la vente ou à la location</b>.
      </p>
    </div>
  </section>
  <section class="section section-white">
    <h2>Toutes nos solutions</h2>
  </section>

  <section class="section left text-left">
    <div class="fixed-background">
      <div class="sticky-content">
        <div class="slides">
          {% picture grid "img/sections/slide_gamme_copie.png"
          --img data-slides="0"
          --alt photo d'un iris 22
          %}
          {% picture grid "img/sections/slide_gamme_copie.png"
            --img data-slides="1"
            --alt photo d'un iris 32
          %}
          {% picture grid "img/sections/slide_gamme_copie.png"
            --img data-slides="2"
            --alt photo d'un iris 46
          %}
          {% picture grid "img/sections/slide_produit_iris75.png"
          --img data-slides="3"
          --alt photo de 2 iris 75, un vertical et un horizontal
          %}
          {% picture grid "img/products/pixel_landscape.jpg"
          --img data-slides="4"
          --alt photo d'un goodie pour téléphone
          %}
          {% picture grid "img/sections/cafe_design.jpg"
          --img data-slides="5"
          --alt photo
          %}
        </div> 
      </div>
    </div>
    <div class="slide content">
      <div class="my-5" style="margin-top: 0;">
        <h2>Iris 22</h2>
        {% picture grid "img/products/iris_22_2019.jpg"
        --img class="img-fluid my-4"
        --alt photo d'un iris 22
        %}        
        <p>Une vitrine holographique de 22 pouces.</p>
        <p>L'Iris 22 est une très bonne solution pour <b>exposer vos hologrammes dans un espace réduit</b> </p>
        <p>Très simple à installer, configurable et interactive, elle devient le support <b>idéal pour des présentations institutionnelles ou éducatives.</b></p>
        <h3 class="text-right text-secondary">2 000 € HT</h3>
        <p class="text-right" style="font-size: 0.7rem">Prix public conseillé. Disponible en location</p>
        <p class="text-center pt-4"><a href="{{product.url}}"> <button class="btn btn-info">en savoir plus</button> </a></p>

      </div>
      <div>
        <h2>Iris 32</h2>
        {% picture grid "img/products/iris32_museum.jpg"
        --img class="img-fluid my-4"
        --alt photo d'un iris 32
        %}
        <p>Une vitrine holographique de 32 pouces.</p>
        <p>L'Iris 32 est notre meilleure solution pour <b>un maximum d'impact dans un minimum de place.</b></p>
        <p>Très simple à installer, configurable et interactive, elle devient le support <b>idéal pour des présentations institutionnelles ou éducatives.</b></p>
        <h3 class="text-right text-secondary">4 500 € HT</h3>
        <p class="text-right" style="font-size: 0.7rem">Prix public conseillé. Disponible en location</p>
        <p class="text-center pt-4"><a href="{{product.url}}"> <button class="btn btn-info">en savoir plus</button> </a></p>
      </div>
      <div>
        <h2>Iris 46</h2>
        {% picture grid "img/products/iris46_archi.jpg"
        --img class="img-fluid my-4"
        --alt photo d'un iris 46
        %}
        <p>Une vitrine holographique de 46 pouces.</p>
        <p>L'Iris 46 est notre meilleure solution pour <b>une présentation haut-de-gamme dans un espace clos.</b></p>
        <p>Très simple à installer, configurable et interactive, elle devient le support <b>idéal pour des présentations de projets complexes comme des projets immobiliers.</b></p>
        <p>Laissez cours à votre imagination pour une application en formation ou en valorisation des patrimoines culturels et scientifiques.</p>
        <h3 class="text-right text-secondary">6 500 € HT</h3>
        <p class="text-right" style="font-size: 0.7rem">Prix public conseillé. Disponible en location</p>
        <p class="text-center p-5"><a href="{{product.url}}"> <button class="btn btn-info">en savoir plus</button> </a></p>
      </div>
      <div>
        <h2>Iris 75</h2>
        {% picture grid "img/products/iris75_double_imaginarium_HDR.jpg"
        --img class="img-fluid my-4"
        --alt photo de 2 iris 75, un vertical et un horizontal
        %}
        <p>Un hologramme XXL pour des projets grandeur nature.</p>
        <p>L’hologramme IRIS 75 ou l’hologramme XXL est idéal pour des présentations spectaculaires.</p>
        <p>L'Iris 75" est naturellement customisable et peut être utilisé en affichage portrait ou paysage.</b></p>
        <h3 class="text-right text-secondary">23 000 € HT</h3>
        <p class="text-right" style="font-size: 0.7rem">Prix public conseillé. Disponible en location</p>
        <p class="text-center p-5"><a href="{{product.url}}"> <button class="btn btn-info">en savoir plus</button> </a></p>
      </div>
      <div>
        <h2>Pixel</h2>
        {% picture grid "img/products/pixel_landscape.jpg"
        --img class="img-fluid my-4"
        --alt photo d'un goodie pour téléphone
        %}
        <p>Une pyramide pour téléphone et tablettes, un goodie très apprécié.</p>
        <p>Le Pixel est une petite pyramide qui diffuse un hologramme à 360°. Il se glisse dans la poche pour en faire profiter votre entourage. </p>
        <p>Découvrez notre gamme de produits goodies, disponnibles dans la boutique en ligne</p>
        <h3 class="text-right text-secondary">3,33 € HT</h3>
        <p class="text-right" style="font-size: 0.7rem">Prix public conseillé</p>
        <p class="text-center p-5"><a href="{{product.url}}"> <button class="btn btn-info">Boutique en ligne</button> </a></p>
      </div>
      <div>
        <h2>Sur mesure</h2>
        {% picture grid "img/sections/cafe_design.jpg"
        --img class="img-fluid my-4"
        --alt photo
        %}
        <p>Découvrez notre accompagnement personnalisé qui vous aidera à mettre en place votre projet d'innovation.</p>
        <p class="text-center p-5"><a href="{{product.url}}"> <button class="btn btn-info">Contactez-nous</button> </a></p>
      </div>
    </div>
  </section>

  <section class="section section-white left">
    <h2>Autres produits</h2>
  </section>
  <div class="section center">
    <div class="content row no-gutters my-3">
    {% for product in site.products_items[page.lang] %}
      <div class="col-xl-4 col-lg-4 col-sm-6 col-12 py-3 py-sm-3 text-center p-2">
        
        {% picture {{product.image}} 
        --img class="img-fluid mb-2"
        %}
        <h2 class="text-white mb-1">{{ product.title }}</h2>
        <p class="text-white font-weight-light">{{ product.abstract}}</p> 
        <a href="{{product.url}}"> <button class="btn btn-info">en savoir plus</button> </a>
        <!--<ul>
          {% for key in product %}
            <li>{{key[0]}}</li>
          {%endfor%}
        </ul>-->
      </div>
      {% endfor %}
    </div>
  </div>
</main>

