---
layout: front_page
abstract: Affichages holographiques commercialisés en vente directe ou en location
---

<section class="title">
  <div class="container">
    <h1>
      Nos solutions
    </h1>
  </div>
</section>
<div class="container">
  {% ariane %}
</div>
<div class="container pb-4 text-center">
  <h1 id="main-title-1" class="p-4">Affichage digital innovant</h1>
  <p class="rtecenter" >
    Holusion conçoit et développe des solutions d'affichage digital innovant depuis 2014. Fabriquées en France, ces solutions prennent place dans votre univers pour valoriser vos produits et activité. Laissez-vous toucher par la profondeur de nos expériences interactives qui créeront une nouvelle image autour de votre communication.
  </p>
  <p>
    De quelques centimètres à plusieurs mètres, des solutions portables aux installations scéniques, notre gamme saura vous surprendre en s'adaptant à tous vos projets. Disponible à la vente ou à la location, disponible partout en Europe.
  </p>
  <p>
    Sauf indication contraire, tous nos produits sont disponible à la vente ou en location de 24h à 24 mois.
  </p>
</div>
<div>
  <div class="row no-gutters">
  {% for product in site.products_items[page.lang] %}
    {% include components/post_thumbnail.html content=product type="card" classes="col-xl-3 col-lg-4 col-sm-6 col-12 py-1 p-sm-1" %}
  {% endfor %}
  {% include components/post_thumbnail.html
    image="/static/img/misc/conception_au_marteau.jpg"
    type="card"
    classes="col-xl-3 col-lg-4 col-sm-6 col-12 py-1 p-sm-1"
    title="Sur-mesure"
    abstract="Découvrez notre accompagnement personnalisé qui vous aidera à mettre en place votre projet d'innovation"
    %}
  </div>
</div>
