---
title: Iris 75
image: img/products/iris75_side.jpg
abstract: Un hologramme XXL pour des projets grandeur nature.
rank: 4
slides:
  -
    image: /static/img/products/iris_75_immeuble.jpg
    title: Mise en avant du réseau VMC d'un bâtiment en cours de construction
  -
    image: /static/img/products/iris_75_voiture.jpg
    title: Présentation d'une voiture en hologrammes
  -
    image: /static/img/products/iris_75_statue.jpg
    title: "Le buste de 	Philibert Vrau, fondateur de l'Université Catholique de Lille en hologramme dans l'Iris 75"
  -
    image: /static/img/products/iris_75_logo.jpg
    title: "Le logo d'Holusion placé au rez-de-chaussée de l'imaginarium"
header: Hologramme grand format
picto: /static/img/products/picto_iris.jpg
price: "23 000"
tags: iris75
properties:
  display:
    brightness: 2500cd/m²
    full_display_area: 165 (H) x 92(V) cm
    contrast: "1200:1 (minimum)"
    resolution: "3840&times;2160"
  characteristics:
    size: 202(L) x 111(l) x 172(h) cm
    weight: 120 kg
    power: 650W (écran seul)
  computing:
    cpu: selon projet
scripts:
  - /static/js/observer.js
---

<div class="section section-white">
  <h2 class="text-white">.</h2>
</div>

<section class="section left text-left">
  <div class="fixed-background">
    <div class="sticky-content">
      <div class="slides">
        {% picture grid "img/sections/slide_produit_background.png"
        --img data-slides="0-3"
        --alt ombre au sol
        %}

        {% picture grid "img/sections/slide_produit_iris75.png"
        --img data-slides="0-3"
        --alt illustration d'une borne holographique iris 32 
        %}

        {% picture grid "img/sections/slide_produit_foreground.png"
        --img data-slides="0-3"
        --alt illustration d'une borne holographique iris 32  
        %}

        {% picture grid "img/sections/slide_produit_iris75_size.png"
        --img data-slides="1"
        --alt illustration d'une borne holographique iris 32 
        %}
        
      </div> 
    </div>
  </div>
  <div class="slide content">
    <div>
      <h2 >Impactant</h2>
      {%include components/header_image.html image="img/products/iris75_chaufferie.jpg" 
      alt="L'iris grand format en plein jour en extérieur montrant le plein potentiel de son écran très haute luminosité" 
      %}
      <p class="pt-4">
        L’hologramme <b>IRIS 75</b> ou <b>l’hologramme XXL</b> est idéal pour des présentations spectaculaires.
      </p>
      <p>Cette vitrine holographique XXL est disponible à la vente et à la location, partout en Europe, facile à installer et à faire fonctionner.</p>
      <p>
        Cet hologramme géant mesure <b>2 mètres</b> de large et 1 mètre 60 de haut.
        Il vous permet de découvrir des images Ultra HD d'une qualité incroyable. Cet hologramme <b>haut de gamme</b> vous permettra de moderniser votre discours et ainsi de monopoliser l’attention de votre public.
      </p>      
    </div>
    <div>
      <h2>Lumineux</h2>
      {% include components/medias/youtube.html  embed="yfrcDO1Nlwk" %}
      <p class="pt-4">
        L'Iris 75" est équipé d'un écran <b>Très haute luminosité</b> de 2500cd/m². Profitez d'hologrammes exceptionnels, même en plein jour.
      </p>
      <p>
        Notre connaissance des matériaux nous permet de proposer le meilleur compromis entre contraste et transparence pour toutes les situations
      </p>      
    </div>
    <div>
      <h2>Modulaire</h2>
      {% include components/medias/youtube.html embed="oqddzF35d9w" %}
      <p class="pt-4">L'Iris 75" est naturellement customisable et peut être utilisé en affichage <b>portrait</b> ou <b>paysage</b>.</p>
      <p>Il est proposé dans une large gamme de finitions. Du métal brut intégrable aux habillages Textiles ou rigides ; unis ou imprimés.</p>      
    </div>
    <div>
      <h2>Précis</h2>
      <p>
        Sa résolution <b>UltraHD</b> permet d’intégrer très facilement du contenu de <b>précision</b> pour des présentations institutionnelles, techniques ou éducatives. 
        Il est souvent utilisé dans le domaine de <b>l'immobilier</b> pour des maquettes interactives (<a href="https://fr.wikipedia.org/wiki/Building_information_modeling">BIM</a>).
      </p>
    </div>
    <div>
      <h2>Orientable</h2>
      <p>
        Choisissez l'orientation de votre Iris 75". <b>Horizontal</b> pour l'inauguration officielle de votre bâtiment ou une présentation institutionnelle de votre dernière innovation, <b>vertical</b> pour présenter une personne en taille réelle réalisant un discours ou pour de l'accueil sur un salon, optez pour la configuration la mieux adaptée.
      </p>
    </div>
  </div>
</section>
