---
title: Iris 22
image: img/products/iris_22_2019.jpg
sketch: img/products/mesures/sketch_iris22.png
abstract: Une vitrine holographique de 22 pouces.
rank: 1
slides:
  -
    image: /static/img/products/iris_22_voiture.jpg
  -
    image: /static/img/products/iris_22_voiture_v2.jpg
header: Hologramme 1 face
picto: /static/img/products/picto_iris.jpg
price: "2 000"
tags: iris
properties:
  display:
    brightness: 1600cd/m²
    full_display_area: 49 (H) x 27 (V) cm
    contrast: "3000:1"
    resolution: "1920&times;1080"
    diagonal: 22" (16:9)
  characteristics:
    weight: 8 kg
    power: 60W
    size: 55(L) x 40(l) x 35(h) cm
  options:
    transport: flight case ou caisse en bois
    NFC: capteur sans contact
    Wifi: connexion sans fil
    Arduino : microcontrôleur analogique
---

<div class="section section-white">
  <h2>Vitrine holographique</h2>
</div>

<section class="section left text-left">
  {% picture grid "img/sections/sketch_iris22.png"
  --alt illustration d'une dame regardant une borne holographique iris 22  
  %}
  {% picture grid "img/sections/stars.png"
  style="width: 8%; margin-right: 0px; margin-left: 60%; margin-top: 21.5%;"
  class="spin"
  --alt dessin d'étoiles
  %}
  <div class="content m-auto py-4">
      <p class="mt-5">L’hologramme IRIS 22 vous permet d'afficher en hologrammes vos produits ou projets en haute définition dans <b>un espace optimisé</b>. Ce projecteur, <b>fiable et autonome</b>, s’intègre ainsi naturellement dans votre univers.</p>
      <p>Cette vitrine holographique est disponible en vente ou en location.</p>
      <p>Très simple à installer, configurable et interactif, l'Iris 22 devient le <b>support idéal </b> pour des présentations institutionnelles ou <a href="/fr/posts/2018-11-01-CaTisseFactory">éducatives</a>.</p>
  </div>
</section>


<section class="section section-white">
  <h2>Prenez de l'avance</h2>
  <div class="media">
    {% include components/medias/youtube.html  embed="97usClzj2_c" %}
  </div>
 
  <div class="content bg-white text-dark">
    <div class="my-5">
      <p>
        L'Iris 22 est une très bonne solution pour exposer vos hologrammes dans un espace réduit.
        Sa puissance lumineuse et la qualité graphique de ses rendus le rendent très adapté pour une utilisation <b>sur salon, en vitrine de magasin ou dans des expositions</b>.
      </p>
      <p>
        C'est pour cela que plusieurs clients à travers la France nous font déjà confiance pour son utilisation, comme par exemple Krysta pour présenter des <a href="https://holusion.com/fr/posts/2017-01-28-arc_france" target="_blank">verres en cristal</a> en hologramme en réalisant un mapping sur un vrai verre.
      </p>
      <div class="d-flex justify-content-center">
        <a href="/fr/posts/2017-01-28-arc_france"><button class="btn btn-info my-3">En savoir plus</button></a>
      </div>
    </div>
  </div>
</section>

<section class="section section-center">
  <h2></h2>
  <div class="content">
    <h2 class="py-5">Mapping d'objets</h2>
    <div class="row">
      <div class="col-md-6">
        {% include components/medias/youtube.html embed="-Aa8mPy0iBU" %}
      </div>
      <div class="col-md-6 m-auto">
        <p>
          Votre produit ne fera plus qu'un avec l'hologramme.
          Placé dans le projecteur d'hologrammes, un <b>mapping vidéo</b> apparaît sur le produit pour le mettre en avant et apporter des informations complémentaires.
        </p>
        <p>
          Effets spéciaux, personnalisation ou réalité augmentée, un <b>large panel d'effets</b> viennent à vous pour valoriser votre produit.
        </p>
        <p class="text-center">
          <button class="btn btn-info" style="cursor:pointer" data-bs-toggle="modal" data-bs-target="#contactform-modal">Contactez nous</button>
        </p>
      </div>
    </div>
  </div>
</section>