---
title: Iris 32
image: img/products/iris32_museum.jpg
sketch: img/products/mesures/sketch_iris32.png
abstract: Une vitrine holographique de 32 pouces.
rank: 2
header: Hologramme 1 face
picto: /static/img/products/picto_iris.jpg
price: "4 500"
tags: iris
properties:
  display:
    brightness: 1000cd/m²
    full_display_area: 70 (H) x 39(V) cm
    contrast: "3000:1"
    resolution: "1920&times;1080"
    diagonal: 32" (16:9)
  characteristics:
    weight: 35 kg
    power: 80W
    size: 82(L) x 68(l) x 51(h) cm
  computing:
    cpu: INTEL Atom J1900
  options:
      transport: flight case ou caisse en bois
      NFC: capteur sans contact
      Wifi: connexion sans fil
      Arduino : microcontrôleur analogique
scripts:
  - /static/js/observer.js
---

<div class="section section-white">
  <h2>Vitrine holographique</h2>
</div>

<section class="section left text-left">
  {% picture grid "img/sections/sketch_iris32.png"
  --alt illustration d'une dame regardant une borne holographique iris 32
  %}
  {% picture grid "img/sections/stars.png"
  style="width: 10%; margin-right: 0px; margin-left: 60%; margin-top: 21.5%;"
  class="spin"
  --alt dessin d'étoiles
  %}
  <div class="content m-auto">
    <p>L’hologramme IRIS 32 donne de la <b>visibilité</b> à vos produits ou projets grâce à sa vitrine holographique en haute définition. Ce projecteur, <b>fiable et autonome</b>, s’intègre naturellement dans votre univers. </p>
    <p>Cette vitrine holographique est disponible en vente ou en location.</p>
    <p>Très simple à installer, configurable et interactif, IRIS devient le <b>support idéal </b> pour des présentations institutionnelles ou <a href="/fr/posts/2019-02-15-holomouseio.html">éducatives</a>.</p>
  </div>
</section>

<section class="section section-white">
  <h2>Prenez de l'avance</h2>
  <div class="media">
    {% include components/medias/youtube.html  embed="9fYR-hXUyHc" %}
  </div>
  <div class="content">
    <p>
      L'Iris 32 est notre meilleure solution pour un maximum d'impact dans un minimum de place.
      Sa puissance lumineuse et la qualité graphique de ses rendus le rend très adapté pour une utilisation <b>sur salon, en vitrine de magasin ou dans des expositions</b>.</p>
    <p>
      C'est pour cela que plusieurs clients à travers la France nous font déjà confiance pour son utilisation, comme Nausicaa pour présenter des <a href="https://www.nausicaa.fr/article/les-abysses/" target="_blank">poissons des abysses</a> dans son exposition permanente ou encore les <a href="https://twitter.com/AlesMyriapolis/status/1004752792156860417" target="_blank">Mines d'Ales</a> pour présenter leur futurs bâtiments.
    </p>
  </div>
</section>

<section class="section section-center">
  <h2></h2>
  <div class="content">
    <h2 class="py-5">Mapping d'objets</h2>
    <div class="row">
      <div class="col-lg-6">
        {% include components/medias/youtube.html  embed="tBymyNjl8XU" %}
      </div>
      <div class="col-lg-6 m-auto">
        <p>
          Votre produit ne fera plus qu'un avec l'hologramme.
          Placé dans le projecteur d'hologrammes, un <b>mapping vidéo</b> apparaît sur le produit pour le mettre en avant et apporter des informations complémentaires, comme pour la trotinette d'Oxelo présentée au <a href="https://www.btwin-village.com/">B'Twin Village</a> dans un Iris 32.
        </p>
        <div class="d-flex justify-content-center">
          <a href="/fr/posts/2020-11-16-Oxelo"><button class="btn btn-info my-3">En savoir plus</button></a>
        </div>
      </div>
    </div>
    <div class="pt-5 text-center">
      <p>
        Effets spéciaux, personnalisation ou réalité augmentée, un <b>large panel d'effets</b> viennent à vous pour valoriser votre produit.
      </p>
      <p>
        <button class="btn btn-info" style="cursor:pointer" data-bs-toggle="modal" data-bs-target="#contactform-modal">Contactez nous</button>
      </p>      
    </div>
  </div>
</section>