---
title: Iris 75
image: img/products/iris_75_voiture.jpg
abstract: l'hologramme XXL pour des projets grandeur nature
rank: 1
slides:
  -
    image: /static/img/products/iris_75_immeuble.jpg
    title: Mise en avant du réseau VMC d'un bâtiment en cours de construction
  -
    image: /static/img/products/iris_75_voiture.jpg
    title: Présentation d'une voiture en hologrammes
  -
    image: /static/img/products/iris_75_statue.jpg
    title: "Le buste de 	Philibert Vrau, fondateur de l'Université Catholique de Lille en hologramme dans l'Iris 75"
  -
    image: /static/img/products/iris_75_logo.jpg
    title: "Le logo d'holusion placé au rez-de-chaussée de l'imaginarium"
  -
    image: img/products/iris75_exterieur_BIM_1080p.jpg
    title: "L'Iris 75 sur le parvis de la plaine images lors d'une location de présentation en extérieur"
header: Hologramme grand format
picto: /static/img/products/picto_iris.jpg
price: "23 000"
tags: iris75
properties:
  display:
    brightness: 2500cd/m²
    full_display_area: 165 (H) x 92(V) cm
    contrast: "1200:1 (minimum)"
    resolution: "3840&times;2160"
  characteristics:
    size: 202(L) x 111(l) x 172(h) cm
    weight: 120 kg
    power: 650W (écran seul)
  computing:
    cpu: selon projet

---


<section class="section section-main-header header-fill">
  {%include components/header_image.html image="img/products/iris75_exterieur_BIM_1080p.jpg" alt="L'iris grand format en plein jour en extérieur montrant le plein potentiel de son écran très haute luminosité" %}
  <div class="main-header-body">
    <div class="content shadow rounded bg-white rounded p-md-4">
      <h2 >Impactant</h2>
      <p>
        L’hologramme <b>IRIS 75</b> ou <b>l’hologramme XXL</b> est idéal pour des présentations spectaculaires.
      </p>
      <p>Cette vitrine holographique XXL est disponible à la vente et à location, partout en Europe, facile à installer et à faire fonctionner.</p>
      <p>
        Cet hologramme géant mesure <b>2 mètres</b> de large et 1 mètre 60 de haut.
        Il vous permet de découvrir des images Ultra HD d'une qualité incroyable. Cet hologramme <b>haut de gamme</b> vous permettra de moderniser votre discours et ainsi de monopoliser l’attention de votre public.
      </p>
    </div>
  </div>
</section>

<section class="section bg-light py-4">
  <div class="container jumbotron bg-white shadow my-0">
    <h2>Lumineux</h2>
    <p>
      L'Iris 75" est équipé d'un écran <b>Très haute luminosité</b> de 2500cd/m². Profitez d'hologrammes exceptionnel, même en plein jour.
    </p>

    {% include components/medias/youtube.html  embed="yfrcDO1Nlwk" %}
  </div>
</section>

<section id="section-gamme" class="section-tile">
  <div class="tile-image-wrapper">
    {% include components/medias/youtube.html embed="oqddzF35d9w" %}
  </div>
  <div class="tile-body tile-body--main">
    <h2>Modulaire</h2>
    <p>L'Iris 75" est naturellement customisable et peut être utilisé en affichage <b>portrait</b> ou <b>paysage</b>.</p>
    <p>Il est proposé dans une large gamme de finitions. Du métal brut intégrable aux habillages Textiles ou rigides ; unis ou imprimés.</p>
  </div>
</section>

<section id="section-gamme" class="section-tile">
  <div class="tile-image-wrapper">
    {%asset img/products/mesures/Iris75.png
      srcset:width="1920"
      srcset:width="960"
      sizes="(max-width: 992px) 100vw, 50vw"
      class="img-fluid"
      alt="Schéma de dimensions de l'iris 75 pouces"
    %}
  </div>
  <div class="tile-body tile-body--main">
    <h2>Précis</h2>
    <p>
      Sa résolution <b>UltraHD</b> permet d’intégrer très facilement du contenu de <b>précision</b> pour des présentations institutionnelles, techniques ou éducatives. Il est souvent utilisé dans le domaine de <b>l'immobilier</b> pour des maquettes interactives (<a href="https://fr.wikipedia.org/wiki/Building_information_modeling">BIM</a>).
    </p>

  </div>
</section>


<section class="section bg-light py-1">
  <div class="container jumbotron bg-white shadow">
    <div class="center-block">
      {% asset img/products/mesures/habillage_iris75_horizontal.png class="img-fluid" %}
      <div class="text-muted text-center">
        Dimensions brutes de l'habillage d'un Iris 75" horizontal
      </div>
    </div>
  </div>
</section>
