---
title: Opal
image: img/products/opal_neige_sur_link.jpg
abstract: Un hologramme une face haut-de-gamme pour tablettes tactiles.
rank: 3
header: Animations ludiques
picto: /static/img/products/picto_iris.jpg
ecommerce: /fr/store/opal
price: "159,00"
tags: opal
properties:
  characteristics:
    size: 28(L) x 19(l) x 36(h) cm
    weight: 3 kg
  options:
    vertical: Format portrait
    horizontal: Format paysage
    sécurisé: Anti-vandalisme
---

<div class="row no-gutters" style="padding-top: 50px">
  <div class="col-lg-6 col-md-12 p-4">
    <h2>Prise en main intuitive</h2>
    <p>En format portrait ou paysage, observez l'hologramme projeté par votre tablette tactile. Votre connaissance du support tablette vous permet de mener des expériences intuitives sur l'Opal. Sa <b>petite taille</b> et sa <b>mobilité</b> vous permet de l'implanter dans votre univers très facilement : vitrine, showroom ou événement.</p>
    <h2>Vos propres mises en scène</h2>
    <p>Placez des objets à l'arrière de la surface inclinée et créez votre propre univers avec les hologrammes. Le <b>mapping vidéo</b> permet de faire des effets spéciaux autour des objets, de la personnalisation (de couleurs, de motifs) ou apporter des informations supplémentaires (prix, provenance de l'objet, légendes explicatives, histoires, etc.)</p>
  </div>
  <div class="col-lg-6 col-md-12 p-4">
    {% include components/medias/youtube.html embed="Q7HP_otO8KE" %}
  </div>
</div>


<div align="center" style="padding-top: 60px">
<h2>Valorisez vos œuvres et produits</h2>
<div>Modélisés en 3D, vos objets prennent une dimension très attractive. <br>Avec l'Opal présentez ainsi de nouveaux concepts et produits ou mettez en scène des œuvres de façon futuriste.</br></div>
</div>

<div class="row no-gutters" style="padding-top: 10px">
  <div align="center" class="col-lg-6 col-md-12">
    <img  alt="Valorisation d'oeuvres en hologrammes dans l'Opal" class="img-fluid" src="/static/img/products/opalh_statue.jpg" style="padding-top: 30px; padding-bottom: 10px;" />
  </div>
  <div align="center" class="col-lg-6 col-md-12">
    <img  alt="Voiture en hologramme dans l'Opal horizontal" class="img-fluid" src="/static/img/products/opalh_car.jpg" style="padding-top: 30px; padding-bottom: 10px;" />
  </div>
</div>


<section class="section bg-light py-4">
  <div class="container jumbotron bg-white shadow my-0">
    <div class="row">
      <div class="col">
        <h1 align="center">2 modèles, 2 expériences</h1>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-12">
        <h3>Opal H</h3>
        <p>Placée de façon horizontale au dessus d’une vitre inclinée, votre tablette tactile devient un véritable projecteur d’hologrammes. Placez des objets derrières la surface en verre et créez votre propre univers.</p>
        <img alt="Hologramme pour tablette Opal H" class="img-fluid" src="/static/img/products/opalh_tablet.jpg">
      </div>
      <div class="col-lg-6 col-12">
        <h3>Opal V</h3>
        <p>Placée de façon verticale au dessus d’une vitre inclinée, votre tablette tactile devient un véritable projecteur d’hologrammes. L’arrière de l’Opal est opaque afin d’obtenir des images très contrastées et lumineuses. Placez des objets derrières la surface en verre et à créez votre propre univers.</p>
        <img alt="Hologramme Opal V" class="img-fluid" src="/static/img/products/opalv_tablet.jpg">
      </div>
    </div>
  </div>
</section>



<div align="center" style="padding-top: 60px">
  <h2>Animez vos figurines</h2>
  <div>Placés derrière la surface inclinée, objets et figurines deviennent les acteurs des mises en scène que vous créez.
    <br>Ainsi placé, l'hologramme se superpose et entoure le personnage pour créer une véritable histoire ou le met simplement en valeur.</br>
  </div>
</div>

<div class="row no-gutters" style="padding-top: 10px">
  <div align="center" class="col-lg-6 col-md-12">
    <img  alt="Mapping holographique sur le personnage Marcus du jeu Ubisoft dans l'Opal vertical" class="img-fluid" src="/static/img/products/opalv_ubisoft.jpg" style="padding-top: 30px; padding-bottom: 10px;" />
  </div>
  <div align="center" class="col-lg-6 col-md-12">
    <img  alt="Mapping holographique sur le personnage Marcus du jeu Ubisoft dans l'Opal vertical" class="img-fluid" src="/static/img/products/opalv_ubisoft2.jpg" style="padding-top: 30px; padding-bottom: 10px;" />
  </div>
</div>

<section class="row no-gutters">
  <div class="col-lg-6 col-12">
    <img class="img-fluid" src="/static/img/products/opal_profil.jpg" alt="Un opal vertical devant un Opal horizontal, de profil sur fond blanc">
  </div>
  <div class="col-lg-6 col-12">
    <div class="p-4">
        <h2>Essayez l'Opal sans plus attendre :</h2>
        <p>Achetez l'Opal horizontal directement dans notre magasin en ligne, ou contactez-nous pour obtenir sa version verticale</p>
        <div align="center" class="p-5">
         {% include components/shop/store-fab.html %}
        </div>
    </div>
  </div>
</section>
