---
title: Online store
layout: store
---
{% include utils/make_store_items.html %}

<section class="section section-center">
  <h2>Welcome to Holusion's web store for holographic devices</h2>
  <div class="content row no-gutters mb-0">
    {% for item in store_items %}
      <div class="dark-card col-xl-4 col-lg-4 col-sm-6 col-12 py-3 px-sm-2">
        <a href="{{item.url}}">
          {%- if item.image contains "static" -%}
          <img data-deprecated="static-card" src="{{item.image|default: "/static/img/posts/default.jpg"}}"
              {% if content.image2x %} srcset="{{item.image2x}} 800w, {{item.image}} 400w" {% endif %} alt="{{alt_text}}" sizes="(min-width: 1200px) 25vw, (min-width: 992px) 33vw, (min-width:768px) 50vw, 100vw">
          {%- else -%}
            {% picture card "{{item.image}}"
              --img title="{{item.title}}"
              --alt  {{alt_text}}
            %}
          {%- endif -%}        
        </a>
        <h2 class="text-white mb-1">{{ item.title }}</h2>
        {%if item.price %}
          <h4>{{ item.price }} €</h4>
        {%endif%}
        <p>{{ item.abstract }}</p> 
        <a class="mt-auto" href="{{item.url}}"> <button class="btn btn-info">{{item.action| default:site.data.strings["read-more"][page.lang] }}</button></a>
      </div>
    {% endfor %}
  </div>
</section>