---
  title: Software Development Kit
  lang: en
  redirect_from:
    - /home/en/
---
{% include components/head_overlay_start.html image='/static/img/banners/home.jpg' %}
  <p>
    <b style="font-size:200%">Holusion</b>
  </p>
  <p>
    <b>3D Experience</b> for education
  </p>
  <p>
  <ul>
    <li>- Engaging and user-friendly solutions</li>
    <li>- Smart 3D modeling for your projects and courses</li>
    <li>- Multi-user and 360° unique features</li>
  </ul>
  Sign in to 3D interactive holograms<br/>
  Education - Pedagogy - UX<br/>
  <h5>Create your own Augmented Reality</h5>
  <div >
    {% include components/mailchimp.html %}
  </div>
{% include components/head_overlay_end.html %}

{% include components/sections_thumbnails.html %}
