---
layout: page
title: Heritage enhancement
image: img/sections/sitem26.webp
abstract: Digitize and showcase your collections
description: Collection digitization, conservation and mediation tools to support museums, institutions and heritage services in showcasing architectural and cultural heritage.
---


  <section class="section section-center">
    <h1 2id="collections" class="text-white">Heritage enhancement</h1>
  </section>

  <section class="section">
    {% picture grid "img/sections/sitem26.webp"
      --img class="img-fluid"
      --alt Holographic showcase and touch screens presenting digitized heritage collections at the International Museum Show in 2026
    %}

    <div class="content">
      <h3>Digitize and showcase your collections</h3>
      <p>
        Collection digitization, conservation and mediation tools: we support museums, institutions and heritage services in showcasing architectural and cultural heritage.
      </p>
    </div>
  </section>


  <section class="section left">
    {% picture grid img/sections/table_perrusson.webp
      --img class="img-fluid"
      data-noisetest="1"
      --alt Wall screen synchronized with a touch table showing an interactive topographic map
    %}
    <div class="timeline content py-5">
      <span class="timeline--point rounded-circle">
        <div class="rounded-circle mx-auto"></div>
      </span>
      <h3 class="d-inline"><a href="#digitization">Digitization</a></h3>
      <p>Photogrammetry, Laser scanning</p>
      <span class="timeline--point rounded-circle">
        <div class="rounded-circle mx-auto"></div>
      </span>
      <h3 class="d-inline"><a href="#mediation">Mediation</a></h3>
      <p></p>
    </div>
  </section>

  <section class="section section-white">
    <h2 id="digitization">Digitization</h2>
  </section>

  <section class="section left">
    {% picture grid img/photogrammetry/lighting.webp --alt lighting of a collection item for a photogrammetry capture%}
    <div class="content">
      <h3>Photogrammetry</h3>
      <p>Capture in <a href="https://en.wikipedia.org/wiki/Photogrammetry">photogrammetry</a> of collection items in inventory or directly on site</p>
      <p>
        We produce and optimize faithful models of your works. Work carried out in partnership with the <a href="https://fr-scv.univ-lille.fr/recherche-3/pole-numerisation-3d">3D Digitization department of the University of Lille</a>.
      </p>
      <p>
        More than the performance of the sensor, it is the lighting and the choice of lens that will determine the quality of the final result.
      </p>
    </div>
  </section>

  <section class="section">
    {% picture grid img/photogrammetry/macro.webp
      --alt Photographing a small object for photogrammetry processing
    %}
    <div class="content">
      <h3>For every size</h3>
      <p>
        This technique is suited for models from <a href="https://ecorpus.fr-scv.fr/ui/scenes/INRAP_boucle_%C3%A9maill%C3%A9e/view">a few centimeters</a> (macro photography) to several <a href="https://ecorpus.fr-scv.fr/ui/scenes/Collegiale_seclin/view">tens of meters</a> (drone photography).
      </p>
      <p>Photogrammetry produces high-quality textures with excellent results on matte surfaces.</p>
      <p>Polarized-light protocols also make it possible to digitize shiny objects.</p>
    </div>
  </section>

  <section class="section left">
    {% picture grid img/photogrammetry/artec_leo.webp --alt Use of an Artec Leo, a handheld structured-light scanner, to digitize a lapidary collection %}
    <div class="content">
      <h3>Structured-light scanner</h3>
      <p>Faster capture that is less dependent on lighting, but some details may be lost during acquisition</p>
      <p>While acquisition is much faster and the geometry of high quality (±0.3mm), the texture rendering is generally inferior to that of photogrammetry.</p>
    </div>
  </section>

  <section class="section section-white">
    <h2 id="mediation">Mediation</h2>
  </section>

  <section class="section">
    {% include components/medias/youtube.html embed='uG8nHAazPf8' %}
    <div class="content">
      <h3>Online display</h3>
      <p>
        Your models come to life on <a href="https://ecorpus.eu">eCorpus</a>, a complete 3D viewer, developed by Holusion as part of a research consortium with the universities of Lille and Liège.
      </p>
      <div class="d-flex justify-content-center">
        <a href="https://ecorpus.eu"><button class="btn btn-info image-shadow my-3">Discover eCorpus</button></a>
      </div>
    </div>
  </section>

  <section class="section left">
    {% include components/medias/ecorpus.html server='https://ecorpus.fr-scv.fr' scene='INRAP_boucle_émaillée' placeholder='img/photogrammetry/boucle_emaillée.webp' %}
    <div class="content">
      <h3>Analysis tools</h3>
      <p>Take measurements, <a href="https://en.wikipedia.org/wiki/Orthophoto">orthophotographs</a> or cross-section views of the models to characterize them better</p>
      <p>Annotate and comment on the models thanks to the integrated <a href="https://ecorpus.eu/en/doc/tutorials/annotation.html">scene editing</a> tools.</p>
    </div>
  </section>


  <section class="section">
    {% picture grid img/services/tablette_chalons.jpg class="img-fluid" --alt A touch tablet serving as a digital label for presenting a column statue in Châlons-en-Champagne %}

    <div class="content">
      <h3>On site</h3>
      <p>Present your collections on a touch screen that lets your visitors manipulate objects and discover integrated mediation elements: guided tours, annotations, enriched media...</p>
      <p>Or augment your hologram with a <a href="/en/store/touch.html">remote touch screen</a>.</p>
      <p>Your hologram directly leverages the mediation scenarios configured on eCorpus to offer an immersive experience of great depth.</p>
      <p>Discover the <a href="https://archeologie.ecorpus.eu/ui/scenes/">Grands Sites Archéologiques</a> collection of the French Ministry of Culture or the <a href="https://musee-archeologienationale.ecorpus.eu/ui/">collections</a> of the National Archaeology Museum</p>
      <p>Think big with touch tables up to 55".</p>
    </div>
  </section>

  <section class="section left">
    {% picture grid img/photogrammetry/pied_croix.webp --alt detail view of the base of the cross foot from the St Bertin abbey in St Omer %}
    <div class="content">
      <h3>Advanced integration</h3>
      <p>Use eCorpus to create content and offer a fully customized mediation application.</p>
      <p>Discover the highlights of the <a href="https://ecorpus.fr-scv.fr/scenes/appli_pied_de_croix_dome/index.html">Cross Foot of the Saint Bertin Abbey</a> or of the <a href="https://archeologie.culture.gouv.fr/fr/media_externe?src=aHR0cHM6Ly9hcmNoZW9sb2dpZS5lY29ycHVzLmV1L3NjZW5lcy9HYWxldC1ldGlvbGxlcy9pbmRleC5odG1s&token=1347049d79e6c1f1ea211986ee929a375ffa7126">Engraved Pebble of Étiolles</a>.</p>
    </div>
  </section>

  <section class="section">
    {% picture grid "img/services/calais.jpg"
      --img class="img-fluid"
      --alt Custom-made Pepper's ghost hologram installation built into the showcase of the relief map of Calais in 1900
    %}

    <div class="content">
      <h3 id="scenography">A tailor-made staging</h3>
      <p>Casings, display stands and lighting are scenographic assets inseparable from a successful experience.</p>
      <p>
        Our network of local manufacturers lets us design and build custom-made accessories on demand: wood, metal or plastic casings, as well as custom electronic circuits for ambient lighting, illuminated logos or visual indicators.
      </p>
      <p>Because every project is unique, contact us to find the solution best suited to each of them.</p>
      <div class="d-flex justify-content-center">
        <a href="/en/interaction/"><button class="btn btn-info image-shadow my-3">Our interactive solutions</button></a>
      </div>
    </div>
  </section>
