---
layout: front_page
title: A propos
scripts:
  - /static/js/slick_slider.js
---

<main id="lentreprise" class="main-dark main-grid">
  <div class="section section-center">
    <h2 class="text-white my-5" style="font-size: 3rem">Notre entreprise</h2>
  </div>

  <section class="section">
    <div style="grid-area: image; margin-bottom: -4.7rem;">
      {% include components/medias/youtube.html embed="BxkKS4MsrIE" %}
    </div>
    <div class="content">
      <h2>Spécialiste de l'affichage digital innovant</h2>
      <p>
        Holusion est une société française, basée sur la métropole lilloise. Nous concevons, développons et commercialisons un solution d’affichage innovantes basées sur <b>l'hologramme</b>.
        Cette illusion d'optique, communément appelée le
        <a href="../posts/2020-05-25-hologramme" title="Pepper's Ghost" target="_blank">Pepper's Ghost</a>, s'obtient grâce au reflet d'un écran sur une surface miroitée, inclinée et transparente.
        </p>
        <p>Notre technologie donne le sentiment que l'objet flotte dans l'air. Les images sont colorées, animée et préservent l'aspect d'origine de l'objet.</p>
    </div>
  </section>
  <div class="section section-white">
    <h2>Notre expertise</h2> 
  </div>

  <section class="section left pt-4">
    {% picture grid img/sections/sketch_interactivity.png
      class="img-fluid m-auto"
      alt="Dessin à main levée du design du prism holusion"
    %}
    <div class="cube-contain mx-auto" style="grid-area: image;">
      <div class="cube">
        <div class="cube-face cube-top"></div>
        <div class="cube-face cube-bottom"></div>
        <div class="cube-face cube-left"></div>
        <div class="cube-face cube-right"></div>
        <div class="cube-face cube-front"></div>
        <div class="cube-face cube-back"></div>
      </div>
    </div>      
    <div class="content m-auto">
      <h3>Standard et sur-mesure</h3>
      <p><b>Envie de tourner autour de l'hologramme ou de l'intégrer dans une scénographie ?</b> 
      </p>
      <p>
        Notre expertise dans la fabrication des produits nous permet de créer <a href="/fr/products">des solutions</a> standards d'une seule face ou à 360°, ou sur-mesure tel que l'hologramme à taille humaine. 
      </p>
      <div class="d-flex justify-content-center mb-4">
        <a href="/fr/posts"><button class="btn btn-slide image-shadow my-3">En savoir plus sur nos réalisations</button></a>
      </div>

      <h3>Des animations interactives en temps réel</h3>
      <p>En plus de l'expertise hardware, nous développons chaque jour des applications interactives pour nos clients.</p>
      <p>Ces animations ludiques permettent d'apprendre ou de découvrir des concepts différement, d'avoir une nouvelle approche des produits en points de vente ou encore de valoriser le patrimoine culturel.</p>
      <h3>De l'industrie au conseil</h3>
      <p>Holusion a une vision <b>industrielle</b> de son activité. Son ambition est de démocratiser les solutions holographiques.</p>
      <p><b>Nous accompagnons nos clients de A à Z dans leurs projets</b> afin de d'obtenir une qualité irréprochable en phase avec leurs attentes.</p>
    </div>
  </section>

  <div class="section left">
    <h2>Notre histoire</h2>
  </div>

  <section class="section left section-white">
      {% picture grid img/posts/about/plaineImages.jpg
        --img class="img-fluid"
        data-noisetest="1"
        --alt Plaine Images
        --picture class="m-auto"
      %}     
    <div class="timeline content py-5">
      <span class="timeline--point rounded-circle">
        <div class="rounded-circle mx-auto"></div>
      </span>
      <h3 class="d-inline">2014 : Création</h3>
      <p>
        C’est le 6 mai 2014 que l'aventure Holusion commence. Parmis les fondateurs, Thibault Guillaumont et Sebastien Dumetz, diplômés de l’<a href="http://centralelille.fr" target="_blanc">école Centrale de Lille</a> et de l’<a href ="http://www.isen.fr/" target="_blanc">ISEN</a> prennent la direction de l'entreprise. L'accélération à la <a href="http://www.plaine-images.fr/">Plaine Images</a> met Holusion en relation avec des acteurs de l'innovation et de la créativité digitale.
      </p>
      <span class="timeline--point rounded-circle">
        <div class="rounded-circle mx-auto"></div>
      </span>
      <h3 class="d-inline">2016 : Au coeur de la French Tech</h3>
      <p>
        La région des Hauts-de-France valorise et aide au développement des nouvelles technologies.
        Cet écosystème fructueux se concrétise avec l'obtention du label <a href="http://www.lafrenchtech.com">“Lille is French Tech”</a>.
      </p>
      <span class="timeline--point rounded-circle">
        <div class="rounded-circle mx-auto"></div>
      </span>
      <h3 class="d-inline">2018 : BIM & Musées</h3>
      <p>
        L'entreprise lance successivement deux solutions de présentation holographiques. L'utilisation d'hologramme interactifs pour le monde de la culture et du patrimoine avec <a href="../posts/2019-02-15-holomouseio.html">Holomouseio</a> et la présentation de maquettes numériques XXL avec Bouygues, Nacarat et Vinci sur l'<a href="../products/iris75.html">Iris75</a>
      </p>
      <span class="timeline--point rounded-circle">
        <div class="rounded-circle mx-auto"></div>
      </span>
      <h3 class="d-inline">2020 : Dévelloppement international</h3>
      <p>
        De nouveaux projets d'hologrammes continuent à se mettre en place dans des musées et entreprises en France, mais aussi à l'étranger. Nos bornes holographiques s'exportent et nous montons des partenariat internationaux comme avec l'Université de Gènes en Italie sur l'architecture ou Liège en Belgique sur les <a href="../posts/2019-12-01-RECON.html">techniques de numérisation</a>.
      </p>
    </div>
  </section>

  <section class="section section-center">
    <h2>Nos valeurs</h2>
    <div class="content">
      <div class="section-center--header d-flex">
        {% picture  grid img/sections/icone_french.png
          --img class="section-center--icon p-3 m-auto"
          style="width:120px"
          data-noisetest="1"
          --alt icone french
        %}
        <h3 class="my-auto">Privilégier l'écosystème digital français</h3>
      </div>
      <p>
        Notre première ambition a toujours été d'ancrer nos solutions sur le territoire français. Avec ses produits <i>Made in France</i>, nous nous plaçons au coeur de la dynamique <i>French Tech</i>.
        Nos fournisseurs viennent essentiellement de la région et les projecteurs d’hologrammes sont assemblés directement au siège à Tourcoing. La proximité avec notre réseau d'approvisionnement permet notamment d'être très réactif dans la gestion de nos projets.
      </p>
      <div class="section-center--header d-flex">
        {% picture grid img/sections/icone_patrimoine.png
          --img class="section-center--icon p-3 m-auto"
          style="width:120px"
          data-noisetest="1"
          --alt icone patrimoine
        %}
        <h3 class="my-auto">Valoriser le patrimoine culturel</h3>
      </div>
      <p>En tant que partenaire <a href="http://www.museomix.org/" target="_blanc">Museomix</a>, nous faisons partie d'une communauté de passionnés de culture, de technologies, d’innovation qui partagent une envie d’un musée ouvert, connecté et participatif. Ainsi, nous aidons à mettre en place les 3 jours de "marathon créatif" qui ont lieu début novembre.</p>
      <div class="section-center--header d-flex">
        {% picture grid img/sections/icone_open_source.png
          --img class="section-center--icon p-3 m-auto"
          style="width:120px"
          data-noisetest="1"
          --alt icone open source
        %}
        <h3 class="my-auto">La philosophie open source</h3>
      </div>
      <p>Holusion s'engage pour le développement de <a href="https://www.gnu.org/philosophy/floss-and-foss.fr.html">logiciels libres ou Open Source</a>. Pour cela, nous participons à l'amélioration des logiciels que nous utilisons, nous créons de nouveaux outils et nous les rendons <a href="https://github.com/Holusion">disponibles</a> pour la communauté. Nous encourageons nos collaborateurs à contribuer à cet écosystème du logiciel libre.</p>
      <p>Nous pensons que le libre accès des utilisateurs, particuliers comme entreprises, aux logiciels doit être conservé. Chaque projet mené respecte cette <a href="https://www.gnu.org/philosophy/free-sw.html">liberté essentielle</a> des utilisateurs.</p>
      <p>Une plateforme regroupant nos <a href="/dev/fr/">ressources techniques</a> vous donne toutes les clés pour créer vos propres hologrammes et animations.</p>        
    </div>    
    </div>
  </section>

  <section class="section">
    <img alt="Imaginarium Plaine Images" class="img-fluid cover" style="max-height: 600px; object-position: 0 15%;" src="/static/img/products/plaineimages.jpg"/>
    <div class="content">
      <h2>Ils l'ont dit</h2>
      <div class="d-flex">
        <div class="text-info pr-2" style="font-size: 4rem;">&#8223</div>
        <blockquote class="blockquote pt-4">
          <p>C'est une meilleure façon de voir les choses parceque la 3D remplace la 2D</p>
          <footer class="blockquote-footer">Tek Syndicate, VivaTech 2016</footer>
        </blockquote>        
      </div>
      <div class="d-flex">
        <div class="text-info pr-2" style="font-size: 4rem;">&#8223</div>
        <blockquote class="blockquote pt-4">
          <p>Chacun peut créer et développer ses applications pour des usages très variés</p>
          <footer class="blockquote-footer">Plaine Images</footer>
        </blockquote>        
      </div>
      <div class="d-flex">
        <div class="text-info pr-2" style="font-size: 4rem;">&#8223</div>
        <blockquote class="blockquote pt-4">
          <p>Une référence dans les hologrammes et la modélisation 3D</p>
          <footer class="blockquote-footer">La Voix du Nord</footer>
        </blockquote> 
      </div>
    </div>
  </section>
  <div class="section section-white">
    <h2>L'équipe</h2>
  </div>

  <section class="section section-center ">
      <div class="content view-team text-center pt-5 row no-gutters">
        <div class="col-lg-4 col-sm-6">
          {% include components/team_member_portrait.html
            img="thibault"
            name="Thibault Guillaumont"
            title="Fondateur et président"
            url="https://www.linkedin.com/in/thibaultguillaumont/"
          %}
        </div>
        <div class="col-lg-4 col-sm-6">
          {% include components/team_member_portrait.html
            img="seb"
            name="Sebastien Dumetz"
            title="Fondateur et directeur technique"
            url="https://www.linkedin.com/in/sebastien-dumetz-67442b86/"
          %}
        </div>
        <div class="col-lg-4 col-sm-6">
          {% include components/team_member_portrait.html
            img="melissa"
            name="Mélissa Houyez"
            title="Infographiste 3D"
          %}
        </div>
        <div class="col-lg-4 col-sm-6">
          {% include components/team_member_portrait.html
            img="melissa"
            name="Mélissa Houyez"
            title="Infographiste 3D"
          %}
        </div>
        <div class="col-lg-4 col-sm-6">
          {% include components/team_member_portrait.html
            img="melissa"
            name="Mélissa Houyez"
            title="Infographiste 3D"
          %}
        </div>
      </div>
  </section>

  <section id="partners" class="section section-center">
      <h2>Nos partenaires</h2>
      <div class="content container">
        <!--<div>
          <div>Plaine Images</div>
          <div>BPI France</div>
          <div>Université de Lille</div>
          <div>HDFID</div>
          <div>Industrilab</div> 
          <div>Lilliad Learning Center</div>
          <div>French Tech</div>
          <div>Laval Virtual Center</div>
          <div>Université Polytechnique Hauts de France</div>
          <div>Université de Liège</div>
          <div>Université de Gènes DAD</div>
          <div>Musée du Quai Branly</div>
          <div>ECCL</div>
        </div>-->

        <div class="partner-slider d-flex">
          <div>
            <img class="img-fluid" alt="Plaine images" src="/static/img/front/sponsors/logo_plaine_images.png"/>
          </div>
          <div>
            <img class="img-fluid" alt="BPI France" src="/static/img/front/sponsors/logo_bpifrance.png"/>
          </div>
          <div>
            <img class="img-fluid" alt="Université de Lille" src="/static/img/front/sponsors/logo_Ulille.png"/>
          </div>
          <div>
            <img class="img-fluid" alt="HDFID" src="/static/img/front/sponsors/logo_HDFID.png"/>
          </div>
          <div>
            <img class="img-fluid" alt="Industrilab" src="/static/img/front/sponsors/logo_industrilab.png"/>
          </div>
          <div >
            <img class="img-fluid" alt="Lilliad Learning Center" src="/static/img/front/sponsors/logo_lilliad.png"/>
          </div>
          <div>
            <img class="img-fluid" alt="French Tech" src="/static/img/front/sponsors/logo_french_tech.png" />
          </div>
          <div>
            <img class="img-fluid" alt="Laval Virtual Center" src="/static/img/front/sponsors/logo_laval_virtual.png"/>
          </div>
          <div>
            <img class="img-fluid" alt="Université Polytechnique Hauts de France" src="/static/img/front/sponsors/logo_uphf.png"/>
          </div>
          <div>
            <img class="img-fluid" alt="Université de Liège" src="/static/img/front/sponsors/logo_Uliege.png"/>
          </div>
          <div>
            <img class="img-fluid" alt="Université de Gènes DAD" src="/static/img/front/sponsors/logo_Ugenova.png"/>
          </div>
          <div>
            <img class="img-fluid" alt="Musée du Quai Branly" src="/static/img/front/sponsors/logo_quai_branly.png"/>
          </div>
          <div>
            <img class="img-fluid" alt="ECCL" src="/static/img/front/sponsors/logo_ECCL.png"/>
          </div>
        </div>  
      </div>

  </section>

  <section class="section section-center">
    <h2>Nos clients</h2>
    <div class="content mb-0">
      <div id="clients" class="row mb-5">
        <ul class="col-md-4">
          <h3 class="mb-4">Construction & Industrie</h3>
          <li>Vinci Immobilier</li>
          <li>Linkcity</li>
          <li>Bouygues Immobilier</li>
          <li>ADIM</li>
          <li>Vinci Construction</li>
          <li>Nacarat</li>
          <li>Pierre de Seines</li>
          <li>Saint Quentin en Yvelinnes</li>
          <li>Egger</li>
        </ul>

        <ul class="col-md-4">
          <h3 class="mb-4">Culture et Patrimoine</h3>
          <li>Maison Fournaise</li>
          <li>Nausicaa</li>
          <li>Musée National du Sport</li>
          <li>Chateau d'Alençon</li>
          <li>Ville de Roubaix</li>
          <li>Région Hauts-de-France</li>
          <li>Pierre de Seines</li>
          <li>Saint Quentin en Yvelinnes</li>
          <li>Parlement Féderal Wallonie Bruxelles</li>
        </ul>

        <ul class="col-md-4">
          <h3 class="mb-4">Marketing Digital</h3>
          <li>NTT EUROPE</li>
          <li>Stryker</li>
          <li>Claro Automobiles</li>
          <li>CTG Luxembourg</li>
          <li>Decathlon</li>
          <li>AG2R La Mondiale</li>
          <li>Cardiff</li>
          <li>Thales</li>
          <li>BASF</li>
        </ul>
      </div>
      

    </div>

  </section>

</main>