---
layout: front_page
title: A propos
---

<main id="lentreprise" class="main-dark main-grid">
  <div class="section section-center">
    <h2 class="text-white my-5" style="font-size: 3rem">Notre entreprise</h2>
  </div>

  <section class="section">
    <div class="media">
      {% include components/medias/youtube.html embed="BxkKS4MsrIE" %}
    </div>
    <div class="content">
      <meta itemprop="logo" url="{{site.url}}/static/img/logo_holusion_web_HD.png" />
      <img class="img-fluid" style="margin:auto; display:block;" src="/static/img/logo_holusion_web_HD_texte_blanc.png" alt="logo Holusion multi résolution blanc" sizes="432px"
          srcset="/static/img/logo_holusion_web_216px_texte_blanc.png 216w, /static/img/logo_holusion_web_432px_texte_blanc.png 432w, /static/img/logo_holusion_web_SD_texte_blanc.png 720w">
      <h3 class="text-center">Spécialiste de l'affichage digital innovant</h3>

    </div>
  </section>
  <div class="section section-white">
    <h2>Notre expertise</h2> 
  </div>

  <section class="section section-center">
    <div class="content my-4">
      <p>
      Holusion est une société française, basée sur la métropole lilloise. Nous concevons, développons et commercialisons des solutions d’affichage innovantes basées sur les <b>hologrammes</b>.
      Cette illusion d'optique, communément appelée le
      <a href="../posts/2020-05-25-hologramme" title="Pepper's Ghost" target="_blank">Pepper's Ghost</a>, s'obtient grâce au reflet d'un écran sur une surface miroitée, inclinée et transparente.
      </p>
      <p>Notre technologie donne l'illusion d'un objet qui flotte dans l'air. Les images sont colorées, animées et préservent l'aspect d'origine de l'objet, le tout en HD.</p>      
    </div>

  </section>

  <section class="section left pt-4">
    {% picture grid img/sections/sketch_interactivity.png
      class="img-fluid m-auto"
      alt="Dessin du design de l'iris 75 holusion"
    %}
    <div class="cube-contain mx-auto" style="grid-area: image;">
      <div class="cube">
        <div class="cube-face cube-top"></div>
        <div class="cube-face cube-bottom"></div>
        <div class="cube-face cube-left"></div>
        <div class="cube-face cube-right"></div>
        <div class="cube-face cube-front"></div>
        <div class="cube-face cube-back"></div>
      </div>
    </div>      
    <div class="content m-auto">
      <h3>Standard et sur-mesure</h3>
      <p><b>Envie de tourner autour de l'hologramme ou de l'intégrer dans une scénographie ?</b> 
      </p>
      <p>
        Notre expertise dans la fabrication des bornes holographiques nous permet de créer <a href="/fr/products">des solutions</a> standards à une seule face ou visibles à 360°. Nous pouvons aussi réaliser des produits sur-mesure comme des <a href="/fr/posts/2020-06-15-Article_Renoir"> hologrammes à taille humaine</a>. 
      </p>
      <div class="d-flex justify-content-center mb-4">
        <a href="/fr/posts"><button class="btn btn-info image-shadow my-3">En savoir plus sur nos réalisations</button></a>
      </div>

      <h3>Des animations interactives en temps réel</h3>
      <p>En plus de l'expertise hardware, nous développons chaque jour des applications interactives pour nos clients.</p>
      <p>Ces animations ludiques permettent d'apprendre ou de découvrir des concepts différement, d'avoir une nouvelle approche des produits en points de vente ou encore de valoriser le patrimoine culturel.</p>
      <h3>De l'industrie au conseil</h3>
      <p>Holusion a une vision <b>industrielle</b> de son activité. Son ambition est de démocratiser les solutions holographiques.</p>
      <p><b>Nous accompagnons nos clients de A à Z dans leurs projets</b> afin d'obtenir une qualité irréprochable en phase avec leurs attentes.</p>
    </div>
  </section>

  <div class="section left">
    <h2>Notre histoire</h2>
  </div>

  <section class="section left section-white">
    {% picture grid img/posts/about/plaineImages.jpg
      --img class="img-fluid"
      data-noisetest="1"
      --alt Plaine Images
      --picture class="m-auto"
    %}     
    <div class="timeline content py-5">
      <span class="timeline--point rounded-circle">
        <div class="rounded-circle mx-auto"></div>
      </span>
      <h3 class="d-inline">2014 : Création</h3>
      <p>
        C’est le 6 mai 2014 que l'aventure Holusion commence. Parmi les fondateurs, Thibault Guillaumont et Sebastien Dumetz, diplômés de l’<a href="http://centralelille.fr" target="_blanc">école Centrale de Lille</a> et de l’<a href ="http://www.isen.fr/" target="_blanc">ISEN</a> prennent la direction de l'entreprise. L'accélération à la <a href="http://www.plaine-images.fr/">Plaine Images</a> met Holusion en relation avec des acteurs de l'innovation et de la créativité digitale.
      </p>
      <span class="timeline--point rounded-circle">
        <div class="rounded-circle mx-auto"></div>
      </span>
      <h3 class="d-inline">2016 : Au coeur de la French Tech</h3>
      <p>
        La région des Hauts-de-France valorise et aide au développement des nouvelles technologies.
        Cet écosystème fructueux se concrétise avec l'obtention du label <a href="http://www.lafrenchtech.com">“Lille is French Tech”</a>.
      </p>
      <span class="timeline--point rounded-circle">
        <div class="rounded-circle mx-auto"></div>
      </span>
      <h3 class="d-inline">2018 : BIM & Musées</h3>
      <p>
        L'entreprise lance successivement deux solutions de présentation holographiques. L'utilisation d'hologrammes interactifs pour le monde de la culture et du patrimoine avec <a href="../posts/2019-02-15-holomouseio.html">Holomouseio</a> et la présentation de maquettes numériques XXL avec Bouygues, Nacarat et Vinci sur l'<a href="../products/iris75.html">Iris75</a>
      </p>
      <span class="timeline--point rounded-circle">
        <div class="rounded-circle mx-auto"></div>
      </span>
      <h3 class="d-inline">2020 : Développement international</h3>
      <p>
        De nouveaux projets d'hologrammes continuent à se mettre en place dans des musées et entreprises en France, mais aussi à l'étranger. Nos bornes holographiques s'exportent et nous montons des partenariat internationaux comme avec l'Université de Gènes en Italie sur l'architecture ou celle de Liège en Belgique sur les <a href="../posts/2019-12-01-RECON.html">techniques de numérisation</a>.
      </p>
    </div>
  </section>

  <section class="section section-center">
    <h2>Nos valeurs</h2>
    <div class="content">
      <div class="section-center--header d-flex">
        {% picture img/sections/icone_french.png
          --img class="section-center--icon p-3"
          style="width:120px"
          --alt icone french
        %}
        <h3 class="my-auto">Mettre en avant l'écosystème digital français</h3>
      </div>
      <p>
        Notre première ambition a toujours été d'ancrer nos solutions sur le territoire français. Avec nos produits <i>Made in France</i>, nous nous plaçons au coeur de la dynamique <i>French Tech</i>.
        Nos fournisseurs viennent essentiellement de la région Hauts-de-France et les bornes holographiques sont assemblées directement au siège, à Roubaix. La proximité avec notre réseau d'approvisionnement permet notamment d'être très réactif dans la gestion de nos projets.
      </p>
      <div class="section-center--header d-flex">
        {% picture img/sections/icone_patrimoine.png
          --img class="section-center--icon p-3"
          style="width:120px"
          --alt icone patrimoine
        %}
        <h3 class="my-auto">Valoriser le patrimoine culturel</h3>
      </div>
      <p>En tant que partenaire <a href="http://www.museomix.org/" target="_blanc">Museomix</a>, nous faisons partie d'une communauté de passionnés de culture, de technologies, d’innovation qui partagent une vision d’un musée ouvert, connecté et participatif. Ainsi, nous aidons à mettre en place les 3 jours de "marathon créatif" qui ont lieu début novembre.</p>
      <div class="section-center--header d-flex">
        {% picture img/sections/icone_open_source.png
          --img class="section-center--icon p-3"
          style="width:120px"
          --alt icone open source
        %}
        <h3 class="my-auto">La philosophie open source</h3>
      </div>
      <p>Holusion s'engage pour le développement de <a href="https://www.gnu.org/philosophy/floss-and-foss.fr.html">logiciels libres ou Open Source</a>. Pour cela, nous participons à l'amélioration des logiciels que nous utilisons, nous créons de nouveaux outils et nous les rendons <a href="https://github.com/Holusion">disponibles</a> pour la communauté. Nous encourageons nos collaborateurs à contribuer à cet écosystème du logiciel libre.</p>
      <p>Nous pensons que le libre accès des utilisateurs (particuliers ou entreprises) aux logiciels, doit être conservé. Chaque projet mené respecte cette <a href="https://www.gnu.org/philosophy/free-sw.html">liberté essentielle</a> des utilisateurs.</p>
      <p>Une plateforme regroupant nos <a href="/dev/fr/">ressources techniques</a> vous donne toutes les clés pour créer vos propres hologrammes et animations.</p>        
    </div>    
    </div>
  </section>

  <section class="section">
    <img alt="Imaginarium Plaine Images" class="img-fluid cover mx-auto" style="max-height: 600px; object-position: 0 15%;" src="/static/img/products/plaineimages.jpg"/>
    <div class="content">
      <h2>Ils l'ont dit</h2>
      <div class="d-flex">
        <div class="text-info pr-2" style="font-size: 4rem;">&#8223</div>
        <blockquote class="blockquote pt-4">
          <p>C'est une meilleure façon de voir les choses parce que la 3D remplace la 2D</p>
          <footer class="blockquote-footer">Tek Syndicate, VivaTech 2016</footer>
        </blockquote>        
      </div>
      <div class="d-flex">
        <div class="text-info pr-2" style="font-size: 4rem;">&#8223</div>
        <blockquote class="blockquote pt-4">
          <p>Chacun peut créer et développer ses applications pour des usages très variés</p>
          <footer class="blockquote-footer">Plaine Images</footer>
        </blockquote>        
      </div>
      <div class="d-flex">
        <div class="text-info pr-2" style="font-size: 4rem;">&#8223</div>
        <blockquote class="blockquote pt-4">
          <p>Une référence dans les hologrammes et la modélisation 3D</p>
          <footer class="blockquote-footer">La Voix du Nord</footer>
        </blockquote> 
      </div>
    </div>
  </section>
  <div class="section section-white">
    <h2>L'équipe</h2>
  </div>

  <section class="section section-center ">
      <div class="content view-team text-center pt-5 row g-0 d-flex justify-content-center">
        <div class="col-lg-4 col-sm-6">
          {% include components/team_member_portrait.html
            img="thibault"
            name="Thibault Guillaumont"
            title="Fondateur et président"
            url="https://www.linkedin.com/in/thibaultguillaumont/"
          %}
        </div>
        <div class="col-lg-4 col-sm-6">
          {% include components/team_member_portrait.html
            img="seb"
            name="Sebastien Dumetz"
            title="Fondateur et directeur technique"
            url="https://www.linkedin.com/in/sebastien-dumetz-67442b86/"
          %}
        </div>
        <div class="col-lg-4 col-sm-6">
          {% include components/team_member_portrait.html
            img="melissa"
            name="Mélissa Houyez"
            title="Infographiste 3D"
          %}
        </div>
        <div class="col-lg-4 col-sm-6">
          {% include components/team_member_portrait.html
            img="maria"
            name="Maria Quiroga"
            title="Chargée de projets"
            url="https://www.linkedin.com/in/maria-jos%C3%A9-q-ab9aa3123/"
          %}
        </div>
        <div class="col-lg-4 col-sm-6">
          {% include components/team_member_portrait.html
            img="sarah"
            name="Sarah Menouar"
            title="Développeuse"
          %}
        </div>
      </div>
  </section>

  <section id="partners" class="section section-center">
      <h2>Nos partenaires</h2>
      <div class="content">
        <div class="d-flex flex-wrap justify-content-center">
          <a href="https://www.plaine-images.fr/"><img alt="Plaine images" src="/static/img/front/sponsors/logo_plaine_images.png"/></a>
          <a href="https://www.bpifrance.fr/"><img alt="BPI France" src="/static/img/front/sponsors/logo_bpifrance.png"/></a>
          <a href="https://www.univ-lille.fr/"><img alt="Université de Lille" src="/static/img/front/sponsors/logo_Ulille.png"/></a>
          <a href="https://www.hautsdefrance-id.fr/"><img alt="HDFID" src="/static/img/front/sponsors/logo_HDFID.png"/></a>
          <a href="https://www.industrilab.fr/"><img alt="Industrilab" src="/static/img/front/sponsors/logo_industrilab.png"/></a>
          <a href="https://lilliad.univ-lille.fr/"><img alt="Lilliad Learning Center" src="/static/img/front/sponsors/logo_lilliad.png"/></a>
          <a href="https://lafrenchtech.com/fr/"><img alt="French Tech" src="/static/img/front/sponsors/logo_french_tech.png" /></a>
          <a href="https://www.laval-virtual.com/fr/accueil/"><img alt="Laval Virtual Center" src="/static/img/front/sponsors/logo_laval_virtual.png"/></a>
          <a href="https://www.uphf.fr/"><img alt="Université Polytechnique Hauts de France" src="/static/img/front/sponsors/logo_uphf.png"/></a>
          <a href="https://www.uliege.be/"><img alt="Université de Liège" src="/static/img/front/sponsors/logo_Uliege.png"/></a>
          <a href="https://architettura.unige.it/"><img alt="Université de Gènes DAD" src="/static/img/front/sponsors/logo_Ugenova.png"/></a>
          <a href="https://www.quaibranly.fr/"><img alt="Musée du Quai Branly" src="/static/img/front/sponsors/logo_quai_branly.png"/></a>
          <a href="https://www.eccl.lu/"><img alt="ECCL" src="/static/img/front/sponsors/logo_ECCL.png"/></a>
        </div> 
      </div>
  </section>

  <section class="section section-center">
    <h2>Nos clients</h2>
    <div class="content mb-0">
      <div id="clients" class="row mb-5">

        <ul class="col-lg-4">
          <h3 class="mb-4">Construction & Industry</h3>
          <li><a href="/fr/posts/2017-11-13-le_31_en_hologramme">Vinci Immobilier</a></li>
          <li><a href="https://www.linkcity.com/">Linkcity</a></li>
          <li><a href="/fr/posts/2018-06-04-Viva_Technology_2018">Bouygues Immobilier</a></li>
          <li><a href="https://www.adim.fr/">ADIM</a></li>
          <li><a href="/fr/posts/2017-11-13-le_31_en_hologramme">Vinci Construction</a></li>
          <li><a href="/fr/posts/2019-07-01-SHAKE">Nacarat</a></li>
          <li><a href="/fr/posts/2021-02-18-PierreDeSeine">Pierre de Seine</a></li>
          <li><a href="https://www.saint-quentin-en-yvelines.fr/fr">Saint Quentin en Yvelines</a></li>
          <li><a href="https://www.egger.com/shop/fr_FR/">Egger</a></li>
        </ul>

        <ul class="col-lg-4">
          <h3 class="mb-4">Cultural Heritage & Museums</h3>
          <li><a href="/fr/posts/2020-06-15-Article_Renoir">Maison Fournaise</a></li>
          <li><a href="/fr/posts/2016-06-30-nausicaa">Nausicaa</a></li>
          <li><a href="/fr/posts/2020-02-26-Musee-du-Sport">Musée National du Sport</a></li> 
          <li><a href="/fr/posts/2020-07-21-Article_Alencon">Chateau d'Alençon</a></li>
          <li><a href="/fr/posts/2018-11-01-CaTisseFactory">Ville de Roubaix</a></li>
          <li><a href="/fr/posts/2017-10-03-ALL">Région Hauts-de-France</a></li>
          <li><a href="/fr/posts/2021-02-18-PierreDeSeine">Pierre de Seine</a></li>
          <li><a href="https://www.saint-quentin-en-yvelines.fr/fr">Saint Quentin en Yvelines</a></li>
          <li><a href="https://www.belgium.be/fr/la_belgique/pouvoirs_publics/autorites_federales/parlement_federal">Parlement Féderal Wallonie Bruxelles</a></li>
        </ul>

        <ul class="col-lg-4">
          <h3 class="mb-4">Marketing</h3>
          <li><a href="https://services.global.ntt/">NTT EUROPE</a></li>
          <li>Stryker</li>
          <li><a href="/fr/posts/2021-02-17-Mokka">Claro Automobiles</a></li>
          <li><a href="/fr/posts/2018-03-20-CTG-iris75"></a>CTG Luxembourg</a></li>
          <li><a href="/fr/posts/2020-11-16-Oxelo">Decathlon</a></li>
          <li><a href=" https://www.ag2rlamondiale.fr/">AG2R La Mondiale</a></li>
          <li>Cardiff</li>
          <li><a href="/fr/posts/2017-06-23-Salon_du_bourget_Thales">Thales</a></li>
          <li><a href="https://www.agro.basf.fr/fr/">BASF</a></li>
        </ul>
      </div>

    </div>
  </section>

</main>