---
  title: Content Creation
  lang: en
---
<h2> Create and distribute your content</h2>
<p>
  Design your holograms with your own tools, adding just a bit of custom process. Using industry standard solutions, our documentation will enable you to create high-end digital content.
</p>


<div class="row">
  <div class="col-lg-6 col-12">
    <h2> Introduction </h2>
    <p>Here is a video to learn in a nutshell :</p>
    <ul>
      <li>How to recognize a subject that will make for a great hologram</li>
      <li>DO and DON'T of hologram creation</li>
      <li>How to frame your content for best effect</li>
    </ul>
  </div>
  <div class="col-lg-6 col-12">
    {% include components/medias/youtube.html  embed="l-0kverv6OA" %}
  </div>
</div>

<p>
  Each product has its own resolution and content format. It's important to learn them beforehand for best effect.
  <br>
  Your product's <a href="/">user Manual<sup style="color:red;font-weight:bold">[ref needed]</sup></a> is the go-to reference for this and should contain all the technical data required.
  Our base <a href="/">templates<sup style="color:red;font-weight:bold">[ref needed]</sup></a> will abstract away much of this though. They will allow you to create perfectly fitted content in no time.
</p>
<p>
  Templates are provided for designers using <b>Adobe Creative Suite</b>, 3D artists on <b>Blender</b>, Developpers on <b>Unity3D</b> and then some...
</p>

{% include lists/section_thumbnails.html section=page.title %}
