
<div id="iframe" class=" ratio ratio-16x9 overflow-hidden w-100 bg-white" style="min-height: 50vh; max-height: 100vh;">
  <div id="dgoc-placeholder" data-id="{{include.id}}" class="d-block" style="padding-top: 141%"></div>
  <script>
    const parent = document.currentScript.parentElement;
    const id = "{{include.id}}";
    
    let t = "https://docs.google.com/document/d/"+id+"/export?format=pdf";
    
    const spinner = document.createElement("DIV");
    spinner.className = "spinner-border text-primary";
    Object.assign(spinner.style, {
      position: "absolute",
      top: "50%",
      marginTop:"-1rem",
      marginLeft: "-1rem",
      width: "2rem",
      height: "2rem",
      left: "50%",
    });
    spinner.role="status";
    spinner.innerHTML = '<span class="visually-hidden">Loading...</span>';
    parent.appendChild(spinner);
    
    fetch(t).then(res=>{
      if(!res.ok){
        throw new Error("Request to doc "+id+" failed with status : "+res.statusText);
      }
      return res.blob();
    }).then(blob=>{
      const url = URL.createObjectURL(blob);
      const i = document.createElement("IFRAME");
      i.src = url;
      parent.appendChild(i);
      i.contentWindow.onload = function() {
        this.document.getElementsByTagName("img")[0].style.width="100%";
      };
      console.log(i)
      
      //parent.getElementsByTagName("img")[0].style.width="100%"   
    })
    .catch(e=>{
        let error = document.createElement("DIV");
        error.className="bg-white text-dark";
        error.innerHTML = e.message;
        Object.assign(error.style, {
          position: "absolute",
          top: 0,
        });
        parent.appendChild(error);
    })
    .then(()=> {
      parent.removeChild(spinner);
    });
  </script>
</div>