{% assign section_pages = site.pages | where: "dir", page.dir | sort: "title" %}
<div class="row g-0">
  {% for p in section_pages %}
    {% unless p.url == page.url %}
    <a href="{{ p.url }}" class="dark-card col-xl-4 col-lg-4 col-sm-6 col-12 py-3 px-sm-2">
      <div class="card-header">
        {% picture card "{{ p.image }}"
          --img title="{{ p.title }}"
          --alt {{ p.description | normalize_whitespace | escape }}
        %}
      </div>
      <div class="card-body">
        <h2 class="text-white mb-1">{{ p.title }}</h2>
        <p>{{ p.abstract }}</p>
        <div class="text-end link-secondary">
          {{ p.action | default: site.data.strings["read-more"][page.lang] }}
        </div>
      </div>
    </a>
    {% endunless %}
  {% endfor %}
</div>
