{% for section in site.data.store.sections %}
  {% assign items =  site.store_items[page.lang] | where: "category", section.name %}
  <h3 class="">
    {{section[page.lang]}}
  </h3>
  <div class="row g-0">
    {% for item in items %}
      <div data-test="store-item-card" class="store-card dark-card col-xl-4 col-lg-4 col-sm-6 col-12 py-3 px-sm-2">
        <a href="{{item.url}}">
          {%- if item.image contains "static" -%}
          <img data-deprecated="static-card" src="{{item.image|default: "/static/img/posts/default.jpg"}}"
              {% if content.image2x %} srcset="{{item.image2x}} 800w, {{item.image}} 400w" {% endif %} alt="{{item.description | normalize_whitespace | escape}}" sizes="(min-width: 1200px) 25vw, (min-width: 992px) 33vw, (min-width:768px) 50vw, 100vw">
          {%- else -%}
            {% picture card "{{item.image}}"
              --img title="{{item.title}}"
              --alt  {{item.description | normalize_whitespace | escape}}
            %}
          {%- endif -%}
        </a>
        <h2 class="text-white mb-1">{{ item.title }}</h2>
        {%if item.price %}
          <h4>{{ item.price }} € <span >HT</span></h4>
        {%endif%}
        <p>{{ item.abstract }}</p> 
        <a class="m-auto btn btn-info text-white" href="{{item.url}}">
          {{item.action| default:site.data.strings["read-more"][page.lang] }}
        </a>
      </div>
    {% endfor %}
  </div>
{% endfor %}