{% include utils/lang.html %}
{% assign p_data = include.data %}
<a style="display:inline-block;" class="button button-blue snipcart-add-item"
{%comment%}prop[0] contains the key, props[1] the value{%endcomment%}
{% for prop_hash in p_data.properties %}
  {% for prop in prop_hash %}
  data-item-{{ prop[0] }}="{{ prop[1] }}"
  {% endfor %}
{% endfor %}
data-item-price="{{p_data.price}}"
data-item-name="{{p_data.title}}"
data-item-image="{{p_data.img | absolute_url }}"
data-item-url="{{p_data.url | absolute_url  }}"
data-item-description="{{p_data.abstract}}"
>
  {% icon icon-add-cart size=24 %}
</a>
