<div class="product">
  <a class="button-fab button-blue snipcart-add-item"
    data-item-name="pixel"
    data-item-id="1"
    data-item-image="{{site.url}}/static/img/products/pixel_fleur_2.jpg"
    data-item-url="{{site.url}}/fr/products/pixel"
    data-item-price="4.00"
    data-item-quantity="1"
    data-item-weight="10"
    data-item-width=""
    data-item-length=""
    data-item-height=""
    data-item-max-quantity="100"
    data-item-description="{{include.description}}"
  >
    {% icon icon-add-cart size=40 style="padding-top:15px;" %}
  </a>
</div>
