<div class="product">
  <a class="button-fab button-blue snipcart-add-item"
    data-item-name="pixel"
    data-item-id="1"
    data-item-image="/static/img/products/pixel_fleur_2.jpg"
    data-item-url="{{site.url}}/fr/products/pixel"
    data-item-price="4.00"
    data-item-quantity="1"
    data-item-max-quantity="100"
    data-item-description="{{include.description}}"
  >
    <svg style="padding-top:15px" fill="#ffffff" height="40" viewBox="0 0 24 24" width="40">
      <use xlink:href="/static/icons-combined.svg#icon-add-cart"></use>
    </svg>
  </a>
</div>
