

{% for p_data in include.data %}
<div class="col-lg-4 col-sm-6">
<div class="shop-product" id="{{p_data.name  | uri_escape }}">
  <div class="product-head"><h2>{{p_data.name}}</h2></div>
  <div class="product-img" style='
    background:url("{{p_data.img}}") center/contain no-repeat'>
  </div>
  <div class="product-add-to-cart">
    <span>
      {{site.data.strings.store-unit-price[page.lang]}} :
      <span class="product-price">{{p_data.price}}€</span>
    </span>
    <a style="display:inline-block;" class="button button-blue snipcart-add-item"
    {%comment%}prop[0] contains the key, props[1] the value{%endcomment%}
    {% for prop_hash in p_data.properties %}
      {% for prop in prop_hash %}
      data-item-{{ prop[0] }}="{{ prop[1] }}"
      {% endfor %}
    {% endfor %}
    data-item-price="{{p_data.price}}"
    data-item-name="{{p_data.name}}"
    data-item-image="{{site.url}}/{{p_data.img}}"
    data-item-url="{{site.url}}/{{page.lang}}/{{p_data.url}}"
    data-item-description="{{p_data.description[page.lang]}}"
    >
      {% svg src/pictos/icons/icon-add-cart.svg width=24 %}
    </a>
  </div>
  <div class="product-descript">
    {{p_data.description[page.lang] | markdownify }}
  </div>

  <div class="product-icons" >
    {% for icon in p_data.icons %}
      {% svg "src/pictos/produits/{{icon}}.svg" width=50 %}
    {% endfor %}
  </div>

  <div class="product-read-more">
    <a style="float:right;height:100%;" onclick='activate.apply(this)'>
      {{site.data.strings.read-more[page.lang]}} &gt;
    </a>
  </div>

</div>
</div>
{% endfor %}
<script defer>
//No product will be dynamically added
var products = document.querySelectorAll("DIV.shop-product");
function activate(){
  console.log(this);
  var parent = this.parentNode.parentNode;
  for(var i=0;i<products.length;i++){
    if (products[i].id == parent.id){
      products[i].classList.add("active");
      products[i].parentNode.className = "col-md-12";
    }else{
      products[i].classList.remove("active");
      products[i].parentNode.className = "col-lg-4 col-sm-6";
    }
  }

}
</script>
