{% include utils/lang.html %}
{% assign p_data = include.data %}
<div class="product">
  <div style="width:100%"><h2>{{p_data.name}}</h2></div>
  <div style='min-width:100px;height:120px;flex-grow:1;background:url("{{p_data.img}}") center/contain no-repeat'>
  </div>
  <div style="min-width:250px;flex-grow:2;height:90px;padding:5px;position:relative;">
    <p>{{p_data.description}}</p>
    <a style="position:absolute;right:5px;bottom:0;" href="{{p_data.url}}">{{site.data.strings.read-more[lang]}} &gt;</a>

  </div>
  <div style="min-width:50px;flex-grow:1;display:flex;align-items:center;">
    <div style="max-width:120px">
      {% for icon in p_data.icons %}
        {% assign icon_name="" %}
        {% capture icon_name %}src/pictos/produits/{{icon}}.svg {%endcapture%}
        {% svg icon_name size=50 %}
      {% endfor %}
    </div>

  </div>
  <div class="product-price" style="min-width:30px;flex-grow:1;text-align:center;">
    {{p_data.price}}€
  </div>
  <div style="min-width:70px;flex-grow:1;text-align:center;">
    <a style="margin:15px;display:inline-block;" class="button button-fab button-blue snipcart-add-item"
    {%comment%}prop[0] contains the key, props[1] the value{%endcomment%}
    {% for prop_hash in p_data.properties %}
      {% for prop in prop_hash %}
      data-item-{{ prop[0] }}="{{ prop[1] }}"
      {% endfor %}
    {% endfor %}
    data-item-price="{{p_data.price}}"
    data-item-name="{{p_data.name}}"
    data-item-image="{{site.url}}/{{p_data.img}}"
    data-item-url="{{site.url}}/{{p_data.url}}"
    data-item-description="{{p_data.description}}"
    >
      {% icon icon-add-cart size=40 style="padding-top:15px;" %}
    </a>
  </div>
</div>
