---
abstract: holographic displays and solutions
layout: front_page
scripts:
  - /static/js/observer.js
---

<main class="main-grid main-dark">
  <section class="section section-center">
    <h2 class="text-white my-5" style="font-size: 3rem">Our products</h2>
  </section>
  <section class="section">
    {% picture grid img/sections/st_omer.jpg
      --img class="cover"
      data-noisetest="1"
      style="object-position: 70% 0"
      --alt Hologramme St Omer (France)
    %}
    <div class="content">
      <h2>The innovative digital display</h2>
      <p>
        Holusion designs and develops innovative display solutions. Manufactured in France, these augmented reality solutions take place in your world to enhance your products and business. Let yourself be seduced by the hologram and the transparent screen, two interactive expertises that will create a new experience around your brand.
      </p>
      <p>
        Except where otherwise specified, our products are available for sale or rent from 24h to 24 months. Please contact us to get a quote for your project.
      </p>
    </div>
  </section>

  <section class="section section-white">
    <h2>All our solutions</h2>
  </section>  
  <section class="section left text-left">
    <div class="fixed-background">
      <div class="sticky-content">
        <div class="slides">
          {% picture grid "img/sections/slide_produit_background.png"
          --img data-slides="0-5"
          --alt shadow
          %}
          {% picture grid "img/sections/slide_produit_iris22.png"
          --img data-slides="0"
          --alt iris 22 sketch
          %}
          {% picture grid "img/sections/slide_produit_iris32.png"
          --img data-slides="1"
          --alt iris 32 sketch
          %}
          {% picture grid "img/sections/slide_produit_iris46.png"
          --img data-slides="2"
          --alt iris 46 sketch
          %}
          {% picture grid "img/sections/slide_produit_iris75.png"
          --img data-slides="3"
          --alt iris 75 sketch
          %}
          {% picture grid "img/sections/slide_produit_pixel.png"
          --img data-slides="4-5"
          --alt Mini pyramid for smartphones sketch
          %}
          {% picture grid "img/sections/slide_produit_foreground.png"
          --img data-slides="0-5"
          --alt sketch of an woman and a plant
          %}
        </div> 
      </div>
    </div>
    <div class="slide content">
      <div class="my-5" style="margin-top: 0;">
        <div>
          <h2>Iris 22</h2>  
        </div>
        {% picture grid "img/products/iris_22_2019.jpg"
        --img class="img-fluid my-4"
        --alt Picture of an iris 22 
        %}
        <div>
          <p>22 inches holographic showcase.</p>
          <p>The Iris 22 holographic display provides <b>visibility</b> to your products and projects in high-definition <b>in an optimized room.</b></p>
          <p>With its easy content management and interactivity, the Iris 22 becomes the most appropriate tool for <b>corporate presentation or education</b></p>
          <h4 class="text-right text-secondary">2 000 € ex. VAT</h4>
          <p class="text-right" style="font-size: 0.7rem">Recommended public price. Available for rent</p>
          <p class="text-center pt-4"><a href="/en/products/iris22"> <button class="btn btn-info">read more</button> </a></p>          
        </div>
      </div>
      <div>
        <h2>Iris 32</h2>
        {% picture grid "img/products/iris32_museum.jpg"
        --img class="img-fluid my-4"
        --alt Picture of an iris 32
        %}
        <p>32 inches holographic showcase.</p>
        <p>The Iris 32 is our best offer for <b>high impact with limited room.</b></p>
        <p>Its high luminosity and graphical performances make it a powerful tool in an exhibition, a point of sale or a museum.</p>
        <h4 class="text-right text-secondary">4 500 € ex. VAT</h4>
        <p class="text-right" style="font-size: 0.7rem">Recommended public price. Available for rent</p>
        <p class="text-center pt-4"><a href="/en/products/iris32"> <button class="btn btn-info">read more</button> </a></p>
      </div>
      <div>
        <h2>Iris 46</h2>
        {% picture grid "img/products/iris46_archi.jpg"
        --img class="img-fluid my-4"
        --alt Picture of an iris 46
        %}
        <p>46 inches holographic showcase.</p>
        <p>The Iris 46 holographic display provides <b>impact</b> to your products and projects thanks to its wide holographic showcase in high-definition.</p>
        <p>Its high lumosity and higher graphical qualities makes it a powertool for real-estate presentation or for creating a "Wahou Effect" in a <b>showroom</b></p>
        <h4 class="text-right text-secondary">6 500 € ex. VAT</h4>
        <p class="text-right" style="font-size: 0.7rem">Recommended public price. Available for rent</p>
        <p class="text-center p-5"><a href="/en/products/iris46"> <button class="btn btn-info">read more</button> </a></p>
      </div>
      <div>
        <h2>Iris 75</h2>
        {% picture grid "img/products/iris75_side.jpg"
        --img class="img-fluid my-4"
        --alt Picture of an iris 75
        %}
        <p>XXL Holographic display for life sized projects.</p>
        <p>The holographic display IRIS 75 is perfectly suited for presentation purposes.</p>
        <p>Give more impact to your messages and brands with this high-end holographic display and catch your public's attention.</b></p>
        <h4 class="text-right text-secondary">23 000 € ex. VAT</h4>
        <p class="text-right" style="font-size: 0.7rem">Recommended public price. Available for rent</p>
        <p class="text-center p-5"><a href="/en/products/iris75"> <button class="btn btn-info">read more</button> </a></p>
      </div>
      <div>
        <h2>Pixel</h2>
        {% picture grid "img/products/pixel_landscape.jpg"
        --img class="img-fluid my-4"
        --alt picture of a Mini pyramid for smartphones
        %}
        <p>Mini pyramid for smartphones or touch pads, a really appreciate goodie.</p>
        <p>Attractive, intriguing and innovative, this small hologram <b>transports your clients</b> in their imagination and values your brand image.</p>
        <p>Direct buy from our online store.</p>
        <h4 class="text-right text-secondary">3,33 € ex. VAT</h4>
        <p class="text-right" style="font-size: 0.7rem">Recommended public price</p>
        <p class="text-center p-5"><a href="/en/store/pixel"> <button class="btn btn-info">Online Store</button> </a></p>
      </div>
      <div>
        <h2>Custom</h2>
        {% picture grid "img/sections/cafe_design.jpg"
        --img class="img-fluid my-4"
        --alt photo
        %}
        <p>Discover our personalised consultation, that will help you setting up your innovation project.</p>
        <button class="d-block btn btn-info mt-5 mx-auto" style="cursor:pointer" onclick="displayContactForm()">Contact us</button>
      </div>
    </div>
  </section>

  <section class="section section-white left">
    <h2>Other products</h2>
  </section>
  <div class="section section-center">
    <div class="content row no-gutters my-3">
      {% for product in site.products_items[page.lang] %}
        <div class="col-xl-4 col-lg-4 col-sm-6 col-12 py-3 py-sm-3 text-center p-2 d-flex flex-column">
          <a href="{{product.url}}">
            {% picture {{ product.image }} 
            --img class="img-fluid mb-2"
            %}          
          </a>
          <h2 class="text-white mb-1">{{ product.title }}</h2>
          {%if product.price %}
            <h4 class="text-secondary">{{ product.price }} €</h4>
          {%endif%}
          <p class="text-white font-weight-light">{{ product.abstract }}</p> 
          <a class="mt-auto" href="{{product.url}}"> <button class="btn btn-info">read more</button></a>
        </div>
      {% endfor %}
    </div>
  </div>
</main>
