---
abstract: holographic displays and solutions
layout: front_page
---

<section class="title">
  <div class="container">
    <h1>
      Our solutions
    </h1>
  </div>
</section>
<div class="container">
  {% ariane %}
</div>
<div class="container">
<h1 id="main-title-1" class="rtecenter" style="padding-bottom: 30px">The innovative digital display</h1>
<p>
  Holusion designs and develops innovative display solutions. Manufactured in France, these augmented reality solutions take place in your world to enhance your products and business. Let yourself be seduced by the hologram and the transparent screen, two interactive expertises that will create a new experience around your brand.
</p>
<p>
  Except where otherwise specified, our products are available for sale or rent from 24h to 24 months. Please contact us to get a quote for your project.
</p>
</div>
<div class="container-fluid">
  <div class="row">
  {% for product in site.products_items[page.lang] %}
    {% include components/post_thumbnail.html content=product type="card" classes="col-xl-3 col-lg-4 col-sm-6 col-12 py-1 p-sm-1" %}
  {% endfor %}
  {% include components/post_thumbnail.html
    image="/static/img/misc/conception_au_marteau.jpg"
    type="card"
    classes="col-xl-3 col-lg-4 col-sm-6 col-12 py-1 p-sm-1"
    title="Custom"
    abstract="Discover our personalised consultation, that will help you setting up your innovation project."
    %}
  </div>
</div>
