---
title: Iris 22
abstract: 22 inches holographic showcase.
rank: 1
header: 1 side hologram
properties:
  options:
      transport: protection case for worldwide delivery
      NFC: contactless sensor
      Wifi: wireless connection
      Arduino : analog micro-controller

---

<div class="section section-white">
  <h2>Holographic showcase</h2>
</div>

<section class="section left text-left">
  {% picture grid "img/sections/sketch_iris22.png"
  --alt sketch of a lady looking at an iris 22
  %}
  {% picture grid "img/sections/stars.png"
  style="width: 8%; margin-right: 0px; margin-left: 60%; margin-top: 21.5%;"
  class="spin"
  --alt stars sketch
  %}
  <div class="content m-auto py-4">
    <p>The Iris 22 holographic display provides <b>visibility</b> to your products and projects in high-definition <b>in an optimized room</b>. This display, <b>highly reliable and autonomous</b>, will fit naturally in your surroundings. </p>
    <p>This holographic showcase is available for sale or rent.</p>
    <p>With its easy content management and interactivity, the Iris 22 becomes <b>the most appropriate tool</b> for corporate presentation or education.</p>
  </div>
</section>


<section class="section section-white">
  <h2>Take the lead</h2>
  <div class="media">
    {% include components/medias/youtube.html  embed="97usClzj2_c" %}
  </div>
 
  <div class="content">
    <div class="my-5">
      <p>
        The Iris 22 is our best offer for high impact with limited room.
        Its high luminosity and graphical performances make it a powerful tool in <b>an exhibition, a point of sale or a museum</b>.
      </p>
      <p>This is why our customers trust us for their key project, such as Krysta, for presenting their <a href="/en/posts/2017-01-28-arc_france" target="_blank">crystal glasses</a> using holographic mapping on real glasses.
      </p>
      <div class="d-flex justify-content-center">
        <a href="/en/posts/2017-01-28-arc_france"><button class="btn btn-info my-3">Show more</button></a>
      </div>
    </div>
  </div>
</section>

<section class="section section-center">
  <h2></h2>
  <div class="content">
    <h2 class="py-5">Objects' mapping</h2>
    <div class="row">
      <div class="col-md-6">
        {% include components/medias/youtube.html embed="-Aa8mPy0iBU" %}
      </div>
      <div class="col-md-6 m-auto">
        <p>
          Your product will be as one with the hologram.
          Positioned inside of the showcase, a <b>video mapping</b> appears on the product to inhance it and display complementary information.
          Customization, content enrichment, holographic animation are some of the tools you can use to <b>better</b> showcase your products.</p>
        <p class="text-center">
          <button class="btn btn-info" style="cursor:pointer" data-bs-toggle="modal" data-bs-target="#contactform-modal">Contact us</button>
        </p>
      </div>
    </div>
  </div>
</section>