---
title: Iris 32
abstract: 32 inches holographic showcase.
rank: 2
header: 1 side hologram
properties:
  display:
    brightness: 1000cd/m²
    full_display_area: 70 (H) x 39(V) cm
    contrast: "3000:1"
    resolution: "1920&times;1080"
    diagonal: 32" (16:9)
  characteristics:
    size: 82(L) x 68(l) x 51(h) cm
    weight: 35 kg
    power: 80W
  computing:
    cpu: INTEL Atom J1900
  options:
      transport: protection case for worldwide delivery
      NFC: contactless sensor
      Wifi: wireless connection
      Arduino : analog micro-controller

---



<section class="section section-main-header header-fill">
  {%include components/header_image.html image="img/products/iris32_quartz.jpg" alt="L'iris 32 en présentation d'hologrammes d'objets précieux" %}
  <div class="main-header-body">
    <div class="content shadow rounded bg-white rounded p-md-4">
      <h2>Holographic Showcase</h2>
      <p>The Iris 32 holographic display provides <b>visibility</b> to your products and projects thanks to its wide holographic showcase in high-definition. This display, <b>highly reliable and autonomous</b>, will fit naturally in your surroundings. </p>
      <p>This holographic showcase is available for sale or rent.</p>
      <p>With its easy content management and interactivity, the Iris 32 becomes <b>the most appropriate tool </b> for corporate presentations or education</p>
    </div>
  </div>
</section>



<section class="section section-main-header  header-fill py-4">
  {%include components/header_image.html image="img/products/iris32_archeo.jpg" alt="The Iris32 is very bright and well adapted for your 3D objects presentation" %}
  <div class="main-header-body container">
    <div class="content shadow rounded bg-white p-4">
      <h2 class="text-center">Take the lead</h2>
      <div class="row">
        <div class="col-12 col-md-6">
          <p>
            The Iris 32 is our best offer for high impact with limited room.
            Its high luminosity and graphical performances make it a powerful tool in <b>an exhibition, a point of sale or a museum</b>.</p>
            <p>This is why our customers trust us for their key project, such as <a href="https://www.nausicaa.co.uk/" target="_blank">Nausicaa</a>, largest aquarium in Europe, for presenting fishes from the deep sea or an enginnering school new buildings at  <a href="https://twitter.com/AlesMyriapolis/status/1004752792156860417" target="_blank">Mines d'Ales</a> to present their new buildings.</p>
        </div>
        <div class="col">
          {% include components/medias/youtube.html  embed="9fYR-hXUyHc" %}
        </div>
      </div>
    </div>
  </div>
</section>



<section id="section-gamme" class="section-tile">
  <div class="tile-image-wrapper">
    {% include components/medias/youtube.html embed="h2PtmAhlp2A" %}
  </div>
  <div class="tile-body tile-body--main">
    <h2>Objects' mapping</h2>
    <p>
      Your product will be as one with the hologram.
      Positioned inside of the showcase, a <b>video mapping<b> appears on the product to inhance it and display complementary information.
      Customization, content enrichment, holographic animation are some of the tools you can use to better showcase your products</p>
  </div>
</section>


<div align="center" class="p-4">
  {% picture container img/products/mesures/Iris32.png
    --img class="img-fluid"
    style="padding-top: 40px; padding-bottom: 10px;"
    --alt  Schematic representation and dimensions of holusion's iris 32
  %}
  <h3> <b>Iris 32</b> </h3>
</div>
