---
abstract: XXL Holographic display for life sized projects.
header: Holographic showcase
rank : 4
properties:
characteristics:
power: 650W (screen)
computing:
cpu: project-dependant
---

<section class="section section-main-header header-fill">
  {%include components/header_image.html image="img/products/iris75_chaufferie.jpg" alt="Outside photo of the Iris 75 with an hologram in broad daylight " %}

  <div class="main-header-body body-right">
    <div class="content shadow rounded bg-white rounded p-md-4">
      <h2 style="padding-top: 30px">Impacting</h2>
      <p>
        The holographic display <b>IRIS 75</b> is perfectly suited for presentation purposes.
        This giant hologram is <b>2 meters wide</b> and 1,60 meter high.
        It is powered by an Ultra HD monitor, displaying <b>4K</b> images with high quality and fidelity.
        Give more impact to your messages and brands with this <b>high-end holographic display</b> and catch your public's attention.
      </p>
      <p>It is available worldwide to buy or to rent.</p>
    </div>
  </div>
</section>


<section class="section section-main-header  header-fill py-4">
  {%include components/header_image.html image="img/products/iris75_exterieur_BIM_1080p.jpg" alt="The largest Iris in broad daylight showing its full potential in high brightness situations" %}
  <div class="main-header-body container">
    <div class="content shadow rounded bg-white py-4">
      <div class="row">
        <div class="col-12 col-md-6 p-4">
          <h2>Bright</h2>
          <p>
            The Iris 75" is fitted with a <b>very high brightness</b> screen to be able to display high quality holograms even in outdoor venues.
          </p>

        </div>
        <div class="col p-4">
          {% include components/medias/youtube.html  embed="yfrcDO1Nlwk" %}
        </div>
      </div>
    </div>
  </div>
</section>


<section id="section-gamme" class="row no-gutters p-4">
  <div class="col-lg-6 col-12 order-1 order-lg-2 p-4">
    {% include components/medias/youtube.html embed="oqddzF35d9w" %}
  </div>
  <div class="col-lg-6 col-12 order-2 order-lg-1 p-4 px-md-2">
    <h2>Modular</h2>
    <p>The Iris 75" is customizable by design and can be set-up as a landscape or portrait display.</p>
    <p>Make it visually distinctive with a wide variety of finish, from the integrable raw metal structure to textile or rigid covers, use the whole surface as an additional display area</p>
  </div>
</section>



</section>

<section class="section section-main-header header-fill py-4">

  <div class="main-header-image-wrapper">
    {% picture  img/posts/2019_Nacarat/iris75_rendu_shake.jpg
      
      
      
      sizes="100vw"
      class="img-fluid"
      alt="Iris 75 hologram"
      %}
    </div>

    <div class="main-header-body container jumbotron bg-white shadow my-4">

      <div id="section-gamme" class="row no-gutters p-4">
        <div class="col-lg-6 col-12">
          {% picture img/products/mesures/Iris75.png
            
            
            sizes="(max-width: 992px) 100vw, 50vw"
            --img class="img-fluid"
            alt="Dimension schematics of a 75 inches iris"
            %}
          </div>
          <div class="col-lg-6 col-12 p-4 px-md-2">
            <h2>Precise</h2>
            <p>Its size and quality give you the opportunity to display content with <b>precision</b>. Don't let any detail left on technical ou educative presentations. <a href="/en/usages/bim">Real-estate</a> is a major player for this technology as it allows them to display 3D model of building very easily</p>
          </div>
        </div>
        <div id="section-gamme" class="row no-gutters p-4 px-md-4">
          <div class="col-lg-6 col-12">
            <h2>Orientable</h2>
            <p>
              Chose the orientation of your Iris 75". <b>Horizontal</b> for official inauguration of your buildings or your last innovation institutional presentation, <b>vertical</b> for presenting a real sized person making a speech or for your event welcoming, opt for the well adapted configuration.
            </p>
          </div>
          <div class="col-lg-6 col-12">
            {% picture img/products/mesures/Iris75V.png
              
              
              sizes="(max-width: 992px) 100vw, 50vw"
              --img class="img-fluid"
              --alt  Dimensions schematics of a vertical 75 inches Iris
              %}
            </div>
          </div>
        </div>
      </section>

      <section class="section section-main-header  header-fill py-4">
        {%include components/header_image.html image="img/products/iris75_exterieur_BIM_detail_1440p.jpg" alt="L'iris grand format en plein jour en extérieur montrant le plein potentiel de son écran très haute luminosité" %}
        <div class="main-header-body container">
          <div class="jumbotron bg-white shadow">
            <div class="center-block">
              {% picture img/products/mesures/habillage_iris75_horizontal.png class="img-fluid" %}
              <div class="text-muted text-center">
                Dimension of the covering of the Iris 75 horiztonal
              </div>
            </div>
          </div>
          </div>
      </section>
