---
title: Iris 22
image: img/products/iris_22_2019.jpg
abstract: 22 inches holographic showcase.
rank: 3
slides:
  -
    image: /static/img/products/iris_22_voiture.jpg
  -
    image: /static/img/products/iris_22_voiture_v2.jpg
header: 1 side hologram
picto: /static/img/products/picto_iris.jpg
price: "2000,00"
tags: iris
properties:
  display:
    brightness: 1600cd/m²
    full_display_area: 49 (H) x 27 (V) cm
    contrast: "3000:1"
    resolution: "1920&times;1080"
    diagonal: 22" (16:9)
  characteristics:
    size: 55(L) x 40(l) x 35(h) cm
    weight: 8 kg
    power: 60W
  options:
      transport: protection case for worldwide delivery
      NFC: contactless sensor
      Wifi: wireless connection
      Arduino : analog micro-controller

---

<section class="section section-main-header header-fill">
  {%include components/header_image.html image="img/products/iris22_presentation.jpg" alt="Présentation de l'Iris 22" %}
  <div class="main-header-body">
    <div class="content shadow rounded bg-white rounded p-md-4">
      <h2>Holographic showcase</h2>
      <p>The Iris 22 holographic display provides <b>visibility</b> to your products and projects in high-definition <b>in an optimized room</b>. This display, <b>highly reliable and autonomous</b>, will fit naturally in your surroundings. </p>
      <p>This holographic showcase is available for sale or rent.</p>
      <p>With its easy content management and interactivity, the Iris 22 becomes <b>the most appropriate tool </b> for corporate presentation or education</p>
    </div>
  </div>
</section>



<section class="section section-main-header  header-fill py-4">
  {%include components/header_image.html image="img/products/Iris22_exemple.jpg" alt="L'Iris32 est très lumineux et adéquat pour des présentation d'objets 3D" %}
  <div class="main-header-body container">
    <div class="content shadow rounded bg-white p-4">
      <h2 class="text-center">Take the lead</h2>
      <div class="row">
        <div class="col-12 col-md-6">
          <p>
            The Iris 22 is our best offer for high impact with limited room.
            Its high luminosity and graphical performances make it a powerful tool in <b>an exhibition, a point of sale or a museum</b>.</p>
            <p>This is why our customers trust us for their key project, such as Krysta, for presenting their <a href="https://holusion.com/en/posts/2017-01-28-arc_france" target="_blank">crystal glasses</a> using holographic mapping on real glasses.</p>
      </div>
        <div class="col">
          {% include components/medias/youtube.html  embed="GlQzBthx9JE" %}
        </div>
      </div>
    </div>
  </div>
</section>




<section id="section-gamme" class="section-tile">
  <div class="tile-image-wrapper">
    {% include components/medias/youtube.html  embed="-Aa8mPy0iBU" %}
  </div>
  <div class="tile-body tile-body--main">
    <h2>Objects' mapping</h2>
    <p>
      Your product will be as one with the hologram.
      Positioned inside of the showcase, a <b>video mapping<b> appears on the product to inhance it and display complementary information.
      Customization, content enrichment, holographic animation are some of the tools you can use to <b>better</b> showcase your products</p>
  </div>
</section>



<div align="center" style="padding-top: 30px">
  {%asset img/products/mesures/Iris22.png
    srcset:width="1920"
    srcset:width="960"
    class="img-fluid"
    sizes="(min-width: 1200px) 1200px, 100vw"
    style="padding-top: 40px; padding-bottom: 10px;"
    alt="Schéma de l'Iris"
  %}
  <h3> <b>L'iris 22</b> </h3>
</div>
