---
title: Iris 32
abstract: 32 inches holographic showcase.
rank: 2
header: 1 side hologram
properties:
  display:
    brightness: 1000cd/m²
    full_display_area: 70 (H) x 39(V) cm
    contrast: "3000:1"
    resolution: "1920&times;1080"
    diagonal: 32" (16:9)
  characteristics:
    size: 82(L) x 68(l) x 51(h) cm
    weight: 35 kg
    power: 80W
  computing:
    cpu: INTEL Atom J1900
  options:
      transport: protection case for worldwide delivery
      NFC: contactless sensor
      Wifi: wireless connection
      Arduino : analog micro-controller

---


<div class="section section-white">
  <h2>Holographic Showcase</h2>
</div>

<section class="section left text-left">
  {% picture grid "img/sections/sketch_iris32.png"
  --alt sketch of a lady looking at an iris 32
  %}
  {% picture grid "img/sections/stars.png"
  style="width: 10%; margin-right: 0px; margin-left: 60%; margin-top: 21.5%;"
  class="spin"
  --alt stars sketch
  %}
  <div class="content m-auto">
    <p>The Iris 32 holographic display provides <b>visibility</b> to your products and projects thanks to its wide holographic showcase in high-definition. This display, <b>highly reliable and autonomous</b>, will fit naturally in your surroundings. </p>
    <p>This holographic showcase is available for sale or rent.</p>
    <p>With its easy content management and interactivity, the Iris 32 becomes <b>the most appropriate tool </b> for corporate presentations or education.</p>
  </div>
</section>

<section class="section section-white">
  <h2>Take the lead</h2>
  <div class="media">
    {% include components/medias/youtube.html  embed="9fYR-hXUyHc" %}
  </div>
  <div class="content">
    <p>
      The Iris 32 is our best offer for high impact with limited room.
      Its high luminosity and graphical performances make it a powerful tool in <b>an exhibition, a point of sale or a museum</b>.</p>
      <p>This is why our customers trust us for their key project, such as <a href="https://www.nausicaa.co.uk/" target="_blank">Nausicaa</a>, largest aquarium in Europe, for presenting fishes from the deep sea or an enginnering school new buildings at  <a href="https://twitter.com/AlesMyriapolis/status/1004752792156860417" target="_blank">Mines d'Ales</a> to present their new buildings.</p>
</section>

<section class="section section-center">
  <h2></h2>
  <div class="content">
    <h2 class="py-5">Objects' mapping</h2>
    <div class="row">
      <div class="col-lg-6">
        {% include components/medias/youtube.html  embed="tBymyNjl8XU" %}
      </div>
      <div class="col-lg-6 m-auto">
        <p>
          Your product will be as one with the hologram.
          Positioned inside of the showcase, a <b>video mapping</b> appears on the product to inhance it and display complementary information, as for the Oxelo scooter presented at <a href="https://www.btwin-village.com/">B'Twin Village</a> in an Iris 32.
        </p>
        <div class="d-flex justify-content-center">
          <a href="/fr/posts/2020-11-16-Oxelo"><button class="btn btn-info my-3">Show more</button></a>
        </div>        
      </div>
    </div>
    <div class="pt-5 text-center">
      <p>
        Customization, content enrichment, holographic animation are some of the tools you can use to better showcase your products.
      </p>
      <p>
        <button class="btn btn-info" style="cursor:pointer" onclick="displayContactForm()">Contact us</button>
      </p>      
    </div>
  </div>
</section>




