---
title: Iris 46
image: img/products/iris46_archi.jpg
abstract: 46 inches holographic showcase.
rank: 3
header: 1 side Hologram
picto: /static/img/products/picto_iris.jpg
price: "6500,00"
tags: iris
properties:
  display:
    brightness: 1000cd/m²
    full_display_area: 101 (H) x 57(V) cm
    contrast: "3000:1"
    resolution: "3840&times;2160"
    diagonal: 46" (16:9)
  characteristics:
    size: 125(L) x 70(l) x 170(h) cm
    weight: 60 kg
    power: 80W
  computing:
    cpu: INTEL i3
  options:
    NFC: contactless sensor
    Wifi: wireless connection
    Arduino : analog micro-controller

---


<section class="section section-main-header header-fill">
  {%include components/header_image.html image="img/products/iris46_zoom.jpg" alt="L'iris 46 presenting real estate projets as holograms" %}
  <div class="main-header-body">
    <div class="content shadow rounded bg-white rounded p-md-4">
      <h2>Holographic Showcase</h2>
      <p>The Iris 46 holographic display provides <b>impact</b> to your products and projects thanks to its wide holographic showcase in high-definition. This display, <b>highly reliable and autonomous</b>, will fit naturally in your surroundings. </p>
      <p>This holographic showcase is available for sale or rent.</p>
      <p>With its easy content management and interactivity, the Iris 46 becomes <b>the most appropriate tool </b> for corporate presentations or education</p>
    </div>
  </div>
</section>



<section class="section section-main-header  header-fill py-4" style="border:0">
  {%include components/header_image.html image="img/products/iris46_zoom.jpg" alt="L'iris 46 presenting holographic buildings" %}
  <div class="main-header-body container">
    <div class="content shadow rounded bg-white p-4">
      <h2 class="text-center">Take the lead</h2>
      <div class="row">
        <div class="col-12 col-md-6">
          <p>
            The Iris 46 is our best solution for a high-end indoor holographic presentation.</p>
            <p>Its high lumosity and higher graphical qualities makes it a powertool for real-estate presentation or for creating a "<i>Wahou Effect</i>" in a <b>showroom</b></p>
            <p>French major real-estate players, such as <a href="https://www.atome-promoteur.fr/">At'ome</a>, are already using it for building models presentations!</p>
        </div>
        <div class="col">
          {% include components/medias/youtube.html  embed="ERTuwlWW9hQ" %}
        </div>
      </div>
    </div>
  </div>
</section>



<section id="section-gamme" class="section-tile">
  <div class="tile-image-wrapper">
    {% picture  "img/products/iris46_culture.jpg"
      
      
      --img class="img-fluid fit-contain"
      sizes="(max-width: 992px) 100vw, 50vw"
      alt="Hologram of an hippopotamus skull"
      %}
  </div>
  <div class="tile-body tile-body--main">
    <h2>Culture and Education</h2>
    <p>
      But such a hologram is not limited to the presentation of real estate models. Let your imagination run wild for an application in education or in the enhancement of <b>cultural and scientific heritage</b>.
    </p>
    <p>
      Special effects, customisation or augmented reality, a <b>wide range of effects</b> come to you to enhance your stories.
    </p>
  </div>
</section>



<div align="center" class="p-4">
  {% picture container img/products/mesures/Iris46.png
    --img class="img-fluid"
    style="padding-top: 40px; padding-bottom: 10px;"
    --alt  Schema des dimensions de l'iris 32 pouces
  %}
  <h3> <b>Iris 46</b> </h3>
</div>
