---
abstract: Mini pyramid for smartphones and shelves
header: Smartphone hologram
properties:
  options:
    package: printed blister
    lettering: engraved pyramid
---



  <div class="row">
    <div class="col-lg-6 col-md-12">
      <h2 style="padding-top: 30px">Holographic goodies</h2>
      <p>
        To spice up your <b>product presentations</b>, this handlheld hologram is by your side in everyday life.
      </p>
      <p>
        Put <b>your smartphone</b> beneath the Pixel pyramid, go to <a href="https://pixel.holusion.com">pixel.holusion.com</a> and enjoy the magic.
      </p>
      <p>
        Attractive, intriguing and innovative, this small hologram <b>transports your clients</b> in their imagination and values your brand image.
      </p>
      <p>
        Now available : the hologram for <b>tablets</b> and the high end Pixel !
      </p>
    </div>

    <div class="col-lg-6 col-md-12">
      <div style="padding-top: 40px">
        {% include components/medias/youtube.html embed="slU544PEirs" %}
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 40px">
    <div class="col-md-12"><h1 align="center">3 models, 3 experiences</h1></div>
  </div>

  <div id="pixel">
  <div class="row" style="padding-top: 20px">
    <div class="col-lg-8 col-md-12">
      <img alt="Hologramme smartphone Pixel" class="img-fluid" src="/static/img/products/pixel.jpg">
   </div>
   <div class="col-lg-4 col-md-12" style="padding-top: 30px">
     <h2>Pixel</h2>
     <p>The Pixel displays an hologram out of your smartphone. Compatible with every smartphone, bring it anywhere to impress your friends or your clients. Kiabi, PSA and Dentsu already used it to make their brand stand out, what about you ?</p>

     <p><a href="{{site.url}}/en/store/">Order the Pixel now : </a></p>
     <div style="padding: 10px 0px 30px 0px">
       {% include shop/store-fab.html %}
   </div>
   <div align="right">
    <a href="https://pixel.holusion.com">Assembly intructions ></a>
   </div>
  </div>
  </div>
  </div>


  <div id="pixelxl">
  <div class="row" style="padding-top: 60px">
    <div class="col-lg-4 col-md-12" style="padding-top: 30px">
      <h2>Pixel XL</h2>
      <p>As its name suggests, the <b>Pixel XL</b> displays an hologram out of your <b>tablet</b>. With a design similar to the Pixel, this <b>bigger hologram</b> attracts the attention in just a blink.</p>
      <p><a href="{{site.url}}/en/store/">Order the Pixel XL now :</a></p>
      <div style="padding-top: 10px">
        {% include shop/store-fab.html %}
    </div>
  </div>
     <div class="col-lg-8 col-md-12">
       <img alt="Hologramme Pixel XL" class="img-fluid" src="/static/img/products/pixelxl_schema.jpg">
    </div>
  </div>

  <div align="right">
   <a href="https://pixel.holusion.com">Assembly instructions ></a>
  </div>
  </div>

  <div id="pixel+">
  <div class="row" style="padding-top: 60px">
   <div class="col-lg-8 col-md-12">
     <img alt="Hologramme Pixel +" class="img-fluid" src="/static/img/products/pixel+.jpg">
   </div>
   <div class="col-lg-4 col-md-12" style="padding-top: 30px">
     <h2>Pixel +</h2>
     <p>High-end version of the hologram for smartphones, the <b>Pixel +</b> reveals the image in a clean designed case. As transportable as the Pixel, it will impress those who cross its road.</p>
     <div style="padding: 10px 0px 30px 0px">
       <p><a href="{{site.url}}/en/store/">Order the Pixel + now :</a></p>
       {% include shop/store-fab.html %}
     </div>
     <div align="right">
      <a href="https://pixel.holusion.com">Assembly instructions ></a>
     </div>
  </div>
  </div>
  </div>



  <h1 align="center" style="padding-top: 40px">Technical specifications</h1>

  <div class="row" style="padding-top: 20px">
    <div class="col-lg-1 col-md-12" align="right">
      {% svg src/pictos/produits/Picto__360.svg width=50 %}
    </div>
    <div class="col-lg-3 col-md-12">
      <p><b>360° HOLOGRAM</b></p>
      <p>The hologram is 360 degrees viewable. You can see it from all angles.</p>
    </div>
    <div class="col-lg-1 col-md-12" align="right">
      {% svg src/pictos/produits/Picto__Smartphone.svg width=50 %}
    </div>
    <div class="col-lg-3 col-md-12">
      <p><b>Smartphone size</b></p>
      <p>The pyramid can be put on different sizes of smartphones : 5,5 to 6,5 inches.</p>
    </div>
    <div class="col-lg-1 col-md-12" align="right">
      {% svg src/pictos/produits/Picto__Stickage-logo.svg width=50 %}
    </div>
    <div class="col-lg-3 col-md-12">
      <p><b>Your logo engraved</b></p>
      <p>Personalize your Pixel pyramids by sticking or engraving your logo, distinctive sign or website address.</p>
    </div>
  </div>

  <div class="row" style="padding-top: 30px">
    <div class="col-lg-1 col-md-12" align="right">
        {% svg src/pictos/produits/Picto__Ventouse.svg width=50 %}
    </div>
    <div class="col-lg-3 col-md-12">
      <p><b>Fixing suckers</b></p>
      <p>A sucker beneath the pyramid allows it to be fixed on the smartphone.</p>
    </div>
    <div class="col-lg-1 col-md-12" align="right">
        {% svg src/pictos/produits/Picto__Blister.svg width=50 %}
    </div>
    <div class="col-lg-3 col-md-12">
      <p><b>Custom blister packaging</b></p>
      <p>The product is delivered in a custom blister packaging, in order to protect it.</p>
    </div>
  </div>


  <h1 align="center" style="padding-top: 40px">Hosting your playlists</h1>

  <center>Here is why it is interesting to integrate your hologram in a custom playlist !</center>

  <div class="row" style="padding-top: 30px">
    <div class="col-lg-1 col-md-12"  align="right">
      {% svg src/pictos/hebergement_pixel/picto_play.svg width=50 %}
    </div>
    <div class="col-lg-3 col-md-12">
      <p><b>Custom playlist</b></p>
      <p>Easily handle a hologram playlist thought for you : play, pause, repeat, next. Everything is possible.</p>
    </div>
    <div class="col-lg-1 col-md-12"  align="right">
      {% svg src/pictos/hebergement_pixel/picto_upload.svg width=50 %}
    </div>
    <div class="col-lg-3 col-md-12">
      <p><b>Automatic editing</b></p>
      <p>Import your videos on the interface. It will automaticly convert into an hologram. </p>
    </div>
    <div class="col-lg-1 col-md-12"  align="right">
      {% svg src/pictos/hebergement_pixel/picto_focus.svg width=50 %}
    </div>
    <div class="col-lg-3 col-md-12">
      <p><b>Only your content</b></p>
      <p>A custom hosting means 0 external ads and other contents that are not yours.</p>
    </div>
  </div>

  <div class="row" style="padding-top: 20px">
    <div class="col-lg-1 col-md-12"  align="right">
      {% svg src/pictos/hebergement_pixel/picto_edit.svg width=50 %}
    </div>
    <div class="col-lg-3 col-md-12">
      <p><b>Personalized domain name</b></p>
      <p>Make your brand stand out by creating your own domain name. Example : 2017greetings-apple.com</p>
    </div>
    <div class="col-lg-1 col-md-12"  align="right">
      {% svg src/pictos/hebergement_pixel/picto_seo.svg width=50 %}
    </div>
    <div class="col-lg-3 col-md-12">
      <p><b>Good optimization</b></p>
      <p>Improve your online visibility by adding the holographic expert dimension brought by Holusion.</p>
    </div>
    <div class="col-lg-1 col-md-12"  align="right">
      {% svg src/pictos/hebergement_pixel/picto_smartphone.svg width=50 %}
    </div>
    <div class="col-lg-3 col-md-12">
      <p><b>On every smartphone</b></p>
      <p>Android, iOS and Windows phones can display your hologram playlists.</p>
    </div>
  </div>

  <div align="center" style="padding-bottom:20px">
    <h1 style="padding-top: 50px">Assemble and use my Pixel</h1>
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-12">
      <h3 align="center">Follow the tutorial to assemble your pyramid</h3>
      <a href="https://pixel.holusion.com"><img alt="Construction du Pixel" class="img-fluid" src="/static/img/products/montage_pixel.jpg"></a>
   </div>
   <div class="col-lg-6 col-md-12">
     <h3 align="center">Start the playlist and discover the holograms</h3>
     {% comment %}
     {% include components/medias/pixel_video.html url="https://ptest.holusion.com/view?v=02%20décembre&embed=true"%}
     {% endcomment %}
       <a href="https://pixel.holusion.com/view?v=02%20décembre"><img alt="Playlist du Pixel" class="img-fluid" src="/static/img/products/pixel_playlist.png"></a>
     </div>
  </div>

  <div align="center" style="padding-top: 50px"><button class="button button-blue" style="cursor:pointer" onclick=window.location.href="/en/store">
           Holusion store
         </button></div>

<h2 align="center" id="main-title-1" style="padding-top: 50px">Some stories about Pixel...</h2>
