---
abstract: Mini pyramid for smartphones and shelves
header: Smartphone hologram
properties:
  options:
    package: printed blister
    lettering: engraved pyramid
---


<section class="section-tile">
  <div class="tile-image-wrapper">
    {% include components/medias/youtube.html embed="slU544PEirs" %}
  </div>
  <div class="tile-body">
    <h2 style="padding-top: 30px">Holographic goodies</h2>
    <p>
      To spice up your <b>product presentations</b>, this handlheld hologram is by your side in everyday life.
    </p>
    <p>
      Put <b>your smartphone</b> beneath the Pixel pyramid, go to <a href="https://pixel.holusion.com">pixel.holusion.com</a> and enjoy the magic.
    </p>
    <p>
      Attractive, intriguing and innovative, this small hologram <b>transports your clients</b> in their imagination and values your brand image.
    </p>
    <p>
      Now available : the hologram for <b>tablets</b> and the high end Pixel !
    </p>
  </div>

</section>
<section class="section-tile">
  <div class="tile-image-wrapper">
    <img class="img-fluid" src="/static/img/products/pixel.jpg" alt="holusion's Pixel : a small pyramid for portable holograms">
  </div>
  <div class="tile-body">
    <h2 align="center">A playful experience</h2>
    <p>Transform your mobile devices into holographic displays. Works with Android or iOS.</p>
    <p>Use this new digital technology to display you advertising on any size of tablets or smartphones</p>
  </div>
</section>

<section class="section-tile">
  <div class="tile-image-wrapper">
    {% asset img/products/pochette_contenu.jpg
      srcset:width="1920"
      srcset:width="960"
      sizes="(max-width: 992px) 100vw, 50vw"
      class="img-fluid"
      title="Holusion Prism"
      alt="A Pixel's content, branded for holusion's promotional use"
    %}
  </div>
  <div class="tile-body">
    <h2 align="center">Readily available</h2>
    <p>We can process orders from a few units to thousands of products</p>
    <p>You can get a sample right now from our <a href="/en/store/pixel">online store</a> or get a <a href="/fr/store/kitpixels">demonstration kit</a> without any mention of holusion to help convince your future clients</p>
  </div>
</section>


<section id="pixelpro" class="container-fluid">
  <h2 align="center">Holograms for you</h2>
  <center class="text-muted">Create your tailor-made holographic show</center>

  <div class="row" style="padding-top: 60px">
    <div class="col-12">
      <p>Every product is a self-contained package with all you need to view an hologram without any external help. You can make a customized package, branded to your colors, with custom visuals.</p>
    </div>
    <div class="col-lg-4 col-md-6 col-12">
      {% asset img/products/pochette_pixel_verso.jpg
        srcset:width="960"
        srcset:width="430"
        sizes="(max-width: 992px) 33vw, 100vw"
        class="img-fluid"
        alt="the back of a pixel's standard packaging"
      %}
      <h3>Custom packaging</h3>
      <p>monochrome printing on each package</p>
    </div>
    <div class="col-lg-4 col-md-6 col-12">
      {% asset img/products/pochette_pixel_recto.jpg
        srcset:width="1920"
        srcset:width="960"
        sizes="(max-width: 992px) 33vw, 100vw"
        class="img-fluid"
        alt="Front view of a pixel in it's original packaging"
      %}
      <h3>Customizable manuals</h3>
      <p>Using your colors of choice and any picture you need. With a direct link to your video content, whether it is hosted on our servers or elsewhere</p>
    </div>
    <div class="col-lg-4 col-md-6 col-12">
      {% asset img/products/pixels_gravure.jpg
        srcset:width="1920"
        srcset:width="960"
        sizes="(max-width: 992px) 50vw, 100vw"
        class="img-fluid"
        alt="A pixel's package content"
      %}
      <h3>Engraving</h3>
      <p>All pyramids can be engraved with your logo to always remind users who offered them this device</p>
    </div>
  </div>
</section>
<section class="section bg-white py-4">
  <div class="container jumbotron bg-white shadow my-0">
    <div class="row">
      <div class="col-lg-6 col-md-12  d-flex flex-column justify-content-center">
        {%include components/animated_svg.html src="/src/pictos/schema_hebergement_pixel.svg"  %}
      </div>
      <div class="col-lg-6 col-md-12 d-flex flex-column justify-content-center">
        <h2>Your holograms</h2>
          <h3>Transform</h3>
            <p>In a few clicks, transform a standard video to an holographic show using our <a href="https://pixel.colusion.com">online service</a>.</p>
          <h3>Distribute</h3>
            <p>Optimize your communication with this dedicated platform, designed for speed and accessibility</p>
          <h3>Manage</h3>
          <p>Add or modify your content easily. Create more holograms as you please with our hands-on administration tools</p>
      </div>
    </div>
  </div>
</section>

<div align="center" style="padding-top: 50px"><button class="button button-blue" style="cursor:pointer" onclick=window.location.href="/en/store">
           Holusion store
         </button></div>

<h2 align="center" id="main-title-1" style="padding-top: 50px">Some stories about Pixel...</h2>
