---
title: Notre catalogue
layout: store
---

<div id="catalog" class="products-navbar">
  <script>
    function changeColorLink(linkOnClick){
      const link = document.querySelectorAll('a');
      link.forEach(a => {
        a.classList.remove('clicked');
    });

      linkOnClick.classList.add('clicked');
    }
  </script>

  <div class="navbar-nav container">
    <ul>
      <li><a href="#store-main" onclick="changeColorLink(this)">Bornes holographiques et table tactile</a></li>
      <li><a href="#store-product" onclick="changeColorLink(this)">Autres produits</a></li>
      <li><a href="#store-accessory" onclick="changeColorLink(this)">Accessoires</a></li>
    </ul>
  </div>
</div>

<section class="section pb-5">
  {% assign items =  site.store_items[page.lang] | where_exp: "item", "item.size_sketch" %}
  <div class="media tab-content position-relative" id="product-select-tab">
    
    {% picture grid "img/sections/slide_produit_background.png"
      --img itemprop="image" 
      --img class="img-fluid cover"
    %}

    {% for product in items %}
      {%- if forloop.first -%}
        {%- assign classes = " show active" -%}
      {%- else -%}
        {%- assign classes = "" -%}
      {%- endif -%}
      {% picture grid "{{product.size_sketch}}"
        --img itemprop="image" 
        --img class="position-absolute top-0 start-0 tab-pane fade{{classes}}"
        --img id="{{product.name | replace: '.'', '_'}}-tab-pane"
        --img role="tabpanel" 
        --img aria-labelledby="{{product.name}}-tab" 
        --img alt="{{product.title}}" 
      %}
    {% endfor %}

    {% picture grid "img/sections/slide_produit_foreground.png"
      --img itemprop="image" 
      --img class="img-fluid cover position-absolute top-0 start-0"
    %}
  </div>

  <div class="content mb-0 position-relative">
    <div class="position-absolute top-0 end-0 py-4">
      <div class="cart-icon-line">
        <div id="open-cart" class="snipcart-summary">
          <button class="btn btn-outline-info snipcart-checkout">
            <span data-test="snipcart-items" class="snipcart-items-count">0</span>
            {% svg src/pictos/icons/icon-cart.svg width=20 style="display:inline-block;" %}
          </button>
        </div>
      </div>
    </div>
    
    <h2>Découvrez toute notre gamme de produits et accessoires</h2>

    <div class="nav d-flex flex-column products-select-nav" id="main-products-tab" role="tablist">
      {% for product in items %}
        {% assign name = product.name | replace: '.'', '_' %}
        <div class="nav-item" role="presentation">
          <div class="nav-link d-flex flex-row{% if forloop.first %} active{% endif %}" id="{{name}}-tab" data-bs-toggle="tab" data-bs-target="#{{name}}-tab-pane" type="button" role="tab" aria-controls="{{name}}-tab-pane" aria-selected="false">
            {% picture card "{{product.image}}"
              --img class="img-fluid"
              --picture class="flex-grow-0 flex-shrink-0 w-25"
            %}
            <div class="px-2">
              <h4 class="text-primary">{{product.title}}</h4>
              <p class="text-white">
                {{product.abstract}}
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>


<section class="section section-center pt-5">
  <div class="content mb-0 ps-0 p-sm-1">
    {% include utils/store_items.html %}
    <h3>Sur mesure</h3>
    <p>Découvrez notre accompagnement personnalisé qui vous aidera à mettre en place votre projet d'innovation.</p>
    <button class="d-block btn btn-info mt-5 mx-auto" style="cursor:pointer" data-bs-toggle="modal" data-bs-target="#contactform-modal">Contactez nous</button>
  </div>
</section>


