{% if include.content %}
  {% assign content = include.content %}
{% else %}
  {% assign content = include %}
{% endif %}


{%if include.classes %}
  {% assign classes = include.classes %}
{% else %}
  {% assign classes = "col-lg-3 col-md-4 col-sm-6 col-12" %}
{% endif %}
{%capture alt_text %}{%if content.abstract%}{{content.abstract | escape }}{%else%}{{content.title}}{%endif%}{%endcapture%}

<div class="{{classes}}" role="listitem" aria-label="{{content.title}}">
  <div class="card shadow-sm border-primary" data-test="card" style="min-height:100%">
    
    <a {%if content.url %}href="{{content.url}}"{% endif %} class="card-img-top-wrap">
      {%- if content.image contains "static" -%}
      <img data-deprecated="static-card" class="card-img-top" src="{{content.image|default: "/static/img/posts/default.jpg"}}"
          {% if content.image2x %} srcset="{{content.image2x}} 800w, {{content.image}} 400w" {% endif %} alt="{{alt_text}}" sizes="(min-width: 1200px) 25vw, (min-width: 992px) 33vw, (min-width:768px) 50vw, 100vw">
      {%- else -%}
        {% picture card "{{content.image}}"
          --img class="card-img-top"
          --img title="{{content.title}}"
          --alt  {{alt_text}}
        %}
      {%- endif -%}
    </a>

    <a {%if content.url %}href="{{content.url}}"{% endif %} class="card-header bg-primary text-light">
        {{content.title}}
    </a>

    <div class="card-body text-start">
      <p class="card-text">{{content.abstract}}</p>
    </div>

    {% if content.url %}
      <div class="card-footer text-end">
        <a href="{{content.url}}" class="card-link text-secondary">
          {{content.action| default:site.data.strings["read-more"][page.lang] }}
        </a>
      </div>
    {% endif %}

  </div>
</div>
