{% unless contact_strings %}
{% include utils/lang.html %}
{% assign contact_strings = site.data.contact_form_locale %}
<section id="section-contactform" class="">
  <!-- USAGE
    document.getElementById("section-contactform").display();
  -->
  <div id="contactform-overlay">
  </div>
    <form name="contactform" class="form-horizontal" method="post" action="/contact.php">
      <span id="contactform-close" class="glyphicon glyphicon-remove"></span>

      <div class="form-group">
        <label for="first_name">{{contact_strings["firstname"][lang]}}</label>
        <input  type="text" class="form-control" name="first_name" maxlength="50" size="30" placeholder="{{contact_strings["firstname"][lang]}}">
      </div>
      <div class="form-group">
        <label for="last_name">{{contact_strings["lastname"][lang]}}</label>
        <input  type="text" class="form-control" name="last_name" maxlength="50" size="30" placeholder="{{contact_strings["lastname"][lang]}}">
      </div>
      <div class="form-group">
        <label for="email">{{contact_strings["mail"][lang]}}</label>
          <input  type="text" class="form-control" name="email" maxlength="80" size="30" placeholder="mail@example.com">
      </div>
      <div class="form-group">
        <label for="telephone">{{contact_strings["phone"][lang]}}</label>
        <input  type="text" class="form-control"  name="telephone" maxlength="30" size="30" placeholder="{{contact_strings["phone"][lang]}}">
      </div>
      <div class="form-group">
        <label for="comments">{{contact_strings["comments"][lang]}}</label>
        <textarea  name="comments" class="form-control"  maxlength="1000" cols="25" rows="6"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="form-control" class="btn btn-default">Submit</button>
      </div>
      <div class="form-group">
        <div id="contactform-logger" class="form-control alert" role="alert" style="display:none">...</div>
      </div>
    </form>

    <script>
      (function(){
        'use strict';
        var contactform = document.getElementById("section-contactform")
        var submission = document.querySelector("#section-contactform>form");
        var logger = document.getElementById("contactform-logger");
        function logInfo(level,txt){
          logger.classList.add(level);
          logger.style.display="initial";
          logger.innerHTML = txt;
          console.log(txt);
          setTimeout(function(){
            logger.classList.remove(level);
            logger.style.display="none";
            logger.innerHTML = "...";
          },2500);
        }
        document.getElementById("contactform-overlay").onclick = function(){
          contactform.classList.remove("active");
        }
        document.getElementById("contactform-close").onclick = function(){
          contactform.classList.remove("active");
        }
        contactform.display = function(){
          contactform.classList.add("active");
        }
        submission.onsubmit = function(e){
          e.preventDefault();
          console.log(e);
          var XHR = new XMLHttpRequest();
          var FD  = new FormData(submission);
          XHR.addEventListener('load', function(event) {
            console.log(event.target.statusText);
            if(event.target.status == 200){
              logInfo('alert-success','Message Sent to Holusion.');
            }else {
              logInfo("alert-danger","An error happened : "+event.target.statusText);
            }

          });
          // We define what will happen in case of error
          XHR.addEventListener('error', function(event) {
            logInfo("alert-warning",'Oups! Something went wrong :(');
          });
          XHR.open('POST', '/contact.php');
          XHR.send(FD);
          return false;
        }
      })()
    </script>
</section>
{% endunless %}
