{% comment %}
  ensure it's included only once
  It uses bootstrap's slightly modified validation process
  https://getbootstrap.com/docs/4.0/components/forms/#validation
  But can be reverted to standard behaviour by just removing the `novalidate`
{% endcomment %}
{% assign default_contact_strings = site.data.contact_form_locale %}

<!-- USAGE
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#contactform-modal">foo</button>;
-->
<div id="contactform-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">

    <div class="modal-dialog bg-light text-dark" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 id="contactModalLabel" class="modal-title w-100 font-weight-bold text-primary">Contact</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span class="visually-hidden" aria-hidden="true">Close</span>
          </button>
        </div>

        <form name="contactform" method="post" action="/contact.php" >
          <div class="modal-body">
            <input type="hidden" name="lang" value="{{page.lang}}">
            <div class="form-group">
              <label for="fname">{{default_contact_strings["firstname"][page.lang]}}</label>
              <input
                type="text" class="form-control"
                name="fname" id="first_name"
                maxlength="50" size="30"
                placeholder="{{default_contact_strings["firstname"][page.lang]}}"
                required
                pattern=".+"
                autocomplete="given-name">
            </div>
            <div class="form-group">
              <label for="lname">{{default_contact_strings["lastname"][page.lang]}}</label>
              <input
                type="text" class="form-control"
                name="lname" id="last_name"
                maxlength="50" size="30"
                placeholder="{{default_contact_strings["lastname"][page.lang]}}"
                required
                pattern=".+"
                autocomplete="family-name">
            </div>
            <div class="form-group">
              <label for="email">{{default_contact_strings["mail"][page.lang]}}</label>
              <input
                type="text" class="form-control"
                name="email" id="email"
                maxlength="80" size="30"
                placeholder="mail@example.com"
                required
                pattern="^[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$"
                autocomplete="email">
            </div>
            <div class="form-group">
              <label for="phone">{{default_contact_strings["phone"][page.lang]}}</label>
              <input
                type="text" class="form-control"
                name="phone" id="telephone"
                maxlength="30" size="30"
                placeholder="{{default_contact_strings["phone"][page.lang]}}"
                pattern="^([0-9+]|\([0-9]{1,3}\))[0-9 .,-x]{7,20}$"
                autocomplete="tel">
            </div>
            <div class="form-group">
              <label for="comments">{{default_contact_strings["comments"][page.lang]}}</label>
              <textarea
                role="textbox"
                name="comments"
                class="form-control" id="comments"
                placeholder="{{default_contact_strings["comments_holder"][page.lang]}}"
                pattern="^.{20}.*"
                setCustomValidity="{{default_contact_strings["comments_validity"][page.lang]}}"
                maxlength="1000" cols="25" rows="6"
                required></textarea>
            </div>

            <div class="modal-footer">
              <button type="submit" class="form-control btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script async src="/static/js/contact.js"></script>
</div>

<div id="logger"></div>