{%- comment -%} 
  output nothing when no alt page is available 
  Optionally uses change_preferred_language(), defined along the gtag function in the google analytics block, only if cookies are accepted
{%- endcomment -%}
{% if page.alt_url  %}
<li class="{{include.type}}" >
  <a href="" class="dropdown-toggle {{include.classes}}" data-bs-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
    {{page.lang}}
    <span class="caret"></span>
    <span class="visually-hidden">(change language)</span>
  </a>
  <div class="dropdown-menu dropdown-menu-right language-picker" role="menu">
    <a class="dropdown-item" href="{{page.url}}" onclick="change_preferred_language('{{page.lang}}')" >
      {{page.lang}}
    </a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="{{page.alt_url}}" onclick="change_preferred_language('{{page.alt_lang}}')">
      {{page.alt_lang}}
    </a>
  </div>
</li>
{% endif %}
