<div id="map" style="height:250px"></div>
    <script defer>
      function initMap() {
        var markerCoord = {lat: 50.7005965, lng: 3.1551021};
        var centerCoord = {lat: 50.4, lng:  markerCoord.lng};
        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: centerCoord,
          scrollwheel: false,
          zoom: 6,
          styles: [
            {featureType: "water", stylers:[{color:"#005380"}]},
            { featureType:"administrative.country", elementType:"geometry.stroke", stylers:[{color: "#337ab7"}]},
            { featureType:"landscape.natural.terrain", stylers:[{color: "#dddddd"}]},
            { featureType:"landscape.natural.landcover", stylers:[{color: "#eeeeee"}]},
            { featureType:"landscape.man_made", stylers:[{color: "#cccccc"}]},
            { featureType:"road", stylers:[{"visibility": "off"}]},
            { featureType:"administrative", elementType: "labels.text.fill", stylers:[{color:"#103040"}]}
          ]
        });

        var marker = new google.maps.Marker({
          map: map,
          position: markerCoord,
          title: 'holusion, Plaine Images - Tourcoing (France)',
          icon: "{{site.url}}/static/img/icons/location_marker.svg"
        });

        marker.addListener('click', function() {
          window.open('https://www.google.com/maps/dir/?api=1&destination_place_id=ChIJX7_iud8ow0cRKwrMErNTtGA&destination={{"99A Bvd Constantin Descat 59200 Tourcoing"| uri_escape}}', "_blank");
        });
      }

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjUr9-qg7UJHp7FWKDgg-6iXpIE8kH3qo&callback=initMap"></script>
