<div id="map" style="height:250px"></div>
    <script>
      function initMap() {
        var mycoord = {lat: 50.7005965, lng: 3.1551021};
        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: mycoord,
          scrollwheel: false,
          zoom: 4
        });

        var marker = new google.maps.Marker({
          map: map,
          position: mycoord,
          title: 'holusion, Plaine Images - Tourcoing (France)'
        });
        contentString = '<div id="content">'+
          '<div id="siteNotice">'+
          '</div>'+
          '<h5 id="firstHeading" class="firstHeading">Holusion</h5>'+
          '<div id="bodyContent">'+
            '<p><a href="plaine-images.fr"><b>Plaine Images</b></a>, 59200 TOURCOING (France)</p>'+
          '</div>'+
        '</div>';
        var infowindow = new google.maps.InfoWindow({
         content: contentString
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIEL9m3FmbeHy_3vrwCCj4rAQK5pgIki4&callback=initMap"
    async defer></script>
