{% assign contents = include.contents %}

<div id="slider" class="{{include.classes}}">
  <div id="slides-shortcuts">
    <div class="scrollable" >
        {% for post in contents  %}
            <input class="slide-shortcut" type="radio" name="slide-radio" id="{{forloop.index0}}">
            <label for="{{forloop.index0}}">
              <img src="{{post.image}}">
            </label>
        {% endfor %}
      </div>
  </div>
  <div id="slides">
    {% for post in contents %}
      <div class="slide"><a href="{{post.url}}">
        {% if post.title %}
          <div class="slide-text">
            <h3>{{post.title}}</h3>
            {{post.abstract}}
          </div>
        {% else %}
          <div class="slide-padding">
          </div>
        {% endif %}
        <div class="slide-image">
          <img class="img-fluid"
            {% if post.image2x %}
              src="{{post.image2x}}"
            {% else %}
              src="{{post.image}}"
            {% endif %}
          />
        </div>
      </a></div>
    {% endfor %}
  </div>
  {% unless has_slideshow %}
  {% assign has_slideshow=true %}
  <script>
  (function(){
    'use strict';
    var shortcuts = document.querySelectorAll('input[type="radio"].slide-shortcut');

    var slider = document.querySelector("#slider");
    var scroll = document.getElementsByClassName( "scrollable")[0];
    var slides = document.querySelector("#slides");
    var slideList = document.querySelectorAll("#slides .slide");

    var width = slides.clientWidth-120;
    slider.style.height = width*9/16+"px";

    for(var i=0;i<slideList.length;i++){
      slideList[i].style.left = (i+1)*100+"%";
    }
    //lastSlideDuplicate is used to loop cleanly in setNext().
    var lastSlideDuplicate = slideList[slideList.length-1].cloneNode(true);
    lastSlideDuplicate.style.left = "0";
    slides.insertBefore(lastSlideDuplicate, slides.firstChild);
    var time;
    var current;

    /* Slider update */
    function setNext(index){
      if(slides ) slides.style.left = -(index+1)*100+"%";
      time = setTimeout(function(){
        index++;
        if(shortcuts.length <= index ){
          //Disable transition
          slides.style.transition= "none";
          slides.style.left= "0%";
          slides.offsetHeight;//Triggers a DOM reflow
          slides.style.transition= "";
          slides.offsetHeight;
          index =0;
        }
        setNext(index);
        for(var i=0;i < shortcuts.length;i++){
          shortcuts[i].checked = (i == index)?true:false;
        }
      },3000);
    }
    function handleInputClick(index){
      console.log("click");
      clearTimeout(time);
      setNext(index);
    }
    setNext(0);

    //Add custom scroll script
    var scrollScript = document.createElement("SCRIPT");
    scrollScript.async = scrollScript.defer = true;
    scrollScript.onload = function(){
      console.log("Computed height:",slider.querySelector(".slide-image").clientHeight, width*9/16);
      scroll.style.height = width*9/16+"px"
      window.addEventListener("resize",function(){
        console.log("resize");
        width = slides.clientWidth-120;
        slider.style.height = width*9/16+"px";
        scroll.style.height = width*9/16+"px"
      })
      addCustomHTMLScroll( scroll );
    }
    scrollScript.src="/vendor/customhtmlscroll/customhtmlscroll.min.js";
    document.body.appendChild(scrollScript);
    for(var i=0;i<shortcuts.length;i++){
      shortcuts[i].onclick = handleInputClick.bind(this,i);
    }
  })();

  </script>
  {% endunless %}
</div>
