
<form class="navbar-form navbar-left search-form visible-lg" rel="search" role="search" action="/{{page.lang}}/search" method="GET">
  <div class="form-group">
    <div class='input-group'>
        <input type="text" class="form-control" id="search-input" placeholder="Search" name="query">
        <div class="input-group-addon" id="search-button"><a type="submit" href="#" ><span class="glyphicon glyphicon-search"></span></a></div>
    </div>
  </div>
</form>
<div class="navbar-form navbar-left search-form hidden-lg">
<a type="button" style="margin:0;" class="btn btn-default navbar-btn" href="/{{page.lang}}/search" >Search</a>
</div>
