

<div id="post-similar">
  <div class="row" >
    {% include utils/make_posts.html %}
    {% include utils/domain.html %}
    {% assign similar_posts = "" | split: ""  %}
    {% for post in posts %}
      {% for tag in page.tags %}
        {% if post.tags contains tag %}
          {% unless post.url == page.url %}
            {% assign similar_posts = similar_posts |push:post %}
            {% endunless %}
        {% endif %}
      {% endfor %}
    {% endfor %}
    {% for post in similar_posts limit: 3 %}
      {% include components/post_thumbnail.html content=post %}
    {% endfor %}
    {% capture stories_url %}{{domain}}/{{lang}}/posts{% endcapture %}
    {% include components/post_thumbnail.html title="Plus d'histoires" image="/static/img/posts/default.jpg" abstract="découvrir d'autres réalisations" url=stories_url %}
  </div>
</div>
