{%capture image_url %}img/portraits/{{include.img |default: "default" }}{%endcapture%}
<a class="team-portrait" {%if include.url%} href="{{include.url}}" target="_blank" {% endif %}>
  <div class="views-field views-field-field-image">
    <div class="field-content" style='background-image: url({% picture direct_portrait "{{image_url}}_Holo.jpg" %});'>
      {% picture portrait "{{image_url}}.jpg" 
      --img typeof="foaf:Image" width="256" height="256" sizes="256px"
      --alt  {{include.name}}
      %}
      <i class="circle-border"></i>
    </div>
  </div>
  <div class="views-field views-field-title">
    <span class="field-content">
      <h3 class="block-title header">{{include.name}}</h3>
    </span>
  </div>
  <div class="views-field views-field-field-job-title">
    <div class="field-content">{{include.title}}</div>
  </div>
</a>
