<script async src="https://www.googletagmanager.com/gtag/js?id=UA-48469340-1"></script>
<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
<script defer type="text/javascript">
  var tracking = 'UA-48469340-1';
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  function registerGa(status){
    if(!this.hasConsented()){
      console.info("Google analytics tracking rejected");
       window['ga-disable-'+tracking] = true;
    }
    var banner =  document.querySelector(".cc-banner")
    if (banner)
      banner.style.display = "none";
    else if (!this.hasConsented())
      console.warn("No cookieconsent banner on this page");
  }
  var cc = document.createElement("SCRIPT");
  cc.src = '/vendor/cookieconsent/cookieconsent.3.0.3.min.js';
  cc.async = true;
  cc.onload = function(){
    console.log("cookieconsent loaded")
    window.cookieconsent.initialise({
      type: "opt-out",
      container: document.body,
      revokable: false,
      static: true,
      content:{
        message: "{{site.data.strings.cookieconsent[page.lang]}}",
        link: "{{site.data.strings.read-more[page.lang]}}",
        href: 'http://cookiesandyou.com',
        dismiss: "&#x2713;",
        deny: "&times;",
      },
      onStatusChange: registerGa,
      onInitialise: registerGa
    });
  }
  document.head.appendChild(cc);
  // Those will be ignored if ga-disable is set.
  gtag('js', new Date());
  gtag('config', tracking);
</script>
