---
title: Holusion - Use cases
layout: front_page
---

{% include components/section_title.html title="Use cases" %}

{% include ariane.html %}

<div class="container">

  <h1 id="main-title-1" class="rtecenter" style="padding: 30px 0px 25px 0px">Interactive experience</h1>

  <p class="rtecenter" style="padding: 30px 90px 30px 90px">Emotion should be at the very heart of your presentations. Our job is to provide you with solutions to make it happen. We want hologram to be a game, a learning, a discovery. This innovative tools should be used to uncover the very best of your products, explain your technical skills and forge strong links between you and your customers.</p>

</div>
<div id="apprendre" style="background: url('/static/img/usages/focus_interactif_formation.jpg') center/cover;width:100%;height:300px;padding-top:100px;text-align:center;margin:40px 0 20px 0;">
    <font size="3pt"><h1 style="color:white;">LEARN</h1></font>
</div>
<div class="container">

  <p><blockquote><i><h3>"It's a better way to look at thing, because now, it's 3D, instead of just 2D"</h3></i><p><font size="2pt">Tek Syndicate, VivaTech 2016</font></p></blockquote></p>


  <p align="center" style="padding: 30px 100px 40px 100px">Digital education take the best out of interactive holographic display. Several brands and institutions are already using it to present their activities and learning material. We believe it is a wonderful tool to share your technical skills and know-how. Build with us a new smart, interactive and playful way of learning.</p>

  <div class="row">
    <div class="col-md-6 col-xs-12" align="center">
      {% svg static/img/usages/snowflake.svg size=40 %}
      <h3 align="center">Lead your presentation</h3>
      <p align="justify">We achieve immersion with our display because Hologram softens the border between real and virtual world. See clear exploded view of your subjects, look trough parts and materials. Our solutions are tools for you to make your presentation smarter, more engaging and attractive.</p>
      <p align="justify">Discover our STINGRAY app. This is an easy way to interact with holograms, move it around or transforming it.</p>
      <p align="justify">Discover :  <a href="http://holusion.com/en/posts/2014-09-15-modelisation_3D_medicale">Modélisation 3D médicale</a></p>
    </div>
    <div class="col-md-6 col-xs-12" align="center">
      <div align="center" class="embed-responsive embed-responsive-16by9">
        <iframe width="360" height="115" src="https://www.youtube.com/embed/3aYApae0Adc" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 40px">
    <div class="col-md-6 col-xs-12" align="center">
      {% svg static/img/usages/legende.svg size=40 %}
      <h3 align="center">Get richer content</h3>
      <p align="justify">Your product is essential. Show the better out of it by displaying features, properties and infomations around it in real time. Legends, charts, drawings, so many elements are easier to remember once saw in holograms. Get you customers informed about what you do and help your users better understanding your projects !</p>
    </div>
    <div class="col-md-6 col-xs-12" align="center">
      <div align="center" class="embed-responsive embed-responsive-16by9">
        <iframe width="460" height="215" src="https://www.youtube.com/embed/5FO8dMOvqPw" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

</div>
<div id="percevoir" style="background: url('/static/img/usages/prism_interactif_catalogue.jpg') center/cover;width:100%;height:300px;padding-top:100px;text-align:center;margin:40px 0 20px 0;">
  <font size="3pt"><h1 style="color:white;">PERCEIVE</h1></font>
</div>
<div class="container">

  <p align="center" style="padding: 30px 100px 40px 100px">What if smart display could make you feel the customer experience ? As an interactive showcase, holograms can highlight you products better than ever. Our goal is to offer your customers a good experience when they customize their own products in hologram or when they explore all your items.</p>

  <div class="row">
    <div class="col-md-6 col-xs-12" align="center">
      {% svg static/img/usages/dress.svg size=48 %}
      <h3 align="center">Build your own showcase</h3>
      <p align="justify">Your customers are looking for experiences to live on your spot. Display your product on a holographic catalog and allow your clients to see them in realistic 3D. You will significantly improve the fidelity and feedbacks from your customers. Go further by proposing a tool to customize and order in real time.</p>
      <p align="justify">Discover :  <a href="http://holusion.com/en/posts/2016-02-20-smart_shopping_experience">Smart Shopping experience 2016</a></p>
    </div>
    <div class="col-md-6 col-xs-12" align="center">
      <div align="center" class="embed-responsive embed-responsive-16by9">
        <iframe width="460" height="215" src="https://www.youtube.com/embed/f0XjyiXdgGY?list=PLUHVztX-fSBAZACo6Msqf1u8hvV1R-pdV" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 50px">
    <div class="col-md-6 col-xs-12" align="center">
      {% svg static/img/usages/emotion.svg size=48 %}
      <h3 align="center">Showcase time</h3>
      <p align="justify">Holograms seem magic and are innovative to your users. They will not remain unmoved. They will not remain unmoved. Lean on this cutting edge advantage to build emotion around your brands and products. Revealing a new project or product can be very surprising if you use it at your best.</p>
      <p align="justify">Discover :  <a href="http://holusion.com/en/posts/2015-03-24-Com_en_Or_day_2015">Com' en Or Trohpy 2015</a></p>
    </div>
    <div class="col-md-6 col-xs-12" align="center">
      <div align="center" class="embed-responsive embed-responsive-16by9">
        <iframe width="460" height="215" src="https://www.youtube.com/embed/zo5_TfDVQMU?list=PLUHVztX-fSBAZACo6Msqf1u8hvV1R-pdV" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>

</div>
<div id="transformer" style="background: url('/static/img/usages/prism_interactif_transformer.jpg') center/cover;width:100%;height:300px;padding-top:100px;text-align:center;margin:40px 0 20px 0;">
  <font size="3pt"><h1 style="color:white;">TRANSFORM</h1></font>
</div>
<div class="container">

  <p align="center" style="padding: 30px 100px 40px 100px">Hologram can go further. It has the power of digitalization : record and preserve informations of the real world for ever. In other words, hologram is the best result of a transformation from real to virtual. This transformation can also be operated on your ideas, make your imagination and your project become real. Will you dare to make the difference ?</p>

  <div class="row">
    <div class="col-md-6 col-xs-12" align="center">
      {% svg static/img/usages/amphora.svg size=40 %}
      <h3 align="center">Digitalize your world</h3>
      <p align="justify">Cultural heritage transmission is at the very heart of our daily concerns. Hologram gives us the opportunity to preserve and restore artworks in a perfect shape. The archaeological legacies, historical buildings, memory of long gone personalities… many topics that could be shown in a realistic way thanks to holograms.</p>
      <p align="justify">Discover : <a href="http://holusion.com/en/posts/2014-11-15-archeologie_en_hologramme">Innovative archaeological dig</a> / <a href="http://holusion.com/en/posts/2016-06-20-futur-en-seine">Bagdad 3D Project presented at Futur en Seine 2016</a>
      </div>
      <div class="col-md-6 col-xs-12" align="center">
        <div align="center" class="embed-responsive embed-responsive-16by9">
          <iframe width="460" height="215" src="https://www.youtube.com/embed/VE-pYEgT_Cc" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div class="row" style="padding-top: 50px">
      <div class="col-md-6 col-xs-12" align="center">
        {% svg static/img/usages/idea.svg size=48 %}
        <h3 align="center">Make your ideas go real </h3>
        <p align="justify">As soon as designing starts, bet on the hologram advantages to deploy your ideas, concepts and games. Therefore, you will be unique in the eyes of your customers by creating your own holographic video games, interactive guides and other apps.</p>
        <p align="justify">Discover :  <a href="http://holusion.com/en/posts/2016-06-30-nausicaa">Extension's model of Nausicaa</a> / <a href="http://holusion.com/en/posts/2016-01-21-Tweetfeed_holographique">Innovative Tweetfeed at the Museum Connections 2016</a> / <a href="http://holusion.com/fr/posts/2016-04-20-museohub">Tisse-Factory project in Roubaix</a></p>
      </div>
      <div class="col-md-6 col-xs-12" align="center">
        <div align="center" class="embed-responsive embed-responsive-16by9">
          <iframe width="460" height="215" src="https://www.youtube.com/embed/7Db2IJ78-kA" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
</div>
<div class="container">
    <h2 align="center" style="padding-top : 50px">Discover our products :</h2>
    {% include utils/make_products.html %}
    {% for product in products limit:4 %}
    {% include components/post_thumbnail.html content=product %}
    {% endfor %}
  </div>
</div>
