<nav id="navbar-top" class="navbar navbar-expand-md fixed-top navbar-light bg-light" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-header">
        <a href="/{{page.lang}}/" class="navbar-brand" id="home-logo" aria-label="Holusion logo"> </a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav mr-auto" role="menu">
          {% if include.left_links %}
            {{include.left_links}}
          {% endif %}
        </ul>
        <ul class="nav navbar-nav" role="menu">
          {{include.right_links}}
        </ul>
        </div>
      </div>

    </div>
    <!-- /.container -->
</nav>
