


<section id="section-header">
<nav id="navbar-top" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/{{page.lang}}/" class="navbar-brand" id="home-logo" aria-label="Holusion logo"> </a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        {% if include.left_links %}
        <ul class="nav navbar-nav" role="menu">
          {{include.left_links}}
        </ul>
        {% endif %}
        <div class="navbar-right">
          <ul class="nav navbar-nav" role="menu">
            {{include.right_links}}
          </ul>
        </div>
      </div>

    </div>
    <!-- /.container -->
</nav>
</section>
