<footer><div id="navbar-bottom" role="navigation" class="container-fluid">
  <section class="title">
    <div class="container">
      <h1 style="text-align:center">
        {{site.data.strings["need-help"][page.lang]}}?
        <a href="mailto:contact@holusion.com?Subject=Support%20Technique" target="_blank">{{site.data.strings["contact-us"][page.lang]}}</a>
      </h1>
    </div>
  </section>
  <div class="container-fluid" id="section-bottom">
    <div class="container" id="bottom-index">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <h4 class="block-title">{{ site.data.sections.content.short[page.lang] }}</h4>
          {% include toc/sections_list.html  section='content' %}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <h4 class="block-title">{{ site.data.sections.platform.short[page.lang] }}</h4>
          {% include toc/sections_list.html  section='platform' %}

        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <h4 class="block-title">{{ site.data.sections.toolbox.short[page.lang] }}</h4>
          {% include toc/sections_list.html  section='toolbox' %}

        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <h4 class="block-title">{{ site.data.strings.social-links[page.lang] }}</h4>
          {% include social_list.html %}
          <div class="newsletter">
            {% include components/mailchimp.html %}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        {{ site.data.strings.copyright[page.lang]}} <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">CC. Attribution ShareAlike</a>
      </div>
      <div class="col-md-6 col-sm-6 col-sm-offset-3 col-md-offset-0 col-lg-offset-0">
        <div class="container-fluid">
          <div class="row-fluid bottom-nav-center">
            <div class="col-xs-4">
              <a href="https://holusion.com/{{page.lang}}">{{site.data.strings.holusion-com[page.lang]}}</a>
            </div>
            <div class="col-xs-4">
              <a href="https://holusion.com/{{page.lang}}/products">{{site.data.strings.products[page.lang]}}</a>
            </div>
            <div class="col-xs-4">
              <a href="https://holusion.com/{{page.lang}}/about">{{site.data.strings.about[page.lang]}}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <ul class="navbar-right">
            {% include components/language_picker.html type="dropup" %}
        </ul>
      </div>
    </div>
  </div>
</div></footer>
  <!-- /.container -->
