
{% capture links %}

{% endcapture %}

{% capture right_links %}
  {% include components/nav/navbar_link.html url='about' title=site.data.sections.about %}
  {% include components/nav/navbar_link.html url='products' title=site.data.sections.products %}
  {% include components/nav/navbar_link.html url='usages' title=site.data.sections.usages %}
  {% include components/nav/navbar_link.html url='posts' title=site.data.sections.posts %}
  {% include components/nav/navbar_link.html url='press' title=site.data.sections.presse %}
  {% include components/language_picker.html type="dropdown" %}
{% endcapture %}

{% include layout/common_navbar_top.html left_links=links right_links=right_links %}
