


{% capture right_links %}
  <li class="nav-item">
    <a class="nav-link" href="/dev/{{page.lang}}">{{site.data.sections.dev[page.lang]}}</a>
  </li>
  {% include components/nav/navbar_link.html url='about' title=site.data.sections.about %}
  {% include components/nav/navbar_link.html url='products' title=site.data.sections.products %}
  {% comment %}
  {% include components/nav/navbar_link.html url='usages' title=site.data.sections.usages %}
  {%endcomment%}
  {% include components/nav/navbar_link.html url='posts' title=site.data.sections.posts %}
  {% include components/nav/navbar_link.html url='store' title=site.data.sections.store %}
  {% include components/language_picker.html type="nav-item dropdown" %}
{% endcapture %}

{% include layout/common_navbar_top.html right_links=right_links %}
