<footer><div id="navbar-bottom" role="navigation" class="container-fluid">

  {% include components/contact_form.html %}
  <section id="contact-bottom">
    <div class="container">
        {{site.data.strings["need-help"][page.lang]}} ?
        <a style="cursor:pointer" onclick='displayContactForm()'>{{site.data.strings["contact-us"][page.lang]}}</a>
    </div>
  </section>
  <div class="container-fluid" id="section-bottom">
    <div class="container" id="bottom-index">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <h4 class="block-title">Holusion</h4>
          <ul>
            <li><a href="{{domain}}/{{page.lang}}/about">
              {{site.data.sections.about[page.lang]}}
            </a></li>
            <li><a href="{{domain}}/{{page.lang}}/products">
              {{site.data.sections.products[page.lang]}}
            </a></li>
            <li><a href="/static/files/CGV_GENERAL_condensee_2017.pdf">
              {{site.data.sections.cgv[page.lang]}}
            </a></li>
            <li><a href="/{{page.lang}}/about/privacy">
              Politique de confidentialité
            </a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <h4 class="block-title">{{site.data.sections.products[page.lang]}}</h4>
          {% include utils/make_products.html %}
          <ul>
          {% for post in products limit: 4 %}
            {% include components/nav/bottom_li.html content=post %}
          {% endfor %}
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <h4 class="block-title">{{site.data.sections.posts[page.lang]}}</h4>
          <ul>
            {% include utils/make_posts.html %}
            {% for post in posts limit: 4 %}
              {% include components/nav/bottom_li.html content=post %}
            {% endfor %}
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
          <h4 class="block-title">{{ site.data.strings.social-links[page.lang] }}</h4>
          {% include social_list.html %}
          <div class="newsletter">
            {% include components/mailchimp.html %}
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-nav-row">
      <div >
        <span class="visible-lg">
          {{ site.data.strings.copyright[page.lang]}}
        </span>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
          <span class="visible-lg">CC. Attribution ShareAlike</span>
          <span class="hidden-lg">CC.BySa</span>
        </a>
      </div>
      <div class="row-fluid bottom-nav-center">
        <div>
          <a href="/{{page.lang}}">Holusion SAS</a>
        </div>
        <div>
          +33 (0)9 72 42 44 51
        </div>
        <div>
          99A bvd Descat, 59200 Tourcoing - France
        </div>
      </div>
      <div>
        <ul class="navbar-right">
            {% include components/language_picker.html type="dropup" %}
        </ul>
      </div>
    </div>
  </div>
</div></footer>
  <!-- /.container -->
