<footer class="mt-5 bg-dark text-white">
  {% comment %} contact-form is position:fixed and will not interfere int the layout {%endcomment%}
  {% include components/contact_form.html %}

  <section id="contact-bottom" class="bg-info text-white">
    <div class="container">
        {{site.data.strings["need-help"][page.lang]}} ?
        <a id="navbar-contact-button" class="btn btn-outline-secondary text-white font-weight-bold" style="cursor:pointer" onclick='displayContactForm()'>{{site.data.strings["contact-us"][page.lang]}}</a>
    </div>
  </section>

  <nav id="navbar-bottom" role="navigation"  class="navbar navbar-dark text-light p-2">
    <div class="row w-100">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 pt-4">
        <h4 class="block-title text-white">Holusion</h4>
        <ul class="navbar-nav">
          <li><a href="{{domain}}/{{page.lang}}/about">
            {{site.data.sections.about[page.lang]}}
          </a></li>
          <li><a href="{{domain}}/{{page.lang}}/products">
            {{site.data.sections.products[page.lang]}}
          </a></li>
          <li><a  href="/static/files/CGV_GENERAL_condensee_2017.pdf">
            {{site.data.sections.cgv[page.lang]}}
          </a></li>
          <li><a href="/{{page.lang}}/about/privacy">
            Politique de confidentialité
          </a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 pt-4">
        <h4 class="block-title text-white">{{site.data.sections.products[page.lang]}}</h4>
        <ul class="navbar-nav">
        {% for post in site.products_items[page.lang] limit: 4 %}
          {% include components/nav/bottom_li.html content=post %}
        {% endfor %}
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 pt-4">
        <h4 class="block-title text-white">{{site.data.sections.posts[page.lang]}}</h4>
        <ul class="navbar-nav">
          {% for post in site.categories[page.lang] limit: 4 %}
            {% include components/nav/bottom_li.html content=post %}
          {% endfor %}
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-12 col-lg-3 pt-4">
        <h4 class="block-title text-white">{{ site.data.strings.social-links[page.lang] }}</h4>
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-12">
            {% include lists/social_list.html %}
          </div>
            <div class="col-sm-12 col-md-6 col-lg-12 newsletter">
              {% include components/mailchimp.html %}
            </div>
      </div>
    </div>
  </nav>
  <section id="bottom-nav-row" class="row no-gutters">
    <div class="col-4 col-lg-5 col-xl-6 order-1 text-left">
      <span class="d-none d-lg-inline">
        {{ site.data.strings.copyright[page.lang]}}
      </span>
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
        <span class="d-none d-xl-inline">CC. Attribution ShareAlike</span>
        <span class="d-inline d-xl-none">CC.BySa</span>
      </a>
    </div>
    <div class="col-12 col-sm-6 col-lg-5 col-xl-4 order-3 order-sm-2">
      +33 (0)9 72 42 44 51
    </div>
    <div class="col order-2 order-sm-3 d-flex justify-content-end">
      <ul class="navbar-nav">
          {% include components/language_picker.html type="dropup" %}
      </ul>
    </div>

    <div class="col-12 col-xl-12 order-4 text-center">
      99A bvd Descat, 59200 Tourcoing - France
    </div>

  </section>
</footer>
