<nav id="navbar-top" class="navbar navbar-expand-md fixed-top navbar-light bg-light" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-header">
        <a href="/{{page.lang}}/" class="navbar-brand" id="home-logo" aria-label="Holusion logo"> </a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav mr-auto" role="menu">
          {% comment %} Links floating to the left come here {%endcomment %}
        </ul>
        <ul class="nav navbar-nav" role="menu">
          {% capture dev_url %}/dev/{{page.lang}}/{% endcapture %}
          {% include components/nav/navbar_link.html href=dev_url title=site.data.sections.dev %}
          {% include components/nav/navbar_link.html url='about' title=site.data.sections.about %}
          {% include components/nav/navbar_link.html url='products' title=site.data.sections.products %}
          {% include components/nav/navbar_link.html url='usages' title=site.data.sections.usages %}
          {% include components/nav/navbar_link.html url='posts' title=site.data.sections.posts %}
          {% include components/nav/navbar_link.html url='store' title=site.data.sections.store %}
          {% include components/language_picker.html type="nav-item dropdown" classes="nav_link" %}
        </ul>
      </div>
    </div>
    <!-- /.container -->
</nav>
