---
layout: front_page
---

{% include utils/make_products.html %}
<section class="title">
    <div class="container">
      <h1>
        Nos solutions
      </h1>
    </div>
  </section>
{% include ariane.html %}
<div class="container">
<h1 id="main-title-1" class="rtecenter" style="padding: 30px 0px 50px 0px">L'affichage digital innovant</h1>
<p class="rtecenter" style="padding-bottom: 30px">Holusion conçoit et développe des solutions d'affichage digital innovant. <br>Fabriquées en France, ces solutions de réalité augmentée prennent place dans votre univers pour valoriser vos produits et activité.</br>Laissez-vous toucher par l'hologramme et l'écran transparent, deux expertises interactives qui créeront une nouvelle expérience autour de votre marque.</p>
</div>
<div class="container">
{% for product in products %}
  {% include components/post_thumbnail.html content=product %}
{% endfor %}
  {% include components/post_thumbnail.html
    image="/static/img/posts/default.jpg"
    title="Sur-mesure"
    abstract="Découvrez notre accompagnement personnalisé qui vous aidera à mettre en place votre projet d'innovation"
    %}
</div>
