---
layout: post
title: Iris 22-32
image: /build/img/products/iris_nausicaa.jpg
image2x: /build/img/products/iris_nausicaa_2x.jpg
abstract: Vitrine holographique inédite
rank: 3
slides:
  -
    image: /static/img/products/iris_22_voiture.jpg
  -
    image: /static/img/products/iris_nausicaa.jpg
  -
    image: /static/img/products/Prism_v2_immobilier.jpg



tags: iris
---
<div class="row" />
  <div class="col-lg-6 col-md-12 row-no-padding">
    {% include components/slideshow.html contents=page.slides height=250 %}
  </div>
  <div class="col-lg-6 col-md-12" align="center">
    <img style="padding-top: 30px" alt="Picto Focus" class="img-responsive" src="/static/img/products/picto_iris.jpg"/>
    <h1 align="center">Hologramme 1 face</h1>
    <h4 align="center">IRIS 22 à partir de 2000,00€ HT*</h3>
      <h4 align="center">IRIS 32 à partir de 4 500,00€ HT*</h3>
        <h5 align="center">Disponible également en location</h3>
    <div align="center"><font size="1pt">*Prix public conseillé pour le produit 22 et 32 pouces.</font></div>
  </div>
</div>

  <div class="row">
    <div class="col-lg-6 col-md-12">
      <h2 style="padding-top: 30px">Sur-mesure</h2>
      <p>L’hologramme IRIS vous offre de nouvelles possibilités : afficher vos produits ou projets en haute définition dans <b>un espace optimisé</b>. Le projecteur, <b>personnalisable et sur-mesure</b>, s’intègre ainsi naturellement dans votre univers. Interactif, IRIS devient le <b>support pédagogique</b> pour des présentations institutionnelles ou éducatives.</p>
      <h2>Mapping d'objets</h2>
      <p>Votre produit ne fera plus qu'un avec l'hologramme. Placé dans le projecteur d'hologrammes, un <b>mapping vidéo</b> apparaît sur le produit pour le mettre en avant et apporter des informations complémentaires. Effets spéciaux, personnalisation ou informations complémentaires, un <b>large panel d'effets</b> viennent à vous pour valoriser votre produit.</p>
    </div>

    <div class="col-lg-6 col-md-12">
      <div style="padding-top: 40px">
        {% include components/medias/youtube.html embed="GlQzBthx9JE" %}
      </div>
    </div>
  </div>

  <div align="center" style="padding-top: 30px">
    <img  alt="Schéma de l'Iris 32 pouces" class="img-responsive" <img   style="padding-top: 70px" alt="Schéma du Iris" class="img-responsive" src="/build/img/products/dimensions_iris32.png" srcset="/build/img/products/dimensions_iris32_2x.jpg 2x, /build/img/products/dimensions_iris32.jpg" style="padding-top: 40px; padding-bottom: 10px;" />
    <h3> <b>L'iris 32</b> </h3>
  </div>



    <h2 align="center" style="padding-top: 50px">CARACTÉRISTIQUES</h2>
        <div class="row" style="padding-top: 70px">
          <div class="col-lg-1 col-md-12">
            {% svg src/pictos/produits/Picto__1_face.svg width=70 %}
          </div>
          <div class="col-lg-3 col-md-12">
            <h3>VITRINE HOLOGRAPHIQUE</h3>
            <p>L'hologramme prend plus d'ampleur en occupant entièrement sur l'unique surface du projecteur. </p>
          </div>
          <div class="col-lg-1 col-md-12">
            {% svg src/pictos/produits/Picto__Sur-mesure.svg width=70 %}
          </div>
          <div class="col-lg-3 col-md-12">
            <h3>SUR MESURE</h3>
            <p>Nous concevons avec vous ce produit sur-mesure afin qu'il intègre au mieux votre univers (taille, couleurs, etc.)</p>
          </div>
          <div class="col-lg-1 col-md-12">
            {% svg src/pictos/produits/Picto__Taille_iris.svg width=70 %}
          </div>
          <div class="col-lg-3 col-md-12">
            <h3>TAILLE DE L'ECRAN</h3>
            <p>Deux tailles d'écran sont disponibles pour l'Iris : 22 pouces et 75 pouces.</p>
          </div>
        </div>

        <div class="row" style="padding-top: 50px">
          <div class="col-lg-1 col-md-12">
            {% svg src/pictos/produits/Picto__Luminosite_hpop.svg width=70 %}
          </div>
          <div class="col-lg-3 col-md-12">
            <h3>LUMINOSITÉ</h3>
            <p>Une luminosité de 2 500 cd/m² vous permet de voir l'hologramme dans tout environnement, même très éclairé.</p>
          </div>
          <div class="col-lg-1 col-md-12">
            {% svg src/pictos/produits/Picto__Mapping.svg width=70 %}
          </div>
          <div class="col-lg-3 col-md-12">
            <h3>MAPPING D'OBJETS</h3>
            <p>Le mapping holographique révèle les secrets de votre produit. Placez le dans le projecteur et laissez agir l'animation.</p>
          </div>
          <div class="col-lg-1 col-md-12">
            {% svg src/pictos/produits/Picto__Interactif.svg width=70 %}
          </div>
          <div class="col-lg-3 col-md-12">
            <h3>INTERACTIF</h3>
            <p> Vous pouvez interagir avec l'hologramme grâce à des capteurs sans contact, joystick ou tablette tactile.</p>
          </div>
        </div>
        <div class="row" style="padding-top: 50px">
          <div class="col-lg-1 col-md-12">
            {% svg src/pictos/produits/Picto__Garantie.svg width=70 %}
          </div>
          <div class="col-lg-3 col-md-12">
            <h3>GARANTIE 1 AN</h3>
            <p>Après l'achat du produit, vous disposez d'un an de garantie pour pallier aux erreurs logicielles.</p>
          </div>
          <div class="col-lg-1 col-md-12">
            {% svg src/pictos/produits/Picto__Telecommande.svg width=70 %}
          </div>
          <div class="col-lg-3 col-md-12">
            <h3>GESTION A DISTANCE</h3>
            <p>L'hologramme se connecte à votre smartphone en wifi. Gérez ainsi la playlist de vidéos en temps réel.</p>
          </div>
          <div class="col-lg-1 col-md-12">
            {% svg src/pictos/produits/Picto__Plug-play.svg width=70 %}
          </div>
          <div class="col-lg-3 col-md-12">
            <h3>PLUG & PLAY</h3>
            <p>En deux-trois mouvements, branchez et allumez le projecteur d'hologramme pour le faire fonctionner.</p>
          </div>
        </div>


  <h2 align="center" id="main-title-1" style="padding-top: 30px">Quelques histoires sur Iris...</h2>
