---
layout: post
title: Kit Pixels
image: /build/img/products/kit_pixels_vignette.jpg
image2x: /build/img/products/kit_pixels_vignette_2x.jpg
abstract: Découvrez le kit des hologrammes accessibles à tous
rank: 2
slides:
  -
    image: /static/img/products/kit_pixels_maquette.jpg
  -
    image: /static/img/products/kit_pixels_1.jpg
  -
    image: /static/img/products/kit_pixels_2.jpg

tags: pixel
---
<div class="row" >
  <div class="col-lg-6 col-md-12 row-no-padding">
    {% include components/slideshow.html contents=page.slides height=250 %}
  </div>
  <div class="col-lg-6 col-md-12" align="center">
    <img style="padding-top: 30px" alt="Picto Pixel" class="img-responsive" src="/static/img/products/picto_pixel.png"/>
    <h1 align="center">Expérience créative à partager</h1>
    <h3 align="center">Le Kit hologrammes accessible à tous !</h3>
    <h3 align="center" style="padding-bottom: 10px">Commandez-le en ligne, à l'unité.</h3>
    {% include shop/store-fab.html %}
  </div>
</div>

  <div class="row" style="padding-top: 100px">
    <div class="col-lg-6 col-md-12">
      <h2>
Un kit, trois hologrammes, trois expériences</h2>
      <p>Le Kit Pixels est le premier kit à vous proposer une approche simple et ludique avec des hologrammes.
Grâce à une playlist holographique (<a href="https://pixel.holusion.com">pixel.holusion.com</a>), vous pourrez admirer à plusieurs, des hologrammes surprenants allant de
<a href="https://www.youtube.com/watch?v=2zpec2GzkUI&list=PLUHVztX-fSBA8DBZVbAvZX5QjqgFlZmEP&index=6">la Reine des Neiges</a> à
<a href="https://www.facebook.com/pg/holusion/videos/?ref=page_internal"> Stars Wars </a> par exemple.
</p>
<p> Vous pourrez y retrouverez pour smartphone : <a href="/fr/products/pixel">le Pixel</a> et le <a href="/fr/products/pixel">Pixel + </a>(avec sa structure plus élégante et plus qualitative) et pour tablette : <a href="/fr/products/pixel">le Pixel XL</a> pour des hologrammes encore plus grands !</p>

      <h2>Mais qu’est-ce qu’ un Pixel?</h2>
      <p>Le<a href="/fr/products/pixel"> Pixel</a>  est une petite pyramide qui diffuse un hologramme à 360°. Il se glisse dans la poche et vous pourrez en faire profiter votre entourage.
        C’est le goodies innovant qu’on a envie de montrer à tout le monde. </p>
      <h2>Comment ça marche ?</h2>
      <p>Toutes les informations sont sur notre plaquette qui, elle aussi, se transforme en pyramide ! Une manière de vivre l’expérience du Kit pixels jusqu’au bout. Il vous suffit de visionner notre « tuto kit pixel »
        juste à droite. Notre vidéo se trouve également sur <a href="https://www.youtube.com/channel/UChquBpE1S5zFjUbtZWddZMQ">la chaîne Youtube d’Holusion</a>.</p>

        <h2> Du côté des professionnels </h2>
<p> Le Kit Pixels est le cadeau original à offrir à votre équipe ! Une expérience innovante que vous pourrez partager avec vos collaborateurs.
Votre logo d’entreprise en hologramme ? C’est possible. Vous pouvez créez votre propre playlist, pour obtenir un véritable sentiment d’appartenance. </p>
<p>En quelques clics transformez votre vidéo en hologramme sur <a href="https://pixel.holusion.com">pixel.holusion.com</a>. </p>
<p>Optimisez votre référencement en hébergeant vos hologrammes sur une plateforme en votre nom. Exemple : <a href="http://pixel.gustavbycocktail.com/">pixel.gustavbycocktail.com</a>.</p>


  </div>

    <div class="col-lg-6 col-md-12">
      {% include components/medias/youtube.html url="https://www.youtube.com/embed/DzCsZqitjhk" %}
    </div>

    <div class="col-lg-6 col-md-12">
      <div style="padding-top:40px">
        {% include components/medias/youtube.html url="https://www.youtube.com/embed/tC7NKXgiY1s" %}
      </div>
    </div>
</div>
<div class="row">
  <div class="col-md-12">
  <h1 align="center" >Caractéristiques techniques</h1>
</div>
</div>

  <div class="row" style="padding-top: 20px">
    <div class="col-lg-1 col-md-12" align="right">
      {% svg src/pictos/produits/Picto__360.svg width=50 %}
    </div>
    <div class="col-lg-3 col-md-12">
      <p><b>Hologramme 360°</b></p>
      <p>L'hologramme peut être perçu à 360° dans le projecteur. Vous visualiserez ainsi l'objet sous tous ses angles.</p>
    </div>
    <div class="col-lg-1 col-md-12" align="right">
      {% svg src/pictos/produits/Picto__Smartphone.svg width=50 %}
    </div>
    <div class="col-lg-3 col-md-12">
      <p><b>Taille smartphone</b></p>
      <p>La pyramide peut se placer sur des smartphone de différentes tailles : 5,5 et 6,5 pouces.</p>
    </div>
    <div class="col-lg-1 col-md-12" align="right">
      {% svg src/pictos/produits/Picto__Tablette.svg size=50 %}
    </div>
    <div class="col-lg-3 col-md-12">
      <p><b>Taille tablette</b></p>
      <p>La pyramide peut se placer sur des tablettes de différentes tailles : 10 et 13 pouces.</p>
    </div>
  </div>

  <div class="row" style="padding-top: 30px">
    <div class="col-lg-1 col-md-12" align="right">
      {% svg src/pictos/produits/Picto__Stickage-logo.svg size=50 %}
    </div>
    <div class="col-lg-3 col-md-12">
      <p><b>Votre logo gravé</b></p>
      <p>Personnalisez vos pyramides Pixel en stickant ou gravant votre logo, signe distinctif, signature ou site internet.</p>
    </div>
    <div class="col-lg-1 col-md-12" align="right">
        {% svg src/pictos/produits/Picto__Ventouse.svg size=50 %}
    </div>
    <div class="col-lg-3 col-md-12">
      <p><b>Ventouse de fixation</b></p>
      <p>Une ventouse sous la pyramide lui permet de rester fixe sur le smartphone à tout moment.</p>
    </div>
    <div class="col-lg-1 col-md-12" align="right">
        {% svg src/pictos/produits/Picto__Blister.svg width=50 %}
    </div>
    <div class="col-lg-3 col-md-12">
      <p><b>Emballage blister personnalisable</b></p>
      <p>La pyramide vous est livrée dans un emballage blister sur-mesure afin d'assurer sa protection.</p>
    </div>
  </div>

  <div align="center" style="padding-top: 50px"><button class="button button-blue" style="cursor:pointer" onclick=window.location.href="https://holusion.com/fr/store">
           Store Holusion
         </button></div>

  <h2 align="center" id="main-title-1" style="padding-top: 40px">Quelques histoires sur le Pixel...</h2>
