---
layout: post
title: Pixel
image2x: /build/img/products/goodies_banner_2x.jpg
image: /build/img/products/goodies_banner.jpg
abstract: Mini pyramides pour téléphones et tablettes
rank: 0
tags: pixel
slides:
  -
    image: /static/img/products/pixel_papillon.jpg
  -
    image: /static/img/products/pixelplus_dodo.jpg
  -
    image: /static/img/products/pixel_reinedesneiges.jpg
  -
    image: /static/img/products/pixel_dodo_3dduo.jpg
  -
    image: /static/img/products/pixel_peugeot.jpg

---

<div class="row"/>
  <div class="col-lg-6 col-md-12 row-no-padding">
  {% include components/slideshow.html contents=page.slides height=250 %}
  </div>
  <div class="col-lg-6 col-md-12" align="center">
    <img style="padding-top: 10px" alt="Picto Pixel" class="img-responsive" src="/static/img/products/picto_pixel.png"/>
    <h1 align="center">Hologramme smartphone</h1>
    <h3 align="center">Commandez en ligne, à l'unité.</h3>
    {% include shop/store-fab.html %}
 </div>
</div>


<div class="row">
  <div class="col-lg-6 col-md-12">
    <h2 style="padding-top: 30px">Goodies holographiques</h2>
    <p>Petit plus dans votre <b>présentation produit</b>, cet hologramme de poche vous accompagne dans votre quotidien.</p>
    <p>Posez <b>votre smartphone</b> sous la pyramide Pixel, visitez <a href="https://pixel.holusion.com">pixel.holusion.com</a> et la magie peut commencer.</p>
    <p>Attirant, intrigant et inédit, ce mini hologramme <b>transporte vos clients</b> dans un imaginaire et valorise votre image de marque.</p>
    <p>Maintenant disponible : l'hologramme pour <b>tablettes tactiles</b> et le Pixel haut de gamme !</p>
  </div>

  <div class="col-lg-6 col-md-12">
    <div style="padding-top: 40px">
      {% include components/medias/youtube.html url="https://www.youtube.com/embed/slU544PEirs" %}
    </div>
  </div>
</div>

<div class="row" style="padding-top: 40px">
  <div class="col-md-12"><h1 align="center">3 modèles, 3 expériences</h1></div>
</div>

<div id="pixel">
<div class="row" style="padding-top: 20px">
  <div class="col-lg-8 col-md-12">
    <img alt="Hologramme smartphone Pixel" class="img-responsive" src="/static/img/products/pixel.jpg">
 </div>
 <div class="col-lg-4 col-md-12" style="padding-top: 30px">
   <h2>Pixel</h2>
   <p>Le Pixel diffuse un hologramme qui jaillit de votre smartphone. Compatible avec n'importe quel smartphone, emmenez-le partout avec vous pour impressionner vos proches et vos clients. Kiabi, PSA et Dentsu ont déjà tenté l'expérience pour mettre en avant leur marque, pourquoi pas vous ?</p>

   <p><a href="{{site.url}}/fr/store/">Commandez le Pixel sans plus attendre :</a></p>
   <div style="padding: 10px 0px 30px 0px">
     {% include shop/store-fab.html %}
 </div>
 <div align="right">
  <a href="https://pixel.holusion.com">Notice de construction ></a>
 </div>
</div>
</div>
</div>


<div id="pixelxl">
<div class="row" style="padding-top: 60px">
  <div class="col-lg-4 col-md-12" style="padding-top: 30px">
    <h2>Pixel XL</h2>
    <p>Comme son nom l'indique, le <b>Pixel XL</b> fait surgir les hologrammes de votre <b>tablette tactile</b>. Avec un design identique au Pixel, cet hologramme encore plus grand attire l'attention en un clin d'oeil.</p>
    <p><a href="{{site.url}}/fr/store/">Commandez le Pixel XL sans plus attendre :</a></p>
    <div style="padding-top: 10px">
      {% include shop/store-fab.html %}
  </div>
</div>
   <div class="col-lg-8 col-md-12">
     <img alt="Hologramme Pixel XL" class="img-responsive" src="/static/img/products/pixelxl_schema.jpg">
  </div>
</div>

<div align="right">
 <a href="https://pixel.holusion.com">Notice de construction ></a>
</div>
</div>

<div id="pixel+">
<div class="row" style="padding-top: 60px">
 <div class="col-lg-8 col-md-12">
   <img alt="Hologramme Pixel +" class="img-responsive" src="/static/img/products/pixel+.jpg">
 </div>
 <div class="col-lg-4 col-md-12" style="padding-top: 30px">
   <h2>Pixel +</h2>
   <p>Version haut de gamme de l'hologramme pour smartphone, Pixel + dévoile l'image dans un boitié au design épuré. Tout aussi transportable que le Pixel, il impressionnera ceux qui croiseront sa route.</p>
   <p><a href="{{site.url}}/fr/store/">Commandez le Pixel + sans plus attendre :</a></p>
   <div style="padding: 10px 0px 30px 0px">
     {% include shop/store-fab.html %}
   </div>
   <div align="right">
    <a href="https://pixel.holusion.com">Notice de construction ></a>
   </div>
</div>
</div>
</div>



<h1 align="center" style="padding-top: 40px">Caractéristiques techniques</h1>

<div class="row" style="padding-top: 20px">
  <div class="col-lg-1 col-md-12" align="right">
    {% svg src/pictos/produits/Picto__360.svg width=50 %}
  </div>
  <div class="col-lg-3 col-md-12">
    <p><b>Hologramme 360°</b></p>
    <p>L'hologramme peut être perçu à 360° dans le projecteur. Vous visualiserez ainsi l'objet sous tous ses angles.</p>
  </div>
  <div class="col-lg-1 col-md-12" align="right">
    {% svg src/pictos/produits/Picto__Smartphone.svg width=50 %}
  </div>
  <div class="col-lg-3 col-md-12">
    <p><b>Taille smartphone</b></p>
    <p>La pyramide peut se placer sur des smartphone de différentes tailles : 5,5 et 6,5 pouces.</p>
  </div>
  <div class="col-lg-1 col-md-12" align="right">
    {% svg src/pictos/produits/Picto__Stickage-logo.svg width=50 %}
  </div>
  <div class="col-lg-3 col-md-12">
    <p><b>Votre logo gravé</b></p>
    <p>Personnalisez vos pyramides Pixel en stickant ou gravant votre logo, signe distinctif, signature ou site internet.</p>
  </div>
</div>

<div class="row" style="padding-top: 30px">
  <div class="col-lg-1 col-md-12" align="right">
      {% svg src/pictos/produits/Picto__Ventouse.svg width=50 %}
  </div>
  <div class="col-lg-3 col-md-12">
    <p><b>Ventouse de fixation</b></p>
    <p>Une ventouse sous la pyramide lui permet de rester fixe sur le smartphone à tout moment.</p>
  </div>
  <div class="col-lg-1 col-md-12" align="right">
      {% svg src/pictos/produits/Picto__Blister.svg width=50 %}
  </div>
  <div class="col-lg-3 col-md-12">
    <p><b>Emballage blister personnalisable</b></p>
    <p>La pyramide vous est livrée dans un emballage blister sur-mesure afin d'assurer sa protection.</p>
  </div>
</div>


<h1 align="center" style="padding-top: 40px">Hébergement de vos playlist</h1>

<center> Voici pourquoi il est intéressant d'intégrer vos hologrammes dans une playlist personnalisée !</center>

<div class="row" style="padding-top: 30px">
  <div class="col-lg-1 col-md-12"  align="right">
    {% svg src/pictos/hebergement_pixel/picto_play.svg width=50 %}
  </div>
  <div class="col-lg-3 col-md-12">
    <p><b>Playlist sur-mesure</b></p>
    <p>Gérez facilement une playlist d'hologrammes pensée pour vous : play, pause, repeat, next. Tout est possible.</p>
  </div>
  <div class="col-lg-1 col-md-12"  align="right">
    {% svg src/pictos/hebergement_pixel/picto_upload.svg width=50 %}
  </div>
  <div class="col-lg-3 col-md-12">
    <p><b>Montage automatique</b></p>
    <p>Importez vos vidéos sur l'interface. Elles se convertiront automatiquement en hologramme. </p>
  </div>
  <div class="col-lg-1 col-md-12"  align="right">
    {% svg src/pictos/hebergement_pixel/picto_focus.svg width=50 %}
  </div>
  <div class="col-lg-3 col-md-12">
    <p><b>Uniquement votre contenu</b></p>
    <p>Un hébergement personnalisé c'est 0 publicité et surtout 0 contenu extérieur.</p>
  </div>
</div>

<div class="row" style="padding-top: 20px">
  <div class="col-lg-1 col-md-12"  align="right">
    {% svg src/pictos/hebergement_pixel/picto_edit.svg width=50 %}
  </div>
  <div class="col-lg-3 col-md-12">
    <p><b>Nom de domaine personnalisé</b></p>
    <p>Mettez en avant votre marque en créant votre propre nom de domaine. Exemple : voeux2017-apple.com</p>
  </div>
  <div class="col-lg-1 col-md-12"  align="right">
    {% svg src/pictos/hebergement_pixel/picto_seo.svg width=50 %}
  </div>
  <div class="col-lg-3 col-md-12">
    <p><b>Bon référencement</b></p>
    <p>Augmentez votre visibilité en apportant la dimension d'expert holographique permise par Holusion.</p>
  </div>
  <div class="col-lg-1 col-md-12"  align="right">
    {% svg src/pictos/hebergement_pixel/picto_smartphone.svg width=50 %}
  </div>
  <div class="col-lg-3 col-md-12">
    <p><b>Sur tous les smartphones</b></p>
    <p>Les smartphones sous Androïd, IOS et Windows peuvent recueillir vos playlists d'hologrammes.</p>
  </div>
</div>

<div align="center" style="padding-bottom:20px">
  <h1 style="padding-top: 50px">Construire et utiliser mon Pixel</h1>
</div>

<div class="row">
  <div class="col-lg-6 col-md-12">
    <h3 align="center">Suivez le tutoriel pour construire votre pyramide</h3>
    <a href="https://pixel.holusion.com"><img alt="Construction du Pixel" class="img-responsive" src="/static/img/products/montage_pixel.jpg"></a>
 </div>
 <div class="col-lg-6 col-md-12">
   <h3 align="center">Démarrez la playlist et découvrez tous les hologrammes</h3>
   {% comment %}
   {% include components/medias/pixel_video.html url="https://ptest.holusion.com/view?v=02%20décembre&embed=true"%}
   {% endcomment %}
     <a href="https://pixel.holusion.com/view?v=02%20décembre"><img alt="Playlist du Pixel" class="img-responsive" src="/static/img/products/pixel_playlist.png"></a>
   </div>
</div>

<h2 align="center" id="main-title-1" style="padding-top: 50px">Quelques histoires sur le Pixel...</h2>
