---
layout: post
title: Pixel
image2x: /build/img/products/goodies_banner_2x.jpg
image: /build/img/products/goodies_banner.jpg
abstract: Mini pyramides pour téléphones et tablettes
rank: 5
tags: pixel
slides:
  -
    image: /static/img/products/pixel_rentree.jpg
  -
    image: /static/img/products/pixel_meduse.jpg
  -
    image: /static/img/products/pixel_fleur_2.jpg
  -
    image: /static/img/products/pixel_fleur.jpg
  -
    image: /static/img/products/pixel_danseurs.jpg
  -
    image: /static/img/products/pixel_minion.jpg

---
{% include scripts/snipcart.html %}

<div class="row" />
  <div class="col-lg-6 col-md-12">
  {% include components/post_slideshow.html contents=page.slides height=250 %}
  </div>
  <div class="col-lg-6 col-md-12" align="center">
    <img style="padding-top: 30px" alt="Picto Pixel" class="img-responsive" src="/static/img/products/picto_pixel.jpg"/>
    <h1 align="center">Hologramme smartphone</h1>
    <h3 align="center">Commandez en ligne, à l'unité.</h3>
    {% include shop/pixel.html description="Un hologramme pour smartphones qui vous accompagnera au quotidien" %}
 </div>
</div>



<div class="row">
  <div class="col-lg-6 col-md-12">
    <h2 style="padding-top: 30px">Goodies holographiques</h2>
    <p>Petit plus dans votre <b>présentation produit</b>, cet hologramme de poche vous accompagne dans votre quotidien.</p>
    <p>Posez <b>votre smartphone</b> sur ou sous la pyramide Pixel, démarez <a href="https://www.youtube.com/playlist?list=PLUHVztX-fSBD--mzjF8-RMH4wn-J0UN8r">YouTube</a> et la magie peut commencer.</p>
    <p>Attirant, intrigant et inédit, ce mini hologramme <b>transporte vos clients</b> dans un imaginaire et valorise votre image de marque.</p>
  </div>

  <div class="col-lg-6 col-md-12">
    <div style="padding-top: 40px">
      {% include components/youtube.html url="https://www.youtube.com/embed/ChXqPq8Bynw" %}
    </div>
  </div>
</div>

<div class="row" style="padding-top: 70px">
  <div class="col-md-12"><h2 align="center">2 modèles disponibles :</h2></div>
</div>

<div class="row" >
  <div class="col-lg-6 col-md-12" align="center">
    <h3 style="padding-bottom:30px">En vente directe sur ce site</h3>
    <img alt="Schéma Pixel" class="img-responsive" src="/static/img/products/pixel_schema2.png">
  </div>
  <div class="col-lg-6 col-md-12" align="center">
    <h3 style="padding-bottom:30px">A partir de 100 unités</h3>
    <img alt="Schéma de Pixel" class="img-responsive" src="/static/img/products/goodies_schema.jpg"/>
  </div>
</div>

<div class="row" style="padding-top: 50px">
  <div class="col-md-12"><h2 align="center">CARACTÉRISTIQUES</h2></div>
</div>

<div class="row" style="padding-top: 70px">
  <div class="col-lg-1 col-md-12">
    {% svg src/pictos/produits/Picto__360.svg size=70 %}
  </div>
  <div class="col-lg-3 col-md-12">
    <h3>HOLOGRAMME 360°</h3>
    <p>L'hologramme peut être perçu à 360° dans le projecteur. Vous visualiserez ainsi l'objet sous tous ses angles.</p>
  </div>
  <div class="col-lg-1 col-md-12">
    {% svg src/pictos/produits/Picto__Smartphone.svg size=70 %}
  </div>
  <div class="col-lg-3 col-md-12">
    <h3>TAILLE SMARTPHONE</h3>
    <p>La pyramide peut se placer sur des smartphone de différentes tailles : 5,5 et 6,5 pouces.</p>
  </div>
  <div class="col-lg-1 col-md-12">
    {% svg src/pictos/produits/Picto__Stickage-logo.svg size=70 %}
  </div>
  <div class="col-lg-3 col-md-12">
    <h3>VOTRE LOGO</h3>
    <p>Personnalisez vos pyramides Pixel en stickant ou gravant votre logo, signe distinctif, signature ou site internet.</p>
  </div>
</div>

<div class="row" style="padding-top: 50px">
  <div class="col-lg-1 col-md-12">
      {% svg src/pictos/produits/Picto__Ventouse.svg size=70 %}
  </div>
  <div class="col-lg-3 col-md-12">
    <h3>VENTOUSE</h3>
    <p>Une ventouse sous la pyramide lui permet de rester fixe sur le smartphone à tout moment.</p>
  </div>
  <div class="col-lg-1 col-md-12">
      {% svg src/pictos/produits/Picto__Blister.svg size=70 %}
  </div>
  <div class="col-lg-3 col-md-12">
    <h3>EMBALLAGE BLISTER</h3>
    <p>La pyramide vous est livrée dans un emballage blister sur-mesure afin d'assurer sa protection.</p>
  </div>
</div>


<div align="center" style="padding-bottom:20px">
  <h2 style="padding: 50px 0px 10px 0px">Comment ça marche ?</h2>
  <div align="center">Suivez plusieurs étapes pour construire votre propre pyramide PIXEL.</div>
</div>

<div class="row">
  <div class="col-md-12">
    <a href="https://pixel.holusion.com">
    <img class="img-responsive" height="200px" src="/build/img/products/pixel_landscape_2x.jpg" alt="header pixel.holusion.com">
    <h3 style="text-align:center;padding-top: 15px">pixel.holusion.com</h3>
    <h4 style="text-align:center;">
      Vous permet d'essayer et d'utiliser votre pixel chez vous, gratuitement et sans inscription
    </h4>
    </a>
  </div>
</div>

<h2 align="center" id="main-title-1" style="padding-top: 50px">Quelques histoires sur le Pixel...</h2>
