---
layout: post
title: Pixel
image2x: /build/img/products/goodies_banner_2x.jpg
image: /build/img/products/goodies_banner.jpg
abstract: Mini pyramides pour téléphones et tablettes
rank: 0
tags: pixel
slides:
  -
    image: /static/img/products/pixel_papillon.jpg
  -
    image: /static/img/products/pixel_fleur.jpg
  -
    image: /static/img/products/pixel_minion.jpg
  -
    image: /static/img/products/pixel_reinedesneiges.jpg
  -
    image: /static/img/products/pixel_panda.jpg
  -
    image: /static/img/products/pixel_shiness.jpg
  -
    image: /static/img/products/pixel_mannequins_kiabi.jpg
  -
    image: /static/img/products/pixel_pankapu.jpg
  -
    image: /static/img/products/pixel_dodo_3dduo.jpg
  -
    image: /static/img/products/pixel_bougie_noel.jpg
  -
    image: /static/img/products/pixel_lapin.jpg
  -
    image: /static/img/products/pixel_sapin_noel.jpg
  -
    image: /static/img/products/pixel_rentree.jpg
  -
    image: /static/img/products/pixel_peugeot.jpg
  -
    image: /static/img/products/pixel_danseurs.jpg


---
{% include scripts/snipcart.html %}

<div class="row"/>
  <div class="col-lg-6 col-md-12">
  {% include components/post_slideshow.html contents=page.slides height=250 %}
  </div>
  <div class="col-lg-6 col-md-12" align="center">
    <img style="padding-top: 10px" alt="Picto Pixel" class="img-responsive" src="/static/img/products/picto_pixel.png"/>
    <h1 align="center">Hologramme smartphone</h1>
    <h3 align="center">Commandez en ligne, à l'unité.</h3>
    {% include shop/pixel.html description="Un hologramme pour smartphones qui vous accompagnera au quotidien" %}
 </div>
</div>


<div class="row">
  <div class="col-lg-6 col-md-12">
    <h1 style="padding-top: 30px">Goodies holographiques</h1>
    <p>Petit plus dans votre <b>présentation produit</b>, cet hologramme de poche vous accompagne dans votre quotidien.</p>
    <p>Posez <b>votre smartphone</b> sous la pyramide Pixel, visitez <a href="https://pixel.holusion.com">pixel.holusion.com</a> et la magie peut commencer.</p>
    <p>Attirant, intrigant et inédit, ce mini hologramme <b>transporte vos clients</b> dans un imaginaire et valorise votre image de marque.</p>
    <p>Bientôt disponible : l'hologramme pour <b>tablettes tactiles</b> et le Pixel haut de gamme !</p>
  </div>

  <div class="col-lg-6 col-md-12">
    <div style="padding-top: 40px">
      {% include components/medias/youtube.html url="https://www.youtube.com/embed/slU544PEirs" %}
    </div>
  </div>
</div>


<div class="row">
  <div class="col-lg-6 col-md-12">
    <img alt="Schéma Pixel" class="img-responsive" src="/static/img/products/pixel_schema.jpg">
 </div>
 <div class="col-lg-6 col-md-12" style="padding-top: 30px">
   <h1>Pixel</h1>
   <p>Le Pixel diffuse un hologramme qui jaillit de votre smartphone. Compatible avec n'importe quel smartphone, emmenez-le partour avec vous pour impressionner vos proches et vos clients. Kiabi, PSA et Dentsu ont déjà tenté l'expérience pour mettre en avant leur marque, pourquoi pas vous ?</p>
   <p>Achetez le Pixel sans plus attendre :</p>
   <div style="padding-top: 20px">
   {% include shop/pixel.html description="Un hologramme pour smartphones qui vous accompagnera au quotidien" %}
 </div>
 </div>
</div>

<div class="row" style="padding-top: 40px">
  <div class="col-lg-1 col-md-12">
    {% svg src/pictos/produits/Picto__360.svg size=50 %}
  </div>
  <div class="col-lg-3 col-md-12">
    <p><b>Hologramme 360°</b></p>
    <p>L'hologramme peut être perçu à 360° dans le projecteur. Vous visualiserez ainsi l'objet sous tous ses angles.</p>
  </div>
  <div class="col-lg-1 col-md-12">
    {% svg src/pictos/produits/Picto__Smartphone.svg size=50 %}
  </div>
  <div class="col-lg-3 col-md-12">
    <p><b>Taille smartphone</b></p>
    <p>La pyramide peut se placer sur des smartphone de différentes tailles : 5,5 et 6,5 pouces.</p>
  </div>
  <div class="col-lg-1 col-md-12">
    {% svg src/pictos/produits/Picto__Stickage-logo.svg size=50 %}
  </div>
  <div class="col-lg-3 col-md-12">
    <p><b>Votre logo</b></p>
    <p>Personnalisez vos pyramides Pixel en stickant ou gravant votre logo, signe distinctif, signature ou site internet.</p>
  </div>
</div>

<div class="row" style="padding-top: 30px">
  <div class="col-lg-1 col-md-12">
      {% svg src/pictos/produits/Picto__Ventouse.svg size=50 %}
  </div>
  <div class="col-lg-3 col-md-12">
    <p><b>Ventouse</b></p>
    <p>Une ventouse sous la pyramide lui permet de rester fixe sur le smartphone à tout moment.</p>
  </div>
  <div class="col-lg-1 col-md-12">
      {% svg src/pictos/produits/Picto__Blister.svg size=50 %}
  </div>
  <div class="col-lg-3 col-md-12">
    <p><b>Emballage blister</b></p>
    <p>La pyramide vous est livrée dans un emballage blister sur-mesure afin d'assurer sa protection.</p>
  </div>
</div>


<div align="center" style="padding-bottom:20px">
  <h1 style="padding: 50px 0px 10px 0px">Construire et utiliser mon Pixel</h1>
</div>

<div class="row">
  <div class="col-lg-6 col-md-12">
    <h3 align="center">Suivez le tutoriel pour construire votre pyramide</h3>
    <a href="https://pixel.holusion.com"><img alt="Construction du Pixel" class="img-responsive" src="/static/img/products/pixel_construction.jpg"></a>
 </div>
 <div class="col-lg-6 col-md-12">
   <h3 align="center">Démarrez la playlist et découvrez tous les hologrammes</h3>
   <a href="https://pixel.holusion.com/view?v=07-decembre"><img alt="Schéma Pixel" class="img-responsive" src="/static/img/products/pixel_play.jpg"></a>
</div>
</div>

<h2 align="center" id="main-title-1" style="padding-top: 50px">Quelques histoires sur le Pixel...</h2>
