---
  title: Création de contenu
  lang: fr
---
<h2> Créez et diffusez vos réalisations</h2>
<p>
  Créez vos hologrammes à partir de vos propres ressources :
  Matérialisez vos projets en vous appuyant sur les solutions les plus accessibles du marché. Images de synthèses, numérisation de produits et montage de vos propres vidéos.
</p>


<div class="row">
  <div class="col-lg-6 col-12">
    <h2> Introduction </h2>
    <p>Dans cette vidéo, vous apprendrez:</p>
    <ul>
      <li>Les sujets les plus adaptés à une présentation en hologrammes</li>
      <li>Les choses à faire et à ne pas faire pour obtenir un rendu réussi</li>
      <li>Le cadrage, le détourage d'une vidéo</li>
    </ul>
  </div>
  <div class="col-lg-6 col-12">
    {% include components/medias/youtube.html  embed="l-0kverv6OA" %}
  </div>
</div>

<p>
  Chaque produit dispose d'une résolution et d'une disposition de contenu qui lui est propre. Il est important de bien positionner les éléments à afficher pour un rendu optimal.
  <br>
  Le <a href="/dev/fr/toolbox/manuals/">Manuel</a> de votre produit devrait détailler son format d'image, sa résolution et toutes informations techniques utiles. Nous fournissons par ailleurs des templates prêts à l'emploi pour pouvoir créer rapidement vos hologrammes sans barrière technique.
</p>
<p>
  Que vous soyez utilisateur de la <b>Suite Adobe</b>, <b>Infographiste 3D</b>, <b>développeur</b>, <b>vidéaste</b> ou amateur éclairé, nous avons pensé à vous et préparé des guides complets pour produire facilement vos contenus.
</p>

{% include lists/section_thumbnails.html section="content" %}
