---
  title: content
  lang: fr
---
{% include components/head_overlay_start.html image='/static/img/banners/content.jpg' %}
  <h4> Créez vos propres animations</h4>
  <p>
    Concevez vos hologrammes à partir de vos propres ressources :
    Matérialisez vos projets en vous appuyant sur les solutions les plus accessibles du marché. Images de synthèses, numérisation de produits et montage de vos propres vidéos.
  </p>
  <p>
    Créez et partagez vos réalisations.
  </p>
{% include components/head_overlay_end.html %}

{% include toc/section_thumbnails.html section=page.title %}
