---
layout: front_page
title: Prix

models:
  - name: Explore
    price: "750"
    description:
      - L'essentiel en exploration
    properties:
      - Vue orbitale dynamique
  - name: Improve
    price: "1 250"
    description:
      - Une découverte améliorée
    properties:
      - Toute l'offre "Explore"
      - Transitions dynamiques
      - Rendus réalistes
  - name: Upgrade
    price: "2 500"
    description:
      - Le niveau supérieur de simulation 3D
    properties:
      - Toute l'offre "Improve"
      - Scénarisation avancée
      - Motion design
      - Direction artistique dédiée
      - Rendu Ultra-HD
products:
  - name: Iris 22"
    price: "500"
    properties:
      - 1000 cd/m²
      - image full HD
    img: "seb"
  - name: Iris 32"
    price: "1 750"
    properties:
      - 1000 cd/m²
      - image full HD
    img: "seb"
  - name: Iris 75"
    price: "4 950"
    properties:
      - 2500 cd/m²
      - image 4k
    img: "seb"
services:
  - name: Individuel
    note: Maquettes individuelles
    price: Gratuit
    properties:
      - Administration hors ligne en autonomie
  - name: Professionnel
    note: Besoins récurrents
    price: 125€ HT/mois
    properties:
      - Administration en ligne sur interface dédiée
      - 10Go de stockage cloud inclus
      - 1 à 4 borne en gestion locale
  - name: Entreprise
    note: Déploiements
    price: 210€ HT/mois
    properties:
      - Administration en ligne sur interface dédiée
      - 100 Go de stockage cloud
      - Jusqu'à 100 bornes en gestion centralisée
      - Application interactive en temps réel

---

{% include components/section_title.html title="Tarifs" %}
<div class="container">
  {% ariane %}
</div>

<section id="section-pricing-grid" class="section section-main-header header-fill py-4">

  {%include components/header_image.html image="img/products/iris75_exterieur_BIM_1080p.jpg" alt="L'iris grand format en plein jour en extérieur montrant le plein potentiel de son écran très haute luminosité" %}

  <div class="main-header-body container p-0">
    <div class="pricing-grid content shadow rounded bg-white row no-gutters">
      <div class="pricing-grid-brand navbar-brand text-secondary text-center text-lg-left">Découvrez nos offres</div>
      <nav role="navigation" id="pricing-grid-nav" class="pricing-grid-aside">
        <ul class="nav d-flex flex-row flex-xl-column">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#products" role="tab" aria-controls="produits">
              {% asset icons/ui/resize-24px.svg @inline %}
              Location/vente
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#models" role="tab" aria-controls="maquettes">
              {% asset icons/ui/apartment-24px.svg @inline %}
              Maquettes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#admin" role="tab" aria-controls="administration">
              {% asset icons/ui/transfer-24px.svg @inline %}
              Administration
            </a>
          </li>
        </ul>
      </nav>
      <div class="tab-content pricing-grid-content px-lg-2">
        <div id="products" class="tab-pane fade show active">
          <div class="tab-header">
            <h2 class="text-center">Notre offre de location évènementielle</h2>
            <div class="">
            </div>
          </div>
          <div class="table-responsive-md">
            <table class="table prices-table">
              <thead>
                <tr class="bg-primary text-white">
                  {% for product in page.products %}
                    <th scope="col">{{product.name}}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                <tr>
                  {% for product in page.products %}
                    <td>
                      <span>à partir de</span>
                      <h5 class="text-right text-secondary">{{product.price}}€ HT</h5>
                      <small class="d-block w-100 text-right">produit nu 3 jours ouvrés</small>
                    </td>
                  {% endfor %}
                </tr>

                <tr>
                  {% for product in page.products %}
                    <td>
                      <ul class="list-group list-group-flush">
                        {% for prop in product.properties %}
                          <li class="list-group-item">{{prop}}</li>
                        {% endfor %}
                      </ul>
                    </td>
                  {% endfor %}
                </tr>
                <tr>
                  {% for product in page.products %}
                    <td class="text-right"><a href="{{product.url}}">en savoir plus</a></td>
                  {% endfor %}
                </tr>
                <tr>

                {% for product in page.products %}
                <td>
                  <span>image</span>

                  {% include components/offer_miniature.html
                    img=product.img
                  %}
                  </td>
                {% endfor %}
                </tr>
              </tbody>
            </table>
          </div>
          <div class="w-100 text-right px-2">
            Découvrez notre <a href="/fr/products/">gamme complète</a>
          </div>
        </div>


        <div id="models" class="tab-pane fade">
          <div class="tab-header">
            <h2 class="text-center">Notre offre de maquettes numériques</h2>
            <div class="">
            </div>
          </div>
          <div class="table-responsive-md">
            <table class="table prices-table">
              <thead>
                <tr class="bg-primary text-white">
                  {% for model in page.models %}
                    <th scope="col">{{model.name}}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="{{page.models.size}}" class="merged-colspan">
                    <div class="d-flex align-items-center flex-column">
                      <div>
                        <label for="frais-variables" class="text-muted">Conversion de votre maquette BIM au format holographique</label>
                        <h5 id="frais-variables" class="text-center text-secondary p-0 m-0">0.15€/m²</h5>
                      </div>
                      <small class="d-block w-100 text-right">Prix calculés en m² de surface de plancher (sdp).</small>
                      <small class="d-block w-100 text-right">Puis choississez le niveau de finition souhaité.</small>
                    </div>

                  </td>
                </tr>
                <tr>
                  {% for model in page.models %}
                    <td>
                      <h5 class="text-right text-secondary">+ {{model.price}}€</h5>
                      <small class="d-block w-100 text-right">par maquette</small>
                    </td>
                  {% endfor %}
                </tr>
                <tr>
                  {% for model in page.models %}
                    <td>
                      <ul class="list-group list-group-flush">
                        {% for desc in model.description %}
                          <li class="list-group-item font-italic">{{desc}}</li>
                        {% endfor %}
                      </ul>
                    </td>
                  {% endfor %}
                </tr>
                <tr>
                  {% for model in page.models %}
                    <td>
                      <span class="text-bold">Inclus :</span>
                      <ul class="list-group list-group-flush">
                        {% for prop in model.properties %}
                          <li class="list-group-item">{{prop}}</li>
                        {% endfor %}
                      </ul>
                    </td>
                  {% endfor %}
                </tr>
                <tr>
                  {% for model in page.models %}
                    <td class="text-right">{% include components/contact_button.html txt="contactez-nous"%}</td>
                  {% endfor %}
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div id="admin" class="tab-pane fade">
          <div class="tab-header">
            <h2 class="text-center">Notre offre de services de gestion</h2>
            <div class="">
            </div>
          </div>
          <div class="table-responsive-md">
            <table class="table prices-table">
              <thead>
                <tr class="bg-primary text-white">
                  {% for service in page.services %}
                    <th scope="col">{{service.name}}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                <tr>
                  {% for service in page.services %}
                    <td>
                      <span>{{service.note}}</span>
                      <h5 class="text-right text-secondary">{{service.price}}</h5>
                    </td>
                  {% endfor %}
                </tr>
                <tr>
                  {% for service in page.services %}
                    <td>
                      <ul class="list-group list-group-flush">
                        {% for prop in service.properties %}
                          <li class="list-group-item">{{prop}}</li>
                        {% endfor %}
                      </ul>
                    </td>
                  {% endfor %}
                </tr>
                <tr>
                  {% for service in page.services %}
                    <td class="text-right">{% include components/contact_button.html txt="contactez-nous"%}</td>
                  {% endfor %}
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- ensure href hashs are kept between refreshs -->
      <script defer src="/static/js/tabs-links.js"></script>
    </div>
  </div>
</section>
