---
  layout: front_page
  title: Holusion - Home
  lang: en
---
<section class="section section-video">
  <div id="video-wrapper">
    {% include components/medias/home_page_video.html
      name="home_video"
      image="/static/img/products/pixel_car.jpg"
      %}
  </div>
  <div class="video-overlay" style="">
        <div class="video-overlay-text">
          Create digital user experiences
        </div>
  </div>
</section>

<section id="section-promotion">
  <h1 align="center" id="main-title-1" >
    Buy your hologram online
  </h1>
  <div class="container" align="center">
    <p>
      Holusion is creating new experiences for your brand and your products. Innovative and creative display solutions, such as the hologram, make you discover concepts, products and projects in a playful way.
  </div>
  <div class="container">

    <div class="row" style="padding-top: 30px">
      <div class="col-md-6" align="center">
        <a href="/fr/products/pixel"><img alt="Pixel papillon" class="img-responsive" src="/static/img/products/pixel_papillon2.jpg"></a>
      </div>
      <div class="col-md-6" >
        <h3>The handheld holograms</h3>
        <p>The <a href="/fr/products/pixel">PIXEL</a> allows you to display floating pictures above your smartphone. Take it everywhere to impress people around you. Buy it right online :</p>

        <p align="center" style="padding-top: 20px">
          {% include shop/store-fab.html %}
        </p>
      </div>
    </div>
  </div>
</section>

<section id="section-produits" >
  <div class="container">
    <h1 align="center" id="main-title-1" >Our products</h1>
      <div class="row">
        {% include utils/make_products.html %}
        {% for product in products limit:4 %}
        {% include components/post_thumbnail.html content=product %}
        {% endfor %}
      </div>
    <div align="right">
      <a href="/fr/products/">More products > </a>
    </div>
  </div>
</section>

<section id="section-usages" >
  <div class="container">
    <h1 align="center" id="main-title-1" >Use Cases</h1>

    <a href="usages#apprendre"><div style="background: url('/static/img/usages/focus_interactif_formation.jpg') center/cover;width:100%;height:240px;padding-top:90px;text-align:center;margin-bottom:20px;">
         <font size="6pt"><h3 style="color:white;">LEARN</h3></font>
    </div></a>

    <a href="usages#percevoir"><div style="background: url('/static/img/usages/prism_interactif_catalogue.jpg') center/cover;width:100%;height:240px;padding-top:90px;text-align:center;margin-bottom:20px;">
      <font size="6pt"><h3 style="color:white;">PERCEIVE</h3></font>
    </div></a>

    <a href="usages#transformer"><div style="background: url('/static/img/usages/prism_interactif_transformer.jpg') center/cover;width:100%;height:240px;padding-top:90px;text-align:center;margin-bottom:20px;">
      <font size="6pt"><h3 style="color:white;">TRANSFORM</h3></font>
    </div></a>
    <div align="right">
      <a href="/fr/usages/">More use cases > </a>
    </div>
  </div>
</section>

<section id="section-accompagnement" >
  <div class="container">
    <h1 align="center" id="main-title-1" style="padding: 30px 0px 10px 0px">A company, an individual support</h1>
    <p align="center"><a href="/en/about/"><img alt="Individual support Holusion" class="img-responsive" src="/build/img/front/accompagnement_en_2x.png" width="800" height="700" style="padding: 20px 0px 10px 0px;" /></a></p>
    <div align="right">
      <a href="/fr/about/">Discover the company > </a>
    </div>
  </div>
</section>

<section id="section-stories">
  <div class="container">
    <h1 align="center" id="main-title-1" >Dive in our clients' stories</h1>
    {% include utils/make_posts.html %}
    {% for post in  posts offset: 0 limit: 4 %}
      {% include components/post_thumbnail.html content=post %}
    {% endfor %}
    <div align="right">
      <a href="/fr/posts/">More stories > </a>
    </div>
  </div>
</section>
<section id="section-contact">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h3>Our Adress</h3>
        {% include components/maps_api.html %}
      </div>
      <div class="col-md-6 col-sm-12">
        <h3>Contact Us</h3>
        <div class="panel panel-default">
          <div class="panel-body">
            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
            +33 (0)9 72 42 44 51
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            99A Bvd Constantin Descat, 59200 Tourcoing - France
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
            <a class="contact-link">contact@holusion.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
