---
layout: index
title: Maquettes holographiques interactives
bimViews:
  - image: img/quartz/plomberie.jpg
    title: "vue en transparence du réseau de plomberie d'un immeuble réalisée à partir d'un modèle BIM"
    caption: Plomberie
  - image: img/quartz/elec.jpg
    title: "vue en transparence du réseau électrique d'un immeuble réalisée à partir d'un modèle BIM"
    caption: Réseau électrique
  - image: img/quartz/vent.jpg
    title: "vue en transparence du système de ventilation d'un immeuble réalisée à partir d'un modèle BIM"
    caption: Ventilation
---


<section class="section section-main-header header-fill">
  {%include components/header_image.html image="img/products/iris32_quartz.jpg" %}
  <div class="main-header-body">
    <div class="content shadow rounded bg-white rounded p-4">
      <h2 id="main-title-1">Maquette holographique</h2>
      <p>A l'Ere de l'Information, vos présentations doivent s'appuyer sur des <strong>modèles intuitifs, précis et interactifs</strong>. Holusion vous permet d'accéder à une solution de visualisation 3D de projets immobiliers sans casque ni appareil. Utilisable comme une maquette physique, avec toutes les possibilités du numérique</p>
      <ul>
        <li> Expositions magistrales</li>
        <li> Inaugurations </li>
        <li> Salons professionels</li>
        <li> Oraux et présentations devant jurys</li>
      </ul>

        <p>Appuyez-vous sur les fichiers <a href="https://fr.wikipedia.org/wiki/Building_information_modeling">BIM</a> de vos futures constructions pour proposer une restitution complète de votre projet. Un résultat innovant et d'une esthétique incomparable qui emportera l'adhésion de votre public.</p>
      </div>
  </div>
</section>
<section class="section bg-light py-4">
  <div class="container jumbotron bg-white shadow my-0">
    <h2>Expérience de visualisation</h2>
    <p> <strong>Un Objectif :</strong> Présenter votre batiment sous toutes ses coutures.  Mettez en avant ses points forts, explorez ses réseaux techniques, démontrez les savoirs faire derrière sa construction. Nos solutions promeuvent vos propositions d'architecture et d'ingénieurie avec des maquettes numériques interactives jusqu'à <a href="/fr/products/iris75">2m de large</a>.</p>
    <p>Ce type d'images pourra être exploitée sur l'ensemble de la gamme Holusion, mais aussi sur des diffusions papier, web, etc. pour maximiser votre impact multi-canal.
    </p>
    {% include components/medias/youtube.html  embed="nshgR8Q_6lA" %}
  </div>
</section>

<section class="section row no-gutters bg-white">
  <div class="container">
    {% include components/slideshow.html contents=page.bimViews name="bim-views-slideshow" classes="carousel-fade" interval="1500" %}
  </div>
</section>

<section class="section section-main-header header-fill">
  {%include components/header_image.html image="img/products/iris42_nausicaa.jpg" %}
  <div class="main-header-body full-width">
    <div class="content shadow rounded bg-white rounded p-4">
      <div class="d-flex justify-content-center align-items-center flex-wrap">
        <div style="min-width:300px;">
          {%include components/animated_svg.html src="/src/pictos/schema_BIM.svg"  %}
        </div>
        <div style="min-width:300px">
          <h2 id="main-title-1">Capitalisez sur vos modélisations</h2>
          <p>
            Nos solutions supportent tous les formats usuels du bâtiment: <b>Revit</b>, <b>fbx</b>, <b>3ds</b> ou encore <b>obj</b>.
          </p>
          <p>
            Notre flotte de calcul en <b>cloud computing</b> permet des résultats rapides et de qualité.
          </p>
          <p>
            Les contenus ainsi produits pourront être utilisés dans tous vos canaux de communication
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section bg-light py-4">
  <div class="container jumbotron bg-white shadow my-0">
    <h2>3 Niveaux de détails</h2>
    <div class="row" style="text-align:center">
      <div class="col-md-4">
        <img src="/static/img/usages/picto_360.jpg" />
        <div>
          <strong>Vue Orbitale</strong>
        <p>Solution économique pour présenter en toute simplicité l'aspect extérieur d'un batiment</p>
      </div>
      </div>
      <div class="col-md-4">
        <img src="/static/img/usages/picto_layer.jpg" />
        <div>
          <strong>Présentation Mutli-layers</strong>
          <p>Rentrez dans les détails en explorant les infrastructures techniques</p>
        </div>
          </div>
      <div class="col-md-4">
        <img src="/static/img/usages/picto_3d.jpg"/>
        <div>
          <strong>3D temps réel</strong>
          <p>Prenez la main à 100% sur la présentation pour une exploration en toute liberté</p>
        </div>
        </div>
    </div>
    <p><strong>Adaptez les détails de votre présentation</strong> et maîtrisez votre budget avec nos différentes offres calculées en fonction de la Surface de Plancher (<i>sdp</i>) des projets et la résolution HD, 4K ou 8K.<p>
      <p>La <b>vue orbitale</b> est la solution la plus accessible pour visualiser une maquette dans son ensemble. Combiné à l'outil interactif <a href="http://holusion.github.io/stingray/">Stingray</a>, il est possible de contrôler la rotation pour présenter un point précis.</p>
      <p>Rentrez dans les coulisses avec l'option de <b>visualisation multicouche</b> des réseaux et infrastructures. Avec la gestion de la transparence, les aspects technologiques sont mis en surbrillance</p>
    <p>Des besoins pour une présentation fluide d'une construction complexe ? La <b>3D temps réel</b> vous donne la liberté de tourner autour du projet, zoomer sur les détails et afficher ou dissimuler les éléments techniques. Véritable logiciel d'exploration, cette solution haut-de-gamme offre une finesse de manipulation supérieure.</p>
  </div>
</section>

<section class="section section-main-header header-fill">
  {%include components/header_image.html image="img/sections/tranche_1.jpg" %}
  <div class="main-header-body full-width">
    <div class="content shadow rounded bg-white rounded p-4">
      <div class="d-flex justify-content-center align-items-center flex-wrap">
        <div style="min-width:300px;text-align : center">
          <h2 id="main-title-2">Ils nous ont fait confiance</h2>
          <div class="row">
            {% include components/medias/hover_image.html src="/static/img/logo/logo_projet_BYC.jpg" hover="/static/img/logo/logo_BYC.jpg" alt="logo Bouygues Construction" %}
            {% include components/medias/hover_image.html src="/static/img/logo/logo_projet_BYIM.jpg" hover="/static/img/logo/logo_BYIM.jpg" alt="logo Bouygues Immobilier" %}
            {% include components/medias/hover_image.html src="/static/img/logo/logo_projet_VINCI_IMMO.jpg" hover="/static/img/logo/logo_VINCI_IMMO.jpg" alt="logo Vinci Immobilier" %}
            {% include components/medias/hover_image.html src="/static/img/logo/logo_projet_SQY.jpg" hover="/static/img/logo/logo_SQY.jpg" alt="logo Agglomération de Saint Quentin en Yvelines" %}
            {% include components/medias/hover_image.html src="/static/img/logo/logo_projet_RBX.jpg" hover="/static/img/logo/logo_RBX.jpg" alt="logo Ville de Roubaix" %}
            {% include components/medias/hover_image.html src="/static/img/logo/logo_projet_BRS.jpg" hover="/static/img/logo/logo_BRS.jpg" alt="logo Ville de Bruges, France" %}
          </div>
          <div class="row">
            {% include components/medias/hover_image.html src="/static/img/logo/logo_projet_ALES.jpg" hover="/static/img/logo/logo_ALES.jpg" alt="logo des mines d'Ales" %}
            {% include components/medias/hover_image.html src="/static/img/logo/logo_projet_EUROTUNNEL.jpg" hover="/static/img/logo/logo_EUROTUNNEL.jpg" alt="logo d'Eurotunnel" %}
            {% include components/medias/hover_image.html src="/static/img/logo/logo_projet_SNCF.jpg" hover="/static/img/logo/logo_SNCF.jpg" alt="logo SNCF" %}
            {% include components/medias/hover_image.html src="/static/img/logo/logo_projet_NAUSICAA.jpg" hover="/static/img/logo/logo_NAUSICAA.jpg" alt="logo Nausicaa" %}
            {% include components/medias/hover_image.html src="/static/img/logo/logo_projet_HDF.jpg" hover="/static/img/logo/logo_HDF.jpg" alt="logo de la région Hauts de France" %}
            {% include components/medias/hover_image.html src="/static/img/logo/logo_projet_ENGIE.jpg" hover="/static/img/logo/logo_ENGIE.jpg" alt="logo Engie Axima" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
