---
layout: front_page
title: Maquettes holographiques interactives
bimViews:
  - image: /build/img/quartz/plomberie.jpg
    image2x: /build/img/quartz/plomberie_2x.jpg
    title: "vue en transparence du réseau de plomberie d'un immeuble réalisée à partir d'un modèle BIM"
    caption: Plomberie
  - image: /build/img/quartz/elec.jpg
    image2x: /build/img/quartz/elec_2x.jpg
    title: "vue en transparence du réseau électrique d'un immeuble réalisée à partir d'un modèle BIM"
    caption: Réseau électrique
  - image: /build/img/quartz/vent.jpg
    image2x: /build/img/quartz/vent_2x.jpg
    title: "vue en transparence du système de ventilation d'un immeuble réalisée à partir d'un modèle BIM"
    caption: Ventilation
---

{% ariane %}
<section class="section section-main-header header-fill">
  {%include components/header_image.html image="/build/img/home_sections/iris75_vivatech.jpg" image2x="/build/img/home_sections/iris75_vivatech2x.jpg" %}
  <div class="main-header-body">
    <div class="content shadow rounded bg-white rounded p-4">
      <h1 id="main-title-1">Découvrez la maquette connectée</h1>
      <p>A l'ère de l'information, les maquettes doivent être connectées et interactives. En utilisant les fichiers <a href="https://fr.wikipedia.org/wiki/Building_information_modeling">BIM</a>, nous proposons une restitution complète, d'une esthétique incomparable.</p>
      </div>
  </div>
</section>
<section class="section bg-light py-4">
  <div class="container jumbotron bg-white shadow my-0">
    <h1 class="display-4">Exposez vos projets</h1>
    <p> Présentez votre batiment sous toutes ses coutures, mettez en avant les points forts de vos propositions avec des maquettes numériques interactives jusqu'à <a href="/fr/products/iris75">2m de large</a>.</p>
    <p>Ce type d'images pourra être exploitée sur l'ensemble de la gamme Holusion, mais aussi sur des diffusions papier, web, etc. pour maximiser votre impact multi-canal.
    </p>
  </div>
</section>

<section class="section row no-gutters bg-white">
  {% include components/slideshow.html contents=page.bimViews name="bim-views-slideshow" classes="carousel-fade" interval="2000" %}
</section>

<section class="section section-main-header header-fill">
  {%include components/header_image.html image="/build/img/home_sections/prism.jpg" image2x="/build/img/home_sections/prism_2x.jpg" %}
  <div class="main-header-body full-width">
    <div class="content shadow rounded bg-white rounded p-4">
      <div class="d-flex justify-content-center align-items-center flex-wrap">
        <div style="max-height:50vh;min-width:300px;">
          {%include components/animated_svg.html src="/src/pictos/schema_BIM.svg"  %}
        </div>
        <div style="min-width:300px">
          <h1 id="main-title-1">Capitalisez sur vos modélisations</h1>
          <p>
            Nos solutions supportent tous les formats usuels du bâtiment: <b>Revit</b>, <b>fbx</b>, <b>3ds</b> ou encore <b>obj</b>.
          </p>
          <p>
            Notre flotte de calcul en <b>cloud computing</b> permet des résultats rapides et de qualité.
          </p>
          <p>
            Les contenus ainsi produits pourront être utilisés dans tous vos canaux de communication
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
