---
layout: index
title: Solutions holographiques
---
<div class="container">
  <p>
    Notre expérience des affichages holographiques nous permet de proposer des solutions de création éprouvées, fiables et de qualité.
  </p>
  <p>
    Toutes ces créations peuvent être réalisées dans le cadre de solutions complètes, prêtes à utiliser ou en collaboration avec vos partenaires habituels.
  </p>
</div>
<div class="container-fluid">
  <div class="row">
    {% include components/post_thumbnail.html type="card" classes="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4" title="Maquettes Interactives" abstract="Exploitez vos plans BIM pour créer des hologrammes techniques et précis" image="/build/img/products/iris75_ardoines.jpg" url="/fr/usages/bim" %}

    {% include components/post_thumbnail.html type="card" classes="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4" title="Téléprésence" abstract="Intervenez en hologramme, en direct ou en différé" image="/build/img/home_sections/iris75_vivatech.jpg" url="/fr/usages/visio" %}
  </div>
</div>
<div class="container">
  <h2>Nos engagements</h2>
  <p>En travaillant avec Holusion, vous avez l'assurance de pouvoir maitriser de bout en bout la réalisation de vos projets</p>
  <p> Nous assurons un accès <b>sans restriction</b> à nos produits pour vous permettre de choisir vos sous-traitants en toute liberté</p>
</div>
