---
layout: index
title: La modernisation des musées par l'hologramme
---

<section class="section section-main-header header-fill">
  {%include components/header_image.html image="/build/img/home_sections/iris32_lille1.jpg" image2x="/build/img/home_sections/iris32_lille1_2x.jpg" %}
  <div class="main-header-body">
    <div class="content shadow rounded bg-white rounded p-4">
      <h1 id="main-title-1">La modernisation des musées</h1>
      <p>Durant ces <b>10</b> dernières années, le public a évolué avec le <b>numérique</b>.
        Désormais à la recherche de <b>nouvelles expériences</b> à raconter à son entourage ou à partager sur les réseaux sociaux, il ne souhaite plus être passif dans ses habitudes de consommation culturelle. </p>
        <p>Créer une <b>interaction</b> avec votre public est devenu une <b>priorité</b>.</p>
        <p>Proposer une <b>solution innovante</b>, tout en restant <b>accessible à tous</b>, permet de répondre à ces nouvelles habitudes. </p>
        <p><b>Holusion</b> a imaginé une solution répondant à cette problématique.</p>

      </div>
    </div>
  </section>

  <section class="section bg-light py-4">
    <div class="container jumbotron bg-white shadow my-0">
      <h2>Innover pour attirer de nouveaux publics</h2>
      <p> <strong>Notre objectif :</strong> redynamiser le parcours visiteur. </p>
      <p>Les musées doivent trouver <b>l’innovation</b> de type <i>rénovation/extension</i>. C'est-à-dire prendre les bases des visites traditionnelles, en y ajoutant une <b>dimension digitale</b> pour réinventer la manière de présenter certaines oeuvres. La présentation en hologrammes d'objets reconstitués ou indisponibles (car en réserve ou dans d'autres musées) permet d'étendre la profondeur de la collection accessible aux yeux du public. </p>
      <p>L’objectif est de faire en sorte que le public <b>redécouvre</b> votre musée, de proposer quelque chose de nouveau aux visiteurs en s'alliant avec le <b>digital</b>.</p>
      <p>Comment ? Grâce à <b>l’interactivité holographique</b>. </p>
    </div>
  </section>

  <section class="section section-main-header header-fill">
    {%include components/header_image.html image="/build/img/products/numerisation_lille1.jpg" image2x="/build/img/products/numerisation_lille1_2x.jpg" %}
    <div class="main-header-body">
      <div class="content shadow rounded bg-white rounded p-4">
        <div align="center">
          <div style="min-width :200px">
            <img src="/static/img/usages/picto_infini.jpg" />
          </div>
        </div>
        <h1 id="main-title-1">Votre musée est unique, nos solutions aussi</h1>
        <p><b>L'interactivité holographique comprend :</b> </p>
        <ul>
          <li> - le choix du projecteur d'hologramme </li>
          <li>- le choix du contenu </li>
          <li>- la numérisation des oeuvres</li>
          <li>- la modélisation 3D</li>
          <li>- la transformation en hologramme </li>
          <li>- le développement de l'interactivité.</li>
        </ul>

        <p> Holusion vous accompagne <b>tout au long</b> de votre projet et de votre utilisation de l'hologramme.</p>
      </div>
    </div>
  </section>



  <section class="section section-main-header header-fill">
    {%include components/header_image.html image="/build/img/products/projet_lille1.jpg" image2x="/build/img/products/projet_lille1_2x.jpg" %}
    <div class="main-header-body">
      <div class="content shadow rounded bg-white rounded p-4">
        <h1 id="main-title-1">Transmettre une passion</h1>
        <p>L’interactivité que nous aurons mise en place ensemble, permet de transmettre du <b>savoir</b> de manière ludique et durable.
          En effet, un affichage dynamique interactif posséde un taux de mémorisation <b>deux fois plus</b> important qu'un affichage classique. </p>
          <p> Les nouveaux visiteurs ont besoin d’une <b>réactivité</b> instantanée et marquante pour donner <b>envie</b> de revenir et d’en parler autour de soi. </p>
          <p>Holusion et les musées ont un point commun : <b>la démocratisation de la culture</b>. Grâce à Holusion chacun sera capable
            d’interagir avec un hologramme représentant une œuvre et le patrimoine que contient <b>votre musée</b>.</p>
          </div>
        </div>
      </section>


      <section class="section section-main-header header-fill">
        <div class="content shadow rounded bg-white rounded p-4">
          <div class="d-flex justify-content-center align-items-center flex-wrap">
            <div style="min-width:300px">
              <h2 id="main-title-2">Ils nous ont fait confiance</h2>
              <div class="row">
                {% include components/medias/hover_image.html src="/static/img/logo/logo_statuette_lille1.jpg" hover="/static/img/logo/logo_lille1.jpg" alt="logo lille 1" %}
                {% include components/medias/hover_image.html src="/static/img/logo/logo_projet_museomix.jpg" hover="/static/img/logo/logo_museomix.jpg" alt="logo museomix" %}
                {% include components/medias/hover_image.html src="/static/img/logo/logo_projet_catho.jpg" hover="/static/img/logo/logo-catho.jpg" alt="logo universite catholique lille" %}
                {% include components/medias/hover_image.html src="/static/img/logo/logo_projet_louvre_lens.jpg" hover="/static/img/logo/logo_all.jpg" alt="logo louvre lens" %}
                {% include components/medias/hover_image.html src="/static/img/logo/logo_projet_cnrs.jpg" hover="/static/img/logo/logo_cnrs.jpg" alt="logo cnrs" %}
                {% include components/medias/hover_image.html src="/static/img/logo/logo_projet_nausicaaa.jpg" hover="/static/img/logo/logo_NAUSICAA.jpg" alt="nausicaa" %}
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
