---
layout: front_page
title: Téléprésence
---

{% ariane %}
<section class="section section-main-header header-fill">
  {%include components/header_image.html image="/build/img/home_sections/iris75_vivatech.jpg" image2x="/build/img/home_sections/iris75_vivatech2x.jpg" %}
  <div class="main-header-body">
    <div class="content shadow rounded bg-white rounded p-4">
      <h1 id="main-title-1">Le futur de la téléprésence</h1>
      <p>Utilisez l'hologramme pour diffuser un message en téléprésence, enregistrer une présentation ou faire revenir une personnalité passée.</p>
      <p>
        En direct ou en différé, l'hologramme saura appuyer votre présentation et marquer votre auditoire
      </p>
      </div>
  </div>
</section>

<section class="section section-main-header header-fill">
  {%include components/header_image.html image="/build/img/telepresence/tournage_fond_noir.jpg" image2x="/build/img/telepresence/tournage_fond_noir_2x.jpg" %}
  <div class="main-header-body">
    <div class="content shadow rounded bg-white rounded p-4">
      <h1 id="main-title-1">Maitrisez votre production</h1>
      <p>Réaliser un film holographique à <a href="/fr/products/iris75">taille humaine</a> nécessite un matériel de tournage accessible et modulable. Un simple fond noir avec un élcairage travaillé vous permettra de captiver votre audience, en conférence ou à l'accueil d'un évènement.</p>
      <p>
        Utilisez la transparence de l'hologramme pour donner de la profondeur à votre scénographie, ou présentez en <b>direct</b> sur plusieurs lieux en simultané.
      </p>
      </div>
  </div>
</section>

<section class="section section-main-header header-fill">
  {%include components/header_image.html image="/build/img/telepresence/collaborateur numérique.jpg" image2x="/build/img/telepresence/collaborateur numérique_2x.jpg" %}
  <div class="main-header-body">
    <div class="content shadow rounded bg-white rounded p-4">
      <h1 id="main-title-1">Captez l'attention</h1>
      <p>Réalisez un film holographique à <a href="/fr/products/iris75">taille humaine</a>. Captivez votre audience, en conférence ou à l'accueil d'un évènement.</p>
      <p>
        Utilisez la transparence de l'hologramme pour donner de la profondeur à votre scénographie, ou présentez en <b>direct</b> sur plusieurs lieux en simultané.
      </p>
      </div>
  </div>
</section>
