---
layout: front_page
---

<div id="dev-layout" class="sidebar-layout main-dark py-5">
  <div class="pb-5" style="
    position:absolute;
    bottom:0; 
    width: 250px; overflow-y: 
    hidden;min-height: 100%;">
    <nav class="content-bar bg-faded navbar-dark navbar-expand-lg" style="
    overflow-y: scroll; 
    height: 100%; 
    padding-top: 60px;" >
      <div class="collapse navbar-collapse flex-column text-left align-items-stretch" id="sidebar" aria-expanded="false">
        {% include utils/make_pages.html %}
        {% assign categories = "toolbox,content,keynotes" |split: "," %}
        {% devnav list=site.content_dev %}
      </div>
    </nav> 
  </div>
  <main id="content" class="content container-fluid">
    {% if page.title %}
      <h2 style="font-size: 3rem">{{page.title}}</h2>
    {%endif %}

    {{ content }}
  </main>
</div>
