---
layout: front_page
---

<div id="dev-layout" class="sidebar-layout main-dark py-5">

    <nav class="content-bar bg-faded navbar-dark navbar-expand-lg">
      <div class="collapse navbar-collapse flex-column align-items-stretch" id="sidebar" aria-expanded="false">
        {% include utils/make_pages.html %}
        {% assign categories = "toolbox,content,keynotes" |split: "," %}
        {% devnav list=site.content_dev %}
      </div>
    </nav> 

  <main id="content" class="content container-fluid">
    {% if page.title %}
      <h2 style="font-size: 3rem">{{page.title}}</h2>
    {%endif %}

    {{ content }}
  </main>
</div>
