<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Holusion">
  <link rel="publisher" href="https://plus.google.com/118076369091699793802"/>
  <meta name="description" content="Stingray is a video playback engine that gives you complete control over your reading speed : Want fluid fast forward or reverse? It's made to give you analog control over how your video is playing." />
  <meta property="og:image" content="/stingray/img/logo_large.png"/>
  <meta name="twitter:image"  content="/stingray/img/logo_large.png">
  <meta property="og:type" content="article"/>
  <meta property="og:locale" content="en"/>

  <title>{{page.title}} | Stingray Video Player</title>

  <link href="/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/stingray/style.css">
  <script defer="" src="/vendor/jquery/dist/jquery.min.js"></script>
  <script defer="" src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <!--favicons -->
  {% include favicons.html url="/stingray/img/favicons"%}
</head>
<body>
  <!-- Page Content -->
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/stingray">
        <svg id="logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" height="24px" viewBox="0 0 48 24" >
          <g >
            <path id="rectangle-main" fill="#2fafe6" d="M24 2 L34 12 L24 22 L14 12"/>
            <path id="triangle-right" fill="#2fafe6" d="M24 2 L34 12 L24 22"/>
            <path id="triangle-left" fill="#FC8259" d="M24 2 L24 9 L21 12 L24 15 L24 22 L14 12"/>
            <path id="rectangle-outer" fill="#FC8259" d="M24 10 L26 12 L24 14 L22 12"/>
            <path id="rectangle-inner" fill="#0b2f45" d="M24 11 L25 12 L24 13 L23 12"/>
          </g>
        </svg>
      </a>
      <a class="navbar-brand" href="/stingray">
        Stingray
      </a>
    </div>
    <div class="container">
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
       <ul class="nav navbar-nav">
         <li><a href="/stingray/doc">
           Docs
           {% if page.url contains "/stingray/doc" %}
            <span class="sr-only">(current)</span>
           {%endif %}
         </a></li>
         <li><a href="/stingray/download">
           Download
           {% if page.url contains "/stingray/download" %}
            <span class="sr-only">(current)</span>
           {%endif %}
         </a></li>
         <li><a href="/stingray/gallery">
           Gallery
           {% if page.url contains "/stingray/gallery" %}
            <span class="sr-only">(current)</span>
           {%endif %}
         </a></li>
       </ul>
     </div>
   </div>
  </div>

</nav>
<a href="https://github.com/holusion/stingray"><img style="position: absolute; top: 50px; right: 0; border: 0;z-index:1000;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

    {{content }}

</body>
<!-- Footer -->
</html>
