<!DOCTYPE html>

<html lang="{{page.lang}}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Holusion">
  <link rel="publisher" href="https://plus.google.com/118076369091699793802"/>

  <title>{% if page.title %}{{page.title}} : {% endif %}{%if page.abstract %}{{page.abstract }} - {% endif %}{{site.data.strings.site-title[page.lang]}}</title>

  {%- if page.description -%}
    <meta name="description" content="{{ page.description | strip_html | truncatewords:155|escape }}" />
    <meta property="og:description" content="{{page.description | strip_html | truncatewords:297|escape}}"/>
  {%- elsif page.abstract -%}
    <meta name="description" content="{{ page.abstract|truncatewords:155|escape }}" />
    <meta property="og:description" content="{{page.abstract | strip_html | truncatewords:297 |escape}}"/>
  {%- else -%}
    <meta name="description" content="{{site.data.strings.site-description[page.lang]}}" />
  {%- endif -%}

  {%- if page.image -%}
    {%- if assets[page.image] -%}
      <meta name="twitter:image"  content="{{page.image | remove: "_assets/" |asset:" @path"}}">
      <meta name="og:image"  content="{{page.image | remove: "_assets/" |asset:" @path"}}">
    {%- else -%}
      <meta name="twitter:image"  content="{{site.url}}{{page.image}}">
      <meta property="og:image" content="{{site.url}}{{page.image}}"/>
    {%- endif -%}
  {%- endif -%}
  {%- if page.layout == "post" -%}
    <meta property="og:type" content="article"/>
  {%- else -%}
    <meta property="og:type" content="website"/>
  {%- endif -%}
  {%- if page.lang -%}
    <meta property="og:locale" content="{{page.lang}}"/>
  {%- endif -%}

  <link rel="canonical" href="{{page.url | absolute_url }}">
  {%- if page.alt_url -%}
  <link rel="alternate" hreflang="{{page.alt_lang}}" href="{{page.alt_url | absolute_url }}">
  <link rel="alternate" hreflang="{{page.lang}}" href="{{page.url |absolute_url }}">
  {%- endif -%}

  <!-- CSS Loading -->
  <link href="/css/style.css{%if site.build_id%}?id={{site.build_id}}{%endif%}" rel="stylesheet">

  {%- comment -%}jquery is only used as a bootstrap dependency. Please avoid binding the site to it {%- endcomment -%}
  <script defer="" src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script defer="" src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
  <script defer="" src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

  {% include favicons.html url="/static/img/icons/favicons" %}
  {% include utils/make_pages.html %}
  {% include scripts/analytics_privacy.html %}
</head>
<body>

  <!-- Jumbotron Header -->
  <nav id="navbar-top" class="navbar navbar-expand-md fixed-top navbar-light bg-light" role="navigation">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-header">
          <a href="/{{page.lang}}/" class="navbar-brand" id="home-logo" aria-label="Holusion logo">
            {% asset img/logo_web.svg @inline %}
          </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav mr-auto" role="menu">
            {% comment %} Links floating to the left come here {%endcomment %}
          </ul>
          <ul class="nav navbar-nav" role="menu">
            {% capture dev_url %}/dev/{{page.lang}}/{% endcapture %}
            {% capture keynote_url %}/keynotes/{{page.lang}}/{% endcapture %}
            {% include components/nav/navbar_link.html href=dev_url title=site.data.sections.dev %}
            {% include components/nav/navbar_link.html url='about' title=site.data.sections.about %}
            {% include components/nav/navbar_link.html url='products' title=site.data.sections.products %}
            {% include components/nav/navbar_link.html href=keynote_url title=site.data.sections.keynotes %}
            {% include components/nav/navbar_link.html url='posts' title=site.data.sections.posts %}
            {% include components/nav/navbar_link.html url='store' title=site.data.sections.store %}
            {% include components/language_picker.html type="nav-item dropdown" classes="nav-link text-info" %}
          </ul>
        </div>
      </div>
      <!-- /.container -->
  </nav>

  <!-- Page Content -->
    {{ content }}

  <!-- Footer -->
  <footer class="mt-5 bg-dark text-white">
    {% comment %} contact-form is position:fixed and will not interfere int the layout {%endcomment%}
    {% include components/contact_form.html %}

    <section id="contact-bottom" class="bg-info text-white">
      <div class="container">
          {{site.data.strings["need-help"][page.lang]}} ?
          <a id="navbar-contact-button" class="btn btn-outline-secondary text-white font-weight-bold" style="cursor:pointer" onclick='displayContactForm()'>{{site.data.strings["contact-us"][page.lang]}}</a>
      </div>
    </section>

    <nav id="navbar-bottom" role="navigation"  class="navbar navbar-dark text-light p-2">
      <div class="row w-100">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 pt-4">
          <h4 class="block-title text-white">Holusion</h4>
          <ul class="navbar-nav">
            <li><a href="{{domain}}/{{page.lang}}/about">
              {{site.data.sections.about[page.lang]}}
            </a></li>
            <li><a href="{{domain}}/{{page.lang}}/products">
              {{site.data.sections.products[page.lang]}}
            </a></li>
            <li><a  href="/{{page.lang}}/CGV">
              {{site.data.sections.cgv[page.lang]}}
            </a></li>
            <li><a href="/{{page.lang}}/about/privacy">
              {{site.data.sections.privacy[page.lang]}}
            </a></li>
          </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 pt-4">
          <h4 class="block-title text-white">{{site.data.sections.products[page.lang]}}</h4>
          <ul class="navbar-nav">
          {% for post in site.products_items[page.lang] limit: 4 %}
            {% include components/nav/bottom_li.html content=post %}
          {% endfor %}
          </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 pt-4">
          <h4 class="block-title text-white">{{site.data.sections.posts[page.lang]}}</h4>
          <ul class="navbar-nav">
            {% for post in site.categories[page.lang] limit: 4 %}
              {% include components/nav/bottom_li.html content=post %}
            {% endfor %}
          </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-12 col-lg-3 pt-4">
          <h4 class="block-title text-white">{{ site.data.strings.social-links[page.lang] }}</h4>
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-12">
              {% include lists/social_list.html %}
            </div>
              <div class="col-sm-12 col-md-6 col-lg-12 newsletter">
                {% include components/mailchimp.html %}
              </div>
        </div>
      </div>
    </nav>
    <section id="bottom-nav-row" class="row no-gutters">
      <div class="col-4 col-lg-5 col-xl-6 order-1 text-left">
        <span class="d-none d-lg-inline">
          {{ site.data.strings.copyright[page.lang]}} {{ site.time | date: '%Y' }}
        </span>
        <a rel="license" itemprop="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
          <span class="d-none d-xl-inline">CC. Attribution ShareAlike</span>
          <span class="d-inline d-xl-none">CC.BySa</span>
        </a>
      </div>
      <div class="col-12 col-sm-6 col-lg-5 col-xl-4 order-3 order-sm-2">
        +33 (0)9 72 42 44 51
      </div>
      <div class="col order-2 order-sm-3 d-flex justify-content-end">
        <ul class="navbar-nav">
            {% include components/language_picker.html type="dropup" %}
        </ul>
      </div>

      <div class="col-12 col-xl-12 order-4 text-center">
        99A bvd Descat, 59200 Tourcoing - France
      </div>

    </section>
  </footer>
</body>
</html>
