---
layout: front_page
---

{% if page.title %}
  {% include components/section_title.html title=page.title %}
{% endif %}


<main class="container" id="content" itemscope itemtype="http://schema.org/Article">
  <meta itemprop="abstract" content="{{page.abstract}}"/>
  <div itemprop="articleBody" id="post-content">
  {{content}}
  </div>
  {% include lists/similar_posts.html %}
  <div id="goto-products" style="max-width:600px;margin:auto;padding-top:40px">
    <a href="/{{page.lang}}/store"class="btn btn-primary btn-lg btn-block" >
      <span class="d-none d-lg-inline">{{ site.data.strings["see-other-products"][page.lang] }}</span>
        <span class="d-inline d-lg-none">{{ site.data.strings["see-other-products-short"][page.lang] }}</span>
    </a>
  </div>
  <footer>
    <meta itemprop="keywords" content="{{page.tags | join: ", "}}"/>
    <meta itemprop="sourceOrganization" content="Holusion SAS"/>
    <meta itemprop="license" content="https://creativecommons.org/licenses/by-sa/4.0/"/>
  </footer>
</main>
