---
layout: front_page
---
  
<script defer src="/static/vendor/snipcart/snipcart-v3.3.0.js"></script>
<link href="/static/vendor/snipcart/snipcart-v3.3.0.css" rel="stylesheet" type="text/css" />

<main data-test="store-main" class="main-dark main-grid">

  <section class="section section-center">
    <h2 class="text-white my-5" style="font-size: 3rem">    
      {% if page.title %}
        {{page.title}}
      {% endif %}
    </h2>
    <div class="cart-icon-line px-4 mb-4">
      <div id="open-cart" class="snipcart-summary">
        <button class="btn btn-outline-info snipcart-checkout">
          <span data-test="snipcart-items" class="snipcart-items-count">0</span>
          {% svg src/pictos/icons/icon-cart.svg width=20 style="display:inline-block;" %}
        </button>
      </div>
    </div>    
  </section>

  {{content}}

  <section class="section section-center">
    <div class="cart-icon-line p-4 m-0">
      <div id="open-cart" class="snipcart-summary" style="padding-top:20px;">
        <button class="btn btn-outline-info snipcart-checkout">
          <span data-test="snipcart-items" class="snipcart-items-count">0</span>
          {% svg src/pictos/icons/icon-cart.svg width=20 style="display:inline-block;" %}
        </button>
      </div>
    </div>    
  </section>
  <div hidden id="snipcart" data-api-key="{{ site.snipcart_api_key }}"></div>
</main>

