---
layout: store
---

<section data-test="store-item" itemscope itemtype="http://schema.org/Product" class="section">
  
  {% picture grid "{{page.image}}" 
    --img itemprop="image" 
    --img class="cover" 
    style="object-position: 50% 0"
    --alt {{page.title |append: ": "| append: page.abstract| normalize_whitespace |escape }} 
  %}
  {% if page.made_in and page.made_in == "france" %}
    {% picture img/sections/made-in-france.png
      --img class="img-fluid logo-made-in-france"
      --alt made in france 
    %}
  {% endif %}

  <div class="content">
    <meta itemprop="name" content="{{page.title}}"/>
    <h2 itemprop="description">{{page.abstract}}</h2>
    <p>{{page.description | markdownify}}</p>
    {% if page.stock and page.stock !="en stock" %}
      <h4>{{page.stock}}</h4>
    {% else %}
      <h4 class="text-info">{{site.data.strings.store-stock[page.lang]}}</h4>
    {% endif %}
    <div>
      <ul>
        {% if page.properties.characteristics.product_weight or page.product_weight %}
          <li>
            {{site.data.product_properties.weight[page.lang]}} : {{ page.properties.characteristics.product_weight | default: page.product_weight}}
          </li>
        {% endif %}
        {% if page.properties.characteristics.size %}
          <li>
            {{site.data.product_properties.size[page.lang]}} : {{ page.properties.characteristics.size }}
          </li>
        {% endif %}
      </ul>
    </div>
    {% if page.properties %}
      <a href="#goto-properties"><button class="btn btn-info">{{site.data.strings.see-more-properties[page.lang]}}</button></a>
    {% endif %}
  </div>
  <meta itemprop="sku" content="{{page.title| downcase |replace: ' ','_'}}{{page.lang |upcase}}" />
  <meta itemprop="url" content="{{page.url | absolute_url}}" />
  <meta itemprop="price" content="{{page.price | times: 1.2 | round: 2}}"/>
  <meta itemprop="currency" content="EUR"/>
</section>

<section class="section section-white">
  <div class="section-title d-flex justify-content-between align-items-center">
    <div>
      <span class="product-price">
        {{page.price | time: 1.2 | round: 2}}€
        <span >{{ site.data.strings.store-no-vat[page.lang] }}</span>
      </span>
      <span class="product-price price-vat">
        ({{page.price | times: 1.2 | round: 2}}€<span >{{ site.data.strings.store-vat[page.lang] }}</span>)
      </span>

    </div>
    {% if page.stock and page.stock !="en stock" %}
      <button class="btn btn-primary shadow" data-bs-toggle="modal" data-bs-target="#contactform-modal" style="margin-top:-0.5rem">
        <span>{{site.data.strings["quotation"][page.lang]}}</span>
      </button>
    {% else %}
      {% include components/shop/link.html data=page %}
    {% endif %}
  </div>
</section>

{{ content }}

{% if page.properties %}
  <section id="goto-properties" class="section section-center">
    <h2>{{site.data.strings.characteristics[page.lang]}}</h2>
    <div class="content">
      <div class="row g-0 m-0">
        {% for prop_group in page.properties %}
        <div class="col-md px-md-2 py-3 py-md-0">
            <div class="p-3">
              <h3 class="my-3">
                {%assign prop_group_name = prop_group[0] %}
                {{site.data.product_properties[prop_group_name][page.lang] |default: prop_group_name}}
              </h3>
              {%for prop in prop_group[1] %}
                {%capture prop_key %}{{prop[0]}}{%endcapture%}
                {%capture prop_value %}{{prop[1]}}{%endcapture%}
                <div>
                  <hr>
                    <div>
                      <span class="text-secondary fw-bold">{{site.data.product_properties[prop_key][page.lang] |default: prop_key}}</span> : <span>{{prop_value}}</span>                    
                    </div>
                </div>
              {%endfor%}
            </div>
        </div>
        {%endfor%}
      </div>
    </div>
  </section>
{% endif %}

<section class="section left section-white">
  <h2 style="text-align:center">{{site.data.strings.return-policy[page.lang]}}</h2>
  <div class="content">
    <p> {{site.data.strings.return-policy-text[page.lang]}}</p>
    <p class="text-center">
      <button class="btn btn-outline-info" style="cursor:pointer" data-bs-toggle="modal" data-bs-target="#contactform-modal">
        {{site.data.strings.contact-us[page.lang]}}
      </button>
    </p>
  </div>
</section>