---
layout: store
---

<section data-test="store-item" itemscope itemtype="http://schema.org/Product" class="section">
  
  {% picture grid "{{page.image}}" 
    --img itemprop="image" 
    --img class="cover" 
    --alt {{page.title |append: ": "| append: page.abstract| normalize_whitespace |escape }} 
  %}

  <div class="content">
    <meta itemprop="name" content="{{page.title}}"/>
    <h2 itemprop="description">{{page.abstract}}</h2>
    <p>{{page.description | markdownify}}</p>
    <div>
      <ul>
        {% if page.stock and page.stock !="en stock" %}
          <link itemprop="availability" href="http://schema.org/OutOfStock" />
          <li>{{site.data.strings.store-availability[page.lang]}} : <span class="product-highlight highlight-orange">{{page.stock}}</span></li>
        {% else %}
            <link itemprop="availability" href="http://schema.org/InStock" />
            <li>{{site.data.strings.store-availability[page.lang]}} : <span class="product-highlight">{{site.data.strings.store-stock[page.lang]}}</span></li>
        {% endif %}
            <li>
              {{site.data.strings.store-weight[page.lang]}} : 
              <span class="product-highlight">
                {% include utils/weight.html value=page.weight %}
              </span>

            </li>
        </ul>
    </div>
  </div>
  <meta itemprop="sku" content="{{page.title| downcase |replace: ' ','_'}}{{page.lang |upcase}}" />
  <meta itemprop="url" content="{{page.url | absolute_url}}" />
  <meta itemprop="price" content="{{page.price | times: 1.2 | round: 2}}"/>
  <meta itemprop="currency" content="EUR"/>
</section>

<section class="section section-white">
  <div class="section-title d-flex justify-content-between align-items-center">
    <div>
      <span class="product-price">
        {{page.price | time: 1.2 | round: 2}}€
        <span >{{ site.data.strings.store-no-vat[page.lang] }}</span>
      </span>
      <span class="product-price price-vat">
        ({{page.price | times: 1.2 | round: 2}}€<span >{{ site.data.strings.store-vat[page.lang] }}</span>)
      </span>

    </div>
    {% include components/shop/link.html data=page %}
  </div>
</section>

{{ content }}


<section class="section left section-white">
  <h2 style="text-align:center">{{site.data.strings.return-policy[page.lang]}}</h2>
  <div class="content">
    <p> {{site.data.strings.return-policy-text[page.lang]}}</p>
    <p class="text-center">
      <button class="btn btn-outline-info" style="cursor:pointer" onclick="displayContactForm()">
        {{site.data.strings.contact-us[page.lang]}}
      </button>
    </p>
  </div>
</section>