---
layout: front_page
---
  
<script>

  (()=>{
    'use strict';
    var a=!1;
    document.readyState==="complete"?window.addEventListener("load", r): r();
    function r(){
      if(a)return;a=!0;
      let version="v3.3.0";
      let t=document.getElementsByTagName("head")[0];
      let e=document.querySelector("#snipcart");
      let i=document.querySelector(`script[src$="snipcart-${version}.js"]`);
      let n=document.querySelector(`link[href$="snipcart-${version}.css"]`);
      e||(
        e=document.createElement("div"),
        e.id="snipcart",
        e.setAttribute("hidden","true"),
        e.dataset.apiKey="{{ site.snipcart_api_key }}",
        e.dataset.templatesUrl='/{{page.lang|default: "en" }}/store/0_snipcart-templates.html',
        document.body.appendChild(e)
      );
      i||(
        i=document.createElement("script"),
        i.src=`/static/vendor/snipcart/snipcart-${version}.js`,
        i.async=!0,
        t.appendChild(i)
      );
      n||(
        n=document.createElement("link"),
        n.rel="stylesheet",
        n.type="text/css",
        n.href=`/static/vendor/snipcart/snipcart-${version}.css`,t.prepend(n));
    }
  })();
</script>

<main data-test="store-main" class="main-dark main-grid store-layout">

<!-- bandeau panier haut -->

  <!-- <section class="section section-center">
    <h2 class="text-white my-5" style="font-size: 3rem">    
      {% if page.title %}
        {{page.title}}
      {% endif %}
    </h2>
    <div class="cart-icon-line px-4 mb-4">
      <div id="open-cart" class="snipcart-summary">
        <button class="btn btn-outline-info snipcart-checkout">
          <span data-test="snipcart-items" class="snipcart-items-count">0</span>
          {% svg src/pictos/icons/icon-cart.svg width=20 style="display:inline-block;" %}
        </button>
      </div>
    </div>    
  </section> -->

  {{content}}

<!-- bandeau panier bas -->

  <section class="section section-center">
    <div class="cart-icon-line p-4 m-0">
      <div id="open-cart" class="snipcart-summary" style="padding-top:20px;">
        <button class="btn btn-outline-info snipcart-checkout">
          <span data-test="snipcart-items" class="snipcart-items-count">0</span>
          {% svg src/pictos/icons/icon-cart.svg width=20 style="display:inline-block;" %}
        </button>

      </div>
    </div>    
  </section>
</main>

