---
layout: index
---
<link href="https://cdn.snipcart.com/themes/v3.0.15/default/snipcart.css" rel="stylesheet" type="text/css" />
<div hidden id="snipcart" data-api-key="{{ site.snipcart_api_key }}"></div>
<script defer src="https://cdn.snipcart.com/themes/v3.0.15/default/snipcart.js"></script>

<div class="container-fluid cart-icon-line">
  <div id="open-cart" class="snipcart-summary">
    <button class="btn btn-outline-info snipcart-checkout">
      <span class="snipcart-items-count">0</span>
      {% svg src/pictos/icons/icon-cart.svg width=20 style="display:inline-block;" %}
    </button>
  </div>
</div>

<div id="content">
{{content}}
</div>

<div class="container-fluid cart-icon-line">
  <div id="open-cart" class="snipcart-summary" style="padding-top:20px;">
    <button class="btn btn-outline-info snipcart-checkout">
      <span class="snipcart-total-items">0</span>
      {% svg src/pictos/icons/icon-cart.svg width=20 style="display:inline-block;" %}
    </button>
  </div>
</div>
